<!---------------------- 

   Copyright 2019 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-advisory"></span>
    <span>Advisory</span>
  </div>

  <mat-dialog-content class="p-3 pr-0 mt-2 oy-auto d-flex flex-column flex-11a">
    <h4 class="px-3">Cyber Security Evaluation Tool</h4>
    <div class="px-3">
      <p>The Cyber Security Evaluation Tool (CSET)
        <sup>®</sup> is only one component of the overall cyber security picture and should be complemented with a
        robust cyber
        security program within the organization. A self-assessment with CSET
        <sup>®</sup> cannot reveal all types of security weaknesses, and should not be the sole means of determining an
        organization's
        security posture.</p>
      <p>The tool will not provide a detailed architectural analysis of the network or a detailed network
        hardware/software configuration
        review. It is not a risk analysis tool so it will not generate a complex risk assessment. CSET
        <sup>®</sup> is not intended as a substitute for in‑depth analysis of control system vulnerabilities as
        performed by trained
        professionals. Periodic onsite reviews and inspections must still be conducted using a holistic approach
        including
        facility walk-downs, interviews, and observation and examination of facility practices. Consideration should
        also be
        given to additional steps including scanning, penetration testing, and exercises on surrogate, training, or
        non-production
        systems, or systems where failures, unexpected faults, or other unexpected results will not compromise
        production or
        safety.</p>
      <p>CSET
        <sup>®</sup> assessments cannot be completed effectively by any one individual. A cross-functional team
        consisting of representatives
        from operational, maintenance, information technology, business, and security areas is essential. The
        representatives
        must be subject matter experts with significant expertise in their respective areas. No one individual has the
        span
        of responsibility or knowledge to effectively answer all the questions.</p>
      <p>Data and reports generated by the tool should be managed securely and marked, stored, and distributed in a
        manner appropriate
        to their sensitivity.</p>
    </div>

    <h4 class="px-3">Disclaimer</h4>
    <div class="px-3">
      <p>The analysis, data, and reports in CSET® are provided “as is” for informational purposes only. The Department
        of Homeland Security (DHS) does not provide any warranties of any kind regarding any information contained
        within. In no event shall the United States Government or its contractors or subcontractors be liable for any
        damages, including but not limited to, direct, indirect, special, or consequential damages and including damages
        based on any negligence of the United States Government or its contractors or subcontractors, arising out of,
        resulting from, or in any way connected with this report, whether based on warranty, contract, tort, or
        otherwise, whether injury was sustained from, or arose out of the results of, or reliance upon the report.</p>

      <p>DHS does not endorse any commercial product or service, including the subject of the assessment or evaluation
        in this report. Any reference to specific commercial products, processes, or services by trademark,
        manufacturer, or otherwise, does not constitute or imply its endorsement, recommendation, or favoring by DHS.
      </p>

      <p>The display of the DHS official seal or other DHS visual identities on this report shall not be interpreted to
        provide the recipient organization authorization to use the official seal, insignia or other visual identities
        of DHS. The DHS seal, insignia, or other visual identities shall not be used in any manner to imply endorsement
        of any commercial product or activity by DHS or the United States Government. Use of the DHS seal without proper
        authorization violates federal law (e.g., 18 U.S.C. §§ 506, 701, 1017), and is against DHS policies governing
        usage of the seal.</p>

      <p>The report is prepared and intended for internal use by the organization that made the request. The contents of
        this report may be subject to government or private intellectual property rights. To request distribution of
        this report outside the organization for which it was prepared, contact the CSET Program Office. The contents of
        this report may be reproduced or incorporated into other reports, but may not be modified without the prior
        express written permission of the CSET Program Office.</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-start flex-00a">
    <button class="btn btn-secondary" (click)="close()">OK</button>
  </mat-dialog-actions>
</div>