<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL<sup>®</sup> THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t">
  <div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
      <span class="mr-3 fs-base-6 cset-icons-advisory"></span>
      <span>{{t('menu.help.legal.advisory.advisory')}}</span>
    </div>

    <mat-dialog-content class="p-3 pr-0 mt-2 oy-auto d-flex flex-column flex-11a">

      <h4 class="px-3">{{appLongName}}</h4>
      <div class="px-3">
        <p
          [innerHTML]="t('menu.help.legal.advisory.introduction 1', {'appLongName': appLongName, 'appShortName': appShortName})">
        </p>
        <p
          [innerHTML]="t('menu.help.legal.advisory.introduction 2', {'appLongName': appLongName, 'appShortName': appShortName})">
        </p>
        <p [innerHTML]="t('menu.help.legal.advisory.introduction 3', {'appShortName': appShortName})">
        </p>
        <p [innerHTML]="t('menu.help.legal.advisory.introduction 4')">
        </p>
      </div>

      <ng-container *ngIf="configSvc.behaviors.showDisclaimer">
        <h4 class="px-3">{{t('menu.help.legal.advisory.disclaimer')}}</h4>
        <div class="px-3">
          <p
            [innerHTML]="t('menu.help.legal.advisory.disclaimer 1', {'appShortName': appShortName, 'orgLongName': orgLongName, 'orgShortName': orgShortName})">
          </p>
          <p [innerHTML]="t('menu.help.legal.advisory.disclaimer 2', {'orgShortName': orgShortName})">
          </p>
          <p [innerHTML]="t('menu.help.legal.advisory.disclaimer 3', {'orgShortName': orgShortName})">
          </p>
          <p *ngIf="showIntellectualPropertyRightsAssertion"
            [innerHTML]="t('menu.help.legal.advisory.disclaimer 4', {'appShortName': appShortName, 'intellectualPropertyRightsDistributionRequestEntity': intellectualPropertyRightsDistributionRequestEntity})">
          </p>
        </div>
      </ng-container>
    </mat-dialog-content>

    <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-start flex-00a">
      <button class="btn btn-secondary" (click)="close()">{{t('buttons.ok')}}</button>
    </mat-dialog-actions>
  </div>
</div>