<!---------------------- 

   Copyright 2018 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <svg width="25" height="25" x="0px" y="0px" viewBox="0 0 42 36" xml:space="preserve">
      <path class="fill-white" d="M31.164,13.67C29.105,13.67 27.436,15.34 27.436,17.399 27.436,19.457 29.105,21.126 31.164,21.126 33.223,21.126 34.892,19.457 34.892,17.399 34.892,15.34 33.223,13.67 31.164,13.67 M20.922,13.67C18.863,13.67 17.194,15.34 17.194,17.399 17.194,19.457 18.863,21.126 20.922,21.126 22.98,21.126 24.649,19.457 24.649,17.399 24.649,15.34 22.98,13.67 20.922,13.67 M10.679,13.67C8.62,13.67 6.952,15.34 6.952,17.399 6.952,19.457 8.62,21.126 10.679,21.126 12.738,21.126 14.407,19.457 14.407,17.399 14.407,15.34 12.738,13.67 10.679,13.67 M41.843,17.412C41.843,27.029 32.476,34.826 20.922,34.826 20.29,34.826 19.668,34.798 19.051,34.752 16.102,35.779 13.081,36.771 11.526,37.1 7.893,37.87 5.012,38.334 4.26,37.707 3.509,37.08 5.638,35.453 7.016,33.824 7.532,33.215 8.1,32.342 8.61,31.488 3.393,28.322 0,23.198 0,17.412 0,7.795 9.367,0 20.922,0 32.476,0 41.843,7.795 41.843,17.412" />
    </svg>
    <span class="ml-2">Advisory</span>
  </div>

  <mat-dialog-content class="p-3 pr-0 mt-2 oy-auto d-flex flex-column flex-11a">
    <h4 class="pr-3">Cyber Security Evaluation Tool</h4>
    <div class="pr-3">
      <p>The Cyber Security Evaluation Tool (CSET)
        <sup>®</sup> is only one component of the overall cyber security picture and should be complemented with a
        robust cyber
        security program within the organization. A self-assessment with CSET
        <sup>®</sup> cannot reveal all types of security weaknesses, and should not be the sole means of determining an
        organization's
        security posture.</p>
      <p>The tool will not provide a detailed architectural analysis of the network or a detailed network
        hardware/software configuration
        review. It is not a risk analysis tool so it will not generate a complex risk assessment. CSET
        <sup>®</sup> is not intended as a substitute for in‑depth analysis of control system vulnerabilities as
        performed by trained
        professionals. Periodic onsite reviews and inspections must still be conducted using a holistic approach
        including
        facility walk-downs, interviews, and observation and examination of facility practices. Consideration should
        also be
        given to additional steps including scanning, penetration testing, and exercises on surrogate, training, or
        non-production
        systems, or systems where failures, unexpected faults, or other unexpected results will not compromise
        production or
        safety.</p>
      <p>CSET
        <sup>®</sup> assessments cannot be completed effectively by any one individual. A cross-functional team
        consisting of representatives
        from operational, maintenance, information technology, business, and security areas is essential. The
        representatives
        must be subject matter experts with significant expertise in their respective areas. No one individual has the
        span
        of responsibility or knowledge to effectively answer all the questions.</p>
      <p>Data and reports generated by the tool should be managed securely and marked, stored, and distributed in a
        manner appropriate
        to their sensitivity.</p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-start flex-00a">
    <button class="btn btn-secondary" (click)="close()">OK</button>
  </mat-dialog-actions>
</div>
