<!----------------------

   Copyright 2021 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel">
  <div id="top"></div>
  <div class="d-flex flex-row flex-wrap justify-content-between align-items-start flex-11a mb-4">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label *ngIf="setHasQuestions" class="btn btn-app-mode form-check-label"
        [class.active]="assessSvc.applicationMode == 'Q'" (click)="setMode('Q')">
        <input name="app_mode" class="form-check-input" type="radio" autocomplete="off"
          [checked]="assessSvc.applicationMode == 'Q'">
        Questions Mode
      </label>
      <label *ngIf="setHasRequirements" class="btn btn-app-mode form-check-label"
        [class.active]="assessSvc.applicationMode == 'R'" (click)="setMode('R')">
        <input name="app_mode" class="form-check-input" type="radio" autocomplete="off"
          [checked]="assessSvc.applicationMode == 'R'">
        Requirements Mode
      </label>
    </div>

    <div class="d-flex flex-column align-items-start flex-00a">
      <div class="d-flex align-items-start flex-11a">
        <button class="btn btn-primary m-0 questions-header-collapse-button-radius" (click)="expandAll(false)">Collapse
          All</button>
        <button class="btn btn-primary m-0 br-0" (click)="expandAll(true)">Expand All</button>
        <button class="btn btn-primary m-0 questions-header-filter-button-radius" (click)="showFilterDialog()">
          <i class="cset-icons-filter"></i>
        </button>
      </div>

      <div *ngIf="!browserIsIE()" class="mt-2">
        <input type="checkbox" id="auto_load_supp" name="auto_load_supp" [(ngModel)]="autoLoadSupplementalInfo"
          (change)="persistAutoLoadSetting()">
        <label for="auto_load_supp" style="margin: 0 5px;">Auto-load Supplemental</label>
      </div>
    </div>
  </div>

  <h2>Standard Questions</h2>
  <div class="mb-2">
    Additional information on how to answer questions can be found in the
    <a tabindex="0" rel="noopener noreferrer" target="_blank" [href]="helpDocUrl()">User Guide</a>.
  </div>

  <div *ngIf="filterSvc.isFilterEngaged()" class="filters-engaged">Showing Only Filtered Questions</div>

  <div *ngIf="!domains" class="w-100">
    <div class="spinner-container" style="margin: 2em auto">
      <div style="max-width: 50px; max-height: 50px;"></div>
    </div>
  </div>


  <!-- top level -->
  <div *ngFor="let d of domains">
    <app-domain-block [domain]="d"></app-domain-block>
  </div>

  <div *ngIf="filterSvc.isFilterEngaged() && visibleGroupCount() === 0"
    class="alert-warning mt-4 mb-4 d-flex flex-row justify-content-center align-items-center flex-11a">
    <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
    <span class="fs-base-3 p-2 d-flex flex-column justify-content-center flex-11a">
      There are no questions visible for the current filters or search criteria. Please change your selections and try
      again.
    </span>
  </div>

  <div *ngIf="domains !== null && domains.length === 1 && domains[0].Categories.length === 0"
    class="alert-warning mt-4 mb-4 d-flex flex-row justify-content-center align-items-center flex-11a">
    <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
    <span class="fs-base-3 p-2 d-flex flex-column justify-content-center flex-11a">
      There are no applicable questions/requirements to display. Check the assessment's SAL level and Standards
      selection.
    </span>
  </div>

  <app-nav-back-next [page]="'questions'"></app-nav-back-next>

</div>