<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <div class="p-0 flex flex-col justify-start flex-11a">
        <div class="bgc-trans mt-4 mx-4 pe-4 flex flex-col flex-00a ">

            <div *ngIf="browserIsIE" class="alert alert-danger text-start">
                {{ t('welcome page.internet explorer') }}
            </div>

            <ng-container *ngIf="sortedAssessments?.length > 0; else noAssessmentsElseBlock">
                <h3 class="mt-0" *ngIf="sortedAssessments?.length > 0">{{ t('my assessments') }}</h3>
                <div class="mt-3 mb-4 flex flex-col justify-between flex-00a">
                    <div class="flex justify-between flex-00a">
                        <div class="flex flex-row">
                            <label *ngIf="authSvc.isLocal && configSvc.showImportButton()" tabindex="0"
                                class="m-0 c-gray-900 btn btn-secondary flex items-center flex-00a"
                                matTooltip="{{ t('tooltip.import', { appName: appName }) }} ({{ importExtensions }})">
                                <span class="mr-2 fs-base cset-icons-import"></span>
                                <label for="importFile" class="m-0">{{t('buttons.import')}}</label>
                                <input type="file" tabindex="0" class="display-none" id="importFile" multiple
                                    accept="{{ importExtensions }},.cset" (change)="importAssessmentFile($event)">
                            </label>

                            <label *ngIf="!authSvc.isLocal && configSvc.showImportButton()"
                                class="m-0 btn btn-secondary flex items-center flex-00a"
                                matTooltip="{{ t('tooltip.import', { appName: appName }) }} ({{ importExtensions }})">
                                <span class="mr-2 fs-base cset-icons-import"></span>
                                <label for="importFile" class="m-0">{{t('buttons.import')}}</label>
                                <input type="file" tabindex="0" class="display-none" id="importFile" multiple
                                    accept="{{ importExtensions }}" (change)="importAssessmentFile($event)">
                            </label>

                            <button *ngIf="configSvc.showExportAllButton()" tabindex="0"
                                class="m-0 btn btn-secondary flex items-center flex-00a"
                                (click)="exportAllAssessments()" matTooltip="{{ t('tooltip.export all') }}"
                                [disabled]="exportAllInProgress">
                                <span class="cset-icons-export-up fs-base-2 mr-2"></span>
                                <span class="icon-link-button-text-dark">{{t('export all')}}</span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="unsupportedImportFile"
                        class="alert-danger mt-4 mb-4 flex flex-row justify-center items-center flex-00a">
                        <span class="p-2 fs-large cset-icons-exclamation-triangle"></span>
                        <div class="p-2 flex flex-col justify-center flex-01a">
                            <span class="fs-base-3">{{ t('errors.import unsuported file 1') }}</span>
                            <span class="fs-base-1"><a
                                    href="{{this.configSvc.docUrl}}htmlhelp/importing_a__cset_file.htm" target="_blank"
                                    tabindex="0" rel="noopener noreferrer">
                                    {{ t('errors.import unsuported file 2') }}</a></span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noAssessmentsElseBlock>
                <h2 class="mt-0" *ngIf="sortedAssessments?.length == 0">
                    <div>{{ t('welcome page.welcome to', { appTitle:appTitle }) }}</div>
                </h2>
                <p>{{ t('welcome page.to get started') }}</p>
                <div class="mt-3 mb-4 flex-col flex justify-between flex-11a">
                    <div class="flex-row flex flex-00a">
                        <div class="flex flex-wrap justify-between flex-11a">
                            <button
                                class="m-0 p-3 me-sm-2 me-md-3 me-lg-4 btn btn-primary flex items-center flex-11a lp-btn-mw-lg"
                                (click)="clickNewAssessmentButton()"
                                matTooltip="{{ t('welcome page.new assessment tooltip') }}">
                                <span class="me-3 landing-icon landing-icon-sm cset-icons-cset-lock"></span>
                                <span class="landing-button-text landing-button-text-sm">{{ t('welcome page.new
                                    assessment') }}</span>
                            </button>
                            <!-- <hr class="landing my-4"> -->
                            <label *ngIf="authSvc.isLocal && configSvc.showImportButton()"
                                class="mt-3 mt-sm-3 mt-md-0 p-3 c-gray-900 btn btn-secondary flex items-center flex-11a lp-btn-mw-lg"
                                matTooltip="{{ t('tooltip.import', { appName: appName }) }} ({{ importExtensions }})">
                                <span class="me-3 landing-icon landing-icon-sm cset-icons-import"></span>
                                <label for="importFile" class="m-0 landing-button-text landing-button-text-sm">
                                    {{ t('welcome page.import assessment') }}
                                </label>
                                <input type="file" class="display-none" id="importFile" multiple
                                    accept="{{ importExtensions }},.cset" (change)="importAssessmentFile($event)">
                            </label>
                            <label *ngIf="!authSvc.isLocal && configSvc.showImportButton()"
                                class="p-3 m-0 mt-3 mt-sm-0 c-gray-900 btn btn-secondary flex items-center flex-11a lp-btn-mw-lg"
                                matTooltip="{{ t('tooltip.import', { appName: appName }) }} ({{ importExtensions }})">
                                <span class="me-3 landing-icon landing-icon-sm cset-icons-import"></span>
                                <label for="importFile" class="m-0 landing-button-text landing-button-text-sm">
                                    {{ t('welcome page.import assessment') }}
                                </label>
                                <input type="file" class="display-none" id="importFile" multiple
                                    accept="{{ importExtensions }}" (change)="importAssessmentFile($event)">
                            </label>
                        </div>
                    </div>
                    <div *ngIf="unsupportedImportFile"
                        class="alert-danger my-4 flex flex-row justify-center items-center flex-11a">
                        <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
                        <div class="p-md-3 p-2 flex flex-col justify-center flex-01a">
                            <span class="fs-base-3">{{ t('errors.import unsuported file 1') }}</span>
                            <span class="fs-base-1 mt-2"><a
                                    href="{{this.configSvc.docUrl}}htmlhelp/importing_a__cset_file.htm" target="_blank"
                                    rel="noopener noreferrer">{{ t('errors.import unsuported file 2') }}</a></span>
                        </div>
                    </div>
                </div>
                <p class="mt-3 fst-italic">
                    <app-cset-origin *ngIf="showCsetOrigin()"></app-cset-origin>
                </p>
            </ng-template>
        </div>

        <div *ngIf="sortedAssessments == null">
            <div class="spinner-container m-0 flex justify-center items-center flex-11a">
                <div class="spinner-size-50"></div>
            </div>
        </div>

        <div *ngIf="sortedAssessments?.length > 0" class="px-4 mb-4 flex flex-col flex-11a oy-auto">

            <!-- table for larger layouts -->
            <table *ngIf="!layoutSvc.hp" role="presentation" aria-label="assessments" matSort
                (matSortChange)="sortData($event)" class="assessment-summary" style="overflow-x:auto">
                <th aria-label="{{ t('assessment name')}}" mat-sort-header="assessment" style="width: 25%;">{{
                    t('assessment name')}}
                </th>
                <th aria-label="{{ t('assessment type')}}" mat-sort-header="type" style="width:15%;">{{
                    t('assessment type')}}</th>              
                <th aria-label="{{ t('last modified')}}" mat-sort-header="date" style="width:15%;">{{ t('last
                    modified')}}</th>
                <th *ngIf="showColumn('primary-assessor')" aria-label="assessor" mat-sort-header="assessor"
                    style="width:15%;">{{t('primary assessor')}}</th>
                <th aria-label="{{t('status')}}" style="width:15%;">{{t('status')}}</th>
                <th aria-label="delete assessment" style="width:5%; min-width:25px;"></th>
                <th aria-label="export assessment" style="width:5%;"></th>
                <th aria-label="export JSON" style="width:5%;" *ngIf="showColumn('export json')"></th>
                <th aria-label="Analytics" style="width:5%;" *ngIf="showColumn('analytics')"></th>
                <tr *ngFor="let assessment of sortedAssessments;  let i = index">
                    <td>
                        <button tabindex="0"
                            class="btn btn-link btn-link-dark flex justify-start items-start flex-00a wrap-text text-start"
                            (click)="this.navSvc.beginAssessment(assessment.assessmentId)">
                            {{assessment.assessmentName}}
                        </button>
                    </td>
                   

                    <td>{{assessment.type}}</td>
                    <td>{{assessment.lastModifiedDate | localizeDate}}</td>
                    <td *ngIf="showColumn('primary-assessor')">{{assessment.firstName}} {{assessment.lastName}}</td>
                    <td>
                        <div
                            *ngIf="assessment.selectedMaturityModel !== 'CIS' && assessment.selectedMaturityModel !== 'SD02 Series'">
                            <span *ngIf="assessment.totalAvailableQuestionsCount > 0; else blankAssessment">
                                {{ { c: assessment.completedQuestionsCount, t:
                                assessment.totalAvailableQuestionsCount, qa: assessment.questionAlias, l:
                                tSvc.getActiveLang() } | completionCount }}
                            </span>
                            <ng-template #blankAssessment>
                                {{ t('welcome page.blank assessment') }}
                            </ng-template>
                            <br>
                        </div>
                        <span *ngIf="assessment.markedForReview || assessment.altTextMissing" class=""
                            matTooltip="{{t('tooltip.assessment requires review')}}">{{t('requires review')}}
                        </span>
                    </td>
                    <td>
                        <button tabindex="0"
                            class="icon-link-button-dark btn bgc-trans flex justify-center items-center flex-00a"
                            (click)="removeAssessment(assessment, i)" matTooltip="{{ t('tooltip.remove assessment') }}">
                            <span class="cset-icons-trash-x fs-base-2 mr-2"></span>
                            <span class="icon-link-button-text-dark text-nowrap">{{t('buttons.remove')}}</span>
                        </button>
                    </td>
                    <td *ngIf="showColumn('export')">
                        <button tabindex="0" id="assess-{{i}}-export"
                            class="icon-link-button-dark btn bgc-trans flex justify-center items-center flex-00a"
                            (click)="clickDownloadLink(assessment.assessmentId)"
                            matTooltip="{{ t('tooltip.export assessment') }} ({{ exportExtension }}).">
                            <span class="cset-icons-export-up fs-base-2 mr-2"></span>
                            <span class="icon-link-button-text-dark text-nowrap">{{t('buttons.export')}}</span>
                        </button>
                    </td>
                    <td *ngIf="showColumn('export json')">
                        <button tabindex="0" id="assess-{{i}}-export"
                            class="icon-link-button-dark btn bgc-trans flex justify-center items-center flex-00a"
                            (click)="clickDownloadLink(assessment.assessmentId, true)"
                            matTooltip="{{ t('tooltip.export assessment json') }}">
                            <span class="cset-icons-export-up fs-base-2 mr-2"></span>
                            <span class="icon-link-button-text-dark">{{t('buttons.export json')}}</span>
                        </button>
                    </td>
                    <td style="display:none;" *ngIf="showColumn('analytics')">
                        <button tabindex="0"
                            class="icon-link-button-dark btn bgc-trans flex justify-center items-center flex-00a"
                            (click)="this.analyticsSvc.loadAssessment(assessment.assessmentId)"
                            matTooltip="{{ t('tooltip.analytics') }}">
                            <span class="cset-icons-bar-chart-vertical fs-base-2 mr-2"></span>
                            <span class="icon-link-button-text-dark">{{t('buttons.analytics')}}</span>
                        </button>
                    </td>
                </tr>
            </table>

            <!-- table for handset portrait -->
            <table *ngIf="layoutSvc.hp" role="presentation" aria-label="assessments" matSort
                (matSortChange)="sortData($event)" class="assessment-summary" style="overflow-x:auto">
                <th aria-label="assessment name" mat-sort-header="assessment" style="width: 25%;">{{ t('assessment
                    name') }}
                </th>
                <th aria-label="date" mat-sort-header="date" style="width:15%;">{{ t('last modified') }}</th>
                <th aria-label="Actions" style="width: 5%" *ngIf="layoutSvc.hp"></th>
                <tr *ngFor="let assessment of sortedAssessments;  let i = index">
                    <td>
                        <button tabindex="0"
                            class="btn btn-link btn-link-dark flex justify-start items-start flex-00a wrap-text text-start"
                            (click)="this.navSvc.beginAssessment(assessment.assessmentId)">
                            {{assessment.assessmentName}}
                        </button>
                    </td>
                    <td>{{systemTimeTranslator(assessment.lastModifiedDate, 'med')}}</td>
                    <td class="text-nowrap ps-1">
                        <button tabindex="0" class="icon-link-button-dark btn bgc-trans my-0 mx-1 p-0"
                            (click)="removeAssessment(assessment, i)" matTooltip="{{ t('tooltip.remove assessment') }}">
                            <span class="cset-icons-trash-x fs-base-2"></span>
                        </button>
                        <button tabindex="0" class="icon-link-button-dark btn bgc-trans my-0 mx-1 p-0"
                            (click)="clickDownloadLink(assessment.assessmentId)"
                            matTooltip="{{ t('tooltip.export assessment') }} ({{ exportExtension }}).">
                            <span class="cset-icons-export-up fs-base-2"></span>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</ng-container>