<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *ngIf="diagramComponentList.length == 0; else mainContent" class="spinner-container" style="margin: 2em auto">
  <div style="max-width: 50px; max-height: 50px;"></div>
</div>
<ng-template #mainContent>
  <table matSort (matSortChange)="sortData($event)" class="assessment-summary" style='overflow:auto'>
    <th mat-sort-header="label">Label</th>
    <th mat-sort-header="assetType">Asset Type</th>
    <th mat-sort-header="vendorName">Vendor Name</th>
    <th mat-sort-header="productName">Product Name</th>
    <th mat-sort-header="version" style="width: 10%">Version Name</th>
    <th mat-sort-header="serialNumber" style="width: 10%">Serial Number</th>
    <th mat-sort-header="physicalLocation" style="width: 10%">Physical Location</th>
    <th mat-sort-header="vulnerabilities">Vulnerabilities</th>

    <tr *ngFor="let component of diagramComponentList;">
      <td>{{component.label}}</td>
      <td>{{component.assetType}}</td>
      <td>
        <input matInput class="form-control" [(ngModel)]="component.vendorName" (ngModelChange)="filterVendors($event)"
          [matAutocomplete]="autoVendor" (click)="filterVendors(component.vendorName)"
          (blur)="saveComponent(component)">
        <mat-autocomplete #autoVendor="matAutocomplete">
          <mat-option *ngFor="let vendor of filteredVendorOptions" [value]="vendor.name">
            <div class="d-flex justify-content-between">
              <span>
                {{ vendor.name }}
              </span>
              <button class="btn bgc-trans ml-3 mt-1 p-0" mat-icon-button aria-label="Delete Vendor"
                (click)="deleteVendor(vendor.name)">
                <mat-icon matTooltip="Delete Vendor" matTooltipPosition="right" class="delete-button">close</mat-icon>
              </button>
            </div>
          </mat-option>
        </mat-autocomplete>
      </td>
      <td>
        <input class="form-control" [(ngModel)]="component.productName"
          (ngModelChange)="filterProducts($event, component.vendor?.products)" [disabled]="!component.vendorName"
          (click)="filterProducts(component.productName, component.vendor?.products)" [matAutocomplete]="autoProduct"
          (blur)="saveComponent(component)">
        <mat-autocomplete #autoProduct="matAutocomplete">
          <mat-option *ngFor="let product of filteredProductOptions" [value]="product.name">
            <div class="d-flex justify-content-between">
              <span>
                {{ product.name }}
              </span>
              <button class="btn bgc-trans ml-3 mt-1 p-0" mat-icon-button aria-label="Delete Product"
                (click)="deleteProduct(component.vendorName, product.name)">
                <mat-icon matTooltip="Delete Product" matTooltipPosition="right" class="delete-button">close</mat-icon>
              </button>
            </div>
          </mat-option>
        </mat-autocomplete>
      </td>
      <td><input class="form-control" [(ngModel)]="component.versionName" (blur)="saveComponent(component)" /></td>
      <td><input class="form-control" [(ngModel)]="component.serialNumber" (blur)="saveComponent(component)" /></td>
      <td><input class="form-control" [(ngModel)]="component.physicalLocation" (blur)="saveComponent(component)" /></td>
      <td>
        <div
          matTooltip="There are no vulnerabilities identified with this vendor and product in the current local database"
          [matTooltipDisabled]="!isShowVulnerabilitiesButtonDisabled(component)">
          <button class="btn" (click)="showVulnerabilities(component)"
            [disabled]="isShowVulnerabilitiesButtonDisabled(component)"
            matTooltip="View the vulnerabilities associated with this network component">
            <span class="icon-link-button-text-dark" style="color: #1a53ff">Vulnerabilities</span>
          </button>
        </div>
      </td>
    </tr>
  </table>
</ng-template>