<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">Incident Management Review (IMR) Tutorial</h3>

  <div class="mb-4">

    <h5>Overview</h5>
    <p>
      The Incident Management Review (IMR) was developed by the Department of Homeland Security (DHS) Cybersecurity and
      Infrastructure Security Agency (CISA) and is based on the principle that an effective incident management function
      can enhance the overall cyber resilience of an organization. An incident management function is responsible for
      detecting and responding to incidents that impact an organization's critical services.
    </p>

    <p>
      Within the assessment, “incident management personnel” refers to the groups or individuals who perform the
      incident management function activities, while “organization” refers to the entire entity, including these
      personnel. “Stakeholders” refers to those with an interest in the organization's incident management function or
      its activities, whether internal or external to the organization.
    </p>

    <p>
      The scope of this assessment focuses on the critical services overseen by the incident management function and the
      assets necessary to provide those services. For evaluating a single critical service, the Cyber Resilience Review
      (CRR) should be completed.
    </p>


    <h5 class="mt-4">Critical Services</h5>
    <p>
      A critical service is defined as a set of activities an organization carries out in the performance of a duty or
      in the production of a product that is so critical to the organization's success that its disruption would
      severely impact continued operations or success in meeting the organization's mission.
    </p>

    <p>
      Organizations typically have a set of critical services that define their mission. The focus on those critical
      services for the assessment &mdash; rather than assessing the organization as a whole &mdash; helps to scope the
      assessment and
      tie the results to the organization's mission.
    </p>

    <p>
      Below are some examples of organizations and their typical critical services:
    </p>

    <ul>
      <li>Banks and other financial institutions: clearing and settlement, mortgage application processing</li>
      <li>Emergency services providers: processing 911 calls, dispatch</li>
      <li>Electrical power plants: electricity generation, electricity distribution</li>
      <li>Hospitals: clinical services, prescription management</li>
      <li>Government agencies: court case management, benefit management</li>
      <li>Manufacturing companies: machining operations, product engineering and design</li>
      <li>Airports: air traffic control, fuel management</li>
    </ul>


    <h5 class="mt-4">Asset Types</h5>
    <p>
      Like the CRR assessment, the IMR considers four categories of assets: People, Information, Technology, and
      Facilities. In the IMR assessment, any question asking about assets is referring to all the asset types and must
      be answered considering all the various asset types combined. Unlike the CRR, the IMR assessment does not have
      questions that ask about each asset type individually. The definition for each asset type is listed below:
    </p>

    <ul>
      <li><strong>People:</strong> the staff (both internal and external to the organization) such as people that
        support data centers or
        otherwise use information and communications technology to operate, monitor, and support the service.</li>
      <li><strong>Information:</strong> account information, technology asset configuration files, operational data,
        customer
        information, and other information necessary for the delivery of a service.</li>
      <li><strong>Technology:</strong> computers (hardware), software, control systems, or other technology including
        external
        information systems used by the organization to deliver the service.</li>
      <li><strong>Facilities:</strong> office buildings, data centers, and other physical structures supporting the
        delivery of the
        service.</li>
    </ul>

    <h5 class="mt-4">Assessment</h5>
    <div>
      The IMR assessment consists of 88 practices (questions), each aligning with a goal associated with one of the six
      domains:
    </div>
    <ul>
      <li>Event Detection and Handling</li>
      <li>Incident Declaration, Handling, and Response</li>
      <li>Post-Incident Analysis and Testing</li>
      <li>Integrate Organizational Capabilities</li>
      <li>Protect and Sustain the Incident Management Function</li>
      <li>Prepare for Incident Response</li>
    </ul>

    <p>
      Each practice includes the following components.
    </p>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture1.png" style="width: 100%; max-width: 700px"></div>

    <h6>Domain</h6>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture2.png" style="width: 100%; max-width: 700px"></div>

    <p>Each domain has a set of goals with associated practices.</p>

    <h6>Goal</h6>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture3.png" style="width: 100%; max-width: 700px"></div>

    <p>
      The intended incident management outcome that each of its associated practices aims to enable.
    </p>

    <h6>Identifier</h6>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture4.png" style="width: 100%; max-width: 100px"></div>

    <p>
      Each question has an assigned practice identifier structured as follows:
    </p>

    <p style="font-weight: bold; color: #444">
      Domain [DD]: Goal Number [G#]. Question Number [Q#]
    </p>

    <p>
      An example of the above structure is IR:G1.Q1, which represents Incident Declaration, Handling and Response: Goal
      1. Question Number 1.
    </p>


    <h6>Practice</h6>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture5.png" style="width: 100%; max-width: 500px"></div>

    <p>
      Questions designed to evaluate if the organization has implemented the associated goal.
    </p>


    <h6>
      CSET Icons
    </h6>
    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture6.png" style="width: 300px"></div>

    <div>
      Selecting the Supplemental Guidance icon provides information on:
    </div>
    <ul>
      <li>Question Intent</li>
      <li>Criteria for “Yes” Response</li>
      <li>Criteria for “Incomplete” Response</li>
    </ul>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture7.png" style="width: 100%; max-width: 700px"></div>

    <h6>Answer Buttons</h6>

    <div class="img-frame"><img src="assets/images/IMR/tutorial/Picture8.png" style="width: 160px"></div>

    <div>
      Select the applicable answer for each question. Unanswered questions are calculated as a “No” response.
    </div>
    <ul>
      <li><strong>Yes</strong> - the organization fully performs the activity specified in the question.</li>
      <li><strong>Incomplete</strong> - the organization partially performs the activity.</li>
      <li><strong>No</strong> - the organization does not perform the activity at all.</li>
    </ul>


    <h5 class="mt-4">Additional Resources</h5>
    <p>
      Additional information on how to complete a CSET assessment is available in the User Guide. To access the
      user guide, select the option from the Help dropdown menu in the CSET tool bar.
    </p>


    <p>
      Please visit <a target="_blank"
        href="https://www.cisa.gov/resources-tools/training/incident-management-review-imr-training">
        CISA IMR Training</a> for more information.
    </p>

  </div>

  <app-nav-back-next [page]="'tutorial-imr'"></app-nav-back-next>

</div>