<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">IMR Tutorial</h3>

  <div class="mb-5">

    <h4>Overview</h4>
    <p>
      The Incident Management Review (IMR) is based on the principle that a resilient incident management function can
      improve an organization's overall cyber resilience. The IMR consists of a series of questions, the answers to
      which
      provide insights into how an organization can improve its ability to identify, analyze, and respond to events and
      incidents in a repeatable manner. The IMR also enables an organization to assess its event and incident handling
      capabilities relative to v1.1 of the National Institute of Standards and Technology (NIST) Cybersecurity Framework
      (CSF) with IMR assessment results depicted in terms of the NIST CSF.
    </p>

    <p>
      An “Incident Management Function” is the part(s) of the organization that provides incident handling and response
      services for the organization. It is responsible for the performance of all incident handling and response
      practices. For the sake of simplicity, the term “incident management personnel” refers to the groups or
      individuals
      who perform the Incident Management Function activities. Further, the term “organization” refers to the entire
      [sovereign] group, including the incident management personnel. We use the term “stakeholders” to identify those
      with a vested interest in the organization's Incident Management Function or in its activities, whether internal
      or
      external to the organization.
    </p>
  </div>


  <div class="mb-5">
    <h4>The IMR Assessment</h4>

    <p>
      The IMR Assessment is a lightweight assessment method created by the Department of Homeland Security (DHS)
      Cybersecurity and Infrastructure Security Agency (CISA) for the purpose of evaluating an organization's
      cybersecurity incident management practices. The IMR Assessment, consisting of 88 questions, is typically
      delivered
      in a three to four hour interactive workshop led by facilitators from CISA.
    </p>

    <p>
      The IMR Assessment reflects an organization's capabilities only at a single point in time—at the time of the
      assessment. Even though certain aspects and questions in the IMR Assessment are designed to indicate the
      organization's ability to sustain cybersecurity incident management practices over time, the organization should
      not
      rely on the assessment results as a conclusive expression of the organization's incident management capabilities
      in
      the future.
    </p>

    <p>
      The assessment does not consider:
    </p>
    <ul>
      <li>
        activities that are planned or are in the process of implementation.
      </li>
      <li>
        practices that have not been performed for extended periods of time.
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h4>
      Assessment Scope
    </h4>

    <p>
      Scoping the assessment is critical because answers to the IMR questions must be provided in relation to the
      organization's set of mission critical services and the assets that underpin those services for which the Incident
      Management Function has responsibility. The organization's Incident Management Function must be able to respond to
      events and incidents that affect any of the organization's mission critical services. The IMR is organizational in
      scope where the Cyber Resilience Review (CRR) is focused on a single service. Some larger organizations may have
      multiple Incident Management functions. For example, a larger corporation may have a centralized Incident
      Management
      Function responsible for responding to issues concerning services provided by the corporate headquarters to its
      business units. The business units may have their own Incident Management Function to respond to issues with the
      business units' own critical services. The scope would be the set of critical services that the assessed Incident
      Management Function has responsibility.
    </p>

    <p>
      A critical service is defined as:
    </p>
    <p>
      A set of activities an organization carries out in the performance of a duty or in the production of a product
      that
      is so critical to the organization's success that its disruption would severely impact continued operations or
      success in meeting the organization's mission.
    </p>

    <p>
      Organizations typically have a set of critical services that define their mission. The focus on those critical
      services for the assessment—rather than assessing the organization as a whole—helps to scope the assessment and
      tie
      the results to the organization's mission.
    </p>

    <p>
      Below are some examples of organizations and their typical critical services:
    </p>

    <ul>
      <li>banks and other financial institutions: clearing and settlement, mortgage application processing</li>
      <li>emergency services providers: processing 911 calls, dispatch</li>
      <li>electrical power plants: electricity generation, electricity distribution</li>
      <li>hospitals: clinical services, prescription management</li>
      <li>government agencies: court case management, benefit management</li>
      <li>manufacturing companies: machining operations, product engineering and design</li>
      <li>airports: air traffic control, fuel management</li>
    </ul>
  </div>

  <div class="mb-5">
    <h4>
      Practice Questions Structure
    </h4>

    <p>
      Each practice question contains a 3-point response scale to evaluate the degree to which the organization has
      implemented the practice. Each question has three possible answers: “Yes”, “Incomplete”, and “No”:
    </p>

    <img title="yes-no-inc" src="assets/images/IMR/tutorial/answer-options.png" style="height: 3rem; width: 8.9rem">
    <ul>
      <li><strong>Yes</strong> – the organization fully performs the activity specified in the question.</li>
      <li><strong>Incomplete</strong> – the organization partially performs the activity.</li>
      <li><strong>No</strong> – the organization does not perform the activity at all.</li>
    </ul>

    <p>
      <img title="flag for review icon" src="assets/images/IMR/tutorial/button-mark-for-review.png"
        style="height: 3rem; vertical-align: bottom;">

      <strong>Flag for Review:</strong> To the right of the of the three-point response scale is the Flag icon which can
      be used to flag
      a
      practice for review. The list of questions flagged for review is provided in the report named <u>Comments and
        Marked
        for Review</u>.
    </p>


    <p>
      <img title="supplemental guidance icon" src="assets/images/IMR/tutorial/icon-guidance.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Supplemental Guidance:</strong> To aid the facilitator, each question is supported by guidance. The
      guidance should be
      referred to for background information, possible examples, potential artifacts, <strong>and for criteria that
        defines the
        requirements for a “Yes” and an “Incomplete” answer</strong>. The guidance is displayed by selecting the
      Guidance Icon
      containing the letter “G” located below each question. It is very important that assessors refer to the guidance
      when evaluating the organization's response to a question to ensure that the intent and scope of the question is
      understood and that the question answer meets the scoring criteria for a “Yes” or an “Incomplete” answer.
    </p>

    <p>
      <img title="comments icon" src="assets/images/IMR/tutorial/icon-comments.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Comments:</strong> Selecting this icon will display a text box that may be used to make comments regarding
      the question.
      For
      example, a facilitator, for future reference may take a note as to
      why an answer was marked incomplete vs. yes. Note, these comments are not included in the official report and are
      meant to be private to the facilitator. These comments can be found in the Comments and Marked for Review report.
    </p>

    <p>
      <img title="artifacts icon" src="assets/images/IMR/tutorial/icon-artifacts.png"
        style="height: 2.4rem; vertical-align: bottom;">
      Artifacts/Documents: Easily associate, track, and store artifacts, and other supporting documents for each
      question
      throughout the assessment.
    </p>

    <p>
      <img title="references icon" src="assets/images/IMR/tutorial/icon-references.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>References:</strong> Selecting the References Icon will display the Options for Consideration associated
      with each
      question.
      The Options for Consideration are normally found in the report and are also made available to the facilitator
      while
      performing the assessment by using this feature. The options for consideration provide general background
      information, example artifacts and attributes, outline general guidelines or activities and their associated
      information sources that can be used to research and improve the organization's event and incident handling
      practices and the resilience of the incident management service provided to the organization.
    </p>

    <p>
      <img title="observations icon" src="assets/images/IMR/tutorial/icon-observations.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Observations</strong>: Selecting this icon will pop up an observation details dialog box used to collect
      additional
      information about a specific practice question. The type of information that can be collected include an
      observation
      title, importance level, resolution date, issue description, the associated impact, suggested recommendations,
      responsible individual, etc.
    </p>

    <p>
      <img title="feedback icon" src="assets/images/IMR/tutorial/icon-feedback.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Feedback</strong>: Used to provide feedback regarding a question to CISA. For example, a user may comment
      that the question
      language is too complex or confusing and suggest alternate wording.
    </p>

    <p>
      After the last domain in the assessment click “Next” to get to the “Other Remarks” screen. This input field can be
      used to capture information such as general observations or specific information that was learned during the
      assessment. For example, if an improvement effort is already underway to address specific domain practices, it can
      be detailed here to make it part of the official report. <strong>Since this text is copied verbatim into the
        report
        assessors should use discretion in their commentary</strong>.
    </p>
    <img title="other remarks screen" src="assets/images/IMR/tutorial/other-remarks-screen.png"
      style="height: 16rem; width: fit-content; border: 1px solid #ccc;">
  </div>

  <div class="mb-5">
    <h4>
      Asset Types
    </h4>

    <p>
      Like the CRR assessment, the IMR considers four categories of assets: People, Information, Technology, and
      Facilities. In the IMR assessment, any question asking about assets is referring to all the asset types and must
      be
      answered considering all the various asset types combined. Unlike the CRR, the IMR assessment does not have
      questions that ask about each asset type individually. The definition for each asset type is listed below:
    </p>

    <ul>
      <li>People - the staff (both internal and external to the organization) such as people that support data centers
        or
        otherwise use information and communications technology to operate, monitor and support the service.</li>
      <li>Information - account information, technology asset configuration files, operational data, customer
        information
        and other information necessary for the delivery of a service.</li>
      <li>Technology – computers (hardware), software, control systems, or other technology including external
        information
        systems used by the organization to deliver the service.</li>
      <li>Facilities – offices buildings, data centers and other physical structures supporting the delivery of the
        service.</li>
    </ul>
  </div>

  <app-nav-back-next [page]="'tutorial-imr'"></app-nav-back-next>

</div>