.slider {
    accent-color:red;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: red !important;
}
::ng-deep .mat-slider-thumb-label {
    background-color: red !important;

}

// .mat-mdc-slider.mat-warning { 
//     --mdc-slider-handle-color: green; 
//     --mdc-slider-focus-handle-color: green; 
//     --mdc-slider-active-track-color: green;
// }