/*
Run this script on:

(localdb)\v11.0.CSETWeb10210    -  This database will be modified

to synchronize it with:

(localdb)\v11.0.CSETWeb10300

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.5.1.18536 from Red Gate Software Ltd at 6/29/2021 1:32:16 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[MATURITY_REFERENCE_TEXT]')
ALTER TABLE [dbo].[MATURITY_REFERENCE_TEXT] NOCHECK CONSTRAINT [FK_MATURITY_REFERENCE_TEXT_MATURITY_QUESTIONS]

PRINT(N'Drop constraints from [dbo].[MATURITY_QUESTIONS]')
ALTER TABLE [dbo].[MATURITY_QUESTIONS] NOCHECK CONSTRAINT [FK__MATURITY___Matur__5B638405]
ALTER TABLE [dbo].[MATURITY_QUESTIONS] NOCHECK CONSTRAINT [FK_MATURITY_QUESTIONS_MATURITY_MODELS]

PRINT(N'Drop constraint FK_MATURITY_REFERENCES_MATURITY_QUESTIONS from [dbo].[MATURITY_REFERENCES]')
ALTER TABLE [dbo].[MATURITY_REFERENCES] NOCHECK CONSTRAINT [FK_MATURITY_REFERENCES_MATURITY_QUESTIONS]

PRINT(N'Drop constraint FK_MATURITY_SOURCE_FILES_MATURITY_QUESTIONS from [dbo].[MATURITY_SOURCE_FILES]')
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] NOCHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_MATURITY_QUESTIONS]

PRINT(N'Drop constraints from [dbo].[GEN_FILE_LIB_PATH_CORL]')
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] NOCHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_GEN_FILE]
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] NOCHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_REF_LIBRARY_PATH]

PRINT(N'Drop constraints from [dbo].[REQUIREMENT_SETS]')
ALTER TABLE [dbo].[REQUIREMENT_SETS] NOCHECK CONSTRAINT [FK_QUESTION_SETS_SETS]
ALTER TABLE [dbo].[REQUIREMENT_SETS] NOCHECK CONSTRAINT [FK_REQUIREMENT_SETS_NEW_REQUIREMENT]

PRINT(N'Drop constraints from [dbo].[NEW_QUESTION_SETS]')
ALTER TABLE [dbo].[NEW_QUESTION_SETS] NOCHECK CONSTRAINT [FK_NEW_QUESTION_SETS_NEW_QUESTION]
ALTER TABLE [dbo].[NEW_QUESTION_SETS] NOCHECK CONSTRAINT [FK_NEW_QUESTION_SETS_SETS]

PRINT(N'Drop constraint FK_NEW_QUESTION_LEVELS_NEW_QUESTION_SETS from [dbo].[NEW_QUESTION_LEVELS]')
ALTER TABLE [dbo].[NEW_QUESTION_LEVELS] NOCHECK CONSTRAINT [FK_NEW_QUESTION_LEVELS_NEW_QUESTION_SETS]

PRINT(N'Drop constraints from [dbo].[MATURITY_LEVELS]')
ALTER TABLE [dbo].[MATURITY_LEVELS] NOCHECK CONSTRAINT [FK_MATURITY_LEVELS_MATURITY_MODELS]

PRINT(N'Drop constraints from [dbo].[MATURITY_GROUPINGS]')
ALTER TABLE [dbo].[MATURITY_GROUPINGS] NOCHECK CONSTRAINT [FK_MATURITY_GROUPINGS_MATURITY_GROUPING_TYPES]
ALTER TABLE [dbo].[MATURITY_GROUPINGS] NOCHECK CONSTRAINT [FK_MATURITY_GROUPINGS_MATURITY_MODELS]

PRINT(N'Drop constraint FK_MATURITY_DOMAIN_REMARKS_MATURITY_GROUPINGS from [dbo].[MATURITY_DOMAIN_REMARKS]')
ALTER TABLE [dbo].[MATURITY_DOMAIN_REMARKS] NOCHECK CONSTRAINT [FK_MATURITY_DOMAIN_REMARKS_MATURITY_GROUPINGS]

PRINT(N'Drop constraints from [dbo].[GEN_FILE]')
ALTER TABLE [dbo].[GEN_FILE] NOCHECK CONSTRAINT [FK_GEN_FILE_FILE_REF_KEYS]
ALTER TABLE [dbo].[GEN_FILE] NOCHECK CONSTRAINT [FK_GEN_FILE_FILE_TYPE]

PRINT(N'Drop constraint FILE_KEYWORDS_GEN_FILE_FK from [dbo].[FILE_KEYWORDS]')
ALTER TABLE [dbo].[FILE_KEYWORDS] NOCHECK CONSTRAINT [FILE_KEYWORDS_GEN_FILE_FK]

PRINT(N'Drop constraint FK_MATURITY_REFERENCES_GEN_FILE from [dbo].[MATURITY_REFERENCES]')
ALTER TABLE [dbo].[MATURITY_REFERENCES] NOCHECK CONSTRAINT [FK_MATURITY_REFERENCES_GEN_FILE]

PRINT(N'Drop constraint FK_MATURITY_SOURCE_FILES_GEN_FILE from [dbo].[MATURITY_SOURCE_FILES]')
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] NOCHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_GEN_FILE]

PRINT(N'Drop constraint FK_REQUIREMENT_REFERENCES_GEN_FILE from [dbo].[REQUIREMENT_REFERENCES]')
ALTER TABLE [dbo].[REQUIREMENT_REFERENCES] NOCHECK CONSTRAINT [FK_REQUIREMENT_REFERENCES_GEN_FILE]

PRINT(N'Drop constraint FK_REQUIREMENT_SOURCE_FILES_GEN_FILE from [dbo].[REQUIREMENT_SOURCE_FILES]')
ALTER TABLE [dbo].[REQUIREMENT_SOURCE_FILES] NOCHECK CONSTRAINT [FK_REQUIREMENT_SOURCE_FILES_GEN_FILE]

PRINT(N'Drop constraint FK_SET_FILES_GEN_FILE from [dbo].[SET_FILES]')
ALTER TABLE [dbo].[SET_FILES] NOCHECK CONSTRAINT [FK_SET_FILES_GEN_FILE]

PRINT(N'Drop constraint FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_UNIVERSAL_SUB_CATEGORIES from [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS]')
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] NOCHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_UNIVERSAL_SUB_CATEGORIES]

PRINT(N'Drop constraint FK_NEW_REQUIREMENT_STANDARD_CATEGORY from [dbo].[NEW_REQUIREMENT]')
ALTER TABLE [dbo].[NEW_REQUIREMENT] NOCHECK CONSTRAINT [FK_NEW_REQUIREMENT_STANDARD_CATEGORY]

PRINT(N'Drop constraint FK_STANDARD_CATEGORY_SEQUENCE_STANDARD_CATEGORY from [dbo].[STANDARD_CATEGORY_SEQUENCE]')
ALTER TABLE [dbo].[STANDARD_CATEGORY_SEQUENCE] NOCHECK CONSTRAINT [FK_STANDARD_CATEGORY_SEQUENCE_STANDARD_CATEGORY]

PRINT(N'Drop constraints from [dbo].[SETS]')
ALTER TABLE [dbo].[SETS] NOCHECK CONSTRAINT [FK_SETS_Sets_Category]

PRINT(N'Drop constraint FK_AVAILABLE_STANDARDS_SETS from [dbo].[AVAILABLE_STANDARDS]')
ALTER TABLE [dbo].[AVAILABLE_STANDARDS] NOCHECK CONSTRAINT [FK_AVAILABLE_STANDARDS_SETS]

PRINT(N'Drop constraint FK_CUSTOM_STANDARD_BASE_STANDARD_SETS from [dbo].[CUSTOM_STANDARD_BASE_STANDARD]')
ALTER TABLE [dbo].[CUSTOM_STANDARD_BASE_STANDARD] NOCHECK CONSTRAINT [FK_CUSTOM_STANDARD_BASE_STANDARD_SETS]

PRINT(N'Drop constraint FK_CUSTOM_STANDARD_BASE_STANDARD_SETS1 from [dbo].[CUSTOM_STANDARD_BASE_STANDARD]')
ALTER TABLE [dbo].[CUSTOM_STANDARD_BASE_STANDARD] NOCHECK CONSTRAINT [FK_CUSTOM_STANDARD_BASE_STANDARD_SETS1]

PRINT(N'Drop constraint FK_REPORT_STANDARDS_SELECTION_SETS from [dbo].[REPORT_STANDARDS_SELECTION]')
ALTER TABLE [dbo].[REPORT_STANDARDS_SELECTION] NOCHECK CONSTRAINT [FK_REPORT_STANDARDS_SELECTION_SETS]

PRINT(N'Drop constraint FK_REQUIREMENT_QUESTIONS_SETS_SETS from [dbo].[REQUIREMENT_QUESTIONS_SETS]')
ALTER TABLE [dbo].[REQUIREMENT_QUESTIONS_SETS] NOCHECK CONSTRAINT [FK_REQUIREMENT_QUESTIONS_SETS_SETS]

PRINT(N'Drop constraint FK_SECTOR_STANDARD_RECOMMENDATIONS_SETS from [dbo].[SECTOR_STANDARD_RECOMMENDATIONS]')
ALTER TABLE [dbo].[SECTOR_STANDARD_RECOMMENDATIONS] NOCHECK CONSTRAINT [FK_SECTOR_STANDARD_RECOMMENDATIONS_SETS]

PRINT(N'Drop constraint FK_SET_FILES_SETS from [dbo].[SET_FILES]')
ALTER TABLE [dbo].[SET_FILES] NOCHECK CONSTRAINT [FK_SET_FILES_SETS]

PRINT(N'Drop constraint FK_STANDARD_CATEGORY_SEQUENCE_SETS from [dbo].[STANDARD_CATEGORY_SEQUENCE]')
ALTER TABLE [dbo].[STANDARD_CATEGORY_SEQUENCE] NOCHECK CONSTRAINT [FK_STANDARD_CATEGORY_SEQUENCE_SETS]

PRINT(N'Drop constraint FK_Standard_Source_File_SETS from [dbo].[STANDARD_SOURCE_FILE]')
ALTER TABLE [dbo].[STANDARD_SOURCE_FILE] NOCHECK CONSTRAINT [FK_Standard_Source_File_SETS]

PRINT(N'Drop constraint FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_SETS from [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS]')
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] NOCHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_SETS]

PRINT(N'Drop constraint FK_NEW_REQUIREMENT_QUESTION_GROUP_HEADING from [dbo].[NEW_REQUIREMENT]')
ALTER TABLE [dbo].[NEW_REQUIREMENT] NOCHECK CONSTRAINT [FK_NEW_REQUIREMENT_QUESTION_GROUP_HEADING]

PRINT(N'Drop constraint FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_QUESTION_GROUP_HEADING from [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS]')
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] NOCHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_QUESTION_GROUP_HEADING]

PRINT(N'Drop constraint FK__AVAILABLE__model__6F6A7CB2 from [dbo].[AVAILABLE_MATURITY_MODELS]')
ALTER TABLE [dbo].[AVAILABLE_MATURITY_MODELS] NOCHECK CONSTRAINT [FK__AVAILABLE__model__6F6A7CB2]

PRINT(N'Drop constraint FK_Standard_Source_File_FILE_REF_KEYS from [dbo].[STANDARD_SOURCE_FILE]')
ALTER TABLE [dbo].[STANDARD_SOURCE_FILE] NOCHECK CONSTRAINT [FK_Standard_Source_File_FILE_REF_KEYS]

PRINT(N'Delete rows from [dbo].[MATURITY_REFERENCE_TEXT]')
DELETE FROM [dbo].[MATURITY_REFERENCE_TEXT] WHERE [Mat_Question_Id] = 1201 AND [Sequence] = 0
DELETE FROM [dbo].[MATURITY_REFERENCE_TEXT] WHERE [Mat_Question_Id] = 1203 AND [Sequence] = 2
DELETE FROM [dbo].[MATURITY_REFERENCE_TEXT] WHERE [Mat_Question_Id] = 1204 AND [Sequence] = 3
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Delete rows from [dbo].[GEN_FILE_LIB_PATH_CORL]')
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3961 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3962 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3963 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3964 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3965 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3966 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3967 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3968 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3969 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3970 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3971 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 3980 AND [Lib_Path_Id] = 55
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 4980 AND [Lib_Path_Id] = 569
DELETE FROM [dbo].[GEN_FILE_LIB_PATH_CORL] WHERE [Gen_File_Id] = 4982 AND [Lib_Path_Id] = 50
PRINT(N'Operation applied to 14 rows out of 14')

PRINT(N'Delete rows from [dbo].[REQUIREMENT_SETS]')
DELETE FROM [dbo].[REQUIREMENT_SETS] WHERE [Requirement_Id] = 30040 AND [Set_Name] = 'ISA_62443_4_1'
DELETE FROM [dbo].[REQUIREMENT_SETS] WHERE [Requirement_Id] = 30041 AND [Set_Name] = 'ISA_62443_4_1'
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Delete rows from [dbo].[GEN_FILE]')
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3953
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3961
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3962
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3963
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3964
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3965
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3966
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3967
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3968
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3969
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3970
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3971
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 3980
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 4980
DELETE FROM [dbo].[GEN_FILE] WHERE [Gen_File_Id] = 4982
PRINT(N'Operation applied to 15 rows out of 15')

PRINT(N'Update rows in [dbo].[MATURITY_REFERENCE_TEXT]')
UPDATE [dbo].[MATURITY_REFERENCE_TEXT] SET [Reference_Text]='<p class=''p1''><strong>CERT-RMM Reference</strong></p>
    <p class=''p1''><strong>[SC:SG2.SP1] </strong>Identify the acquirer&apos;s high-value services</p>
    <p class=''p1''>A fundamental risk management principle is to focus on activities to protect and sustain services and assets that most directly affect the acquirer&apos;s ability to achieve its mission. This practice refers to identifying the assessed acquirer&apos;s high-value services, which it provides to its customers and other stakeholders.</p>
    <p class=''p1''><strong>Additional References</strong></p>
    <p class=''p1''><em>NIST Special Publication 800-53 Revision 4</em>, &ldquo;Security and Privacy Controls for Federal Information Systems and Organizations&rdquo;, The Fundamentals, 2.1 Multitiered Risk Management.</p>
    <p class=''p1''>To integrate the risk management process throughout the organization and more effectively address mission/business concerns, a three-tiered approach is employed that addresses risk at the: (i) <em>organizational </em>level; (ii) <em>mission/business process </em>level; and (iii) <em>information system </em>level.</p>
    <p class=''p1''>Tier 1 provides a <em>prioritization of organizational missions/business functions which in turn drives investment strategies and funding decisions </em>--promoting cost-effective, efficient information technology solutions consistent with the strategic goals and objectives of the organization and measures of performance.</p>
    <p class=''p1''>NIST CSF References: ID.BE</p>' WHERE [Mat_Question_Id] = 1201 AND [Sequence] = 1
UPDATE [dbo].[MATURITY_REFERENCE_TEXT] SET [Reference_Text]='<p class= "p1"><strong>CERT-RMM Reference</strong></p>
<p class= "p1"><strong>[CTRL:SG1.SP1] </strong>Define control objectives</p>
<p class= "p1">Define and document control objectives that result from management directives and guidelines. Affinity
    analysis of directives and guidelines may be useful in identifying categories of control objectives.</p>
<p class= "p1">These are examples of control objectives:</p>
<ul>
    <li>prevent unauthorized use of purchase orders</li>
    <li>ensure adequate supplies of materials</li>
    <li>establish an enterprise architecture for information technology</li>
    <li>all outside support personnel are identified</li>
    <li>identify and assess risks that may cause material misstatements of financial records</li>
    <li>educate and train staff</li>
    <li>ensure the confidentiality and integrity of customers&apos; payment information</li>
    <li>establish a compliance program</li>
</ul>
<p class= "p1"><strong>Additional References</strong></p>
<p class= "p1"><em>NIST Special Publication 800-53 Revision 4, </em>&ldquo;Security and Privacy Controls for Federal
    Information Systems and Organizations&rdquo;, 2.1 Multitiered Risk Management.</p>
<p class= "p1">The selection and specification of security controls for an information system is accomplished as part of
    an organization-wide information security program for the management of risk --that is, the risk to organizational
    operations and assets, individuals, other organizations, and the Nation associated with the operation of information
    systems. <em>Risk-based approaches to security control selection and specification</em><em> consider effectiveness,
        efficiency, and constraints due to applicable federal laws, Executive Orders, directives, policies, regulations,
        standards, and guidelines.</em></p>
<p class= "p1">NIST CSF References: ID.BE-5, ID.GV-3</p>' WHERE [Mat_Question_Id] = 1204 AND [Sequence] = 1
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update rows in [dbo].[MATURITY_QUESTIONS]')
UPDATE [dbo].[MATURITY_QUESTIONS] SET [Question_Text]='Review and update logged events. ' WHERE [Mat_Question_Id] = 38
UPDATE [dbo].[MATURITY_QUESTIONS] SET [Question_Text]='Identify unauthorized use of organizational systems. ' WHERE [Mat_Question_Id] = 165
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update row in [dbo].[NEW_QUESTION_SETS]')
UPDATE [dbo].[NEW_QUESTION_SETS] SET [Set_Name]='ISA-62443' WHERE [New_Question_Set_Id] = 33573

PRINT(N'Update rows in [dbo].[GEN_FILE]')
UPDATE [dbo].[GEN_FILE] SET [Data]=NULL WHERE [Gen_File_Id] = 3958
UPDATE [dbo].[GEN_FILE] SET [Data]=NULL WHERE [Gen_File_Id] = 3960
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update row in [dbo].[SETS]')
UPDATE [dbo].[SETS] SET [Is_Displayed]=0 WHERE [Set_Name] = 'ISA_62443_4_1'

PRINT(N'Add row to [dbo].[FILE_REF_KEYS]')
INSERT INTO [dbo].[FILE_REF_KEYS] ([Doc_Num]) VALUES ('EDM_CROSSWALK')

PRINT(N'Add rows to [dbo].[MATURITY_MODELS]')
SET IDENTITY_INSERT [dbo].[MATURITY_MODELS] ON
INSERT INTO [dbo].[MATURITY_MODELS] ([Maturity_Model_Id], [Model_Name], [Questions_Alias], [Answer_Options]) VALUES (4, 'CRR', 'Practices', 'Y,I,N')
INSERT INTO [dbo].[MATURITY_MODELS] ([Maturity_Model_Id], [Model_Name], [Questions_Alias], [Answer_Options]) VALUES (5, 'RRA', 'Practices', 'Y,N')
SET IDENTITY_INSERT [dbo].[MATURITY_MODELS] OFF
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[QUESTION_GROUP_HEADING]')
SET IDENTITY_INSERT [dbo].[QUESTION_GROUP_HEADING] ON
INSERT INTO [dbo].[QUESTION_GROUP_HEADING] ([Question_Group_Heading], [Std_Ref], [Universal_Weight], [Question_Group_Heading_Id], [Is_Custom]) VALUES (N'Assessment, Authorization, and Monitoring', 'AAM', 0, 1085, 0)
INSERT INTO [dbo].[QUESTION_GROUP_HEADING] ([Question_Group_Heading], [Std_Ref], [Universal_Weight], [Question_Group_Heading_Id], [Is_Custom]) VALUES (N'Personally Identifiable Information Processing and Transparency', 'PIIPT', 0, 1086, 0)
INSERT INTO [dbo].[QUESTION_GROUP_HEADING] ([Question_Group_Heading], [Std_Ref], [Universal_Weight], [Question_Group_Heading_Id], [Is_Custom]) VALUES (N'Supply Chain Risk Management', 'SCRM', 0, 1087, 0)
SET IDENTITY_INSERT [dbo].[QUESTION_GROUP_HEADING] OFF
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Add rows to [dbo].[STANDARD_CATEGORY]')
INSERT INTO [dbo].[STANDARD_CATEGORY] ([Standard_Category]) VALUES ('Personally Identifiable Information Processing and Transparency')
INSERT INTO [dbo].[STANDARD_CATEGORY] ([Standard_Category]) VALUES ('Supply Chain Risk Management')
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[UNIVERSAL_SUB_CATEGORIES]')
SET IDENTITY_INSERT [dbo].[UNIVERSAL_SUB_CATEGORIES] ON
INSERT INTO [dbo].[UNIVERSAL_SUB_CATEGORIES] ([Universal_Sub_Category], [Universal_Sub_Category_Id], [Is_Custom]) VALUES ('Access Only', 8599, 0)
INSERT INTO [dbo].[UNIVERSAL_SUB_CATEGORIES] ([Universal_Sub_Category], [Universal_Sub_Category_Id], [Is_Custom]) VALUES ('Account Monitoring for Atypical Usage', 8567, 0)
INSERT INTO [dbo].[UNIVERSAL_SUB_CATEGORIES] ([Universal_Sub_Category], [Universal_Sub_Category_Id], [Is_Custom]) VALUES ('Acquisition Strategies, Tools, and Methods', 8677, 0)
SET IDENTITY_INSERT [dbo].[UNIVERSAL_SUB_CATEGORIES] OFF
PRINT(N'Operation applied to 127 rows out of 127')

PRINT(N'Add rows to [dbo].[MATURITY_GROUPINGS]')
SET IDENTITY_INSERT [dbo].[MATURITY_GROUPINGS] ON
INSERT INTO [dbo].[MATURITY_GROUPINGS] ([Grouping_Id], [Title], [Description], [Maturity_Model_Id], [Sequence], [Parent_Id], [Group_Level], [Type_Id], [Title_Id], [Abbreviation]) VALUES (140, 'Asset Management (AM)', 'The purpose of Asset Management is to identify, document, and manage assets during their life cycle to ensure sustained productivity to support critical services.', 4, 1, NULL, 1, 1, '', NULL)
INSERT INTO [dbo].[MATURITY_GROUPINGS] ([Grouping_Id], [Title], [Description], [Maturity_Model_Id], [Sequence], [Parent_Id], [Group_Level], [Type_Id], [Title_Id], [Abbreviation]) VALUES (141, 'Controls Management (CM)', '', 4, 2, NULL, 1, 1, '', NULL)
INSERT INTO [dbo].[MATURITY_GROUPINGS] ([Grouping_Id], [Title], [Description], [Maturity_Model_Id], [Sequence], [Parent_Id], [Group_Level], [Type_Id], [Title_Id], [Abbreviation]) VALUES (142, 'Configuration and Change Management (CCM)', '', 4, 3, NULL, 1, 1, '', NULL)
SET IDENTITY_INSERT [dbo].[MATURITY_GROUPINGS] OFF
PRINT(N'Operation applied to 41 rows out of 41')

PRINT(N'Add rows to [dbo].[MATURITY_LEVELS]')
SET IDENTITY_INSERT [dbo].[MATURITY_LEVELS] ON
INSERT INTO [dbo].[MATURITY_LEVELS] ([Maturity_Level_Id], [Level], [Level_Name], [Maturity_Model_Id]) VALUES (11, 1, 'Basic', 5)
INSERT INTO [dbo].[MATURITY_LEVELS] ([Maturity_Level_Id], [Level], [Level_Name], [Maturity_Model_Id]) VALUES (12, 2, 'Intermediate', 5)
INSERT INTO [dbo].[MATURITY_LEVELS] ([Maturity_Level_Id], [Level], [Level_Name], [Maturity_Model_Id]) VALUES (13, 3, 'Advanced', 5)
SET IDENTITY_INSERT [dbo].[MATURITY_LEVELS] OFF
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Add rows to [dbo].[REQUIREMENT_SETS]')
INSERT INTO [dbo].[REQUIREMENT_SETS] ([Requirement_Id], [Set_Name], [Requirement_Sequence]) VALUES (30040, 'ISA-62443', 1)
INSERT INTO [dbo].[REQUIREMENT_SETS] ([Requirement_Id], [Set_Name], [Requirement_Sequence]) VALUES (30041, 'ISA-62443', 2)
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[MATURITY_QUESTIONS]')
SET IDENTITY_INSERT [dbo].[MATURITY_QUESTIONS] ON
SET IDENTITY_INSERT [dbo].[MATURITY_QUESTIONS] OFF
PRINT(N'Operation applied to 117 rows out of 117')

PRINT(N'Add rows to [dbo].[MATURITY_REFERENCE_TEXT]')
PRINT(N'Operation applied to 104 rows out of 104')

PRINT(N'Add constraints to [dbo].[MATURITY_REFERENCE_TEXT]')
ALTER TABLE [dbo].[MATURITY_REFERENCE_TEXT] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_REFERENCE_TEXT_MATURITY_QUESTIONS]

PRINT(N'Add constraints to [dbo].[MATURITY_QUESTIONS]')
ALTER TABLE [dbo].[MATURITY_QUESTIONS] WITH CHECK CHECK CONSTRAINT [FK__MATURITY___Matur__5B638405]
ALTER TABLE [dbo].[MATURITY_QUESTIONS] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_QUESTIONS_MATURITY_MODELS]
ALTER TABLE [dbo].[MATURITY_REFERENCES] CHECK CONSTRAINT [FK_MATURITY_REFERENCES_MATURITY_QUESTIONS]
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] CHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_MATURITY_QUESTIONS]

PRINT(N'Add constraints to [dbo].[GEN_FILE_LIB_PATH_CORL]')
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] CHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_GEN_FILE]
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] CHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_REF_LIBRARY_PATH]

PRINT(N'Add constraints to [dbo].[REQUIREMENT_SETS]')
ALTER TABLE [dbo].[REQUIREMENT_SETS] CHECK CONSTRAINT [FK_QUESTION_SETS_SETS]
ALTER TABLE [dbo].[REQUIREMENT_SETS] CHECK CONSTRAINT [FK_REQUIREMENT_SETS_NEW_REQUIREMENT]

PRINT(N'Add constraints to [dbo].[NEW_QUESTION_SETS]')
ALTER TABLE [dbo].[NEW_QUESTION_SETS] CHECK CONSTRAINT [FK_NEW_QUESTION_SETS_NEW_QUESTION]
ALTER TABLE [dbo].[NEW_QUESTION_SETS] CHECK CONSTRAINT [FK_NEW_QUESTION_SETS_SETS]
ALTER TABLE [dbo].[NEW_QUESTION_LEVELS] WITH CHECK CHECK CONSTRAINT [FK_NEW_QUESTION_LEVELS_NEW_QUESTION_SETS]

PRINT(N'Add constraints to [dbo].[MATURITY_LEVELS]')
ALTER TABLE [dbo].[MATURITY_LEVELS] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_LEVELS_MATURITY_MODELS]

PRINT(N'Add constraints to [dbo].[MATURITY_GROUPINGS]')
ALTER TABLE [dbo].[MATURITY_GROUPINGS] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_GROUPINGS_MATURITY_GROUPING_TYPES]
ALTER TABLE [dbo].[MATURITY_GROUPINGS] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_GROUPINGS_MATURITY_MODELS]
ALTER TABLE [dbo].[MATURITY_DOMAIN_REMARKS] WITH CHECK CHECK CONSTRAINT [FK_MATURITY_DOMAIN_REMARKS_MATURITY_GROUPINGS]

PRINT(N'Add constraints to [dbo].[GEN_FILE]')
ALTER TABLE [dbo].[GEN_FILE] WITH CHECK CHECK CONSTRAINT [FK_GEN_FILE_FILE_REF_KEYS]
ALTER TABLE [dbo].[GEN_FILE] WITH CHECK CHECK CONSTRAINT [FK_GEN_FILE_FILE_TYPE]
ALTER TABLE [dbo].[FILE_KEYWORDS] CHECK CONSTRAINT [FILE_KEYWORDS_GEN_FILE_FK]
ALTER TABLE [dbo].[MATURITY_REFERENCES] CHECK CONSTRAINT [FK_MATURITY_REFERENCES_GEN_FILE]
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] CHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_GEN_FILE]
ALTER TABLE [dbo].[REQUIREMENT_REFERENCES] CHECK CONSTRAINT [FK_REQUIREMENT_REFERENCES_GEN_FILE]
ALTER TABLE [dbo].[REQUIREMENT_SOURCE_FILES] CHECK CONSTRAINT [FK_REQUIREMENT_SOURCE_FILES_GEN_FILE]
ALTER TABLE [dbo].[SET_FILES] WITH CHECK CHECK CONSTRAINT [FK_SET_FILES_GEN_FILE]
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] WITH CHECK CHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_UNIVERSAL_SUB_CATEGORIES]
ALTER TABLE [dbo].[NEW_REQUIREMENT] CHECK CONSTRAINT [FK_NEW_REQUIREMENT_STANDARD_CATEGORY]
ALTER TABLE [dbo].[STANDARD_CATEGORY_SEQUENCE] WITH CHECK CHECK CONSTRAINT [FK_STANDARD_CATEGORY_SEQUENCE_STANDARD_CATEGORY]

PRINT(N'Add constraints to [dbo].[SETS]')
ALTER TABLE [dbo].[SETS] WITH CHECK CHECK CONSTRAINT [FK_SETS_Sets_Category]
ALTER TABLE [dbo].[AVAILABLE_STANDARDS] WITH CHECK CHECK CONSTRAINT [FK_AVAILABLE_STANDARDS_SETS]
ALTER TABLE [dbo].[CUSTOM_STANDARD_BASE_STANDARD] CHECK CONSTRAINT [FK_CUSTOM_STANDARD_BASE_STANDARD_SETS]
ALTER TABLE [dbo].[CUSTOM_STANDARD_BASE_STANDARD] CHECK CONSTRAINT [FK_CUSTOM_STANDARD_BASE_STANDARD_SETS1]
ALTER TABLE [dbo].[REPORT_STANDARDS_SELECTION] WITH CHECK CHECK CONSTRAINT [FK_REPORT_STANDARDS_SELECTION_SETS]
ALTER TABLE [dbo].[REQUIREMENT_QUESTIONS_SETS] WITH CHECK CHECK CONSTRAINT [FK_REQUIREMENT_QUESTIONS_SETS_SETS]
ALTER TABLE [dbo].[SECTOR_STANDARD_RECOMMENDATIONS] CHECK CONSTRAINT [FK_SECTOR_STANDARD_RECOMMENDATIONS_SETS]
ALTER TABLE [dbo].[SET_FILES] WITH CHECK CHECK CONSTRAINT [FK_SET_FILES_SETS]
ALTER TABLE [dbo].[STANDARD_CATEGORY_SEQUENCE] CHECK CONSTRAINT [FK_STANDARD_CATEGORY_SEQUENCE_SETS]
ALTER TABLE [dbo].[STANDARD_SOURCE_FILE] CHECK CONSTRAINT [FK_Standard_Source_File_SETS]
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] WITH CHECK CHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_SETS]
ALTER TABLE [dbo].[NEW_REQUIREMENT] WITH CHECK CHECK CONSTRAINT [FK_NEW_REQUIREMENT_QUESTION_GROUP_HEADING]
ALTER TABLE [dbo].[UNIVERSAL_SUB_CATEGORY_HEADINGS] WITH CHECK CHECK CONSTRAINT [FK_UNIVERSAL_SUB_CATEGORY_HEADINGS_QUESTION_GROUP_HEADING]
ALTER TABLE [dbo].[AVAILABLE_MATURITY_MODELS] WITH CHECK CHECK CONSTRAINT [FK__AVAILABLE__model__6F6A7CB2]
ALTER TABLE [dbo].[STANDARD_SOURCE_FILE] CHECK CONSTRAINT [FK_Standard_Source_File_FILE_REF_KEYS]
COMMIT TRANSACTION
GO
