/*
Run this script on:

(localdb)\MSSQLLocalDB.CSETWeb11000    -  This database will be modified

to synchronize it with:

sql19dev1.CSETWeb

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.5.1.18536 from Red Gate Software Ltd at 12/20/2021 1:32:41 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[MATURITY_REFERENCES]')
ALTER TABLE [dbo].[MATURITY_REFERENCES] NOCHECK CONSTRAINT [FK_MATURITY_REFERENCES_GEN_FILE]
ALTER TABLE [dbo].[MATURITY_REFERENCES] NOCHECK CONSTRAINT [FK_MATURITY_REFERENCES_MATURITY_QUESTIONS]

PRINT(N'Drop constraints from [dbo].[GEN_FILE_LIB_PATH_CORL]')
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] NOCHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_GEN_FILE]
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] NOCHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_REF_LIBRARY_PATH]

PRINT(N'Drop constraints from [dbo].[GEN_FILE]')
ALTER TABLE [dbo].[GEN_FILE] NOCHECK CONSTRAINT [FK_GEN_FILE_FILE_REF_KEYS]
ALTER TABLE [dbo].[GEN_FILE] NOCHECK CONSTRAINT [FK_GEN_FILE_FILE_TYPE]

PRINT(N'Drop constraint FILE_KEYWORDS_GEN_FILE_FK from [dbo].[FILE_KEYWORDS]')
ALTER TABLE [dbo].[FILE_KEYWORDS] NOCHECK CONSTRAINT [FILE_KEYWORDS_GEN_FILE_FK]

PRINT(N'Drop constraint FK_MATURITY_SOURCE_FILES_GEN_FILE from [dbo].[MATURITY_SOURCE_FILES]')
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] NOCHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_GEN_FILE]

PRINT(N'Drop constraint FK_REQUIREMENT_REFERENCES_GEN_FILE from [dbo].[REQUIREMENT_REFERENCES]')
ALTER TABLE [dbo].[REQUIREMENT_REFERENCES] NOCHECK CONSTRAINT [FK_REQUIREMENT_REFERENCES_GEN_FILE]

PRINT(N'Drop constraint FK_REQUIREMENT_SOURCE_FILES_GEN_FILE from [dbo].[REQUIREMENT_SOURCE_FILES]')
ALTER TABLE [dbo].[REQUIREMENT_SOURCE_FILES] NOCHECK CONSTRAINT [FK_REQUIREMENT_SOURCE_FILES_GEN_FILE]

PRINT(N'Drop constraint FK_SET_FILES_GEN_FILE from [dbo].[SET_FILES]')
ALTER TABLE [dbo].[SET_FILES] NOCHECK CONSTRAINT [FK_SET_FILES_GEN_FILE]

PRINT(N'Delete rows from [dbo].[MATURITY_REFERENCES]')
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 261 AND [Gen_File_Id] = 3949 AND [Section_Ref] = 'AUD.B.4:'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 262 AND [Gen_File_Id] = 3949 AND [Section_Ref] = 'AUD.B.1:'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 264 AND [Gen_File_Id] = 3949 AND [Section_Ref] = 'AUD.B.8:'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 264 AND [Gen_File_Id] = 3949 AND [Section_Ref] = 'AUD.WP.I.7.1:'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 1838 AND [Gen_File_Id] = 2568 AND [Section_Ref] = 'CA-9'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 3277 AND [Gen_File_Id] = 2568 AND [Section_Ref] = 'SC-44'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 3304 AND [Gen_File_Id] = 3866 AND [Section_Ref] = 'PR. IP-7'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 3366 AND [Gen_File_Id] = 2568 AND [Section_Ref] = 'SI-17'
DELETE FROM [dbo].[MATURITY_REFERENCES] WHERE [Mat_Question_Id] = 3415 AND [Gen_File_Id] = 5015 AND [Section_Ref] = 'Page E-2'
PRINT(N'Operation applied to 9 rows out of 9')

PRINT(N'Add rows to [dbo].[GEN_FILE]')
SET IDENTITY_INSERT [dbo].[GEN_FILE] ON
INSERT INTO [dbo].[GEN_FILE] ([Gen_File_Id], [File_Type_Id], [File_Name], [Title], [Name], [File_Size], [Doc_Num], [Comments], [Description], [Short_Name], [Publish_Date], [Doc_Version], [Summary], [Source_Type], [Data], [Is_Uploaded]) VALUES (6079, 31, 'CMMC_AG_Level1_V2.0_Final_20211210.pdf', 'CMMC Assessment Guide Level 1 Version 2.0 December 2021', NULL, NULL, 'NONE', NULL, NULL, 'CMMC Assessment Guide Level 1 Version 2.0 December 2021', NULL, NULL, NULL, NULL, NULL, 0)
INSERT INTO [dbo].[GEN_FILE] ([Gen_File_Id], [File_Type_Id], [File_Name], [Title], [Name], [File_Size], [Doc_Num], [Comments], [Description], [Short_Name], [Publish_Date], [Doc_Version], [Summary], [Source_Type], [Data], [Is_Uploaded]) VALUES (6080, 31, 'CMMC_AG_Level2_MasterV2.0_FINAL_202112016.pdf', 'CMMC Assessment Guide Level 2 Version 2.0 December 2021', NULL, NULL, 'NONE', NULL, NULL, 'CMMC Assessment Guide Level 2 Version 2.0 December 2021', NULL, NULL, NULL, NULL, NULL, 0)
INSERT INTO [dbo].[GEN_FILE] ([Gen_File_Id], [File_Type_Id], [File_Name], [Title], [Name], [File_Size], [Doc_Num], [Comments], [Description], [Short_Name], [Publish_Date], [Doc_Version], [Summary], [Source_Type], [Data], [Is_Uploaded]) VALUES (6081, 40, 'CMMCModel_V2_Mapping.xlsx', 'CMMC Mapping Version 2.0 December 2021', NULL, NULL, 'NONE', NULL, NULL, 'CMMC Mapping Version 2.0 December 2021', NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[GEN_FILE] OFF
PRINT(N'Operation applied to 7 rows out of 7')

PRINT(N'Add rows to [dbo].[GEN_FILE_LIB_PATH_CORL]')
INSERT INTO [dbo].[GEN_FILE_LIB_PATH_CORL] ([Gen_File_Id], [Lib_Path_Id]) VALUES (3953, 495)
INSERT INTO [dbo].[GEN_FILE_LIB_PATH_CORL] ([Gen_File_Id], [Lib_Path_Id]) VALUES (3957, 495)
INSERT INTO [dbo].[GEN_FILE_LIB_PATH_CORL] ([Gen_File_Id], [Lib_Path_Id]) VALUES (4988, 569)
PRINT(N'Operation applied to 23 rows out of 23')

PRINT(N'Add rows to [dbo].[MATURITY_REFERENCES]')
INSERT INTO [dbo].[MATURITY_REFERENCES] ([Mat_Question_Id], [Gen_File_Id], [Section_Ref], [Page_Number], [Destination_String]) VALUES (3304, 3866, 'PR.IP-7', NULL, NULL)
INSERT INTO [dbo].[MATURITY_REFERENCES] ([Mat_Question_Id], [Gen_File_Id], [Section_Ref], [Page_Number], [Destination_String]) VALUES (3415, 5015, '', NULL, NULL)
INSERT INTO [dbo].[MATURITY_REFERENCES] ([Mat_Question_Id], [Gen_File_Id], [Section_Ref], [Page_Number], [Destination_String]) VALUES (4785, 6079, '', NULL, NULL)
PRINT(N'Operation applied to 772 rows out of 772')

PRINT(N'Add constraints to [dbo].[MATURITY_REFERENCES]')
ALTER TABLE [dbo].[MATURITY_REFERENCES] CHECK CONSTRAINT [FK_MATURITY_REFERENCES_GEN_FILE]
ALTER TABLE [dbo].[MATURITY_REFERENCES] CHECK CONSTRAINT [FK_MATURITY_REFERENCES_MATURITY_QUESTIONS]

PRINT(N'Add constraints to [dbo].[GEN_FILE_LIB_PATH_CORL]')
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] CHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_GEN_FILE]
ALTER TABLE [dbo].[GEN_FILE_LIB_PATH_CORL] CHECK CONSTRAINT [FK_GEN_FILE_LIB_PATH_CORL_REF_LIBRARY_PATH]

PRINT(N'Add constraints to [dbo].[GEN_FILE]')
ALTER TABLE [dbo].[GEN_FILE] WITH CHECK CHECK CONSTRAINT [FK_GEN_FILE_FILE_REF_KEYS]
ALTER TABLE [dbo].[GEN_FILE] WITH CHECK CHECK CONSTRAINT [FK_GEN_FILE_FILE_TYPE]
ALTER TABLE [dbo].[FILE_KEYWORDS] CHECK CONSTRAINT [FILE_KEYWORDS_GEN_FILE_FK]
ALTER TABLE [dbo].[MATURITY_SOURCE_FILES] CHECK CONSTRAINT [FK_MATURITY_SOURCE_FILES_GEN_FILE]
ALTER TABLE [dbo].[REQUIREMENT_REFERENCES] CHECK CONSTRAINT [FK_REQUIREMENT_REFERENCES_GEN_FILE]
ALTER TABLE [dbo].[REQUIREMENT_SOURCE_FILES] CHECK CONSTRAINT [FK_REQUIREMENT_SOURCE_FILES_GEN_FILE]
ALTER TABLE [dbo].[SET_FILES] WITH CHECK CHECK CONSTRAINT [FK_SET_FILES_GEN_FILE]
COMMIT TRANSACTION
GO
