<!---------------------- 

   Copyright 2025 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="d-flex flex-column justify-content-center flex-11a" *transloco="let t">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="cset-icons-books-stack-1 fs-base-6 me-3"></span>
    <span *ngIf="level == 'assessment'">{{t('menu.tools.assessment documents')}}</span>
    <span *ngIf="level == 'shared'">{{t('menu.tools.shared documents')}}</span>
  </div>

  <mat-dialog-content class="p-3 pb-0 mt-2 oy-auto d-flex flex-column flex-11a">
    <div>
      <div *ngIf="documents === null" class="spinner-container" style="margin: .5em auto">
        <div style="max-width: 30px; max-height: 30px;"></div>
      </div>

      <div *ngIf="documents?.length === 0" class="d-flex flex-11a">
        {{t('menu.tools.has no documents')}}
      </div>

      <div *ngIf="documents?.length > 0">
        <div class="mx-2 mt-3 mb-4">
          <p *ngIf="level == 'shared'">
            {{t('menu.tools.assessment documents shared')}}
          </p>
          <p *ngIf="level == 'assessment'">
            {{t('menu.tools.assessment documents local')}}
          </p>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th style="width: 50%;">{{t('extras.artifact title')}}</th>
              <th style="width: 40%;">{{t('extras.file name')}}</th>
              <th style="width: 5%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of documents">
              <td>
                <div>
                  <label>{{doc.title}}</label>
                </div>
              </td>
              <td>
                <div>{{doc.fileName}}</div>
              </td>
              <td>
                <div class="d-flex flex-row">
                  <button (click)="download(doc)"
                    class="fs-base-6 cset-icons-export-up icon-color cursor-pointer bg-transparent me-2"
                    [matTooltip]="t('tooltip.copy document')"></button>

                  <svg *ngIf="doc.isShared && level == 'assessment'" class="icon-color"
                    [matTooltip]="t('tooltip.shared document icon')" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10" />
                    <path
                      d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z" />
                    <path d="M2 12h20" />
                  </svg>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 mb-0 mt-3">
    <button class="btn btn-primary" (click)="close()">{{t('buttons.ok')}}</button>
  </mat-dialog-actions>
</div>