.mat-card-margin-10 {
    margin: 10px;
    float: left;
    width: 99%;
  }
  .mat-row:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .table-container {
    position: relative;
    height: 350px;
    max-height: 350px;
    overflow: auto;
  }