<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<!-- <div class="d-flex flex-11a"> -->
<div class="p-0 d-flex flex-column justify-content-start flex-11a">
    <!-- <p>{{this.authSvc.userToken()}}</p> -->
    <div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">

        <div *ngIf="browserIsIE" class="alert alert-danger text-left">
            Internet Explorer has been detected as your current browser.
            Some functionality of CSET is not fully supported by Internet Explorer.
            Using another browser such as Chrome, Firefox or Edge is strongly recommended to improve
            your experience.
        </div>

        <ng-container *ngIf="sortedAssessments?.length > 0; else noAssessmentsElseBlock">
            <h3 class="mt-0" *ngIf="sortedAssessments?.length > 0">My Assessments</h3>
            <div class="mt-3 mb-4 d-flex flex-column justify-content-between flex-00a">
                <div class="d-flex justify-content-between flex-00a">
                    <button class="m-0 btn btn-primary d-flex align-items-center flex-00a"
                        (click)="this.assessSvc.newAssessment()" matTooltip="Start a new and empty assessment.">
                        <span class="mr-2 fs-base cset-icons-document"></span>
                        <span>New Assessment</span>
                    </button>
                    <div class="d-flex flex-row">
                        <label *ngIf="authSvc.isLocal" tabindex="0"
                            class="m-0 c-gray-900 btn btn-secondary d-flex align-items-center flex-00a"
                            matTooltip="Import an assessment from an external {{appCode}} file. ({{ importExtensions }})">
                            <span class="mr-2 fs-base cset-icons-import"></span>
                            <label for="importFile" class="m-0">Import</label>
                            <input type="file" tabindex="0" class="display-none" id="importFile" multiple
                                accept="{{ importExtensions }},.cset" (change)="importAssessmentFile($event)">
                        </label>
                        <label *ngIf="!authSvc.isLocal" class="m-0 btn btn-secondary d-flex align-items-center flex-00a"
                            matTooltip="Import an assessment from an external {{appCode}} file. ({{ importExtensions }})">
                            <span class="mr-2 fs-base cset-icons-import"></span>
                            <label for="importFile" class="m-0">Import</label>
                            <input type="file" tabindex="0" class="display-none" id="importFile" multiple
                                accept="{{ importExtensions }}" (change)="importAssessmentFile($event)">
                        </label>

                        <label *ngIf="configSvc.acetInstallation" class="m-0 ml-2 btn btn-secondary d-flex align-items-center flex-00a"
                            matTooltip="Export all assessments to Excel" (click)="exportToExcelAllAcet()" tabindex="0">
                            <span class="cset-icons-export-excel fs-base mr-2"></span>
                            <label for="importFile" class="m-0">Export All to Excel</label>
                        </label>
                    </div>
                </div>
                <div *ngIf="unsupportedImportFile"
                    class="alert-danger mt-4 mb-4 d-flex flex-row justify-content-center align-items-center flex-00a">
                    <span class="p-2 fs-large cset-icons-exclamation-triangle"></span>
                    <div class="p-2 d-flex flex-column justify-content-center flex-01a">
                        <span class="fs-base-3">Error: Unsupported file. Only CSET Web files can be
                            imported for enterprise installations.</span>
                        <span class="fs-base-1"><a href="{{this.configSvc.docUrl}}htmlhelp/importing_a__cset_file.htm"
                                target="_blank" tabindex="0" rel="noopener noreferrer">For more information, see the
                                import section
                                of the user
                                guide</a></span>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #noAssessmentsElseBlock>
            <h2 class="mt-0" *ngIf="sortedAssessments?.length == 0">Welcome to {{appCode}}</h2>
            <p>To get started, select from one of the options below:</p>
            <div class="mt-3 mb-4 flex-column d-flex justify-content-between flex-11a">
                <div class="flex-row d-flex flex-00a">
                    <div class="d-flex flex-wrap justify-content-between flex-11a">
                        <button
                            class="m-0 p-3 mr-sm-2 mr-md-3 mr-lg-4 btn btn-primary d-flex align-items-center flex-11a lp-btn-mw-lg"
                            (click)="this.assessSvc.newAssessment()" matTooltip="Start a new and empty assessment.">
                            <span *ngIf="!configSvc.acetInstallation"
                                class="mr-3 landing-icon landing-icon-sm cset-icons-cset-lock"></span>
                            <span *ngIf="configSvc.acetInstallation"
                                class="mr-3 landing-icon landing-icon-sm cset2-icons-acet-shield"></span>
                            <span class="landing-button-text landing-button-text-sm">Start a New Assessment</span>
                        </button>
                        <!-- <hr class="landing my-4"> -->
                        <label *ngIf="authSvc.isLocal"
                            class="mt-3 mt-sm-3 mt-md-0 p-3 c-gray-900 btn btn-secondary d-flex align-items-center flex-11a lp-btn-mw-lg"
                            matTooltip="Import an assessment from an external {{appCode}} file. ({{ importExtensions }})">
                            <span class="mr-3 landing-icon landing-icon-sm cset-icons-import"></span>
                            <label for="importFile" class="m-0 landing-button-text landing-button-text-sm">
                                Import an Existing Assessment
                            </label>
                            <input type="file" class="display-none" id="importFile" multiple
                                accept="{{ importExtensions }},.cset" (change)="importAssessmentFile($event)">
                        </label>
                        <label *ngIf="!authSvc.isLocal"
                            class="p-3 m-0 mt-3 mt-sm-0 c-gray-900 btn btn-secondary d-flex align-items-center flex-11a lp-btn-mw-lg"
                            matTooltip="Import an assessment from an external {{appCode}} file. ({{ importExtensions }})">
                            <span class="mr-3 landing-icon landing-icon-sm cset-icons-import"></span>
                            <label for="importFile" class="m-0 landing-button-text landing-button-text-sm">
                                Import an Existing Assessment
                            </label>
                            <input type="file" class="display-none" id="importFile" multiple
                                accept="{{ importExtensions }}" (change)="importAssessmentFile($event)">
                        </label>
                    </div>
                </div>
                <div *ngIf="unsupportedImportFile"
                    class="alert-danger my-4 d-flex flex-row justify-content-center align-items-center flex-11a">
                    <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
                    <div class="p-md-3 p-2 d-flex flex-column justify-content-center flex-01a">
                        <span class="fs-base-3">Error: Unsupported file. Only CSET Web files can be
                            imported for enterprise installations.</span>
                        <span class="fs-base-1 mt-2"><a
                                href="{{this.configSvc.docUrl}}htmlhelp/importing_a__cset_file.htm" target="_blank"
                                rel="noopener noreferrer">For
                                more information, see the import section of the user guide</a></span>
                    </div>
                </div>
            </div>
            <p class="mt-3 fst-italic">
                <app-cset-origin *ngIf="!configSvc.acetInstallation"></app-cset-origin>
                <app-acet-origin *ngIf="configSvc.acetInstallation"></app-acet-origin>
            </p>
        </ng-template>
    </div>

    <div *ngIf="sortedAssessments == null">
        <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
            <div class="spinner-size-50"></div>
        </div>
    </div>

    <div *ngIf="sortedAssessments?.length > 0" class="px-4 mb-4 d-flex flex-column flex-11a oy-auto h-0 ">


        <table role="presentation" aria-label="assessments" mat-table matSort (matSortChange)="sortData($event)"
            class="assessment-summary" style="overflow-x:auto">
            <th aria-label="assessment name" mat-sort-header="assessment">Assessment Name</th>
            <th aria-label="date" mat-sort-header="date" style="width:15%;">Last Modified</th>
            <th aria-label="assessor" mat-sort-header="assessor" style="width:20%;">Primary Assessor</th>
            <th aria-label="status" mat-sort-header="status" style="width:20%;">Status</th>
            <th aria-label="delete assessment" style="width:5%; min-width:25px;"></th>
            <th aria-label="export assessment" style="width:5%;"></th>
            <tr *ngFor="let assessment of sortedAssessments; let i = index">
                <td>
                    <button tabindex="0"
                        class="btn btn-link btn-link-dark d-flex justify-content-start align-items-start flex-00a wrap-text text-left"
                        (click)="this.assessSvc.loadAssessment(assessment.AssessmentId)">
                        {{assessment.AssessmentName}}
                    </button>
                </td>
                <td>{{assessment.LastModifiedDate | date:'dd-MMM-yyyy'}}</td>
                <td>{{assessment.CreatorName}}</td>
                <td><span *ngIf="assessment.MarkedForReview || assessment.AltTextMissing" class=""
                        matTooltip="This assessment contains answers that require further review.">Needs
                        Review</span></td>
                <td>
                    <button tabindex="0"
                        class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
                        (click)="removeAssessment(assessment, i)" matTooltip="Permanently remove this assessment.">
                        <span class="cset-icons-trash-x fs-base-2 mr-2"></span>
                        <span class="icon-link-button-text-dark">Remove</span>
                    </button>
                </td>
                <td>
                    <button tabindex="0"
                        class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
                        (click)="clickDownloadLink(assessment.AssessmentId)"
                        matTooltip="Export a copy of this assessment to another location ({{ exportExtension }}).">
                        <span class="cset-icons-export-up fs-base-2 mr-2"></span>
                        <span class="icon-link-button-text-dark">Export</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- <div *ngIf="sortedAssessments?.length == 0" class="mt-3 mb-4">
        <p>There are no assessments available.</p>
    </div> -->
</div>
<!-- </div> -->