<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppender" />
    </root>

    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="C:\src\repos\cset\cset\LogFiles\CSET-API" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <param name="DatePattern" value="-yyyy-MM-dd.'log'" />
        <rollingStyle value="Date" />
        <maxSizeRollBackups value="5" />
        <maxSizeRollBackkups value="10" />
        <param name="StaticLogFileName" value="false" />

        <filter type="log4net.Filter.LevelRangeFilter">
            <acceptOnMatch value="true" />
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
        </filter>
             
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
    </appender>
    
</log4net>