<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CSETWebEntities" connectionString="metadata=res://*/WebDataModel.csdl|res://*/WebDataModel.ssdl|res://*/WebDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=CSETWeb;persist security info=True;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ElmahConn" connectionString="data source=(localdb)\v11.0;initial catalog=CSETWeb;persist security info=True;Trusted_Connection=True;MultipleActiveResultSets=True;App=Elmah" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HangfireConn"    connectionString="data source=(localdb)\v11.0;initial catalog=CSETWeb;persist security info=True;Trusted_Connection=True;MultipleActiveResultSets=True;App=HangFire" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>