::ng-deep .alert {
    text-align: left !important;
}

::ng-deep .alert-light{
    border-color:#ccc !important;
}

.sticky-description {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  z-index: 999;
  top: 0;
}
