<div class="sticky-sal pt-3 pb-2" style="top: -1px; margin-left: -1rem; padding-left: 1rem;">
  <h4 class="mb-3">{{title}}</h4>
  <div class="alert alert-dark" role="alert" *ngIf="grouping.description?.length > 0" [innerHTML]="grouping.description"></div>
</div>

<div *ngFor="let g of grouping.groupings" class="pl-3 mb-4">
    <app-grouping-block-nested [grouping]="g"></app-grouping-block-nested>
</div>
<div>
  <app-question-block-nested #questionBlock [grouping]="grouping">
  </app-question-block-nested>
</div>