<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel tutorial">
    <h2>Engineering Lifecycle Phase and CIE Principle Cross Reference Matrix</h2>
    <p>
        Tables below organize the CIE controls and mitigations identified below according 
        to either the related principles or the engineering lifecycle phase of implementation. 
        In the first table, each action, abbreviated from the description below, identifies a 
        primary CIE Principle and secondary related principles. For example, the CIE control 
        or mitigations associated primarily with Principle 3: Secure Information Architecture 
        are also associated with Principle 1: Consequence-Focused Design and Principle 6: Active Defense. 
        The second table presents CIE controls and mitigations mapped to the engineering lifecycle phase 
        that they are first associated with. The examples associated with Principle 6: Active Defense, 
        are first associated with Testing, Verification, Validation, and Deployment (TVVD)/Construction and Commissioning.
    </p>
    <img src="assets/images/CIE/11_ExamplesByPrinciple_p162.svg" alt="Examples By Principle">
    <img src="assets/images/CIE/12_PrinciplesByLifecyclePhase_p165.svg" alt="Principles By Lifecycle Phase">

    <app-nav-back-next [page]="'cie-analysis-matrix'"></app-nav-back-next>
</div>