<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="flex flex-col justify-center flex-11a" *transloco="let t">
  <div class="mat-dialog-header p-3 flex justify-start items-center flex-00a">
    <span class="cset-icons-key-shield fs-base-6 me-3"></span>
    <span>{{ t('protected features.protected features') }}</span>
  </div>
  <mat-dialog-content class="pb-0 p-3 oy-auto flex flex-col flex-11a">
    <table class="mt-2 mb-4 mx-2" *ngIf="modulesList?.length > 0">
      <tr>
        <th style="width: 25%">{{ t('protected features.module name') }}</th>
        <th style="width: 75%">{{ t('protected features.module full name') }}</th>
      </tr>
      <tr *ngFor="let module of modulesList">
        <td>{{ module.shortName }}</td>
        <td>{{ module.fullName }}</td>
        <td></td>
      </tr>
    </table>

    <div *ngIf="!modulesList || modulesList.length === 0">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>

    <button class="m-0 mx-3 btn btn-primary" (click)="enableModules()" *ngIf="anyModulesLocked()">
      {{ t('protected features.enable modules') }}
    </button>

    <div class="m-0 mx-3 alert alert-success" *ngIf="allModulesUnlocked()">
      All Modules are Enabled
      <div class="mx-3 mt-2" *ngIf="message && message.message.length > 0">{{ message.message }}</div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions class="p-3 pt-0 mb-0 mt-2">
    <button class="btn btn-secondary" (click)="close()">{{ t('buttons.close') }}</button>
  </mat-dialog-actions>
</div>