<table mat-table matSort class="assessment-summary" style='overflow:auto'>
    <th mat-sort-header="tag" style="width:200px">Label</th>
    <th mat-sort-header="hasUniqueQuestions">Has Unique Questions</th>
    <th mat-sort-header="sal">Sal</th>
    <th mat-sort-header="criticality" >Criticality</th>
    <th mat-sort-header="ipAddress">IP Address</th>
    <th mat-sort-header="assetType">Asset Type</th>
    <th mat-sort-header="zone">Zone</th>
    <th mat-sort-header="subnetNames">Subnet Name(s)</th>
    <th mat-sort-header="descriptions">Description</th> 
    <th mat-sort-header="hostName">Host Name</th>
    <th mat-sort-header="visible">Visible</th>

    <tr *ngFor="let component of components; let i = index">
        <td>
            <input type="input" class="form-control mt-2" name="componentLabel" 
             [(ngModel)]="component.labelField" (change)="submit(component)" />
                
        </td>
        <td><input type="checkbox" name="{{ component.label }}" class="mt-1" [(ngModel)]="component.hasUniqueQuestionsField" (change)="submit(component)"
          [checked]="component.hasUniqueQuestionsField" > </td>
        <td>{{component.salField}}</td>
        <td> <select [(ngModel)]="component.criticalityField" class="form-control override-select"
          (change)="submit(component);">
            <option [ngValue]="'Low'">Low</option>
            <option [ngValue]="'Moderate'">Moderate</option>
            <option [ngValue]="'High'">High</option>
          </select></td>
        <td>{{component.ipAddressField}}</td>
        <td>{{component.assetTypeField}}</td>
        <td>{{component.zoneLabelField}}</td>
        <td>{{component.subnetNames}}</td>
        <td>{{component.descriptionField}}</td>
        <td>{{component.hostNameField}}</td>
        <td>
            <input type="checkbox" class="mt-1" [disabled]='true'
            [checked]="component.visible"> 
        </td>
    </tr>
</table>