<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="bgc-page d-flex flex-column flex-11a w-100">
  <div class="container-fluid no-gutters d-flex flex-column justify-content-start flex-11a w-100" id="cset-app">
    <div class="sticky-navbar">
      <div class="row no-gutters local-install mt-0 pl-0 d-flex justify-content-center align-items-center flex-00a"
        *ngIf="auth.isLocal && devMode">
        <span class="col-sm-12">Local Installation</span>
      </div>

      <!-- Navbar -->
      <nav class="row px-4 no-gutters navbar cset-header navbar-expand-md"
        *ngIf="layoutSvc.isNavHeaderShown(this.router.url)">
        <!-- Brand (BASE) -->
        <span
          [ngClass]="{'btn btn-link navbar-brand': this.router.url!='/resource-library', 'navbar-brand-override-bandaid': (this.router.url == '/resource-library' || isModuleBuilder(this.router.url)) }"
          (click)="this.router.url!='/resource-library' && goHome()">
          <!-- CSET Lock Logo -->
          <div class="d-flex justify-content-start align-items-end flex-00a">
            <app-logo-cset mode="white" /> <span class="mx-2 text-white"
              style="line-height: normal; margin-bottom: -.3rem">Renewables</span>
          </div>
        </span>

        <!-- Navbar Toggler Button (only renders when screen is narrow enough) -->
        <button mat-button class="navbar-menu-header navbar-toggler c-gray-150 ml-auto" [matMenuTriggerFor]="topMenus" #topMenusTrigger="matMenuTrigger"
          *ngIf="auth.userToken() && auth.userToken() !== 'null'" tabindex="0">
          <span class="navbar-toggler-icon fs-base-5 c-gray-150"></span>
        </button>

        <!-- Menus contained in the navbar-toggler submenu -->
        <mat-menu #topMenus="matMenu" class="menu-panel px-3 py-2">
            <app-top-menus (click)="$event.stopPropagation()"></app-top-menus>
        </mat-menu>

        <!-- Menus on full size navbar (collapses when screen width gets narrow) -->
        <app-top-menus class="mt-1 collapse navbar-collapse"></app-top-menus>
      </nav>
    </div>

    <!-- Body -->
    <div class="row no-gutters d-flex flex-nowrap justify-content-between flex-11a w-100">
      <div class="p-0 d-flex col-xl-12 bgc-gray-50">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <div ngbAccordion type="primary" class="footer row no-gutters sticky-footer"
      *ngIf="layoutSvc.isFooterShown(this.router.url)">
      <div ngbAccordionItem id="footerPanel" [collapsed]="footerClosed">
        <h4 ngbAccordionHeader>

            <button ngbAccordionButton id="footerExpanderButton" class="cset-footer-expand-button" (click)="isFooterOpen()"
              [ngClass]="{'cset-icons-chevron-down flex-11a': !footerClosed, 'cset-icons-chevron-up flex-00a': footerClosed}"></button>
        </h4>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="footer-section-2 p-2">
                <div class="d-flex flex-row flex-wrap justify-content-center flex-11a">
                  <ng-container *ngIf="isRunningAnonymous()">
                    <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                      (click)="showDisclaimer()">INL
                      Privacy & Accessibility</a>
                    <span class="mr-2 ml-2">|</span>
                    <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                      href=" https://doe.responsibledisclosure.com/hc/en-us">Vulnerability Disclosure Program</a>
                    <span class="mr-2 ml-2">|</span>
                  </ng-container>
                  <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                    href="http://www.us-cert.gov/tlp/">Traffic Light Protocol</a>
                  <span class="mr-2 ml-2">|</span>
                  <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                    href="https://www.cisa.gov/topics/industrial-control-systems">FAQ</a>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-center flex-11a">
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
