<div class="d-flex flex-column justify-content-center flex-11a h-100 w-100">
    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
      <span class="fs-base-6 mr-3"><i class="fa-solid fa-file"></i></span>
      <span>{{data.title}}</span>
    </div>
    <mat-dialog-content class="pb-0 p-3 pr-0 oy-auto d-flex flex-column flex-11a h-100">
       {{ data.description }}
    </mat-dialog-content>
    <mat-dialog-actions class="p-3 pt-0 mb-0" align="end">
      <button class="btn btn-danger" (click)="close()" style="margin-right:5px;"><i class="fa-solid fa-xmark"></i></button>
      <button class="btn btn-primary" (click)="close()"><i class="fa-solid fa-play"></i></button>
    </mat-dialog-actions>
  </div>
