<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="p-0 d-flex flex-column justify-content-start flex-11a">
    <div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">

        <!-- Logo and Name -->
        <div *ngIf="skin === 'CSET'" class="my-4 d-flex align-items-end flex-00a flex-nowrap">
            <app-logo-cset logoHeight="60"></app-logo-cset>
            <span class="align-bottom ml-3 font-italic"
                style="font-size: 37px; margin-bottom: -.5rem; color: #666">Online</span>
        </div>

        <div *ngIf="skin === 'TSA'" class="d-flex align-items-end flex-00a">
            <app-logo-tsa mode="white" logoHeight="60"></app-logo-tsa>
            <span class="align-bottom ml-3 font-italic"
                style="font-size: 30px; margin-top: 8px; color: #666">Online</span>
        </div>


        <div class="anonymous-panel">
            <div class="p-3 my-3 c-white bgc-primary">
                <em>{{ title1[skin] }}</em> is anonymous. Your email address is not associated with your asessments
                in any way. To use <em>{{ title1[skin] }}</em> you will need
                to generate an Access Key that you will use in the future to access
                your assessments.
            </div>

            <div class="mb-3 d-flex flex-row">
                <div class="mr-3 container">
                    <label>
                        If you have used <em>{{ title1[skin] }}</em> before and already have an Access Key, enter it
                        here and
                        click Login.
                    </label>
                    <div class="input-group mb-2">
                        <input class="form-control mr-2" [(ngModel)]="loginAccessKey" (keyup.enter)="login()"
                            placeholder="Enter Access Key">
                        <button (click)="login()" class="input-group-append btn btn-primary mt-0">Login</button>
                    </div>
                    <div *ngIf="loginAccessKeyFailed" class="alert alert-danger">
                        Login failed. Check your key and try again.
                    </div>
                </div>

                <div class="container">
                    <label class="mr-3">
                        If it is your first time using <em>{{ title1[skin] }}</em> click this button to generate a new
                        Access
                        Key.
                    </label>

                    <div class="d-flex flex-row">
                        <button class="btn btn-primary" (click)="generateKey()" [disabled]="isKeyGenerated">Create
                            Access Key</button>

                        <div class="spinner-container" *ngIf="isGenerating">
                            <div style="max-width: 30px; max-height: 30px;"></div>
                        </div>
                    </div>


                    <div *ngIf="isKeyGenerated" class="mt-3 alert alert-success mb-3">
                        <p style="font-size: 1.3rem">
                            Your Access Key is <strong>{{generatedKey}}</strong>
                            <label class="btn form-check-label btn-copy" style="text-align: right; font-weight: normal; font-size: 14px;
                                flex-direction: column; line-height: 150%;" title="Copy to Clipboard"
                                [cdkCopyToClipboard]="generatedKey">
                                <span class="cset-icons-copy"></span>
                            </label>
                        </p>
                        <p>
                            You must retain this Access Key in order to access any assessments you create.
                            Treat this key like a password. Anyone you share it with will have access to the
                            assessments
                            created with this Access Key. <strong>If you lose this Access Key you will lose
                                access to any assessments you create with it.</strong>
                        </p>
                        <p>
                            <button class="btn btn-primary" (click)="login()">Enter {{ title2[skin]
                                }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <hr class="my-3">

            <div class="pii-disclaimer">
                <p>
                    <strong>Attention:</strong> Do not enter any personal or sensitive information into <em>{{
                        title1[skin]
                        }}</em>.
                </p>
                <p>
                    This includes information about a natural person or entity that is readily identifiable to that
                    specific individual/entity. Personal information includes such things as company names,
                    individual names, addresses, emails and phone numbers.
                </p>
                <p class="red-text">
                    If you choose to provide personal or sensitive information in any field within <em>{{ title1[skin]
                        }}</em>,
                    that information will be stored in <em>{{ title2[skin] }}</em> and will be publicly disclosed.
                </p>
            </div>
        </div>
    </div>
</div>