<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->

<div mat-dialog-title class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span style="color: white;" class="mr-2 cset-icons-export-excel"></span>
    <span style="color: white;">Excel Export</span>
</div>
<mat-dialog-content>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 m-4">
                    <p>This tool allows you to export either your ACET or ISE assessments into an excel file to view the
                        raw data.</p>
                    <p>This data is for simple analysis and cannot be reimported into this system.</p>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="pl-4 p-1" style="margin-bottom:15px;">
    <button class="btn btn-secondary mr-4" (click)="close()">Cancel</button>

    <button [matTooltip]="getAcetTooltip()" class="btn btn-primary mr-1" [disabled]="this.acetCount == 0"
        (click)="exportAcetToExcel()">Export ACET Assessments</button>

    <button [matTooltip]="getIseTooltip()" class="btn btn-primary" [disabled]="this.iseCount == 0"
        (click)="exportIseToExcel()">Export ISE Assessments</button>

</mat-dialog-actions>