<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
  <span class="mr-3 fs-base-6 cset-icons-light-bulb"></span>
  <h2 style="color: white;">Issues</h2>
</div>

<mat-dialog-content>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="title" class="form-label font-weight-bold">Title</label>
      <input id="title" type="text" autocomplete="off" class="form-control" [disabled]="true" [(ngModel)]="finding.title">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="issueType" class="form-label font-weight-bold">Issue Type</label>
      <select name="issueType" id="issueType" class="form-control" [(ngModel)]="finding.type">
        <option value="finding">Examiner Finding</option>
        <option value="dor">DOR</option>
        <option value="fact">Supplemental Fact</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="description" class="form-label font-weight-bold">Description</label>
      <textarea id="description" type="text" autocomplete="off" class="form-control" [(ngModel)]="finding.description"></textarea>
    </div>
  </div>
</div>
<ng-container *ngIf="finding.type === 'fact'">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="suppGuide" class="form-label font-weight-bold">Supplemental Guidance</label>
        <textarea id="suppGuide" type="text" autocomplete="off" class="form-control">{{ this.suppGuidance }}</textarea>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="finding.type !== 'fact'">
  <div class="mt-2 invalid-feedback d-block text-muted">
    <p>Items marked in red indicate a higher level of risk</p>
  </div>
  <div class="row">
    <div class="col-12">
      <table role="presentation" aria-label="childAnswers" style="width: 100%; border: 1px solid black; border-collapse: collapse">
        <colgroup>
          <col span="1" style="width: 10%;">
          <col span="1" style="width: 30%;">
          <col span="1" style="width: 10%;">
          <col span="1" style="width: 40%;">
        </colgroup>
        <tr style="border: 1px solid black; border-collapse: collapse">
          <th style="text-align: center;">Sub Statement</th>
          <th style="text-align: center;">Statement Text</th>
          <th style="text-align: center;">Response</th>
          <th style="text-align: center;">Action Items</th>
        </tr>
        <ng-container *ngFor="let q of this.questionData; let i = index;">
          <tr *ngIf="q.answer_Text !== 'U'">
            <td [ngStyle]="{'color': (q.ranking === 1 && q.answer_Text === 'N') ? 'red' : 'black'}" style="text-align: center;">{{ q.question_Title }}</td>
            <td class="left-table-cell" [ngStyle]="{'color': (q.ranking === 1 && q.answer_Text === 'N') ? 'red' : 'black'}">{{ q.question_Text }}</td>
            <td [ngStyle]="{'color': (q.ranking === 1 && q.answer_Text === 'N') ? 'red' : 'black'}" style="text-align: center;">{{ q.answer_Text }}</td>
            <td>
              <textarea name="actionItems" id="actionItems" cols="100" [ngStyle]="{'color': (q.ranking === 1 && q.answer_Text === 'N') ? 'red' : 'black'}">Strengthen the security program policies to include critical controls, activities, requirements, and expectations the credit union intends to perform, monitor, manage, and report.
              </textarea>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <label for="regulatoryCitation" class="form-label font-weight-bold">Regulatory Citation</label>
      <input id="regulatoryCitation" type="text" autocomplete="off" class="form-control" [disabled]="true" value="{{ this.regCitation }}">
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="additionalCitations" class="form-label font-weight-bold">Additional Citations</label>
        <input id="additionalCitations" type="text" autocomplete="off" class="form-control" [(ngModel)]="finding.citations">
      </div>
    </div>
  </div>
  <br>
</ng-container>

<!--<p style="margin-top: 1em; font-size: 12px; color: gray">The examiner finding section is for extra information that needs to be gathered and tracked for specific
  questions in the assessment.</p>-->

</mat-dialog-content>

<mat-dialog-actions class="p-3 mb-0" align="end">
  <button mat-button class="btn btn-primary" (click)="update()">Done</button>
</mat-dialog-actions>