<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-light-bulb"></span>
    <span>Examiner Findings</span>
  </div>

  <div class="container">
    <mat-dialog-content class="py-3">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input id="title" type="text" autocomplete="off" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="issueType" class="form-label">Issue Type</label>
            <select name="issueType" id="issueType" class="form-control">
              <option value="finding">Examiner Finding</option>
              <option value="dor">DOR</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" type="text" autocomplete="off" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
        <!-- Main Risk Area Selection -->
          <div class="form-group">
            <label for="risk-area" class="form-label">Risk Area</label>
            <select name="riskarea" id="riskarea" class="form-control" (change)="updateRiskArea($event)">
              <option *ngFor="let area of riskAreas" [value]="area">
                {{ area }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
        <!-- Strategic Sub Risk Selection -->
          <ng-container *ngIf="this.selectedRiskArea === 'Strategic' || this.selectedRiskArea === ''">
            <div class="form-group">
              <label for="strategic-sub-risk" class="form-label">Strategic Sub Risk Area</label>
              <select name="strategicSubRisk" id="strategicSubRisk" class="form-control" (change)="updateSubRisk($event)">
                <option *ngFor="let subRisk of strategicSubRisks" [value]="subRisk">
                  {{ subRisk }}
                </option>
              </select>
            </div>
          </ng-container>
        <!-- Compliance Sub Risk Selection -->
          <ng-container *ngIf="this.selectedRiskArea === 'Compliance'">
            <div class="form-group">
              <label for="compliance-sub-risk" class="form-label">Compliance Sub Risk Area</label>
              <select name="complianceSubRisk" id="complianceSubRisk" class="form-control" (change)="updateSubRisk($event)">
                <option *ngFor="let subRisk of complianceSubRisks" [value]="subRisk">
                  {{ subRisk }}
                </option>
              </select>
            </div>
          </ng-container>
        <!-- Transaction Sub Risk Selection -->
          <ng-container *ngIf="this.selectedRiskArea === 'Transaction'">
            <div class="form-group">
              <label for="transaction-sub-risk" class="form-label">Transaction Sub Risk Area</label>
              <select name="transactionSubRisk" id="transactionSubRisk" class="form-control" (change)="updateSubRisk($event)">
                <option *ngFor="let subRisk of transactionSubRisks" [value]="subRisk">
                  {{ subRisk }}
                </option>
              </select>
            </div>
          </ng-container>
        <!-- Reputation Sub Risk Selection -->
          <ng-container *ngIf="this.selectedRiskArea === 'Reputation'">
            <div class="form-group">
              <label for="reputation-sub-risk" class="form-label">Reputation Sub Risk Area</label>
              <select name="reputationSubRisk" id="reputationSubRisk" class="form-control" (change)="updateSubRisk($event)">
                <option *ngFor="let subRisk of reputationSubRisks" [value]="subRisk">
                  {{ subRisk }}
                </option>
              </select>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="disposition" class="form-label">Disposition</label>
            <select name="disposition" id="disposition" class="form-control">
              <option value="reportable">Reportable</option>
              <option value="option2">Option 2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="dateFound" class="form-label">Identified On</label>
            <input matInput MatDatepickerInput class="form-control" id="dateFound" name="dateFound"
              [matDatepicker]="identifiedPicker" (focus)="identifiedPicker.open()" (click)="identifiedPicker.open()"
              (change)="update()">
            <mat-datepicker #identifiedPicker></mat-datepicker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="dueDate" class="form-label">Due Date</label>
            <input matInput MatDatepickerInput class="form-control" id="dueDate" name="dueDate"
              [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()"
              (change)="update()">
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <div class="row">
      <div class="col-6">
        <mat-dialog-actions class="p-3 mb-0 d-flex justify-content-between flex-00a">
          <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </mat-dialog-actions>
      </div>
      <div class="col-6">
        <mat-dialog-actions class="p-3 mb-0 d-flex justify-content-between flex-00a">
          <button class="btn btn-primary" (click)="saveIssue()">Done</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>

</div>