# CSET Web API
ConnectionStrings__CSET_DB="data source=mssql,1433;initial catalog=CSETWebTest;User Id=sa;Password=Password123;Encrypt=False;TrustServerCertificate=True;"

# Host port overrides for Docker Compose (Optional)
WEB_PORT=4200
WEB_TLS_PORT=443
API_PORT=5000

# MSSQL Server
MSSQL_SA_PASSWORD=Password123
ACCEPT_EULA=Y
