# CSET Web Frontend
NODE_OPTIONS=--max_old_space_size=8192

# CSET Web API
ConnectionStrings__CSET_DB="data source=sqlserver,1433;initial catalog=CSETWeb;User Id=sa;Password=Password123;Encrypt=False;"

# MSSQL Server
MSSQL_SA_PASSWORD=Password123
ACCEPT_EULA=Y