<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
  <div class="assess-component d-flex flex-column justify-content-start flex-11a mb-4">
    <div class="white-panel d-flex flex-column justify-content-start flex-11a">
      <h3 class="mb-3">{{t('titles.organization demographics')}}</h3>

      <div class="button-container">

        <label tabindex="0" id="demographic-import"
          class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
          matTooltip="Import Organization Demographics, Assessment Configuration, Critical Service Information">
          <span class="mr-2 fs-base cset-icons-import"></span>
          <span class="icon-link-button-text-dark">{{t('buttons.import')}}</span>
          <input type="file" tabindex="0" class="hidden-input" id="importFile" multiple accept=".json"
            (change)="importClick($event)">
        </label>

        <button tabindex="0" id="demographic-export" style="margin-bottom: 8px"
          class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
          (click)="exportClick()" matTooltip="Export Organization Demographics, Assessment Configuration, Critical Service Information">
          <span class="cset-icons-export-up fs-base-2 mr-2"></span>
          <span class="icon-link-button-text-dark">{{t('buttons.export')}}</span>
        </button>

      </div>

      <app-demographics-iod [events]="eventImportExport.asObservable()" #demoIOD></app-demographics-iod>

      <app-nav-back-next [page]="'info-demog-iod'"></app-nav-back-next>
    </div>
  </div>
</ng-container>