.button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    align-content: center;
    bottom: 5px;
  }

  .hidden-input {
    width: 1px;
    height: 1px;
    overflow: hidden;    
  }

  //margin: -1px;
  //clip: rect(0, 0, 0, 0);
  //align-items: center;
  //position: absolute;
  //border: 0;
  //justify-content: flex-start; 
  //padding: 0;
  //display: flex;
  