::ng-deep .change-error{
    color:#ff4444 !important;
}
::ng-deep .change-check{
    color:#00c851 !important;
}
::ng-deep .fa-square-check {
    color:#00c851 !important;
}

::ng-deep .fa-square-xmark{
    color:#ff4444 !important;
}
:host ::ng-deep .list-group-item{
    text-align:left !important;
  }