<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="d-flex flex-column justify-content-center flex-11a" *transloco="let t">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-key"></span>
    <div>{{ t('change password.dialog title') }}</div>
  </div>
  <mat-dialog-content class="p-3 pr-0 oy-auto d-flex flex-column flex-11a">
    <div class="alert alert-default">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordLengthMet"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordLengthMet"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.length between', {lengthMin:
          passwordResponse.passwordLengthMin, lengthMax: passwordResponse.passwordLengthMax}) }}</li>
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordContainsNumbers"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordContainsNumbers"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.required numbers') }}</li>
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordContainsLower"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordContainsLower"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.required lowercase') }}</li>
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordContainsUpper"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordContainsUpper"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.required uppercase') }}</li>
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordContainsSpecial"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordContainsSpecial"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.required special') }}</li>
        <li class="list-group-item"><span *ngIf="passwordResponse.passwordNotReused"><i
              class='fa-solid fa-square-check mr-2'></i></span><span *ngIf="!passwordResponse.passwordNotReused"><i
              class='fa-solid fa-square-xmark mr-2'></i></span>{{ t('change password.rules.previous count', {count:
          passwordResponse.numberOfHistoricalPasswords}) }}</li>
      </ul>
    </div>
    <div class="alert alert-danger" *ngIf="message?.length > 0" [innerHTML]="message"></div>

    <form #fReg="ngForm" (ngSubmit)="onPasswordChangeClick(fReg)" class="pr-3">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label required for="currentPassword">{{ t('change password.current password') }}</label>
          <div *ngIf="!showPassword" class="show-hide-password" (click)="togglePasswordVisibility()">
            {{ t('change password.show passwords') }}<i class="fas fa-eye ml-1"></i>
          </div>
          <div *ngIf="showPassword" class="show-hide-password" (click)="togglePasswordVisibility()">
            {{ t('change password.hide passwords') }}<i class="fas fa-eye-slash ml-1"></i>
          </div>
        </div>
        <input [type]="showPassword ? 'text' : 'password'" id="currentPassword" name="currentPassword"
          class="form-control" required [(ngModel)]="cpwd.currentPassword">
      </div>
      <div class="form-group">
        <label required for="password">{{ t('change password.new password') }}</label>
        <input [type]="showPassword ? 'text' : 'password'" name="password" id="password" class="form-control"
          (ngModelChange)="checkPassword($event)" [(ngModel)]="cpwd.newPassword" required>
      </div>
      <div class="form-group">
        <label required for="confirmPassword">{{ t('change password.confirm new password') }}</label>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
          name="confirmPassword" [(ngModel)]="cpwd.confirmPassword" appConfirmEqualValidator="password" required>
      </div>

      <div class="alert alert-danger"
        *ngIf="fReg.submitted && fReg.controls.confirmPassword.touched && fReg.controls.confirmPassword.errors?.notEqual">
        {{ t('change password.passwords do not match') }}</div>
      <div class="alert alert-danger"
        *ngIf="fReg.submitted && (fReg.controls.confirmPassword.errors?.required && fReg.controls.confirmPassword.errors?.required)">
        {{ t('change password.new and confirmation required') }}</div>

      <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-between flex-11a">
        <button class="btn btn-primary m-0 mr-1">{{ t('buttons.change password') }}</button>
        <button class="btn btn-secondary mr-1" (click)="cancel()">{{ t('buttons.cancel') }}</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>