<!---------------------- 

   Copyright 2018 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-key"></span>
    <div>Change Password</div>
  </div>
  <mat-dialog-content class="p-3 pr-0 oy-auto d-flex flex-column flex-11a">
    <form #fReg="ngForm" (ngSubmit)="onPasswordChangeClick(fReg)" class="pr-3">
      <div class="alert alert-danger" *ngIf="warning">{{message}}</div>
      <div class="form-group">
        <label required for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" required [(ngModel)]="cpwd.CurrentPassword">
      </div>
      <div class="form-group">
        <label required for="password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="cpwd.NewPassword"
          required>
      </div>
      <div class="form-group">
        <label required for="confirmPassword">New Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="cpwd.confirmPassword"
          appConfirmEqualValidator="password" required>
      </div>

      <mat-dialog-actions class="pt-0 mb-0 d-flex flex-column flex-00a">
        <div class="alert alert-danger" *ngIf="fReg.submitted && fReg?.controls.confirmPassword.errors?.notEqual">Passwords
          do not match</div>
        <div class="d-flex justify-content-between flex-11a">
          <button class="btn btn-primary m-0 mr-1">Change Password</button>
          <button class="btn btn-secondary mr-1" (click)="cancel()">Cancel</button>
        </div>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>