@model CSETWebCore.Reports.Models.CRRModel
@{
    ViewData["Title"] = "CRR Cover Sheet";
}
<div class="row justify-content-center" >
    <div class="col-md text-center">
        <img style="width: fit-content"src="/images/cisalogo.png" alt="CISA">
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif">
        Cyber Resilience Review<br/> Self-Assessment Report<br/> For<br/></h1>
    </div>
</div>