@using CSETWebCore.Reports.Models
@model CRRCoverSheetModel
@{
    ViewData["Title"] = "CRR Report";
}
<div class="report-body-crr">
    <div class="row justify-content-center">
        <div class="col text-center" style="font-family: Verdana, sans-serif">
            <img style="width: 600px; margin: 50px 0" src="/images/cisalogo_trimmed.png" alt="CISA">
            <h2 style="line-height: 175%">CYBER RESILIENCE REVIEW<br />SELF-ASSESSMENT REPORT<br />FOR</h2>
            <h1 style="margin: 30px 0">@Model.AssessmentDetails.FacilityName</h1>
            <h2>@DateTime.Now.ToString("MMMMM dd, yyyy")</h2>
        </div>
    </div>

    <div>
        @await Html.PartialAsync("_CrrIntroAbout", @Model);
    </div>

</div>
