@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary" onclick='location.href="@Url.Action("CreatePdf", new {view = "index"})"'>Print Pdf</button>
    <button class="btn btn-primary" onclick='location.href="@Url.Action("CreatePdf","Crr")"'>CRR Results</button>
   
</div>
