@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="@ViewData.Model["bootstrap"]" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary" onclick='location.href="@Url.Action("CreatePdf")"'>Print Pdf</button>
</div>
