<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <h4>{{t('organization details')}}</h4>
    <form #f="ngForm">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <p *ngIf="showAssessmentNameDisclaimer()" class="col-span-full">{{t('no pii in name')}}</p>
            <div class="form-control w-full">
                <label class="label" for="name">
                    <span class="label-text">{{t('assessment name')}}</span>
                </label>
                <input type="text" maxlength="100" class="input input-bordered w-full" id="name" name="name" required
                    focusOnInit="true" [(ngModel)]="assessment.assessmentName"
                    (ngModelChange)="assessment.assessmentName" (change)="update($event)" autofocus tabindex="0">
            </div>
            <div class="form-control w-full">
                <label class="label" for="date">
                    <span class="label-text">{{t('assessment date')}}</span>
                </label>
                <input matInput MatDatepickerInput class="input input-bordered w-full" id="date" name="date"
                    [(ngModel)]="assessment.assessmentDate" [matDatepicker]="picker" (focus)="picker.open()"
                    (blur)="update($event)" (click)="picker.open()" (ngModelChange)="update($event)" tabindex="0">
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>

        <div class="form-control w-full mb-6" *ngIf="showFacilityName()">
            <label class="label" for="facility">
                <span class="label-text">{{t('facility name')}}</span>
            </label>
            <input type="text" maxlength="100" class="input input-bordered w-full" id="facility" name="facility"
                [(ngModel)]="assessment.facilityName" (change)="update($event)" tabindex="0">
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div class="form-control w-full" *ngIf="showCityName()">
                <label class="label" for="citySite">
                    <span class="label-text">{{t('city or site name')}}</span>
                </label>
                <input type="text" maxlength="100" class="input input-bordered w-full" id="citySite" name="citySite"
                    [(ngModel)]="assessment.cityOrSiteName" (change)="update($event)" tabindex="0">
            </div>
            <div class="form-control w-full" *ngIf="showStateName()">
                <label class="label" for="stateProvRegion">
                    <span class="label-text">{{t('state province region')}}</span>
                </label>
                <input type="text" maxlength="100" class="input input-bordered w-full" id="stateProvRegion" name="stateProvRegion"
                    [(ngModel)]="assessment.stateProvRegion" (change)="update($event)" tabindex="0">
            </div>
        </div>
    </form>

    <div class="mt-4">
        <h4>{{t('assessment type')}}</h4>
        <h5>{{ assessment.typeTitle || 'Blank Assessment' }}</h5>
        <p *ngIf="assessment.typeDescription && assessment.typeTitle != assessment.typeDescription"
            [innerHtml]="assessment.typeDescription | safe"></p>

        <div *ngIf="isAwwa">
            <p>
                Results from the <a href="{{awwaSvc.url}}" target="_blank">AWWA Cybersecurity Assessment Tool</a>
                can be imported into this assessment.
            </p>
            <button class="btn btn-primary" (click)="showAwwaDialog()">Import AWWA Tool Results</button>
        </div>

    </div>
    <div *ngIf="this.configSvc.userIsCisaAssessor" class="mt-4">
        <h4>{{ t('assessment settings') }}</h4>

        <div class="form-control w-full max-w-md mb-6">
            <label class="label">
                <span class="label-text">{{t('protected features.cisa assessor workflow')}}</span>
            </label>
            <div class="join">
                <input class="join-item btn" type="radio" name="assessorMode" aria-label="{{t('answer-options.button-labels.yes')}}"
                    [checked]="assessment.assessorMode" (change)="updateAssessorMode()" tabindex="0" />
                <div class="join-item btn" [class.btn-active]="assessment.assessorMode">
                    {{t('answer-options.button-labels.yes')}}
                </div>
                <input class="join-item btn" type="radio" name="assessorMode" aria-label="{{t('answer-options.button-labels.no')}}"
                    [checked]="!assessment.assessorMode" (change)="updateAssessorMode()" tabindex="0" />
                <div class="join-item btn" [class.btn-active]="!assessment.assessorMode">
                    {{t('answer-options.button-labels.no')}}
                </div>
            </div>
        </div>
    </div>
</ng-container>