<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <h4>{{t('organization details')}}</h4>
    <form #f="ngForm">
        <div class="row mb-3">
            <p *ngIf="showAssessmentNameDisclaimer()">{{t('no pii in name')}}</p>
            <div class="col">
                <label class="form-label" for="name">{{t('assessment name')}}</label>
                <input type="text" maxlength="100" class="form-control" id="name" name="name" required
                    focusOnInit="true" [(ngModel)]="assessment.assessmentName"
                    (ngModelChange)="assessment.assessmentName" (change)="update($event)" autofocus tabindex="0">
            </div>
            <div class="col">
                <label class="form-label" for="date">{{t('assessment date')}}</label>
                <input matInput MatDatepickerInput class="form-control" id="date" name="date"
                    [(ngModel)]="assessment.assessmentDate" [matDatepicker]="picker" (focus)="picker.open()"
                    (blur)="update($event)" (click)="picker.open()" (ngModelChange)="update($event)" tabindex="0">
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>

        <div class="col mb-3" *ngIf="showFacilityName()">
            <label class="form-label" for="facility">{{t('facility name')}}</label>
            <input type="text" maxlength="100" class="form-control" id="facility" name="facility"
                [(ngModel)]="assessment.facilityName" (change)="update($event)" tabindex="0">
        </div>

        <div class="row mb-4">
            <div class="col" *ngIf="showCityName()">
                <label class="form-label" for="citySite">{{t('city or site name')}}</label>
                <input type="text" maxlength="100" class="form-control" id="citySite" name="citySite"
                    [(ngModel)]="assessment.cityOrSiteName" (change)="update($event)" tabindex="0">
            </div>
            <div class="col" *ngIf="showStateName()">
                <label class="form-label" for="stateProvRegion">{{t('state province region')}}</label>
                <input type="text" maxlength="100" class="form-control" id="stateProvRegion" name="stateProvRegion"
                    [(ngModel)]="assessment.stateProvRegion" (change)="update($event)" tabindex="0">
            </div>
        </div>
    </form>

    <div class="mt-4">
        <h4>{{t('assessment type')}}</h4>
        <h5>{{ assessment.typeTitle || 'Blank Assessment' }}</h5>
        <p *ngIf="assessment.typeDescription && assessment.typeTitle != assessment.typeDescription"
            [innerHtml]="assessment.typeDescription | safe"></p>

        <div *ngIf="isAwwa">
            <p>
                Results from the <a href="{{awwaSvc.url}}" target="_blank">AWWA Cybersecurity Assessment Tool</a>
                can be imported into this assessment.
            </p>
            <button class="btn btn-primary" (click)="showAwwaDialog()">Import AWWA Tool Results</button>
        </div>

    </div>
    <div *ngIf="this.configSvc.userIsCisaAssessor" class="mt-4">
        <h4>{{ t('assessment settings') }}</h4>

        <div class="mb-3 col-6">
            <label class="form-label">{{t('protected features.cisa assessor workflow')}}</label>
            <div>
                <div class="btn-group btn-group-toggle col-10" data-toggle="buttons"
                    style="border: 2px solid transparent; border-radius: 8px;">
                    <label class="btn btn-level form-check-label" [class.active]="assessment.assessorMode"
                        (change)="updateAssessorMode()">
                        <input class="btn-check align-items-center" type="radio" autocomplete="off" tabindex="0"
                            [checked]="assessment.assessorMode" />
                        {{t('answer-options.button-labels.yes')}}
                    </label>
                    <label class="btn btn-level form-check-label" [class.active]="!assessment.assessorMode"
                        (change)="updateAssessorMode()">
                        <input class="btn-check align-items-center" type="radio" autocomplete="off" tabindex="0"
                            [checked]="!assessment.assessorMode" />
                        {{t('answer-options.button-labels.no')}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</ng-container>