<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="about d-flex flex-column justify-content-center flex-11a">

    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a w-100">
        <span class="cset-icons-book-open mr-3 fs-base-6"></span>
        <span>Ransomware Readiness Tutorial</span>
    </div>

    <mat-dialog-content class="oy-auto p-3 pr-0 d-flex flex-column flex-11a w-100">

        <div style="max-width: 50rem">
            <h3 class="wrap-text mb-3">Ransomware Readiness Tutorial</h3>
            <div>
                <p>Ransomware is an ever-evolving form of malware designed to encrypt files on a device, rendering any
                    files and
                    the
                    systems that rely on them unusable. Malicious actors then demand ransom in exchange for decryption.
                    Ransomware
                    actors often target and threaten to sell or leak exfiltrated data or authentication information if
                    the
                    ransom is
                    not paid. In recent years, ransomware incidents have become increasingly prevalent among the
                    Nation’s state,
                    local, tribal, and territorial (SLTT) government entities and critical infrastructure organizations.
                </p>

                <p>Malicious actors continue to adjust and evolve their ransomware tactics over time, and CISA analysts
                    remain
                    vigilant in maintaining awareness of ransomware attacks and associated tactics, techniques, and
                    procedures
                    across the country and around the world.</p>

                <p>This Ransomware Readiness Assessment (RRA) will help you understand your cybersecurity posture with
                    respect
                    to
                    the ever-evolving threat of ransomware. The RRA also provides a clear path for improvement, and
                    contains an
                    evolving progression of questions tiered by the categories of basic, intermediate, and advanced.
                    This is
                    intended
                    to help an organization improve by focusing on the basics first, and then progressing by
                    implementing
                    practices
                    through the intermediate and advanced categories.<span>&nbsp; </span></p>

                <p><b>Looking to learn more about this growing cyber threat? <span>&nbsp;</span>

                    </b></p>

                <p><span>The NEW Ransomware Guide is a great place to start. The Guide, released in September 2020,
                        represents a
                        joint effort between CISA and the Multi-State Information Sharing and Analysis Center (MS-ISAC).
                        The</span><span>&nbsp;</span><span><a href="https://www.cisa.gov/publication/ransomware-guide"
                            target="_blank"><span>joint
                                Ransomware Guide</span></a></span><span>&nbsp;</span><span>includes industry best
                        practices and
                        a
                        response checklist that can serve as a ransomware-specific addendum to organization cyber
                        incident
                        response
                        plans.&nbsp;

                    </span></p>
                <p><span>In January 2021, CISA&nbsp;unveiled the&nbsp;</span><span><a
                            href="https://www.cisa.gov/news/2021/01/21/cisa-launches-campaign-reduce-risk-ransomware"
                            target="_blank"><span>Reduce
                                the Risk of Ransomware Campaign</span></a></span><span>&nbsp;to raise awareness and
                        instigate
                        actions to combat this&nbsp;ongoing and evolving threat. The campaign is a focused, coordinated
                        and
                        sustained effort to encourage public and private sector organizations to implement best
                        practices, tools
                        and
                        resources that can help them mitigate ransomware risk.

                    </span></p>
                <p>For critical infrastructure owners and operators of industrial control systems, CISA published a Fact
                    Sheet, <a
                        href="https://www.cisa.gov/sites/default/files/publications/CISA_Fact_Sheet-Rising_Ransomware_Threat_to_OT_Assets_508C.pdf"
                        target="_blank">Rising Ransomware Threat to Operational Technology Assets</a>,
                    that provides information on the rising risk of ransomware to ICS and recommended actions to reduce
                    the risk
                    of becoming a victim as well as severe business or functional degradation should they fall victim.
                </p>
                <p><span>CISA also continues to publish cybersecurity alerts and tips, to include those specific to
                        ransomware.
                        Visit </span><span><a href="https://www.cisa.gov/ransomware-alerts-and-tips"
                            target="_blank"><span>Ransomware Alerts and
                                Tips | CISA</span></a></span><span> and click subscribe.

                    </span></p>
                <span><br clear="all" /> </span>

                <p><b><span>Ransomware Readiness Assessment Composition: Goals and Practices

                        </span></b></p>

                <p>This assessment represents one Domain that addresses Ransomware and is constructed with ten Goals and
                    Practice
                    Questions that address each Goal.</p>

                <p>The Practices are tiered as Basic, Intermediate, and Advanced. Each question contains an identifier
                    structured as follows: </p>

                <p><b>Goal</b> [GG] : <b>Level</b> [B,I,A] . <b>Question Number</b> [Q##] </p>

                <p>An example of the above structure is <b>AM:I.Q03</b>, which represents <b>Asset Management, Level
                        “Intermediate,”
                        Question Number 3.

                    </b></p>

                <p>The blue oval beneath each identifier indicates the Basic, Intermediate, or Advanced tier for the
                    question.
                </p>

                <p><span><img src="assets/images/RRA/tutorial/image001.png" alt="tier indicator example" /></span></p>

                <p>The RRA practices and tiers (basic, intermediate, and advanced) are designed to:</p>

                <ul>
                    <li>
                        assist an organization to
                        understand its current state of readiness to address the threat of ransomware
                    </li>
                    <li>
                        to assist the organization with
                        implementing a focused path for improvement.
                    </li>
                </ul>


                <p><b>Implementation approach:</b></p>

                <ul>
                    <li>Organizations that are
                        unfamiliar with ransomware and need to begin basic cyber hygiene safeguards against ransomware
                        threats
                        should focus on implementing the basic tier of practices.</li>

                    <li>After completing the basic tier of
                        the improvement effort, organizations looking to further improve their risk posture against
                        ransomware
                        should
                        implement the intermediate tier of practices.</li>

                    <li>Organizations that have already
                        adopted basic and intermediate level RRA practices and are looking to improve their response to
                        ransomware
                        threats should focus on adopting the practices in the Advanced Tier.</li>
                </ul>


                <p>This suggested path to improvement can always be adapted by the organization to suit its own
                    needs.<span>&nbsp;
                    </span><span>&nbsp;</span></p>

                <p>Each practice question contains a yes/no response scale to evaluate whether the organization has
                    implemented
                    each
                    practice:</p>

                <p><span><img src="assets/images/RRA/tutorial/image004.png" alt="yes no answer controls" /></span></p>

                <ul type="disc">
                    <li><b>Yes</b>&nbsp;– the organization fully performs the activity specified in the question.</li>
                    <li><b>No</b>&nbsp;– the organization does not perform the activity completely. </li>
                </ul>

                <p>Practices are presented in the following format:</p>

                <p><span><img src="assets/images/RRA/tutorial/image006.png" alt="question format example"
                            [class.w-100]="layoutSvc.hp" /></span></p>

                <p><b><span><img src="assets/images/RRA/tutorial/image008.png" alt="Mark for Review"
                                style="height:2rem" /></span><span><span>&nbsp; </span>Mark for
                            Review</span></b>: To the right of the answer key is the flag icon which can be used to mark
                    a
                    practice
                    for review. Marked questions are listed in the &quot;RRA Comments and Marked for Review&quot;
                    report. In
                    this
                    section of the CSET Report Page (left side navigation “Reports”), the user can recall any practices
                    previously marked for review along with the specific comments.</p>

                <p><span><img src="assets/images/RRA/tutorial/image009.jpg" alt="Guidance Icon"
                            v:shapes="Picture_x0020_23" /></span><b><span>&nbsp;</span><span>&nbsp;
                        </span>Guidance</b>: To aid the RRA user, each question is supported by guidance.&nbsp; The
                    guidance
                    should
                    be referred to for background, possible examples, and for criteria that defines the requirements for
                    a “Yes”
                    response.&nbsp; The guidance is engaged by selecting the Guidance Icon containing the letter “G”
                    located
                    below
                    the question.</p>
                <p><span><img src="assets/images/RRA/tutorial/image011.jpg" alt="Comments Icon"
                            v:shapes="Picture_x0020_22" /></span><span>&nbsp; </span><b>Comments</b>: Selecting
                    this icon will display a text box that may be used to make comments regarding each question. For
                    example,
                    the
                    user of an assessment may make a note for future reference as to the reasoning behind an “NO”
                    response.
                    Note:
                    these comments are not included in the official report and are meant to be private to the
                    facilitator.</p>
                <p>Practices with comments are listed in the “Ransomware Readiness Assessment: Comments and Marked for
                    Review”
                    report. In this section of the CSET Report Page (left side navigation “Reports”), the user can
                    recall any
                    practices previously marked for review along with the specific comments.</p>

                <p><span><img src="assets/images/RRA/tutorial/image013.jpg" alt="Artifacts References Icon"
                            v:shapes="Picture_x0020_21" /></span><span>&nbsp;
                    </span><b>Artifacts/Documents</b>: Easily associate, track, and store evidence, artifacts, and other
                    supporting
                    documents throughout the assessment. </p>
                <p>These documents are stored with the assessment in the CSET Tools tab under Assessment Documents.
                    <span><img src="assets/images/RRA/tutorial/image014.png" alt="Tools" style="height:2rem" /></span>
                </p>

                <p><span><img src="assets/images/RRA/tutorial/image015.jpg" alt="References Icon"
                            v:shapes="Picture_x0020_20" /></span><span>&nbsp; </span><b>References</b>:
                    Selecting the References Icon will display the references.</p>
                <p><span><img src="assets/images/RRA/tutorial/image016.jpg" alt="Observations Icon"
                            v:shapes="Picture_x0020_19" /></span><span>&nbsp; </span><b>Observations</b>:
                    Selecting this icon will pop up an observation details dialog box used to capture information about
                    an issue
                    associated with the practice along with its importance, resolution date, etc.</p>
                <p><span><img src="assets/images/RRA/tutorial/image018.jpg" alt="Feedback Icon"
                            v:shapes="Picture_x0020_18" /></span><span>&nbsp; </span><b>Feedback</b>: Used to
                    provide feedback regarding the question to CISA.&nbsp; For example, a user may comment that the
                    question
                    language is too complex and suggest alternate wording.</p>

            </div>
        </div>

    </mat-dialog-content>


    <mat-dialog-actions class="p-4 mb-0">
        <button class="btn btn-secondary" (click)="close()">OK</button>
    </mat-dialog-actions>
</div>