<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">Cybersecurity Maturity Model Certification 2.0 (CMMC) Tutorial</h3>

  <div class="mb-4">

    <h5>Overview</h5>
    <p>
      The CMMC framework consists of the security requirements from NIST SP 800-171 Rev 2, Protecting Controlled
      Unclassified Information in Nonfederal Systems and Organizations, and a subset of the requirements from NIST SP
      800-172, Enhanced Security Requirements for Protecting Controlled Unclassified Information: A Supplement to NIST
      Special Publication 800-171.
    </p>

    <p>
      The model framework organizes these practices into a set of domains, which map directly to the NIST SP 800-171 Rev
      2 families. The practices originate from the safeguarding requirements and security requirements specified in FAR
      Clause 52.204-21 [3] and DFARS Clause 252.204-7012 [5], respectively.
    </p>

    <h5 class="mt-4">CMMC Levels</h5>

    <div>
      The CMMC model measures the implementation of cybersecurity requirements at three levels. Each level consists of a
      set of CMMC practices:
    </div>
    <ul>
      <li>
        <strong>Level 1 - Foundational:</strong> Focuses on the protection of FCI and consists only of practices that
        correspond to the
        basic safeguarding requirements specified in 48 CFR 52.204-21, commonly referred to as the FAR Clause [3].
      </li>
      <li>
        <strong>Level 2 - Advanced:</strong> Encompasses the security requirements for CUI specified in NIST SP 800-171
        Rev 2 per DFARS Clause 252.204-7012 [3, 4, 5].
      </li>
      <li>
        <strong>Level 3 - Expert:</strong> Information on Level 3 will be released at a later date and will contain a
        subset of the
        security requirements specified in NIST SP 800-172 [6].
      </li>
    </ul>

    <p>
      The CMMC levels and associated sets of practices across domains are cumulative. More specifically, for an
      organization to achieve a specific CMMC level, it must also demonstrate achievement of the preceding lower levels.
      For the case in which an organization does not meet its targeted level, it will be certified at the highest level
      for which it has achieved all applicable practices.
    </p>

    <div class="img-frame">
      <img alt="CMMC Model" style="width: 100%; max-width: 800px" src="assets/images/CMMC/tutorial2/Picture1.png" />
      <div class="img-title">
        Figure 1 provides an overview of the CMMC 2.0 levels.
      </div>
    </div>



    <h5 class="mt-4">Assessment</h5>

    <p>
      The CMMC assessment consists of 14 domains that align with the families specified in NIST SP 800-171 . The number
      of practices (questions) varies based on the selected level. The domains and their abbreviations are as follows:
    </p>

    <ul>
      <li>Access Control (AC)</li>
      <li>Awareness & Training (AT)</li>
      <li>Audit & Accountability (AU)</li>
      <li>Configuration Management (CM)</li>
      <li>Identification & Authentication (IA)</li>
      <li>Incident Response (IR)</li>
      <li>Maintenance (MA)</li>
      <li>Media Protection (MP)</li>
      <li>Personnel Security (PS)</li>
      <li>Physical Protection (PE)</li>
      <li>Risk Assessment (RA)</li>
      <li>Security Assessment (CA)</li>
      <li>System and Communications Protection (SC)</li>
      <li>System and Information Integrity (SI)</li>
    </ul>

    <p>
      Each practice includes the following components.
    </p>

    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture2.png" style="max-width: 100%; width: 750px">
    </div>

    <h6>Domain</h6>

    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture3.png" style="max-width: 100%; width: 700px">
    </div>

    <p>
      Each domain has a set of associated practices.
    </p>

    <h6>Practice Identifier</h6>

    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture4.png" style="width: 100px">
    </div>

    <div>
      Each question has an assigned practice identifier structured as follows: DD.L#-REQ
    </div>
    <ul>
      <li>DD is the two-letter domain abbreviation</li>
      <li>L# is the level number</li>
      <li>REQ is the NIST SP 800-171 Rev 2 or NIST SP 800-172 Security Requirement Number</li>
    </ul>

    <p>
      An example of the above structure is AC:L1-3.1.1, which represents Access Control, Level 1, NIST SP 800-171 Rev 2
      3.1.1. The blue oval beneath each identifier indicates the level for the practice.
    </p>

    <h6>
      Practice
    </h6>
    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture5.png">
    </div>

    <p>
      The mitigation(s) that organizations should implement to achieve the corresponding NIST cybersecurity standards.
    </p>

    <h6>
      Assessment Objectives
    </h6>

    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture6.png">
    </div>

    <p>
      Objectives used to determine whether the organization has implemented the practice.
    </p>

    <h6>
      CSET Icons
    </h6>
    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture7.png" style="width: 300px">
    </div>

    <div>
      Selecting the Supplemental Guidance icon provides information on:
    </div>
    <ul>
      <li>Assessment Objectives</li>
      <li>Potential Assessment Methods and Objectives</li>
      <li>Discussion</li>
      <li>References</li>
    </ul>

    <h6>
      Answer Buttons
    </h6>
    <div class="img-frame">
      <img src="assets/images/CMMC/tutorial2/Picture8.png" style="width: 160px">
    </div>

    <div>
      Select the applicable answer for each question. Unanswered questions are calculated as a “No” response.
    </div>
    <ul>
      <li><strong>Yes</strong> - indicates the contractor has successfully <strong>MET</strong> the practice.</li>
      <li><strong>No</strong> - indicates the contractor has <strong>NOT MET</strong> the practice.</li>
      <li><strong>N/A</strong> - the practice is <strong>NOT APPLICABLE</strong> to the contractor.</li>
    </ul>




    <h5 class="mt-4">SPRS Score</h5>

    <p>
      A NIST SPRS score is calculated for assessments completed at Level 2. For more information on the scoring methodology, please view:
      <a href="{{this.configSvc.refDocUrl}}4980" target="_blank">NIST SP 800-171 DoD Assessment Methodology, Version 1.2.1</a>.
    </p>

    <h5 class="mt-4">
      Additional Resources
    </h5>

    <p>
      Additional information on how to complete a CSET assessment is available in the User Guide. To access the
      user guide, select the option from the Help dropdown menu in the CSET tool bar.
    </p>

    <p>
      Please visit <a href="https://dodcio.defense.gov/CMMC/Documentation/"
        target="_blank">https://dodcio.defense.gov/CMMC/Documentation/</a>
      for more information, including CMMC Assessment Guides and Scoping Guidance for each level.
    </p>

  </div>

  <app-nav-back-next [page]="'tutorial-cmmc2'"></app-nav-back-next>
</div>