<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Unity" version="5.8.6" targetFramework="net45" requireReinstallation="true" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net461" />
  <package id="Unity.AspNet.WebApi" version="5.0.13" targetFramework="net461" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net461" />
  <package id="Unity.SelfHostWebApiOwin" version="1.0.15" targetFramework="net45" />
  <package id="Unity.WebAPI" version="5.4.0" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>
