<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
  <div class="white-panel d-flex flex-column justify-content-start flex-11a">
    <h3 class="mb-3">{{t('titles.sal.security assurance level (sal)')}}</h3>
    <div class="mr-0 d-flex flex-column flex-00a">
      <div class="mb-3">
        {{t('titles.sal.sal intro1')}}
        {{t('titles.sal.sal intro2')}}
      </div>

      <div class="mb-3">
        {{t('titles.sal.sal intro3')}}
      </div>

      <span class="mt-3 mb-1 fw-600">{{t('titles.sal.current level')}}</span>
      <div class="d-flex flex-wrap flex-00a sticky-sal" *ngIf="!!this.salsSvc.selectedSAL">
        <div class="d-flex flex-11a">
          <div class="mb-2 p-2 quick-info-container d-flex justify-content-center flex-column flex-11a">
            <div class="ws-no-wrap d-flex justify-content-center align-items-center flex-11a">{{t('titles.sal.overall')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center align-items-center flex-11a">
              {{ salsSvc.selectedSAL?.selected_Sal_Level != null ? t('titles.sal.level.' + salsSvc.selectedSAL?.selected_Sal_Level.toLowerCase()) : '' }}
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap justify-content-center flex-11a mb-2" *ngIf="selectedMethodology != 'GENERAL'">

          <div [class.ml-2]="!layoutSvc.hp"
            class="p-2 quick-info-container d-flex justify-content-center flex-column flex-11a">
            <div class="ws-no-wrap d-flex justify-content-center align-items-center flex-11a">{{t('titles.sal.confidentiality')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">
              {{ salsSvc.selectedSAL?.cLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.cLevel.toLowerCase()) : '' }}</div>
          </div>

          <div class="ml-2 p-2 quick-info-container d-flex flex-column justify-content-center flex-11a">
            <div class="ws-no-wrap d-flex justify-content-center align-items-center">{{t('titles.sal.integrity')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">
              {{ salsSvc.selectedSAL?.iLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.iLevel.toLowerCase()) : '' }}</div>
          </div>

          <div class="ml-2 p-2 quick-info-container d-flex flex-column justify-content-center flex-11a">
            <div class="ws-no-wrap d-flex justify-content-center align-items-center">{{t('titles.sal.availability')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">
              {{ salsSvc.selectedSAL?.aLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.aLevel.toLowerCase()) : '' }}</div>
          </div>

        </div>
      </div>

      <div class="mt-5 mb-2 d-flex flex-column flex-00a">
        {{t('titles.sal.choose methodology')}}
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label csetid="SimpleSalLevelSelector" class="btn btn-sal-select btn-rounded form-check-label"
          [class.active]="selectedMethodology === 'Simple'" (click)="changeMethodology('Simple')">
          <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector"
            [checked]="selectedMethodology === 'Simple'">{{t('titles.sal.simple')}}
        </label>

        <label csetid="GeneralRiskSalLevelSelector" class="btn btn-sal-select btn-rounded form-check-label"
          [class.active]="selectedMethodology === 'GENERAL'" (click)="changeMethodology('GENERAL')">
          <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector"
            [checked]="selectedMethodology === 'GENERAL'">{{t('titles.sal.general risk based')}}
        </label>

        <label csetid="NistSalLevelSelector" class="btn btn-sal-select btn-rounded form-check-label"
          [class.active]="selectedMethodology === 'NIST'" (click)="changeMethodology('NIST')">
          <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector"
            [checked]="selectedMethodology === 'NIST'">{{t('titles.sal.nist 60 fips 199')}}
        </label>
      </div>
      <hr class="w-100 hr-sal mt-1 mb-5" />

      <div class="mt-0 mr-0 d-flex flex-column justify-content-start flex-11a">
        <div [ngSwitch]="selectedMethodology" class="d-flex flex-column justify-content-start flex-00a">
          <app-sal-simple *ngSwitchCase="'Simple'"></app-sal-simple>
          <app-sal-gen *ngSwitchCase="'GENERAL'"></app-sal-gen>
          <app-sal-nist *ngSwitchCase="'NIST'"></app-sal-nist>
        </div>
      </div>

      <app-nav-back-next [page]="'sal'"></app-nav-back-next>

    </div>
  </div>
</ng-container>