<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
  <div class="white-panel flex flex-col justify-start flex-11a">
    <h3 class="mb-3">{{t('titles.sal.security assurance level (sal)')}}</h3>
    <div class="mr-0 flex flex-col flex-00a">
      <div class="mb-3">
        {{t('titles.sal.sal intro1')}}
        {{t('titles.sal.sal intro2')}}
      </div>

      <div class="mb-3">
        {{t('titles.sal.sal intro3')}}
      </div>

      <h4>{{t('titles.sal.current level')}}</h4>
      <div class="flex flex-wrap flex-00a sticky-sal mb-4" *ngIf="!!this.salsSvc.selectedSAL">
        <div class="flex flex-11a">
          <div class="mb-2 p-2 quick-info-container flex justify-center flex-col flex-11a">
            <div class="ws-no-wrap flex justify-center items-center flex-11a">
              {{t('titles.sal.overall')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 flex justify-center items-center flex-11a">
              {{ salsSvc.selectedSAL?.selected_Sal_Level != null ? t('titles.sal.level.' +
              salsSvc.selectedSAL?.selected_Sal_Level.toLowerCase()) : '' }}
            </div>
          </div>
        </div>

        <div class="flex flex-nowrap justify-center flex-11a mb-2" *ngIf="selectedMethodology != 'GENERAL'">
          <div [class.ml-2]="!layoutSvc.hp"
            class="p-2 quick-info-container flex justify-center flex-col flex-11a">
            <div class="ws-no-wrap flex justify-center items-center flex-11a">
              {{t('titles.sal.confidentiality')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 flex justify-center flex-11a">
              {{ salsSvc.selectedSAL?.cLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.cLevel.toLowerCase())
              : '' }}</div>
          </div>

          <div class="ml-2 p-2 quick-info-container flex flex-col justify-center flex-11a">
            <div class="ws-no-wrap flex justify-center items-center">{{t('titles.sal.integrity')}}</div>
            <div class="p-2 quick-info-stats-container mt-1 flex justify-center flex-11a">
              {{ salsSvc.selectedSAL?.iLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.iLevel.toLowerCase())
              : '' }}</div>
          </div>

          <div class="ml-2 p-2 quick-info-container flex flex-col justify-center flex-11a">
            <div class="ws-no-wrap flex justify-center items-center">{{t('titles.sal.availability')}}
            </div>
            <div class="p-2 quick-info-stats-container mt-1 flex justify-center flex-11a">
              {{ salsSvc.selectedSAL?.aLevel != null ? t('titles.sal.level.' + salsSvc.selectedSAL.aLevel.toLowerCase())
              : '' }}</div>
          </div>
        </div>
      </div>

      <div class="flex flex-col flex-11a mb-5">
        <h4>{{t('titles.sal.overall sal')}}</h4>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
            <label [attr.csetid]="'OverallSAL' + level.value" class="btn btn-level primary btn-rounded"
              [class.active]="level.value === this.salsSvc.selectedSAL?.selected_Sal_Level"
              (click)="salsSvc.saveSalLevels(level.value, 'std')">
              <input class="btn-check primary" tabindex="0" type="radio" autocomplete="off" name="sal_main"
                [checked]="level.value === this.salsSvc.selectedSAL?.selected_Sal_Level">
              {{t('titles.sal.level.' + level.value.toLowerCase())}}
            </label>
          </ng-template>
        </div>
      </div>

      <div class="flex flex-col flex-11a mb-4">
        <h4>{{t('titles.sal.methodology')}}</h4>
        <div class="flex flex-col flex-00a">
          {{t('titles.sal.choose methodology')}}
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
          <label csetid="SimpleSalLevelSelector" class="btn btn-sal-select btn-rounded"
            [class.active]="selectedMethodology === 'Simple'" (click)="changeMethodology('Simple')">
            <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
              [checked]="selectedMethodology === 'Simple'">{{t('titles.sal.simple')}}
          </label>

          <label csetid="GeneralRiskSalLevelSelector" class="btn btn-sal-select btn-rounded"
            [class.active]="selectedMethodology === 'GENERAL'" (click)="changeMethodology('GENERAL')">
            <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
              [checked]="selectedMethodology === 'GENERAL'">{{t('titles.sal.general risk based')}}
          </label>

          <label csetid="NistSalLevelSelector" class="btn btn-sal-select btn-rounded"
            [class.active]="selectedMethodology === 'NIST'" (click)="changeMethodology('NIST')">
            <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
              [checked]="selectedMethodology === 'NIST'">{{t('titles.sal.nist 60 fips 199')}}
          </label>
        </div>
        <hr class="w-full hr-sal mt-1" />
      </div>


      <div class="mt-0 mr-0 flex flex-col justify-start flex-11a">
        <div [ngSwitch]="selectedMethodology" class="flex flex-col justify-start flex-00a">
          <app-sal-simple *ngSwitchCase="'Simple'"></app-sal-simple>
          <app-sal-gen *ngSwitchCase="'GENERAL'"></app-sal-gen>
          <app-sal-nist *ngSwitchCase="'NIST'"></app-sal-nist>
        </div>
      </div>

      <app-nav-back-next [page]="'sal'"></app-nav-back-next>

    </div>
  </div>
</ng-container>