<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <ng-container *ngIf="showMenuStrip()">
        <div class="dropdown dropdown-hover">
            <button tabindex="0" role="button" class="btn btn-ghost navbar-menu-header">
                <span class="cset-icons-tools text-lg mr-2 align-middle"></span>
                <span>{{ t('menu.tools.tools') }}</span>
            </button>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow">
                <li *ngIf="showMenuItem('enable protected features')">
                    <a (click)="enableProtectedFeature()">
                        <span class="cset-icons-key-shield text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.enable protected features') }}</span>
                    </a>
                </li>
                <li><hr class="my-2"></li>

                <li *ngIf="showItemForCurrentSkin('assessment documents')">
                    <a (click)="showAssessDocs()" [class.disabled]="isNullOrEmptyAssessment() && !globalDocuments">
                        <span class="cset-icons-books-stack-1 text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.assessment documents') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('parameter editor')">
                    <a (click)="editParameters()" [class.disabled]="!inAssessment()">
                        <span class="cset-icons-puzzle text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.parameter editor') }}</span>
                    </a>
                </li>
                <li>
                    <a (click)="showExcelExportDialog()" [class.disabled]="!inAssessment()">
                        <span class="cset-icons-export-excel text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.export assessment to excel') }}</span>
                    </a>
                </li>
                <li><hr class="my-2"></li>

                <li *ngIf="showMenuItem('import modules')">
                    <a [routerLink]="['/importModule']">
                        <span class="cset-icons-module text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.import modules') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('module builder')">
                    <a [routerLink]="['/set-list']">
                        <span class="cset-icons-module text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.module builder') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('module content report')">
                    <a [routerLink]="['/module-content-launch']">
                        <span class="cset-icons-module text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.module content report') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('trend')">
                    <a (click)="navigateTrend()">
                        <span class="cset2-icons-trend text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.trend') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('compare')">
                    <a (click)="navigateCompare()">
                        <span class="cset2-icons-compare text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.tools.compare') }}</span>
                    </a>
                </li>

                <ng-container *ngIf="showMenuItem('resume')">
                    <li><hr class="my-2"></li>
                    <li>
                        <a (click)="navSvc.resumeQuestions()">
                            <span class="fa fa-bolt text-base mr-2 align-middle"></span>
                            <span>{{ t('menu.tools.resume questions') }}</span>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </ng-container>


    <div *ngIf="showResourceLibraryLink()">
        <a class="btn btn-ghost navbar-menu-header whitespace-nowrap" href="index.html?returnPath=resource-library"
            target="_blank">
            <span class="cset-icons-library text-lg mr-2 align-middle"></span>
            <span>{{t('menu.resource library')}}</span>
        </a>
    </div>


    <div class="ml-auto">
        <div class="dropdown dropdown-hover">
            <button tabindex="0" role="button" class="btn btn-ghost navbar-menu-header">
                <span class="cset-icons-question-circle-outline text-lg mr-2 align-middle"></span>
                <span>{{ t('menu.help.help') }}</span>
            </button>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow">
                <li>
                    <a href="{{docUrl}}htmlhelp/index.htm" target="_blank">
                        <span class="cset-icons-book-open text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.help.cset user guide') }}</span>
                    </a>
                </li>
                <li><hr class="my-2"></li>

                <li>
                    <a (click)="about()">
                        <span class="cset-icons-cset-lock text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.help.about') }}</span>
                    </a>
                </li>
                <li *ngIf="!configSvc.isMobile()">
                    <a (click)="showKeyboardShortcuts()">
                        <span class="cset-icons-keyboard-shortcuts-key text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.help.keyboard shortcuts') }}</span>
                    </a>
                </li>

                <li>
                    <details>
                        <summary>
                            <span class="fas fa-balance-scale text-base mr-2 align-middle"></span>
                            <span>{{ t('menu.help.legal.legal') }}</span>
                        </summary>
                        <ul class="bg-base-100 rounded-t-none p-2">



                            <li>
                                <a (click)="accessibilityDocument()">
                                    <span class="cset-icons-accessibility-doc text-base mr-2 align-middle"></span>
                                    <span>{{ 'menu.help.legal.accessibility statement.accessibility statement' | transloco }}</span>
                                </a>
                            </li>
                            <li>
                                <a (click)="advisory()">
                                    <span class="cset-icons-advisory text-base mr-2 align-middle"></span>
                                    <span>{{ 'advisory.title' | transloco }}</span>
                                </a>
                            </li>
                            <li>
                                <a (click)="termsOfUse()">
                                    <span class="cset-icons-handshake text-base mr-2 align-middle"></span>
                                    <span>{{ 'menu.help.legal.terms of use.terms of use' | transloco }}</span>
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>



    <!-- USER MENU -->
    <div *ngIf="showUserMenu()">
        <div class="dropdown dropdown-hover" *ngIf="auth.userToken()">
            <button tabindex="0" role="button" class="btn btn-ghost navbar-menu-header">
                <span class="cset-icons-profile text-lg mr-2 align-middle"></span>
                <span class="whitespace-nowrap" *ngIf="auth.email() && auth.userToken()">
                    <span>{{auth.firstName()}} {{auth.lastName()}}</span>
                </span>
            </button>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow">
                <li *ngIf="showUserMenuItem()">
                    <a (click)="editUser()">
                        <span class="cset-icons-profile text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.user.user profile') }}</span>
                    </a>
                </li>
                <li>
                    <a (click)="goHome()">
                        <span class="cset-icons-clipboard-check text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.user.my assessments') }}</span>
                    </a>
                </li>
                <li *ngIf="showUserMenuItem()">
                    <a (click)="resetPassword()">
                        <span class="cset-icons-key text-base mr-2 align-middle"></span>
                        <span>{{ t('menu.user.change password') }}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem()">
                    <a (click)="userSettings()">
                        <span class="fa-solid fa-gear text-base mr-2 align-middle"></span>
                        <span>{{t('menu.user.settings')}}</span>
                    </a>
                </li>
                <li *ngIf="showMenuItem('admin')">
                    <a [routerLink]="['/admin-settings']">
                        <span class="fa-solid fa-sliders text-base mr-2 align-middle"></span>
                        <span>{{t('menu.user.admin')}}</span>
                    </a>
                </li>
                <li *ngIf="showUserMenuItem()">
                    <a (click)="auth.logout()">
                        <span class="cset-icons-logout text-base mr-2 align-middle"></span>
                        <span>{{t('menu.user.logout')}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ANONYMOUS 'USER' MENU -->
    <div *ngIf="showAnonymousMenu()">
        <div class="dropdown dropdown-hover" *ngIf="auth.userToken()">
            <button tabindex="0" role="button" class="btn btn-ghost navbar-menu-header w-36"
                (mouseenter)="showFullAccessKey = true" (mouseleave)="showFullAccessKey = false">
                <span class="cset-icons-profile text-lg mr-2 align-middle"></span>
                <span class="whitespace-nowrap" *ngIf="auth.accessKey()">
                    <span *ngIf="showFullAccessKey">{{auth.accessKey()}}</span>
                    <span *ngIf="!showFullAccessKey">{{hideAccessKey(auth.accessKey())}}</span>
                </span>
            </button>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow">
                <li>
                    <a (click)="goHome()">
                        <span class="cset-icons-clipboard-check text-base mr-2 align-middle"></span>
                        <span>{{ t('my assessments') }}</span>
                    </a>
                </li>
                <li *ngIf="showUserMenuItem()">
                    <a (click)="auth.logout()">
                        <span class="cset-icons-logout text-base mr-2 align-middle"></span>
                        <span>{{ t('buttons.logout') }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ng-container>