<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <ng-container *ngIf="showMenuStrip()">
        <button mat-button [matMenuTriggerFor]="tools" #toolsTrigger="matMenuTrigger"
            class="dropdown-toggle navbar-menu-header" (keyup.arrowdown)="toolsTrigger.openMenu()"
            *ngIf="configSvc.installationMode !== 'RRA'">
            <span class="cset-icons-tools fs-base-4 mr-2 align-middle"></span>
            <span>{{ t('menu.tools.tools') }}</span>
        </button>

        <mat-menu #tools="matMenu" class="menu-panel">
            <button mat-menu-item (click)="enableProtectedFeature()" *ngIf="showMenuItem('enable protected features')">
                <span class="cset-icons-key-shield fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.enable protected features') }}</span>
            </button>

            <button mat-menu-item (click)="setMeritExportPath()"
                *ngIf="assessSvc.isISE() && configSvc.config.currentConfigChain.includes('development')">
                <span class="cset-icons-cog fs-base mr-2 align-middle"></span>
                <span>Set Submission Export Path</span>
            </button>

            <hr class="menu-divider" />

            <button mat-menu-item [disabled]="!inAssessment()" *ngIf="showItemForCurrentSkin('assessment documents')"
                [ngClass]="{'disabled-menu-item' : !inAssessment()}" (click)="showAssessDocs()">
                <span class="cset-icons-books-stack-1 fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.assessment documents') }}</span>
            </button>
            <button mat-menu-item [disabled]="!inAssessment()" *ngIf="showMenuItem('parameter editor')"
                [ngClass]="{'disabled-menu-item' : !inAssessment()}" (click)="editParameters()">
                <span class="cset-icons-puzzle fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.parameter editor') }}</span>
            </button>
            <button mat-menu-item [disabled]="!inAssessment()" [ngClass]="{'disabled-menu-item' : !inAssessment()}"
                (click)="showExcelExportDialog()">
                <span class="cset-icons-export-excel fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.export assessment to excel') }}</span>
            </button>

            <hr class="menu-divider" />

            <button mat-menu-item [routerLink]="['/importModule']" *ngIf="showMenuItem('import modules')">
                <span class="cset-icons-module fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.import modules') }}</span>
            </button>
            <button mat-menu-item [routerLink]="['/set-list']" *ngIf="showMenuItem('module builder')">
                <span class="cset-icons-module fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.module builder') }}</span>
            </button>
            <button mat-menu-item [routerLink]="['/module-content-launch']"
                *ngIf="showMenuItem('module content report')">
                <span class="cset-icons-module fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.module content report') }}</span>
            </button>
            <button mat-menu-item (click)="navigateTrend()" *ngIf="showMenuItem('trend')">
                <span class="cset2-icons-trend fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.trend') }}</span>
            </button>
            <button mat-menu-item (click)="navigateCompare()" *ngIf="showMenuItem('compare')">
                <span class="cset2-icons-compare fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.tools.compare') }}</span>
            </button>

            <ng-container *ngIf="showMenuItem('resume')">
                <hr class="menu-divider" />
                <button mat-menu-item (click)="navSvc.resumeQuestions()">
                    <span class="fa fa-bolt fs-base mr-2 align-middle"></span>
                    <span>{{ t('menu.tools.resume questions') }}</span>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>


    <div *ngIf="showResourceLibraryLink()">
        <a mat-button class="navbar-menu-header ws-no-wrap" href="index.html?returnPath=resource-library"
            target="_blank">
            <span class="cset-icons-library fs-base-4 mr-2 align-middle"></span>
            <span>{{t('menu.resource library')}}</span>
        </a>
    </div>


    <!-- HELP (non-RRA skin) -->
    <div class="ml-auto" *ngIf="configSvc.installationMode !== 'RRA'">
        <button mat-button [matMenuTriggerFor]="help" #helpTrigger="matMenuTrigger"
            (keyup.arrowdown)="helpTrigger.openMenu()" class="dropdown-toggle navbar-menu-header">
            <span class="cset-icons-question-circle-outline fs-base-4 mr-2 align-middle"></span>
            <span>{{ t('menu.help.help') }}</span>
        </button>

        <mat-menu #help="matMenu" class="menu-panel">
            <a *ngIf="configSvc.installationMode !== 'ACET'" mat-menu-item href="{{docUrl}}htmlhelp/index.htm"
                target="_blank">
                <span class="cset-icons-book-open fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.help.cset user guide') }}</span>
            </a>
            <a *ngIf="isGuideVisible('ACET')" mat-menu-item target="_blank" href="{{docUrl}}cdDocs_ACET/UserGuide.pdf">
                <span class="cset-icons-book-open fs-base mr-2 align-middle"></span>
                <span>ACET</span>
            </a>
            <a *ngIf="isGuideVisible('ISE')" mat-menu-item target="_blank"
                href="{{docUrl}}cdDocs_ACET/ISE_User_Guide.pdf">
                <span class="cset-icons-pdf-doc fs-base mr-2 align-middle"></span>
                <span>ISE User Guide</span>
            </a>
            <a *ngIf="isGuideVisible('TSA')" mat-menu-item target="_blank" href="{{docUrl}}htmlhelp_tsa/index.htm">
                <span class="cset-icons-book-open fs-base mr-2 align-middle"></span>
                <span>TSA</span>
            </a>

            <hr class="menu-divider" />

            <button mat-menu-item (click)="about()">
                <span class="cset-icons-cset-lock fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.help.about') }}</span>
            </button>
            <button mat-menu-item (click)="showKeyboardShortcuts()" *ngIf="!configSvc.isMobile()">
                <span class="cset-icons-keyboard-shortcuts-key fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.help.keyboard shortcuts') }}</span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="legal">
                <span class="fas fa-balance-scale fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.help.legal.legal') }}</span>
            </button>
        </mat-menu>



        <mat-menu #legal="matMenu" class="menu-panel">
            <button mat-menu-item (click)="accessibilityDocument()">
                <span class="cset-icons-accessibility-doc fs-base mr-2 align-middle"></span>
                <span>{{ 'menu.help.legal.accessibility statement.accessibility statement' | transloco }}</span>
            </button>
            <button mat-menu-item (click)="advisory()">
                <span class="cset-icons-advisory fs-base mr-2 align-middle"></span>
                <span>{{ 'advisory.title' | transloco }}</span>
            </button>

            <button mat-menu-item (click)="termsOfUse()">
                <span class="cset-icons-handshake fs-base mr-2 align-middle"></span>
                <span>{{ 'menu.help.legal.terms of use.terms of use' | transloco }}</span>
            </button>
        </mat-menu>
    </div>



    <!-- USER MENU -->
    <div *ngIf="showUserMenu()">
        <button mat-button [matMenuTriggerFor]="usermenu" #userTrigger="matMenuTrigger"
            (keyup.arrowdown)="userTrigger.openMenu()" class="dropdown-toggle navbar-menu-header"
            *ngIf="auth.userToken()">
            <span class="cset-icons-profile fs-base-4 mr-2 align-middle"></span>
            <span class="ws-no-wrap" *ngIf="auth.email() && auth.userToken()">
                <span>{{auth.firstName()}} {{auth.lastName()}}</span>
            </span>
        </button>
        <mat-menu #usermenu="matMenu" class="menu-panel">
            <button mat-menu-item *ngIf="showUserMenuItem()" (click)="editUser()">
                <span class="cset-icons-profile fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.user.user profile') }}</span>
            </button>
            <button mat-menu-item (click)="goHome()">
                <span class="cset-icons-clipboard-check fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.user.my assessments') }}</span>
            </button>
            <button mat-menu-item *ngIf="showUserMenuItem()" (click)="resetPassword()">
                <span class="cset-icons-key fs-base mr-2 align-middle"></span>
                <span>{{ t('menu.user.change password') }}</span>
            </button>
            <button mat-menu-item *ngIf="showMenuItem('language picker')" (click)="editLanguage()">
                <span class="fas fa-language fs-base mr-2 align-middle"></span>
                <span>{{t('menu.user.user language')}}</span>
            </button>
            <button mat-menu-item *ngIf="showUserMenuItem()" (click)="auth.logout()">
                <span class="cset-icons-logout fs-base mr-2 align-middle"></span>
                <span>{{t('menu.user.logout')}}</span>
            </button>
        </mat-menu>
    </div>

    <!-- ANONYMOUS 'USER' MENU -->
    <div *ngIf="showAnonymousMenu()">
        <button mat-button [matMenuTriggerFor]="usermenu" #userTrigger="matMenuTrigger" style="width: 150px;"
            (keyup.arrowdown)="userTrigger.openMenu()" class="dropdown-toggle navbar-menu-header"
            *ngIf="auth.userToken()" (mouseenter)="showFullAccessKey = true" (mouseleave)="showFullAccessKey = false">
            <span class="cset-icons-profile fs-base-4 mr-2 align-middle"></span>
            <span class="ws-no-wrap" *ngIf="auth.accessKey()">
                <span *ngIf="showFullAccessKey || userTrigger.menuOpen">{{auth.accessKey()}}</span>
                <span *ngIf="!showFullAccessKey && !userTrigger.menuOpen">{{hideAccessKey(auth.accessKey())}}</span>
            </span>
        </button>

        <mat-menu #usermenu="matMenu" class="menu-panel">
            <button mat-menu-item (click)="goHome()">
                <span class="cset-icons-clipboard-check fs-base mr-2 align-middle"></span>
                <span>{{ t('my assessments') }}</span>
            </button>
            <button mat-menu-item *ngIf="showUserMenuItem()" (click)="auth.logout()">
                <span class="cset-icons-logout fs-base mr-2 align-middle"></span>
                <span>{{ t('buttons.logout') }}</span>
            </button>
        </mat-menu>
    </div>
</ng-container>