<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717" targetFramework="net452" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net452" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net452" />
  <package id="SharpZipLib" version="1.3.0" targetFramework="net452" />
</packages>