<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.12.2" targetFramework="net472" />
  <package id="IKVM" version="8.1.5717" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.12" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.12" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.12" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.12" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="5.0.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.26.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net452" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>