:host ::ng-deep .gallery-slider {
    .swiper-wrapper {
        padding: 20px 0;
    }

    .card-text{
        font-size: 14px !important;
    }

    .swiper-slide {
        transition: 250ms all;
        width: 19rem !important;

        &:hover {
          
            z-index: 1;
            box-shadow: 0 0px 8px 0 rgb(0 0 0 / 15%);
        }
         &:hover .card .card-body{
            
        }

        &:first-child:hover{
            
        }

        &:last-child:hover{
           
        }
    }
    .swiper-button-prev, .swiper-button-next {
        z-index: 10 !important;
        height: 220px !important;
        /* text-align: center; */
        /* vertical-align: middle; */
        top: 20px !important;
        background-color: black !important;
        opacity: 30% !important;
        padding: 0px 20px !important;
        
    }
    .swiper-button-prev{
        left: 0 !important;
    }
    .swiper-button-next{
        right: 0 !important;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        color:#fff !important;
        opacity: 100% !important;
    }
        
}

