<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t">
  <div class="flex flex-col flex-00a mb-5">
    <h3 class="text-center">{{t('aggregation.compare.assessment answer summary')}}</h3>
    <table class="table table-bordered table-td-p2">
      <tr>
        <th class="text-start p-2">{{t('aggregation.assessment alias')}}</th>
        <th class="text-end p-2 ps-3">{{t('aggregation.total')}}</th>
        <th class="text-end p-2 ps-3">{{t('answer-options.labels.y')}}</th>
        <th class="text-end p-2 ps-3">{{t('answer-options.labels.n')}}</th>
        <th class="text-end p-2 ps-3">{{t('answer-options.labels.na')}}</th>
        <th class="text-end p-2 ps-3">{{t('answer-options.labels.alt')}}</th>
        <th class="text-end p-2 ps-3">{{t('answer-options.labels.u')}}</th>
      </tr>
      <tr *ngFor="let a of answerCounts">
        <td class="text-start p-2">{{ a.alias }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.total }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.y }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.n }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.na }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.a }}</td>
        <td class="text-end p-2 ps-3" style="width: 10%">{{ a.u }}</td>
      </tr>
    </table>
    <div *ngIf="answerCounts == null">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col flex-00a mb-5">
    <h3 class="text-center">{{t('aggregation.compare.overall comparison')}}</h3>

    <p>
      {{t('aggregation.compare.para 3')}}
    </p>
    <p>
      {{t('aggregation.compare.para 4')}}
    </p>

    <div *ngIf="chartOverallComparison == null">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>
    <div class="chart">
      <canvas id="canvasOverallComparison" style="max-height: 50rem;">{{ chartOverallComparison }}</canvas>
    </div>
  </div>

  <div class="flex flex-col flex-00a mb-5">
    <h3 class="text-center">{{t('aggregation.compare.sal comparison')}}</h3>

    <p>
      {{t('aggregation.compare.para 5')}}
    </p>

    <div *ngIf="sals == null">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>

    <div class="d-table">
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell border-bottom">{{ a.alias }}</div>
      </div>
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell sal-inactive" [class.sal-active]="a.salLevel === 'Very High'">
          {{t('titles.sal.level.vh')}}</div>
      </div>
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell sal-inactive" [class.sal-active]="a.salLevel === 'High'">
          {{t('titles.sal.level.h')}}
        </div>
      </div>
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell sal-inactive" [class.sal-active]="a.salLevel === 'Moderate'">
          {{t('titles.sal.level.m')}}</div>
      </div>
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell sal-inactive" [class.sal-active]="a.salLevel === 'Low'">
          {{t('titles.sal.level.l')}}
        </div>
      </div>
      <div class="d-table-row">
        <div *ngFor="let a of sals" class="d-table-cell sal-inactive" [class.sal-active]="a.salLevel === 'None'">
          {{t('titles.sal.level.none')}}
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col flex-00a mb-5">
    <h3 class="text-center">{{t('aggregation.compare.category percent comparisons')}}</h3>

    <p>
      {{t('aggregation.compare.para 6')}}
    </p>

    <div *ngIf="chartCategoryPercent == null">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>
    <div class="chart-container" style="position: relative; width: 100%">
      <canvas id="canvasCategoryPercent">{{ chartCategoryPercent }}</canvas>
    </div>
  </div>
</div>