<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a">
    <h3 class="wrap-text">CMMC Tutorial</h3>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempus aliquet pharetra. Phasellus ut libero
            ut risus imperdiet blandit a vitae ligula. Mauris consequat purus id nunc eleifend tempor. Donec porttitor
            sem id libero elementum lacinia. Mauris cursus nisl quis laoreet commodo. Aliquam erat volutpat. Donec quis
            mollis arcu.</p>

        <p>Etiam ac sodales leo. Morbi scelerisque lorem tincidunt mauris tristique efficitur. Aenean fringilla gravida
            enim, eget efficitur tortor tempus et. Vivamus urna nisi, commodo nec nisl nec, pretium euismod ex. Duis
            velit quam, volutpat vel neque scelerisque, dignissim semper metus. Suspendisse enim enim, posuere ac ipsum
            ut, eleifend iaculis risus. Cras diam dolor, vestibulum a augue imperdiet, fringilla porta ipsum. Aliquam
            commodo neque non lorem pharetra ultricies.</p>

        <p>Sed interdum fringilla fringilla. Praesent semper enim nec risus elementum convallis. Aliquam et eros magna.
            Aenean quis lobortis velit. Curabitur ipsum sapien, placerat quis urna sit amet, placerat vestibulum eros.
            Suspendisse suscipit pulvinar suscipit. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Aliquam erat volutpat. Pellentesque luctus orci eu sagittis viverra.</p>
    </div>

    <app-nav-back-next [page]="'tutorial-cmmc'"></app-nav-back-next>
</div>