<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">CMMC Tutorial</h3>

    <div class="mb-4">
        <h5>Introduction</h5>
        <p>The CMMC assessment process provides consistent guidance for assessing a contractor against a specific CMMC
            level. A Level 1 assessment, for example, ensures that a contractor is meeting the basic safeguarding
            requirements for FCI specified in FAR Clause 52.204-21. A contractor can achieve a CMMC Level 1 for an
            entire enterprise network or for particular segment, depending upon where the FCI is or will be handled and
            stored.</p>

        <p>CMMC Levels 1 through 3 consist of the security requirements specified in National Institute of Standards and
            Technology (NIST) Special Publication (SP) 800-171, Protecting Controlled Unclassified Information in
            Nonfederal Systems and Organizations. Levels 1 through 3 also include an additional 20 CMMC specific-
            practices along with 3 CMMC maturity processes for each of the 17 CMMC domains.</p>

        <p>CMMC Levels 4 and 5 include a subset of the enhanced security requirements from NIST SP 800-171B as well as
            other cybersecurity best practices and show that the contractor is capable of reducing the risk of Advanced
            Persistent Threats. As a contractor moves toward Level 5, they are required to standardize and optimize
            process implementation across the organization.</p>

    </div>


    <div class="mb-4">
        <h5>Assessment Criteria and Methodology</h5>
        <p>The CMMC assessment procedure leverages the Assessment Procedure defined in National Institute of Standards
            and Technology (NIST) Special Publication (SP) 800-171A Section 2.1:</p>

        <p class="font-italic">An assessment procedure consists of an assessment objective and a set of potential
            assessment methods and assessment objects that can be used to conduct the assessment. Each assessment
            objective includes a determination statement related to the [CMMC practice] that is the subject of the
            assessment. The determination statements are linked to the content of the [CMMC practice] to ensure
            traceability of the assessment results to the requirements. The application of an assessment procedure to a
            practice produces assessment findings. These findings reflect, or are subsequently used, to help determine
            if the practice has been satisfied.</p>

        <p class="font-italic">
            Assessment objects identify the specific items being assessed and can include specifications, mechanisms,
            activities, and individuals.
        </p>


        <ul class="font-italic">
            <li>Specifications are the document-based artifacts (e.g., policies, procedures, security plans, security
                requirements, functional specifications, and architectural designs) associated with a system.</li>
            <li>Mechanisms are the specific hardware, software, or firmware safeguards employed within a system.</li>
            <li>Activities are the protection-related actions supporting a system that involve people (e.g., conducting
                system backup operations, exercising a contingency plan, and monitoring network traffic).</li>
            <li>Individuals, or groups of individuals, are people applying the specifications, mechanisms, or activities
                described above.</li>
            <li>The assessment methods define the nature and the extent of the [Certified] Assessor’s actions. The
                methods include examine, interview, and test.</li>
            <li>The examine method is the process of reviewing, inspecting, observing, studying, or analyzing assessment
                objects (i.e., specifications, mechanisms, activities). The purpose of the examine method is to
                facilitate understanding, achieve clarification, or obtain evidence.</li>
            <li>The interview method is the process of holding discussions with individuals or groups of individuals to
                facilitate understanding, achieve clarification, or obtain evidence.</li>
            <li>And finally, the test method is the process of exercising assessment objects (i.e., activities,
                mechanisms) under specified conditions to compare actual with expected behavior.</li>
        </ul>

        <p><sub>1</sub> NIST SP 800-171A, Assessing Security Requirements for Controlled Unclassified Information, June
            2018.</p>
    </div>


    <div class="mb-4">
        <h5>Assessment Scope</h5>
        <p>
            Prior to a CMMC assessment, the contractor must define the scope for the assessment that represents the
            boundary
            for which the CMMC certificate will be issued.
        </p>
    </div>

    <div class="mb-4">
        <h5>Contractor Size</h5>
        <p>
            The CMMC assessment methodology follows a data-centric security process that applies the practices equally,
            regardless of the contractor’s size, constraints, or complexity. All CMMC levels are achievable by small,
            medium, and large contractors.
        </p>
    </div>

    <h4>
        The Assessment Process
    </h4>

    <div class="mb-4">

        <h5>The Interview</h5>
        <p> An organization's assessor should have discussions with various individuals within the organization to
            understand if a practice has been addressed. Interviews of pertinent staff (often at different
            organizational levels) helps determine if practices are implemented and if adequate resources, planning, and
            training are available to help achieve CMMC goals.
        <p>
    </div>

    <div class="mb-4">
        <h5>Review of Assessment Objects</h5>
        <p> The assessor will review, inspect, observe, study and analyze documents, mechanisms, and activities. The
            assessor reviews documentation to determine if assessment objectives are met. Interviews with contractor
            staff may identify the documents the contractor uses. Documents must be final drafts; working papers
            (drafts) of documentation are not eligible as they are not yet official. Common types of documents that can
            be used as evidence include applicable:</p>
        <ul>
            <li>policy, process, and procedures</li>
            <li>training materials</li>
            <li>plans and planning documents</li>
            <li>system-level, network, and data flow diagrams</li>
        </ul>
        If a contractor doesn't have certain documents, other documents may be used to provide evidence.
        In some cases, the practice is best assessed by viewing the safeguards in place for hardware, associated
        configuration information, or observing a process in action.
    </div>

    <div class="mb-4">
        <h5>What Is Tested</h5>
        <p>
            Testing is an important part of the assessment process. Interviews tell the assessor what the contractor
            staff believe to be true, documentation provides evidence of intent, and testing demonstrates what has or
            has not been done. For example, contractor staff may talk about how users are identified, documentation may
            provide details on how users are identified, but seeing a demonstration of identifying users provides
            evidence that the practice is met. The Certified Assessor will determine which practices, or objectives
            within a practice need demonstration or testing. Not all practices will require testing.
        </p>
    </div>




    <h4>The Assessment Structure</h4>

    <h5>CMMC Level Descriptions</h5>

    <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom.png" class="image-center mb-4" width="621"
        height="300" alt="CMMC level stairstep diagram">

    <div class="mb-4">
        <h5>Level 1</h5>
        <p> Level 1 safeguards Federal Contract Information (FCI). Level 1 encompasses the basic safeguarding
            requirements
            for FCI specified in Federal Acquisition Regulation (FAR) Clause 52.204-21, which defines FCI as:<br>
            <em>Information, not intended for public release, that is provided by or generated for the Government under
                a
                contract to develop or deliver a product or service to the Government, but not including information
                provided by the Government to the public (such as on public websites) or simple transactional
                information,
                such as necessary to process payments.</em><br>
            Department of Defense (DoD) contracts that specify the need for a contractor to process, store, or transmit
            FCI
            only require the contractor to comply with CMMC Level 1 practices. There is no CMMC process maturity
            assessed at
            Level 1.
        </p>
    </div>

    <div class="mb-4">

        <h5>Level 2</h5>
        <p> Level 2 is a transitional level. At Level 2, a contractor is not yet approved for CUI. CMMC Level 2
            practices
            and processes provide additional safeguarding above CMMC Level 1 and help to prepare a contractor to handle
            CUI
            at CMMC Level 3.</p>
    </div>
    <div class="mb-4">

        <h5>Level 3</h5>
        <p> CMMC Level 3 addresses the protection of Controlled Unclassified Information (CUI). The National Archives
            and
            Record Administration (NARA) defines CUI as:</p>

        <p class="font-italic">Information that requires safeguarding or dissemination controls pursuant to and
            consistent
            with laws, regulations, and government-wide policies, excluding information that is classified under
            Executive
            Order 13526, Classified National Security Information, December 29, 2009, or any predecessor or successor
            order,
            or Atomic Energy Act of 1954, as amended.</p>

        <p>A CMMC Level 3 assessment encompasses the practices and processes of CMMC Levels 1, 2, and 3. CMMC Level 3
            shows
            that a contractor can adequately protect CUI at the appropriate risk level while accounting for
            subcontractor
            information flow in a multi-tier supply chain.</p>
    </div>

    <div class="mb-4">
        <h5>Level 4</h5>
        <p>Levels 4 provides increased assurance to the DoD that a contractor is capable of protecting CUI while working
            to
            reduce the risk of Advanced Persistent Threats and focuses on the protection of CUI from APTs. It
            encompasses
            cybersecurity best practices along with enhanced security requirements from NIST SP 800-171B . These
            practices
            enhance the detection and response capabilities of an organization to address and adapt to the changing
            tactics,
            techniques,and procedures (TTPs) used by APTs.</p>
    </div>

    <div class="mb-4">
        <h5>Level 5</h5>
        <p>Level 5 continues the focus on the protection of CUI from APTs and requires a contractor to standardize and
            optimize process implementation across the organization.</p>
    </div>

    <div class="mb-4">
        <h5>Practice Descriptions</h5>
        <p>In CSET, each CMMC practice contains the following elements:</p>

        <ul>
            <li><strong>Identifier and Practice Statement:</strong> is headed by the practice identifier in the format
                Domain.Level.Number (e.g., AC.1.001) and followed by the CMMC practice statement.</li>
            <li><strong>Supplemental Guidance:</strong> Users can refer to the supporting authorities and additional
                guidance provided under <strong>Supplemental Guidance</strong>.</li>
            <li><strong>References:</strong> Users can click on the <strong>References</strong> icon to open links to
                CMMC
                .pdf documentation
                and to access CMMC assessment help documents, Errata, and the Glossary/Acronyms document.</li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Practice Findings</h5>
        <p>The assessment of a CMMC practice or process results in one of three possible findings: MET, NOT MET, or NOT
            APPLICABLE. To achieve a specific CMMC Level 1, for example, a contractor will need a finding of MET or NOT
            APPLICABLE on all Level 1 practices.</p>

        <p>The CMMC Practices are presented in the following format in the assessment:</p>
    </div>

    <div class="mb-4">
        <h5>CMMC Practice Identifiers</h5>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_2.png" class="image-outline my-3" width="60"
            height="42" alt="practice identifier">

        <p>Each practice is specified using the convention of <strong>[DOMAIN].[LEVEL].[PRACTICE NUMBER]</strong> where:
        </p>
        <ul>
            <li><strong>DOMAIN</strong> is the two letter domain abbreviation;</li>
            <li><strong>LEVEL</strong> is the level number; and</li>
            <li><strong>PRACTICE NUMBER</strong> is the identifier assigned to that practice.</li>
        </ul>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_3.png" class="image-center image-outline my-4"
            width="704" height="150" alt="answer key">
    </div>


    <div class="mb-4">
        <h4>CMMC Answer Key</h4>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_4.png" width="53" height="40"
            alt="yes answer option">
        <p><strong>MET</strong> is presented as <strong>Yes</strong> in the CSET Assessment Tool. The contractor
            successfully meets the practice. For each
            practice marked MET, the assessor includes statements that indicate the response conforms to the objectives
            and
            documents the appropriate evidence to support the response.</p>

        <p>For <strong>MET (Yes)</strong>, the assessor can use the <strong>Observations</strong> field to record
            applicable
            observations.</p>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_5.png" class="image-center image-outline mb-4"
            width="650" height="197" alt="answer with observation">


        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_6.png" width="50" height="41"
            alt="no answer option">
        <p><strong>NOT MET</strong> is presented as <strong>NO</strong> in the CSET Assessment tool. The contractor has
            not
            met the practice. For each
            practice marked NOT MET, the assessor includes statements that explain why and documents the appropriate
            evidence that the contractor does not conform to the objectives.</p>

        <p>For <strong>NOT MET (No)</strong>, the assessor can use the <strong>Observations</strong> field to record
            applicable observations.</p>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_5.png" class="image-center image-outline my-4"
            width="650" height="197" alt="answer with observation">
    </div>

    <div class="mb-4">

        <h5>Inherited Practice Objectives</h5>
        <p>A contractor can inherit practice objectives. A practice objective that is inherited is met because adequate
            evidence is provided that the enterprise or another entity, such as an External Service Provider (ESP),
            performs
            the practice objective. Evidence from the enterprise or the entity from which the objectives are inherited
            should show they are applicable to in-scope assets and that the assessment objectives are met. For each
            practice
            objective that is inherited, the assessor includes statements that indicate how they were evaluated and from
            whom they are inherited. If the contractor cannot demonstrate adequate evidence for all assessment
            objectives,
            through either contractor evidence or evidence of inheritance, the contractor will receive a NOT MET for the
            practice.</p>


        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_7.png" width="75" height="40"
            alt="alt answer option">
        <p><strong>NOT APPLICABLE (N/A)</strong> is presented as <strong>NA</strong> in the CSET Assessment Tool. The
            practice does not apply for the
            assessment. For each practice marked N/A, the assessor is required to include a statement that explains why
            the
            practice does not apply to the contractor. </p>

        <p>For <strong>NOT APPLICABLE (N/A)</strong> the assessor is required to enter comments in the pop-up text box
            beneath the question.
        </p>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_8.png" class="mb-4" width="150" height="70"
            alt="alt text field">
    </div>

    <div class="mb-4">
        <h5>Supplemental Guidance</h5>

        <p>Users can refer to the supporting authorities and additional guidance provided under <strong>Supplemental
                Guidance</strong>.</p>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_9.png" class="image-center image-outline my-4"
            width="600" height="154" alt="supplemental guidance">
    </div>

    <div class="mb-4">
        <h5>References</h5>

        <p>Users can click on the <strong>References</strong> icon to open links to CMMC .pdf documentation and to
            access CMMC assessment
            help documents, Errata, and the Glossary/Acronyms document.</p>

        <img src="assets/images/CMMC/tutorial/drex_ui_tutorial__custom_10.png" class="image-center image-outline my-4"
            width="600" height="150" alt="references">
    </div>

    <h4>CMMC Results and Report</h4>

    <p>The primary deliverable of a CSET - CMMC assessment is the CMMC Site Report which contains the findings
        associated with the assessment.</p>

    <p>To learn more about the CMMC Results and Report functionality, visit the <strong>Results</strong> and
        <strong>Reports</strong> section of the user
        guide.
    </p>


    <app-nav-back-next [page]="'tutorial-cmmc'"></app-nav-back-next>
</div>