<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">CMMC Tutorial</h3>

    <div class="mb-4">
        <h4>Overview</h4>
        <p>In general, a maturity model is a set of characteristics, attributes, indicators, or patterns that represent
            capability and
            progression in a particular discipline. The content of such a model typically exemplifies best practices and
            may incorporate
            standards or other codes of practice of that discipline. A maturity model thus provides a benchmark against
            which an
            organization can evaluate the current level of capability of its processes, practices, and methods and set
            goals and
            priorities for improvement.</p>

        <p>The CMMC assessment process provides consistent guidance for assessing a contractor against a specific CMMC
            level.</p>

    </div>

    <div class="mb-4">
        <h5>Cybersecurity Maturity Model Certification (CMMC)</h5>
        <p>
            CMMC stands for “Cybersecurity Maturity Model Certification” and is a unifying standard for the
            implementation of cybersecurity across the Defense Industrial Base (DIB). The CMMC framework includes a
            comprehensive and scalable certification element to verify the implementation of processes and practices
            associated with the achievement of a cybersecurity maturity level. CMMC is designed to provide increased
            assurance to the Department that a DIB company can adequately protect sensitive unclassified information,
            accounting for information flow down to subcontractors in a multi-tier supply chain.
        </p>
    </div>

    <div class="mb-4">
        <h5>CMMC Levels and Focus Areas</h5>
        <p>
            CMMC Levels 1 through 3 consist of the security requirements specified in National Institute of Standards
            and Technology
            (NIST) Special Publication (SP) 800-171, Protecting Controlled Unclassified Information in Nonfederal
            Systems and
            Organizations. Levels 1 through 3 also include an additional 20 CMMC specific- practices along with 3 CMMC
            maturity
            processes for each of the 17 CMMC domains.
        </p>

        <p>
            CMMC Levels 4 and 5 include a subset of the enhanced security requirements from NIST SP 800-171B as well as
            other
            cybersecurity best practices and show that the contractor is capable of reducing the risk of Advanced
            Persistent Threats.
        </p>
        <p>
            As a contractor moves toward Level 5, they are required to standardize and optimize process implementation
            across the organization.

        </p>
    </div>

    <div class="mb-4">
        <h5>Setting the Target Level</h5>

        <p>
            The first step to completing the CMMC practice questions is to set your desired target level. If you are
            unsure of your
            target level, check your RFI or RFP documents for the required CMMC compliance level for your contract or
            choose your
            level based on the following guidance. Additional guidance on CMMC Levels can be found in the CSET Resource
            Library's
            collection of CMMC materials. Recommended reading includes the
            <a href="{{documentURL('CMMC_ModelMain 1.02.pdf')}}" target="_blank">CMMC Model Certification 1.02 (March
                2020)</a>,
            <a href="{{documentURL('CMMC_AG_Lvl1_20201208_editable.pdf')}}" target="_blank">CMMC Assessment Guide: Level
                1
                v.1.10 (November 2020)</a>, and
            <a href="{{documentURL('CMMC_AG_Lvl3_20201208_editable.pdf')}}" target="_blank">CMMC Assessment Guide: Level
                3,
                v.1.10 (November 2020)</a>.
        </p>

        <ul>
            <li>Level 1: Safeguard Federal Contract Information (FCI)</li>
            <li>Level 2: Serve as transition step in cybersecurity maturity progression to protect CUI</li>
            <li>Level 3: Protect Controlled Unclassified Information (CUI)</li>
            <li>Levels 4-5: Protect CUI and reduce risk of Advanced Persistent Threats (APTs)</li>
        </ul>
    </div>

    <img src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom.png" style="width: 620px"
        alt="CMMC Levels and Associated Focus Areas." class="image-center image-outline h-auto"
        [class.w-100]="layoutSvc.hp">
    <div class="image-caption">Figure 1: CMMC Levels and Associated Focus Areas</div>


    <div class="mb-4">
        <h5>Level 1</h5>

        <p>
            Level 1 safeguards Federal Contract Information (FCI). Level 1 encompasses the basic safeguarding
            requirements for
            FCI specified in Federal Acquisition Regulation (FAR) Clause 52.204-21, which defines FCI as:
        </p>

        <p>
            <em>Information, not intended for public release, that is provided by or generated for the Government under
                a contract to develop
                or deliver a product or service to the Government, but not including information provided by the
                Government to the public (such
                as on public websites) or simple transactional information, such as necessary to process payments.</em>
        </p>
        <p>
            Department of Defense (DoD) contracts that specify the need for a contractor to process, store, or transmit
            FCI only require
            the contractor to comply with CMMC Level 1 practices. There is no CMMC process maturity assessed at Level 1.
        </p>
    </div>

    <div class="mb-4">
        <h5>Level 2</h5>
        <p>
            Level 2 is a transitional level. At Level 2, a contractor is not yet approved for CUI. CMMC Level 2
            practices and processes
            provide additional safeguarding above CMMC Level 1 and help to prepare a contractor to handle CUI at CMMC
            Level 3.
        </p>
    </div>

    <div class="mb-4">
        <h5>Level 3</h5>
        <p>
            CMMC Level 3 addresses the protection of Controlled Unclassified Information (CUI). The National Archives
            and Record Administration (NARA) defines CUI as:
        </p>
        <p><em>
                Information that requires safeguarding or dissemination controls pursuant to and consistent with laws,
                regulations, and government-wide policies, excluding information that is classified under Executive
                Order 13526, Classified National Security
                Information, December 29, 2009, or any predecessor or successor order, or Atomic Energy Act of 1954, as
                amended.</em>
        </p>
        <p>
            A CMMC Level 3 assessment encompasses the practices and processes of CMMC Levels 1, 2, and 3. CMMC Level 3
            shows
            that a contractor can adequately protect CUI at the appropriate risk level while accounting for
            subcontractor information
            flow in a multi-tier supply chain.
        </p>
    </div>

    <div class="mb-4">
        <h5>Level 4</h5>
        <p>
            Level 4 provides increased assurance to the DoD that a contractor is capable of protecting CUI while
            working to reduce the
            risk of Advanced Persistent Threats and focuses on the protection of CUI from APTs. It encompasses
            cybersecurity best
            practices along with enhanced security requirements from NIST SP 800-171B . These practices enhance the
            detection and
            response capabilities of an organization to address and adapt to the changing tactics, techniques and
            procedures (TTPs) used
            by APTs.
        </p>
    </div>

    <div class="mb-4">
        <h5>Level 5</h5>
        <p>
            Level 5 continues the focus on the protection of CUI from APTs and requires a contractor to standardize and
            optimize process implementation across the organization.
        </p>
    </div>


    <div class="mb-4">
        <h4>CMMC Practice Questions</h4>

        <p> The CMMC model measures not only process maturity or institutionalization, but also the implementation of
            practices.
            The model consists of 171 practices that are mapped across the five levels for all capabilities and domains.
            This mapping
            and the cumulative nature of the model is shown in Figure 2 below.
        </p>
    </div>


    <div class="mb-4">
        <img src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_2.png" style="width: 600px"
            alt="CMMC Levels with Associated Practices." class="image-center image-outline h-auto"
            [class.w-100]="layoutSvc.hp">
        <div class="image-caption">Figure 2: CMMC Levels and Associated Practices</div>
    </div>



    <div class="mb-4">
        <h4>CSET's CMMC Assessment Features</h4>

        <h5>Note: The guidance below shows screen captures based on the Assessment tab in the
            Menu Bar selected.</h5>

        <img alt="2. CMMC Tutorial" style="width: 750px" class="image-center h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_screen.png">

        <table role="presentation">
            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_1.png" alt="1" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>
                        Tools
                    </h5>
                    <img alt="1. Tools" width="100" height="52"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_1.png">
                    <p>
                        Selecting the drop-down Tools option expands the menu to show the following options. (For more
                        detail on the
                        Tools Menu options, visit the <a href="{{documentURL('htmlhelp/index.htm')}}"
                            target="_blank">CSET
                            User's Guide</a>.)</p>
                    <img alt="" width="200" height="243"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_3.png">
                </td>
            </tr>
            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_2.png" alt="2" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>Expand / Collapse Sidebar Menu</h5>
                    <img alt="2. Expand / Collapse Sidebar Menu" width="29" height="27"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_2.png">
                    <p>
                        This function expands the Sidebar Menu which includes links to the following assesment features:
                    </p>
                    <img alt="sidebar menu" height="530"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_4.png">

                </td>
            </tr>

            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_3.png" alt="3" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>Resource Library</h5>
                    <img alt="3. Resource Library" width="150" height="35"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_3.png">
                    <p>
                        The Resource Library offers a collection of CSET's cybersecurity guidance documents and
                        reference materials.
                    </p>


                </td>
            </tr>

            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_4.png" alt="4" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>Prepare Section</h5>
                    <img alt="4. Prepare Section" width="100" height="49"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_4.png">
                    <div>
                        The Prepare step is the first part of the assessment process and includes the following
                        preparatory pages:
                        <ul>
                            <li>The Assessment Configuration and Assessment Categories fields to collect the user's
                                information and assessment
                                selections</li>
                            <li>The Assessment Information screen where the user's basic demographic information is
                                collected</li>
                            <li>The remaining screens in the Prepare Step are tailored to the specifics of the user's
                                Assessment Option choice</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_5.png" alt="5" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>Assessment Section</h5>
                    <img alt="" width="150" height="47"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_5.png">
                    <p>
                        Depending on whether the user has selected the Maturity Model, Standard, or Network Diagram,
                        this section will
                        display the <strong>Maturity Model</strong> selection page or the <strong>Security Assurance
                            Level (SAL)</strong> selection page.
                    </p>


                </td>
            </tr>
            <tr>
                <td class="align-top">
                    <img src="assets/images/CMMC/tutorial/drex_bullet_6.png" alt="6" width="42" height="42">
                </td>
                <td class="pb-3">
                    <h5>Results</h5>
                    <img alt="6. Results" width="99" height="50"
                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_6.png">
                    <p>
                        The Results section details the various compliance metrics and measurements resulting from a
                        completed
                        assessment.</p>
                    <p>
                        The <strong>Reports</strong> section is located after the <strong>Results</strong> section in
                        the <strong>Sidebar Menu</strong>.
                    </p>


                </td>
            </tr>

        </table>

    </div>


    <div class="mb-4">
        <h4>CMMC Assessment Steps</h4>

        <div>
            <h5>1. Prepare</h5>

            <img alt="Image showing the Prepare Assessment Results tabs at the top of the page."
                style="border: solid 2px;  " width="300" height="40" class="my-3"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_6.png" />
        </div>

        <div class="mb-4">The first step to completing the CMMC practice questions is to set your desired target level.
            If you are
            unsure of your target level, see the <strong>CMMC Levels and Focus Areas</strong>
            section above, or check your RFI or RFP documents for the required CMMC compliance level for your contract.
        </div>

        <div><img alt="Image showing CMMC Target Level selection screen." style="width: 600px"
                class="border-0 h-auto my3" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_7.png" />
        </div>
    </div>




    <div class="mb-4">
        <h5>2. Beginning the assessment
        </h5>

        <div><img alt="" style="border: solid 1px;  " width="300" height="37" class="my-3"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_8.png" /></div>

        <div>
            <h6>Tailoring the Assessment: Filtering Practice Questions and Content on the Screen </h6>
        </div>

        <div>Before starting the assessment, you may wish to tailor the content and questions you interact with.</div>
        <div>To tailor your assessment, at the top right corner of the Assessment screen, note the <img alt=""
                style="border: solid 0px;  " width="150" height="29" class=" de_780D01ADE8"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_9.png" />
            buttons.
        </div>

        <div>
            <img alt="2. CMMC Tutorial" style="width: 799px" class="border-0 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_screen_2.png" />
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="1" style="border: solid 0px;  float: left; " width="26" height="26"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_1.png" />
                                <div class="ic">
                                    <h6>Collapse All | Expand All Button</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="1. Collapse All | Expand All Button" style="border: solid 0px;  " width="175"
                                    height="37" class="de_ctrlimg de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_1_2.png" /></div>
                            <div>While in the <strong>Assessment Section</strong> of CMMC, users can click the the
                                <strong>Collapse/Expand All <img alt="" style="border: solid 0px;  " width="150"
                                        height="23" class=" de_780D01ADE8"
                                        src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_10.png" /></strong>
                                buttons
                                at the top right of the screen to adjust the amount of practice questions content on
                                the page.
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="2" style="border: solid 0px;  float: left; " width="26" height="26"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_2.png" />
                                <div class="ic">
                                    <h6>Questions Filter</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">
                                <img alt="2. Questions Filter" style="border: solid 0px;  " width="40" height="46"
                                    class="de_ctrlimg de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_2_2.png" />
                            </div>
                            <div>The <strong>Questions Filter</strong> helps further tailor the types of content users
                                interact with during the assessment. </div>

                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <div>
            <h6>To View all CMMC Level Practice Questions Regardless of Target Level</h6>
        </div>

        <div>In the Questions Filter pop-up screen (below) users can select the option to view questions above their set
            target level during the assessment. This will not affect the assessment target level scoring. Any additional
            questions
            answered beyond the user's selected target level will be shaded gray on the reports and not calculated in
            the final
            maturity score.</div>

        <div>
            <h6>Questions Filter Pop-Up </h6>
        </div>

        <div>Select and de-select the checkboxes to tailor your practice questions throughout the assessment process.
            When you have finished the assessment, this feature is also useful during review.</div>

        <div><img alt="Image showing Question Filters pop-up screen." style="border: solid 0px;  " width="300"
                height="386" class=" de_780D01ADE8"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_11.png" /></div>

    </div>






    <div class="mb-4">
        <h5>3. Navigating the Assessment</h5>

        <h6>CMMC Practice Question Layout</h6>

        <div>
            <img alt="Image of the various components of the CSET tool with annotations."
                style="border: solid 2px; width: 800px" class="border-0 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_screen_3.png" />
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="1" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_1.png" />
                                <div class="ic">
                                    <h6>Domain and Domain Acronym</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="1. Domain and Domain Acronym" style="border: solid 0px;  " width="150"
                                    height="20" class="de_ctrlimg de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_1_3.png" /></div>
                            <div>The CMMC model consists of 17 domains. The majority of these domains originate from the
                                security-related areas in Federal Information Processing Standards (FIPS) Publication
                                200 and the related
                                security requirement families from NIST SP 800-171. The CMMC model also includes the
                                three domains of Asset Management
                                (AM), Recovery (RE), and Situational Awareness (SA).</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="2" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_2.png" />
                                <div class="ic">
                                    <h6>Practice Identifier</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">
                                <strong>AC.1.0001</strong>
                            </div>
                            <div>Each CMMC practice is specified using the convention of
                                <strong>[DOMAIN].[LEVEL].[PRACTICE NUMBER]</strong>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="3" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_3.png" />
                                <div class="ic">
                                    <h6>Capability</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="3. Capability" style="border: solid 0px; width: 300px;" class="h-auto"
                                    [class.w-100]="layoutSvc.hp"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_3_2.png" /></div>
                            <div>There are 43 capabilities associated with the 17 domains in the CMMC model.</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="4" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_4.png" />
                                <div class="ic">
                                    <h6>Level Indicator</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="4. Level Indicator" style="border: solid 0px;  " width="74" height="18"
                                    class="de_ctrlimg de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_4_2.png" /></div>
                            <div>Indicates the corresponding level associated with the practice statement. CMMC provides
                                a benchmark against which an organization can evaluate the current
                                <strong>level</strong> of capability of its
                                processes, practices, and methods and set goals and priorities for improvement.
                            </div>
                            <div><span class="de_461F34A8F1">The CMMC assessment process provides consistent guidance
                                    for assessing a contractor against specific CMMC <strong>Levels 1-5.</strong>
                                </span> </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="5" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_5.png" />
                                <div class="ic">
                                    <h6>CSET Icons</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="5. CSET Icons" style="border: solid 0px; width: 300px" class="h-auto"
                                    [class.w-100]="layoutSvc.hp"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_5.png" /></div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">In the
                                <strong>CSET Icons</strong> section below, you will find a breakdown of each of the
                                CSET-specific icons and how they help facilitate a CMMC assessment.
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="6" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_6.png" />
                                <div class="ic">
                                    <h6>Practice Statement</h6>
                                </div>
                            </div>

                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="6. Practice Statement" style="border: solid 0px; width: 600px" class="h-auto"
                                    [class.w-100]="layoutSvc.hp"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_6_2.png" /></div>
                            <div>The CMMC model consists of 171 practices that are mapped across the five levels for all
                                capabilities and domains. This mapping and the cumulative nature of the model is shown
                                in Figure.</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="7" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_7.png" />
                                <div class="ic">
                                    <h6>Assessment Findings (CSET Answer Key)</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="7. Assessment Findings (CSET Answer Key)" style="border: solid 0px;  "
                                    width="199" height="61" class="de_ctrlimg de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_control_7.png" /></div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">A full
                                breakdown of the CMMC Assessment Findings (CSET Answer Key) is below.</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div>
            <div class="de_ctrl">
                <table>
                    <tr>
                        <td>
                            <div><img alt="8" style="border: solid 0px;  float: left; " width="42" height="42"
                                    class="de_ctrlbullet de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_bullet_8.png" />
                                <div class="ic">
                                    <h6>Progress Indicator</h6>
                                </div>
                            </div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img
                                    alt="" style="border: solid 0px;  " width="45" height="44" class=" de_780D01ADE8"
                                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_12.png" /></div>
                            <div class="p"
                                style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">The
                                Progress Indicator will turn blue and complete the circle as the questions in each
                                Capability area are completed.
                                When all the questions are complete, the Progress Indicator will show a check mark.
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>


        <div>
            <h6>CMMC Practice Identifiers </h6>
        </div>

        <div><img
                alt="Identifier shows domain acronym: level number: practice number. The image shows the applicable level for the question beneath the identifier."
                style="border: solid 2px;  " width="60" height="42" class="my-3"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_13.png" />&#160; Each practice is specified
            using the convention of <strong>[DOMAIN].[LEVEL].[PRACTICE NUMBER]</strong>
            above the applicable <strong>level number</strong> for the practice.</div>

        <ul>
            <li><strong>DOMAIN</strong> is the two letter domain abbreviation;</li>
            <li><strong>LEVEL</strong> is the level number; and</li>
            <li><strong>PRACTICE NUMBER</strong> is the identifier assigned to that practice.</li>
            <li><strong>Level 1, 2, 3, 4, or 5.</strong></li>
        </ul>

        <div>
            <h6>CSET Answer Key for CMMC</h6>
        </div>

        <div><img alt="Image showing CSET Answer Key for CMMC." style="border: solid 0px;  " width="200" height="47"
                class="my-3" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_14.png" /></div>

    </div>






    <div class="mb-4">
        <h5>4. Answering the Practice Questions</h5>


        <div><img alt="Image of the Yes Icon answer choice." style="border: solid 0px;  " width="53" height="40"
                class=" de_780D01ADE8" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_15.png" /><span
                class="de_D8BCB2AC4C"><strong> MET</strong> </span> is presented as <strong>Yes</strong> in the CSET
            <span class="de_D8BCB2AC4C">Assessment </span>Tool<span class="de_D8BCB2AC4C">. The contractor successfully
                meets the practice. For </span>
        </div>
        <div><span class="de_D8BCB2AC4C">each practice marked MET, the assessor includes statements that indicate the
                response conforms to the objectives and documents the appropriate evidence to support the response.
            </span></div>

        <div><span class="de_D8BCB2AC4C">For <strong>MET (Yes)</strong>, the assessor can use the
                <strong>Observations</strong> field to record applicable observations.</span></div>

        <div><img alt="Image showing yes answer option and observations icon highlighted."
                style="border: solid 2px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_16.png" /></div>

        <div><img alt="Image of the No Icon answer choice." style="border: solid 0px;  " width="50" height="41"
                class="my-3" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_17.png" /><span
                class="de_D8BCB2AC4C"><strong> NOT MET</strong> is presented as <strong>NO</strong> in the CSET
                Assessment tool. The contractor has not met the practice. For each practice marked NOT MET, the assessor
                includes statements that explain why and
                documents the appropriate evidence that the contractor does not conform to the objectives.</span></div>

        <div><span class="de_D8BCB2AC4C">For <strong>NOT MET</strong> <strong>(No)</strong>, the assessor can use the
                <strong>Observations</strong> field to record applicable observations.</span></div>

        <div><img alt="Image showing No answer option and Observations icon highlighted."
                style="border: solid 2px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_18.png" /></div>
        <div><span class="de_D8BCB2AC4C">&#160;</span></div>

        <div>
            <h6>Inherited Practice Objectives - MET</h6>
        </div>
        <div><span class="de_D8BCB2AC4C">Note: A contractor can inherit practice objectives. A practice objective that
                is inherited is met because adequate evidence is provided that the enterprise or another entity, such as
                an External Service
                Provider (ESP), performs the practice objective. Evidence from the enterprise or the entity from which
                the objectives are
                inherited should show they are applicable to in-scope assets and that the assessment objectives are met.
                For each practice
                objective that is inherited, the assessor includes statements that indicate how they were evaluated and
                from whom they
                are inherited. If the contractor cannot demonstrate adequate evidence for all assessment objectives,
                through either contractor evidence or evidence of inheritance, the contractor will receive a NOT MET for
                the practice.</span>
        </div>

        <div><img alt="Alternate icon image." style="border: solid 0px;  " width="50" height="45" class="my-3"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_19.png" /><span
                class="de_D8BCB2AC4C"><strong>&#160; NOT APPLICABLE</strong> </span>is presented as <strong>ALT</strong>
            n the CSET <span class="de_D8BCB2AC4C">Assessment </span>Tool<span class="de_D8BCB2AC4C">. ALT indicates the
                practice does not apply for the assessment. For each practice marked ALT, the assessor is required to
                include a statement that explains why the practicedoes not apply to the contractor.&#160; </span></div>

        <div><span class="de_D8BCB2AC4C">Assessor comments can be recorded in the pop-up alternate justification text
                box beneath the question.</span></div>

        <div><img alt="Image showing Alternate answer option highlighted with corresponding justification text box."
                style="border: solid 1px;  " width="150" height="110" class="my-3"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_20.png" /></div>

        <div>
            <h6>Mark for Review</h6>
        </div>
        <div><span class="de_D8BCB2AC4C">The mark for review function allows a user to indicate that a practice question
                requires
                further review. Marked practices are listed in the "Comments and Marked for Review CMMC" report.
                In this section of the CSET Report Page (left side navigation "Reports"), the user can locate comments
                specific to each practice question and recall any practices that were marked for review.
            </span></div>

        <div><img alt="Image shows flag icon highlighted for a practice question needing further review."
                style="border: solid 1px; width: 400px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_21.png" /></div>

        <div>
            <h6>Supplemental Guidance</h6>
        </div>
        <div><span class="de_D8BCB2AC4C">Users can refer to the supporting authorities and additional guidance provided
                under <strong>Supplemental Guidance</strong>. </span></div>
        <div><span class="de_D8BCB2AC4C">Many of these documents can be found in the </span><a href="/resource-library"
                target="_blank">CSET Resource Library.</a></div>

        <div><img alt="Image shows supplemental guidance icon and references displayed when clicked."
                style="border: solid 1px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_22.png" /></div>

        <div>
            <h6>Comments </h6>
        </div>
        <div class="mb-1">The comments function allows the assessor to record non-structured comments for each question
            during the
            assessment. Practices with comments are listed in the "Comments and Marked for Review CMMC" report.
            In this section of the CSET Report Page (left side navigation "Reports"), the user can locate comments
            specific to each practice question and recall any practices that were marked for review.
        </div>
        <div>
            In contrast, the Observations function (also useful for commenting) is more rigid and contains
            required fields.
        </div>

        <div><img alt="Image shows Comments Icon with Red Dot Indicator to show a comment has been made. "
                style="border: solid 1px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_23.png" /></div>

        <div class="mb-3">
            <h6>Artifacts/Documents </h6>
        </div>
        <div>Assessors can use the Artifacts/Documents function to attach relevant evidence to each practice question.
        </div>

        <div><img alt="Image shows Artifacts and Documents icon." style="border: solid 1px; width: 600px"
                class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_24.png" /></div>

        <div>The documents will appear listed by file name beneath the question when attached. A red indicator will
            appear on the icon
            for each question where evidence has been attached.</div>

        <div><img alt="Image shows Artifacts and Documents function with a document attached."
                style="border: solid 1px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_25.png" /></div>

        <div><span class="de_D8BCB2AC4C">Access your attached documents, artifacts, and evidence under the <img alt=""
                    style="border: solid 0px;  " width="40" height="31" class=" de_780D01ADE8"
                    src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_26.png" /> Tools Menu next to the CSET
                Logo on the upper left side of the screen. </span></div>

        <div><img alt="Image shows the Assessment Documents location under the Tools menu."
                style="border: solid 0px; width: 400px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_27.png" /></div>

        <div><span class="de_D8BCB2AC4C">The Assessment Documents tab will open up a pop-up window showing all documents
                that are attached to the Assessment. Documents are organized by title.</span></div>

        <div><img alt="" style="border: solid 0px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_28.png" /></div>

        <div>
            <h6>References </h6>
        </div>
        <div><span class="de_D8BCB2AC4C">Users can click on the <strong>References</strong> icon to open links to CMMC
                .pdf documentation and to access CMMC assessment help documents, Errata, and the Glossary/Acronyms
                document. Documents will open in a separate window.</span></div>

        <div class="mb-3"><img
                alt="Image showing the References Icon highlighted expanding the CMMC Source Documents and Help Documents available."
                style="border: solid 2px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_29.png" /></div>


        <div>
            <h6>Observations </h6>
        </div>
        <div>The Observations Icon opens a pop-up window that allows an assessor to record their observations for each
            practice question. </div>

        <div><img alt="Image shows Observations Icon highlighted." style="border: solid 1px; width: 600px"
                class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_30.png" /></div>

        <div>Once a user has entered their observations, a red indicator highlights the icon and the observations are
            listed beneath the practice question in order of entry. </div>

        <div class="mb-3"><img alt="" style="border: solid 0px; width: 600px" class="my-3 h-auto"
                [class.w-100]="layoutSvc.hp" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_31.png" /></div>


        <div>
            <h6>Observations Details Pop-Up Screen:</h6>
        </div>
        <div>After selecting the Observations Icon, the Observations Details screen appears.</div>

        <div class="mb-3"><img alt="" style="border: solid 0px; width: 600px" class="h-auto"
                [class.w-100]="layoutSvc.hp" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_32.png" /></div>

        <div>
            <h6>Feedback</h6>
        </div>
        <div>Users can record Feedback during the assessment for submission to CSET/CISA. Some examples of submitted
            feedback include commentary on the subject matter of the question, the structure of the question, and how
            the
            question and layout can be improved. </div>

        <div class="mb-3"><img alt="Image shows Feedback Icon highlighted with comments in text box."
                style="border: solid 1px; width: 600px" class="my-3 h-auto" [class.w-100]="layoutSvc.hp"
                src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_33.png" /></div>

    </div>




    <div class="mb-4">
        <h5>5. CMMC Results and Report</h5>
        <img alt="Image shows the Results tab selected." style="width: 350px" class="my-3 h-auto"
            [class.w-100]="layoutSvc.hp" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_34.png" />


        <p>The primary deliverable of a CMMC assessment is the CMMC Site Report which contains the findings associated
            with the assessment. To learn more about the CMMC Results and Report functionality, visit the
            <a href="{{documentURL('htmlhelp_cmmc/3_2__results.htm')}}" target="_blank">Results</a> and
            <a href="{{documentURL('htmlhelp_cmmc/reports.htm')}}" target="_blank">Reports</a> section of the CMMC User
            Guide.
        </p>
    </div>




    <div class="mb-4">
        <h5>6. Submit Feedback</h5>
        <p>
            At the end of the assessment, users are prompted to submit their feedback on the CSET Assessment.</p>

        <img alt="Image shows the Feedback screen with an option to email." style="width: 650px" class="my-3 h-auto"
            [class.w-100]="layoutSvc.hp" src="assets/images/CMMC/tutorial/drex_cmmc_tutorial_custom_35.png" />
    </div>





    <app-nav-back-next [page]="'tutorial-cmmc'"></app-nav-back-next>
</div>