<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="bgc-gray50 d-flex flex-11a w-100">
    <div class="p-4 pb-0 pe-0 d-flex flex-column flex-11a w-100">
        <h3 class="mb-4">Import New Module (Question/Requirements Set)</h3>
        <div class="pe-4 oy-auto d-flex flex-11a w-100 h-0">
            <div class="p-0 me-4 col-md-4 d-flex flex-column flex-11a w-100" style="overflow:auto;">
                <h4>Export</h4>
                <ul class="list-group">
                    <ng-container *ngFor="let set of sets">
                        <li class="list-group-item bgc-white">
                            <div style="display: flex; flex-flow:column">
                                <h6>{{set.name}}</h6>
                                <div class="d-flex mt-2">
                                    <span class="flex-11a mb-1">
                                        <button (click)="clickXMLLink(set.setName)"
                                            class="btn btn-secondary me-1">XML</button>
                                        <button (click)="clickJSONLink(set.setName)"
                                            class="btn btn-secondary">JSON</button>
                                    </span>
                                    <span class="flex-01a">
                                        <button (click)="loadJSONLink(set.setName)" class="btn btn-success">Load to
                                            editor</button>
                                    </span>
                                </div>

                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="p-0 col-md-8 d-flex flex-column flex-11a w-100">
                <div>
                    <div class="alert alert-success" role="alert" *ngIf="state=='Succeeded'">The module was imported
                        successfully!</div>
                    <div class="alert alert-info" role="alert" *ngIf="state=='Processing'">Module has been submitted
                        for processing. This may take several minutes</div>
                    <div class="alert alert-danger" role="alert" *ngIf="state=='Failed'">The module failed to import
                        because an error occurred in processing.</div>
                    <div class="alert alert-warning" role="alert" *ngIf="importNgForm.invalid">You need to resolve all
                        errors before the module can be imported.</div>

                </div>
                <form #importNgForm='ngForm' class="d-flex flex-column flex-11a" (submit)="submitForm()">
                    <style>
                        .my-drop-zone {
                            border: dashed 3px lightgray;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            color: #aaa;
                            font-size: 20pt;
                            text-align: center;
                            position: absolute;
                            z-index: 1000;
                            opacity: 0.8
                        }

                        .nv-file-over {
                            border: dotted 3px darkred;
                        }

                        /* Default class applied to drop zones on over */
                        .nv-file-hidden {
                            visibility: hidden;
                        }

                        .another-file-over-class {
                            border: dotted 3px green;
                        }

                        .fullscreen {
                            background: white;
                            padding: 10px;
                        }

                        ngs-code-editor .monaco-editor .decorationsOverviewRuler {
                            pointer-events: none !important;
                        }

                        ngs-code-editor .monaco-editor .lines-content {
                            pointer-events: auto !important;
                        }

                        ngs-code-editor .monaco-editor .view-lines {
                            pointer-events: auto !important;
                        }

                        ngs-code-editor .monaco-editor .monaco-mouse-cursor-text {
                            pointer-events: auto !important;
                        }

                        /* Fix text highlighting elements blocking clicks */
                        ngs-code-editor .monaco-editor .mtk1,
                        ngs-code-editor .monaco-editor .bracket-highlighting-0,
                        ngs-code-editor .monaco-editor .bracket-highlighting-1,
                        ngs-code-editor .monaco-editor .bracket-highlighting-2,
                        ngs-code-editor .monaco-editor .bracket-highlighting-3 {
                            pointer-events: none !important;
                        }

                        /* Ensure the input area can receive clicks */
                        ngs-code-editor .monaco-editor .inputarea {
                            pointer-events: auto !important;
                        }
                    </style>


                    <div class="d-flex flex-11a flex-column w-100" ng2FileDrop
                        style="position:relative;min-height:100px;position:relative; "
                        (fileOver)="fileOverModuleBase($event)" (onFileDrop)="onModuleFileChanged($event)"
                        [uploader]="uploader" #codeContainer [ngClass]="{'fullscreen':getFullScreen()}">
                        <div style="position:absolute;top:0;bottom:0;left:0;right:0;display:none;z-index:10000;background:rgba(0,0,0,0.25); align-items:center;justify-content:center"
                            [ngClass]="{'d-flex': hasModuleBaseDropZoneOver }">
                            <h4>Drop code file here</h4>
                        </div>
                        <h4 class="d-flex" style="align-items:center">Module Code
                            <div class="btn-group ms-3 me-3 flex-11a" role="group" aria-label="...">
                                <button (click)="switchToJson()" type="button" class="btn btn-secondary"
                                    [ngClass]="{'active': this.lang=='json'}">JSON</button>
                                <button (click)="switchToXml()" type="button" class="btn btn-secondary"
                                    [ngClass]="{'active': this.lang=='xml'}">XML</button>
                            </div>

                            <span class="flex-01a" style="font-size:12px;font-weight:normal;display:inline-block">
                                Schema: <a style="font-size:12px;font-weight:normal;" role="button"
                                    (click)="getXSD()">XML</a>
                                | <a style="font-size:12px;font-weight:normal;" role="button"
                                    (click)="getJsonSchema()">JSON</a>
                            </span>
                            <button class="btn btn-secondary flex-01a ms-3" type="button" (click)="this.fullScreen()">
                                <span
                                    [ngClass]="{'cset-icons-resize-small':getFullScreen(), 'cset-icons-resize-full':!getFullScreen()}"></span>
                            </button>
                        </h4>
                        <div class="mb-2">Please specify the code for your new module below. You can either begin
                            typing, drop a file onto the editor, load an existing module, or copy and paste text. To get
                            suggestions, type CTRL-Spacebar. Use alt-shift-f to format the code.</div>
                        <div [ngClass]="{'has-error': showError()}" class="d-flex flex-11a p-0 mb-2">
                            <ngs-code-editor #code class="d-flex flex-11a form-control" [codeModel]="codeModel"
                                [options]="configOptions" (valueChanged)="onModelChange($event)"
                                style="height:auto!important;"></ngs-code-editor>
                        </div>
                    </div>
                    <div class="panel panel-default mt-0 mb-3" *ngIf="errors.length">
                        <div class="panel-heading">
                            <h4 class="panel-title px-2 py-1" style="color:white">
                                Processing errors
                            </h4>
                        </div>
                        <ul class="panel-body m-0" style="max-height:400px;overflow:auto;">
                            <li style="list-style-type:none; margin:5px 10px; border:1px 0 #ccc;font-family:'Courier New', Courier, monospace"
                                *ngFor="let item of errors">{{ item }}</li>
                        </ul>
                    </div>

                    <input style="display:none" #codeGoodInput="ngModel" [(ngModel)]="codeGood" name="codeGood"
                        type="checkbox" value="true" required *ngIf="!codeChecked">
                    <div class="panel panel-default mt-0 mb-3"
                        *ngIf="state!='Processing'&&monaco&&monaco.editor&&monaco.editor.getModelMarkers({}).length">
                        <div class="panel-heading">
                            <h4 class="panel-title px-2 py-1" style="color:white">
                                Error messages
                            </h4>
                        </div>
                        <ul class="panel-body m-0" style="max-height:150px;overflow:auto;">
                            <li style="list-style-type:none; margin:2px 5px; "
                                *ngFor="let item of monaco.editor.getModelMarkers({})">
                                <span style="font-family:'Courier New', Courier, monospace; font-size:10pt;"
                                    [ngClass]="{'text-warning':!item.code, 'text-danger':item.code}">{{
                                    "Line "+ item.startLineNumber+', Column '+ item.startColumn+' - '+item.message
                                    }}</span>
                            </li>
                        </ul>
                    </div>

                    <div style="margin: .5em 0">
                        <button [attr.disabled]="state=='Processing'||!importNgForm.valid?true:null" type="submit"
                            class="btn btn-success btn-s me-2" *ngIf="state!='Succeeded'"
                            [ngClass]="{'p-0': state=='Processing', 'pe-2':state=='Processing'}"
                            style="display:inline-flex;align-items:center">
                            <span class="spinner-container" style="display:inline-block" *ngIf="state=='Processing'">
                                <div class="spinner" style="max-width: 20px; max-height: 20px;"></div>
                            </span>
                            <span class="cset-icons-import me-1" *ngIf="state!='Processing'"></span>
                            <span *ngIf="state=='Failed'">Retry Import</span>
                            <span *ngIf="state=='Processing'">Processing</span>
                            <span *ngIf="state=='Ready'">Import</span>
                        </button>
                        <div class="d-flex align-items-center" *ngIf="state!='Processing' && state!='Ready'">
                            <button class="btn btn-primary" (click)="clearForm()">Import another module
                            </button>
                            <div style="margin-bottom: 0" class="alert alert-warning ms-3">
                                Warning: This will clear the code editor
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>