<!---------------------- 

   Copyright 2025 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel flex justify-start flex-col flex-11a trend-table-width" *transloco="let t">
  <div class="max-1200">
    <h3 class="mb-4">{{t('aggregation.compare.compare assessments')}}</h3>

    <p>
      {{t('aggregation.compare.para 14')}}
    </p>

    <div class="btn-group-toggle mt-3" data-toggle="buttons">
      <label *ngIf="this.type === 'standards-based'" class="btn btn-sal-select btn-rounded form-check-label"
        [class.active]="tab === 'SUMMARY'" (click)="changeState('SUMMARY')">
        <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
          [checked]="tab === 'SUMMARY'">{{t('aggregation.compare.overall summary')}}
      </label>

      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="tab === 'INDIVIDUAL'"
        (click)="changeState('INDIVIDUAL')">
        <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
          [checked]="tab === 'INDIVIDUAL'">{{t('aggregation.compare.individual assessment comparison')}}
      </label>

      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="tab === 'MISSED'"
        (click)="changeState('MISSED')">
        <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
          [checked]="tab === 'MISSED'">{{t('aggregation.compare.commonly missed questions')}}
      </label>

      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="tab === 'BESTWORST'"
        (click)="changeState('BESTWORST')">
        <input class="btn-check" type="radio" autocomplete="off" name="sal_type_selector"
          [checked]="tab === 'BESTWORST'">{{t('aggregation.compare.best to worst')}}
      </label>

      <hr class="w-full hr-sal mt-1 mb-5" />

      <div class="mt-0 mr-0 flex flex-col justify-start flex-11a">
        <div *ngIf="this.type === 'maturity-based'; else standardsBased" [ngSwitch]="tab"
          class="flex flex-col justify-start flex-00a">
          <app-compare-individual-maturity *ngSwitchCase="'INDIVIDUAL'"></app-compare-individual-maturity>
          <app-compare-missed-maturity *ngSwitchCase="'MISSED'"></app-compare-missed-maturity>
          <app-compare-bestworst-maturity *ngSwitchCase="'BESTWORST'"></app-compare-bestworst-maturity>
        </div>
        <ng-template #standardsBased [ngSwitch]="tab">
          <app-compare-summary *ngSwitchCase="'SUMMARY'"></app-compare-summary>
          <app-compare-missed *ngSwitchCase="'MISSED'"></app-compare-missed>
          <app-compare-individual *ngSwitchCase="'INDIVIDUAL'"></app-compare-individual>
          <app-compare-bestworst *ngSwitchCase="'BESTWORST'"></app-compare-bestworst>
        </ng-template>
      </div>
    </div>

    <div class="mt-3 flex justify-between flex-00a">
      <button class="btn btn-primary" (click)="navAggSvc.navBack('compare-analytics')">{{t('buttons.back')}}</button>
      <button *ngIf="this.type != 'maturity-based'" class="btn btn-primary"
        (click)="generateReport('compare-report')">{{t('aggregation.compare.generate compare report')}}</button>
      <button *ngIf="this.type === 'maturity-based'" class="btn btn-primary"
        (click)="generateReport('compare-report-m')">{{t('aggregation.compare.generate compare report')}}</button>
    </div>
  </div>
</div>