<!---------------------- 

   Copyright 2018 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel m-0 d-flex flex-column flex-11a oy-auto h-0 w-100">
  <app-builder-breadcrumbs></app-builder-breadcrumbs>
  <div>
    <h3>
      Requirement Detail
    </h3>

    <div class="form-group p-0 col-md-12">
      <label>Category</label>
      <div>
        {{r?.Category}}
      </div>
    </div>

    <div class="form-group p-0 col-md-12">
      <label>Subategory</label>
      <div>
        {{r?.Subcategory}}
      </div>
    </div>

    <div class="form-group p-0 col-md-12">
      <label required for="requirementTitle">Identifier/Title</label>
      <input type="text" class="form-control" id="requirementTitle" name="requirementTitle" required focusOnInit="true"
        [ngModel]="r?.Title" (ngModelChange)="updateTitle($event)">
      <div *ngIf="">Title is required</div>
    </div>

    <div class="form-group p-0 col-md-12">
      <label required for="requirementText">Requirement Text</label>
      <textarea id="description" class="form-control" type="text" id="requirementText" name="requirementText" [ngModel]="r?.RequirementText"
        (ngModelChange)="updateDescription($event)"></textarea>
    </div>

    <div class="form-group p-0 col-md-12">
      <h4>SAL</h4>
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-level btn-rounded" [class.active]="hasSAL(r, 'L')">
          <input type="checkbox" id="SAL-L-{{r?.RequirementID}}" name="SAL-L-{{r?.RequirementID}}" [checked]="hasSAL(r, 'L')"
            (click)="toggleSAL(r, 'L', $event)" data-toggle="toggle" />Low</label>
        <label class="btn btn-level btn-rounded" [class.active]="hasSAL(r, 'M')">
          <input type="checkbox" id="SAL-M-{{r?.RequirementID}}" name="SAL-M-{{r?.RequirementID}}" [checked]="hasSAL(r, 'M')"
            (click)="toggleSAL(r, 'M', $event)" data-toggle="toggle" />Moderate</label>
        <label class="btn btn-level btn-rounded" [class.active]="hasSAL(r, 'H')">
          <input type="checkbox" id="SAL-H-{{r?.RequirementID}}" name="SAL-H-{{r?.RequirementID}}" [checked]="hasSAL(r, 'H')"
            (click)="toggleSAL(r, 'H', $event)" data-toggle="toggle" />High</label>
        <label class="btn btn-level btn-rounded" [class.active]="hasSAL(r, 'VH')">
          <input type="checkbox" id="SAL-VH-{{r?.RequirementID}}" name="SAL-VH-{{r?.RequirementID}}" [checked]="hasSAL(r, 'VH')"
            (click)="toggleSAL(r, 'VH', $event)" data-toggle="toggle" />Very High</label>
      </div>
      <div *ngIf="missingSAL(r)" class="alert alert-danger">At least one SAL level is required</div>
    </div>



  </div>
</div>