<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t" class="white-panel">
  <div id="top"></div>
  <div class="flex-column flex-wrap justify-content-between align-items-start flex-11a mb-4">

    <div class="d-flex flex-row flex-wrap sticky-sal w-100 justify-content-end align-items-start flex-11a pb-3">
      <div class="mr-3 answered-count" *ngIf="!!groupings" matTooltip="{{t('tooltip.answered count')}}">
        {{ completionSvc.answeredCount }}/{{ completionSvc.totalCount }}
      </div>
      <div>
        <button class="btn btn-primary m-0 questions-header-collapse-button-radius" (click)="expandAll(false)"
          matTooltip="{{t('buttons.collapse all')}}" aria-label="{{t('buttons.collapse all')}}">
          <i class="fas fa-compress-alt"></i></button>
        <button class="btn btn-primary m-0 br-0" (click)="expandAll(true)" matTooltip="{{t('buttons.expand all')}}"
          aria-label="{{t('buttons.expand all')}}"><i class="fas fa-expand-alt"></i></button>
        <button class="btn btn-primary m-0 questions-header-filter-button-radius" (click)="showFilterDialog()"
          matTooltip="{{t('buttons.filter')}}">
          <i class="cset-icons-filter" aria-label="{{t('buttons.filter')}}"></i>
        </button>
      </div>

    </div>

    <div class="d-block mb-2">
      <h2 *ngIf="groupings?.length != 0">{{ pageTitle }}</h2>

      <h3>{{ groupingTitle }}</h3>

      <div class="mb-2" *ngIf="showTargetLevel">
        The target maturity level for this assessment is set to
        <strong [innerText]="maturitySvc.targetLevelName()"></strong>.
      </div>
    </div>

    <div *ngIf="!!groupings && !areGroupingsVisible()"
      class="alert-warning mt-4 mb-4 d-flex flex-row justify-content-center align-items-center flex-11a">
      <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
      <span class="fs-base-3 p-2 d-flex flex-column justify-content-center flex-11a">
        There are no applicable {{ questionsAlias | lowercase }} to display. Check the assessment's
        target maturity level.
      </span>
    </div>

    <div *ngIf="filterSvc.isFilterEngaged()" class="filters-engaged">{{t('filter-menu.showing only filtered')}}</div>

    <div *ngIf="maturityFilteringSvc.showingAboveMaturityTargetLevel()" class="filters-engaged">Including Questions
      Above Target Level</div>


    <ng-container *ngIf="!!groupings">
      <p class="mb-4" *ngIf="this.groupingId?.toLowerCase() == 'bonus'">
        {{t('questions.instructions ssg')}}
      </p>

      <p class="mb-4">
        {{t('questions.instructions 1')}} {{ msgUnansweredEqualsNo }}
      </p>
    </ng-container>

    <div class="mb-4" *ngIf="this.assessSvc.assessment?.maturityModel?.modelId == 11">
      <strong>{{t('questions.cpg answer key')}}</strong>
      <ul style="list-style-type: none;">
        <li><span
            style="background-color:#006000; width: 20px; height: 20px; display: inline-block; vertical-align: middle"></span>
          {{t('answer-options.button-tooltips.imp-cpg')}}
        </li>
        <li>
          <span
            style="background-color:#0a4b6e; width: 20px; height: 20px; display: inline-block; vertical-align: middle"></span>
          {{t('answer-options.button-tooltips.prog-cpg')}}
        </li>
        <li>
          <span
            style="background-color:#b17300; width: 20px; height: 20px; display: inline-block; vertical-align: middle"></span>
          {{t('answer-options.button-tooltips.scoped-cpg')}}
        </li>
        <li>
          <span
            style="background-color:#990000; width: 20px; height: 20px; display: inline-block; vertical-align: middle"></span>
          {{t('answer-options.button-tooltips.not-cpg')}}
        </li>
      </ul>
    </div>

    <div *ngIf="!groupings" class="w-100">
      <div class="spinner-container" style="margin: 2em auto">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>

    <ng-template [ngIf]="!!groupings">
      <div *ngFor="let g of groupings" class="w-100">
        <app-grouping-block [grouping]="g"></app-grouping-block>
      </div>
    </ng-template>

  </div>

  <app-nav-back-next *ngIf="isNcuaModel()" [page]="'maturity-questions-ncua'"></app-nav-back-next>
  <app-nav-back-next *ngIf="!isNcuaModel() && !groupingId" [page]="'maturity-questions'"></app-nav-back-next>
  <app-nav-back-next *ngIf="!!groupingId" [page]="'maturity-questions-' + groupingId"></app-nav-back-next>

</div>