.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Calibri";
font-size: 16pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Calibri";
font-size: 14pt;color:#004891;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_006B16D943
{
	font-family: "Arial";
	font-size: 26pt;
	color:#005287;
}
span.de_074F61E450
{
	font-family: "Arial";
	font-size: 24pt;
	color:#008080;
}
span.de_075DEB3097
{
	font-family: "Arial";
	font-size: 12pt;
	color:#205e9e;
	text-decoration:underline;
}
span.de_0EBF10B7A2
{
	font-family: "Arial";
	font-size: 12pt;
	color:#202529;
}
span.de_1060034A5C
{
	font-family: "Arial";
	font-size: 28pt;
	color:#005287;
}
span.de_160AB2A55C
{
	font-family: "Arial";
	font-size: 10pt;
	color:#3f3f3f;
	font-style:italic;
}
span.de_2385B26FC8
{
	font-family: "Arial";
	font-size: 12pt;
	color:#003366;
}
span.de_2562AE2FEA
{
	font-family: "Arial";
	font-size: 30pt;
	color:#0e3c79;
}
span.de_344E087466
{
	font-family: "Arial";
	font-size: 12pt;
	color:#54823b;
}
span.de_403BE9223A
{
	font-size: 10pt;
}
span.de_477A69E6CE
{
	font-family: "Arial";
	font-size: 10pt;
	color:#ffffff;
}
span.de_54A6EBB3B9
{
	font-family: "Arial";
	font-size: 10pt;
	color:#1a3768;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_59D175D728
{
	font-family: "Arial";
	font-size: 12pt;
	color:#008aff;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_70A2D626BA
{
	font-family: "Arial";
	font-size: 12pt;
	color:#005287;
}
span.de_85DD9E5F0A
{
	font-family: "Arial";
	font-size: 20pt;
	color:#095278;
}
span.de_AC776ED092
{
	font-family: "Arial";
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_AEDDA0456E
{
	font-family: "Arial";
	font-size: 14pt;
	color:#1a3768;
}
span.de_B7BF50D8C2
{
	font-family: "Arial";
	font-size: 13pt;
	color:#54823b;
}
span.de_C8F9E96783
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1a3768;
}
span.de_CA1BBE3AD3
{
	font-family: "Arial";
	font-size: 12pt;
	color:#3f3f3f;
}
span.de_CC7DAF531E
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
}
span.de_D51CF13924
{
	font-family: "Arial";
	color:#3f3f3f;
}
span.de_D5FB47BF08
{
	font-family: "Arial";
	font-size: 10pt;
	color:#6460ac;
}
span.de_D66F0623DB
{
	font-family: "Arial";
	font-size: 12pt;
}
span.de_D70E6F0F21
{
	font-family: "Arial";
	font-size: 10pt;
	color:#1a3768;
	font-style:italic;
}
span.de_E8DA75673A
{
	font-family: "Arial";
	font-size: 24pt;
	color:#005287;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, decimal) '.\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, decimal) '.\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
