<div *transloco="let t">
     <div class="row mb-4" *ngFor="let ss of demographicData.sectors" style="background-color: rgb(70, 18, 70)">
          <div class="col">
               <label for="sector" class="form-label">{{ t('sector') }}</label>
               <select [ngClass]="{ 'is-invalid' : !ss.sector}" class="form-select" id="sector" tabindex="0"
                    name="sector" [(ngModel)]="ss.sector" (ngModelChange)="onChangeSector()">
                    <option [ngValue]="null">-- {{ t('select') }} --</option>
                    <option *ngFor="let i of demographicData.listSectors" [ngValue]="i.optionValue"
                         [selected]="i.optionValue === ss?.sector">
                         {{ i.optionText }}
                    </option>
               </select>
          </div>

          <div class="col">
               <label for="subsector" class="form-label">Sub-Sector</label>
               <select [ngClass]="{ 'is-invalid' : !ss.subsector }" class="form-select" id="subsector" tabindex="0"
                    name="subsector" [(ngModel)]="ss.subsector" (ngModelChange)="update($event)">
                    <option [ngValue]="null">-- {{ t('select') }} --</option>
                    <option *ngFor="let i of demographicData.listSubsectors" [ngValue]="i.optionValue"
                         [selected]="i.optionValue === ss?.subsector">
                         {{ i.optionText }}
                    </option>
               </select>
          </div>
     </div>
</div>