<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-advisory"></span>
    <span>INL Privacy & Accessibility Notice</span>
  </div>

  <mat-dialog-content class="p-3 pr-0 mt-2 oy-auto d-flex flex-column flex-11a">
    <div class="px-3">
      <h2>Accessibility</h2>
      <p>
        The organization is committed to making its electronic and information technologies accessible to individuals
        with
        disabilities in accordance with Section 508 of the Rehabilitation Act (29 U.S.C. 794d), as amended in 1998. Send
        feedback or concerns related to the accessibility of this website to DOE Section 508 Coordinator mailbox.
      </p>

      <h2>Privacy Notice</h2>
      <h3>Introduction</h3>
      <p>
        This Privacy Notice describes the personal and private information that Battelle Energy Alliance (BEA) collects
        from or
        about CSET assessment data, how that information is used, and to whom that information may be disclosed.
      </p>

      <h3>Information We Collect and Store Automatically</h3>
      <p>
        We may collect certain information automatically when you use our Sites, such as your Internet protocol (IP)
        address,
        device identifiers, browser type, operating system, Internet service provider, the date and time of your visit,
        information about the links you click, the pages you view, the general manner in which you navigate the Sites,
        and other
        standard server log information. We may also collect certain location information when you use our Sites, such
        as your
        computer’s IP address.
      </p>

      <h3>Sending Personal or Confidential Information</h3>
      <p>
        If you choose to provide us with personal information – by sending us an email or by filling out an online form
        with
        your personal information and submitting, it to us through our web site – please be aware that we may use that
        information to:
      </p>
      <ul>
        <li>Respond to your message; and</li>
        <li>Help gather the requested information.</li>
      </ul>

      <p>
        We do not create individual profiles with the information you provide. We do not collect information for
        commercial
        marketing. However, the material you submit may be seen by various people and collected, such as:
      </p>
      <ul>
        <li>We may enter the information you send into our electronic database.</li>
        <li>Share it with INL staff.</li>
        <li>We may also share it with the United States Department of Energy or other government agencies, and parties
          who have an interest in the activities and mission of the INL.</li>
      </ul>

      <p>
        Online forms submitted from the {{ data.publicDomainName }} domain utilize TLS (Transport Layer Security)
        technology for encryption
        of transmitted data. E-mail and online forms which are not part of the {{ data.publicDomainName }} domain are
        not secure against
        interception and senders cannot expect privacy. While we believe the secure method is the preferred method to
        send
        business sensitive material or personal information electronically, we cannot guarantee the security of any
        electronic
        data transmissions.
      </p>

      <h3>General Disclaimer</h3>
      <p>
        With respect to information from this server, Battelle Energy Alliance (BEA) nor any of their employees, makes
        any
        warranty, express or implied, including the warranties of merchantability and fitness for a particular purpose,
        or
        assumes any legal liability or responsibility for the accuracy, completeness, or usefulness of any such
        information, or
        of any apparatus, product, or process disclosed, or represents that its use would not infringe privately owned
        rights.
        Reference to any specific commercial product, process, or service by trade name, trademark, manufacturer, or
        otherwise
        does not necessarily constitute or imply its endorsement, recommendation, or favoring by BEA.
      </p>

      <h3>Links to Other Sites</h3>
      <p>
        This web site has links to other Federal agencies and private organizations. Once you access those sites you are
        subject
        to the privacy notice of the new site.
      </p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-start flex-00a">
    <button class="btn btn-secondary" (click)="close()">OK</button>
  </mat-dialog-actions>
</div>