<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<h5 class="mb-4">
    Please complete all of the fields on this page. This Assessment Information will provide the infrastructure
    taxonomy, geographic, and consequence data necessary to compare your organization’s assessment results to others in
    your field and provide aggregate trends of cybersecurity strengths and weakness across the state’s collective
    critical infrastructure.
    All subsections within this page must be completed in order to access your final reports.
</h5>

<h4>Infrastructure Taxonomy</h4>

<div class="mb-5">

    <p>
        Select the critical infrastructure sector and subsector that best reflects your primary business/operations.
    </p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                Sector
                <button (click)="launchSectorHelp()" style="background-color: transparent; border: none">
                    <span class="cset-icons-question-circle-outline fs-base-4 mr-2 align-middle"></span>
                </button>
            </label>
            <select class="form-control" id="sector" name="sector" tabindex="0" [(ngModel)]="demographicData.sectorId"
                (change)="getSubsectors($event.target.value, true)">
                <option [ngValue]="null">-- Select Sector --</option>
                <option *ngFor="let sector of sectorList" [value]="sector.sectorId">
                    {{sector.sectorName}}
                </option>
            </select>

        </div>
        <div class="form-group col-md-6" style="display: flex; flex-direction: column; justify-content: space-between">
            <label>
                Subsector
            </label>
            <select class="form-control" id="subsector" name="subsector" tabindex="0"
                [(ngModel)]="demographicData.subSectorId" (change)="update($event.target.value)">
                <option [ngValue]="null">-- Select Subsector --</option>
                <option *ngFor="let subsector of subSectorList" [value]="subsector.subSectorId">
                    {{subsector.subSectorName}}
                </option>
            </select>
        </div>
    </div>
</div>

<hr>

<div class="mb-5">
    <div class="form-group mb-5">
        <p class="font-italic">
            Are you completing the full assessment (154 questions) as local government submitter in response to
            <a href="https://www.flsenate.gov/Committees/billsummaries/2022/html/2864" target="_blank">Florida House
                Bill 7055</a>?
        </p>
        <div class="d-flex flex-column ml-3">
            <input class="radio-custom" style="visibility: visible" name="HB7055No" id="HB7055No" type="radio"
                autocomplete="off" tabindex="1" (click)="setHb7055('N')" [checked]="demographicData.hb7055 == 'N'">
            <label class="radio-custom-label" for="HB7055No">No</label>
            <input class="radio-custom" style="visibility: visible" name="HB7055Yes" id="HB7055Yes" type="radio"
                autocomplete="off" tabindex="0" (click)="setHb7055('Y')" [checked]="demographicData.hb7055 == 'Y'">
            <label class="radio-custom-label" for="HB7055Yes">Yes</label>
        </div>
        <div *ngIf="demographicData.hb7055 == 'Y'" class="ml-5 mt-3">
            <p>
                Are you intending to apply for the State of Florida Local Cybersecurity Grant Program? The full
                assessments completes the requirements for house bill 7055?
            </p>
            <input #radioNo class="radio-custom" style="visibility: visible" name="hb7055GrantNo" id="hb7055GrantNo" type="radio"
                autocomplete="off" tabindex="1" (click)="sethb7055Grant('N')"
                [checked]="demographicData.hb7055GrantGrant == 'N'">
            <label class="radio-custom-label" for="hb7055GrantNo">No</label>
            <input class="radio-custom" style="visibility: visible" name="hb7055GrantYes" id="hb7055GrantYes"
                type="radio" autocomplete="off" tabindex="0" (click)="sethb7055Grant('Y')"
                [checked]="demographicData.hb7055Grant == 'Y'">
            <label class="radio-custom-label" for="hb7055GrantYes">Yes</label>
            <p>
                What state or local government agency are you completing on behalf of?
                <span>(Examples: Collier County Water Division, Broward County Aviation Department, City of Tampa
                    Emergency Management, Bay County Supervisor of Elections) </span>
            </p>
            <input type="text" maxlength="100" class="form-control" [(ngModel)]="demographicData.hb7055Party"
                (blur)="setHb7055Party($event)">
        </div>
    </div>

    <div class="form-group mb-5">
        <p class="font-italic">
            Are the critical cyber services supporting your core operations/mission primarily Information Technology
            (IT) or Operational Technology (OT) systems?
        </p>

        <div class="d-flex flex-column ml-3">
            <input class="radio-custom" style="visibility: visible" name="primaryType" id="primaryIT" type="radio"
                autocomplete="off" tabindex="0" (click)="setInfrastructureItOt('IT')"
                [checked]="demographicData.infrastructureItOt == 'IT'">
            <label class="radio-custom-label" for="primaryIT">
                <strong class="mr-4">Information Technology (IT)</strong>
                <div>
                    <div>
                        Any equipment or interconnected system or
                        subsystem of equipment that is used in the automatic acquisition, storage, manipulation,
                        management,
                        movement, control, display, switching, interchange, transmission, or reception of data or
                        information.
                        <div class="font-italic mt-2 ml-4 mb-4">
                            Examples include the internet, mobile phones, business operations support, computers,
                            content management and performance software, and software and support for office automation
                            systems such as email, word processing and spreadsheets.
                        </div>
                    </div>
                </div>
            </label>
            <input class="radio-custom" style="visibility: visible" name="primaryType" id="primaryOT" type="radio"
                autocomplete="off" tabindex="0" (click)="setInfrastructureItOt('OT')"
                [checked]="demographicData.infrastructureItOt == 'OT'">
            <label class="radio-custom-label" for="primaryOT">
                <strong class="mr-4">Operational Technology (OT)</strong>
                <div>
                    Programmable systems or devices that interact
                    with the physical environment (or manage devices that interact with the physical environment). These
                    systems/devices detect or cause a direct change through the monitoring and/or control of devices,
                    processes, and events.
                    <div class="font-italic mt-2 ml-4">
                        Examples include industrial control systems, plant floor controls, hospital diagnostic and
                        monitoring systems, transportation control systems, building management systems, fire control
                        systems, and physical access control mechanisms.
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>


<hr>

<div class="mb-5">
    <h4>Geographic</h4>
    <p class="font-italic">
        Select the geographic areas where your business/operations <u>primarily</u>
        provide services.
    </p>

    <div class="mb-4 d-flex flex-row" style="align-items: center">
        <h5 class="mb-0 mr-5">Statewide</h5>
        <button class="btn btn-link" (click)="selectAllCounties(true)">Select All</button>
        <button class="btn btn-link" (click)="selectAllCounties(false)">Select None</button>
    </div>


    <h5>Geographic Areas</h5>
    <div style="border: 1px solid #ccc; border-radius: .5rem" class="p-3 mb-4">
        <div class="btn-group btn-group-toggle">
            <label *ngFor="let r of regionList" class="btn btn-geo btn-rounded mx-1" [class.active]="r.selected">
                <input type="checkbox" [id]="'geo-toggle-' + r.regionName" [name]="'geo-toggle-' + r.regionName"
                    [checked]="r.selected" (click)="toggleRegion(r)" data-toggle="toggle" />{{r.regionName}}</label>
        </div>
    </div>


    <h5>Counties</h5>
    <p class="font-italic">
        Select/deselect counties as appropriate.
    </p>
    <div style="border: 1px solid #ccc; border-radius: .5rem" class="p-3 mb-5">
        <div class="btn-group-toggle d-flex" style="justify-content: space-between; flex-flow: row wrap">
            <label *ngFor="let c of countyList" class="btn btn-geo btn-rounded m-1" [class.active]="c.selected">
                <input type="checkbox" [id]="'county-toggle-' + c.name" [name]="'county-toggle-' + c.name"
                    [checked]="c.selected" (click)="toggleCounty(c)" data-toggle="toggle" />{{c.name}}</label>
        </div>
    </div>


    <h5>Metropolitan Areas</h5>
    <p class="font-italic">
        Select the metropolitan areas where your business/operations provide services.
        Select/deselect metropolitan areas as appropriate.
    </p>
    <div style="border: 1px solid #ccc; border-radius: .5rem" class="p-3 mb-5">
        <div *ngIf="visibleMetroList.length == 0" class="alert alert-warning">
            This list will grow as populous counties are selected
        </div>
        <div class="btn-group-toggle d-flex" style="justify-content: space-between; flex-flow: row wrap">
            <label *ngFor="let m of visibleMetroList" class="btn btn-geo btn-rounded m-1" [class.active]="m.selected">
                <input type="checkbox" [id]="'metro-toggle-' + m.name" [name]="'metro-toggle-' + m.name"
                    [checked]="m.selected" (click)="toggleMetro(m)" data-toggle="toggle" />{{m.name}}</label>
        </div>
    </div>
</div>

<hr>

<div>
    <h4>Consequence</h4>

    <div class="form-group mb-5">
        <h5>Employees</h5>
        <p class="font-italic">
            How many total employees <u>directly support</u>
            business/operations in the geographic areas selected?
        </p>
        <select class="form-control" id="employees" name="employees" tabindex="0"
            [(ngModel)]="demographicData.employees" (change)="update($event.target.value)">
            <option [ngValue]="null">-- Select Employees --</option>
            <option *ngFor="let e of employeeRanges" [value]="e.value">
                {{e.value}}
            </option>
        </select>
    </div>

    <div class="form-group mb-5">
        <h5>Customers Supported</h5>
        <p class="font-italic">
            How many customers does your business/operations <u>directly support</u>
            (service/host) in the geographic areas selected?
        </p>
        <select class="form-control" id="customers" name="customers" tabindex="0"
            [(ngModel)]="demographicData.customersSupported" (change)="update($event.target.value)">
            <option [ngValue]="null">-- Select Customers --</option>
            <option *ngFor="let c of customerRanges" [value]="c.value">
                {{c.value}}
            </option>
        </select>
    </div>


    <div class="form-group mb-5">
        <h5>Geographic Scope</h5>
        <p class="font-italic">
            For the following question <u>do not</u> consider available resilience/restoration capabilities such as back
            up
            servers, alternate cyber systems, and disaster recovery plans:</p>
        <p class="font-italic">
            What would be the initial <u>geographic impact</u> (Municipality/County/State) of your decreased
            business/operations as the result of a significant/major disruption to your critical cyber services?
        </p>
        <select class="form-control" id="geoScope" name="geoScope" tabindex="0"
            [(ngModel)]="demographicData.geographicScope" (change)="update($event.target.value)">
            <option [ngValue]="null">-- Select Scope --</option>
            <option *ngFor="let s of geoScopeList" [value]="s.value">
                {{s.value}}
            </option>
        </select>
    </div>


    <div class="form-group mb-5">
        <p class="font-italic">
            Is there a Chief Information Officer (CIO) or equivalent responsible for the critical cyber services
            supporting your business/operations?
        </p>
        <select class="form-control" id="cio" name="cio" tabindex="0" [(ngModel)]="demographicData.cioExists"
            (change)="update($event)">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let i of cioList" [value]="i.value">
                {{i.value}}
            </option>
        </select>
    </div>


    <div class="form-group mb-5">
        <p class="font-italic">
            Is there a Chief Information Security Officer (CISO) or equivalent responsible for the critical cyber
            services supporting your business/operations?
        </p>
        <select class="form-control" id="ciso" name="ciso" tabindex="0" [(ngModel)]="demographicData.cisoExists"
            (change)="update($event)">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let i of cisoList" [value]="i.value">
                {{i.value}}
            </option>
        </select>
    </div>


    <div class="form-group mb-5">
        <p class="font-italic">
            Does your organization have a formalized cybersecurity training program/function that provides employees
            with more advanced information/skills than basic cyber awareness-level training?
        </p>
        <select class="form-control" id="training" name="training" tabindex="0"
            [(ngModel)]="demographicData.cyberTrainingProgramExists" (change)="update($event)">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let i of trainingList" [value]="i.value">
                {{i.value}}
            </option>
        </select>
    </div>
    <!-- <div class="form-group mb-5">
        <h5>
            Additional Cybersecurity Risk Service
        </h5>
        <p>
            In addition to the CSET reports available, Cyber Florida will provide a select number of participants with
            information directly related to education and training courses that target the cybersecurity improvement
            areas identified from the risk assessment information submitted. The free service will also identify the
            knowledge and skills necessary to mitigate cyber risks within the submitter’s agency, organization, or
            company. Additionally, the selected participants will have free access to a full suite of cyber workforce
            development toolsets that will identify skills gaps, display various training pathways for upskilling
            employees, and assist with finding the most qualified new cyber talent, if needed. To be considered for the
            no-cost analysis, interested participants must fully complete their CSET risk assessment.
        </p>
        <p class="font-italic">Are you interested in being considered for this free assessment follow-on service?</p>
        <div class="d-flex flex-column ml-3">
            <input class="radio-custom" style="visibility: visible" name="FreeAssessYes" id="FreeAssessYes" type="radio"
                autocomplete="off" tabindex="0" (click)="setCyberRisk('Y')"
                [checked]="demographicData.cyberRiskService == 'Y'">
            <label class="radio-custom-label" for="FreeAssessYes">Yes</label>
            <input class="radio-custom" style="visibility: visible" name="FreeAssessNo" id="FreeAssessNo" type="radio"
                autocomplete="off" tabindex="0" (click)="setCyberRisk('N')"
                [checked]="demographicData.cyberRiskService == 'N'">
            <label class="radio-custom-label" for="FreeAssessNo">No</label>
            <input class="radio-custom" style="visibility: visible" name="FreeAssessMaybe" id="FreeAssessMaybe"
                type="radio" autocomplete="off" tabindex="0" (click)="setCyberRisk('M')"
                [checked]="demographicData.cyberRiskService == 'M'">
            <label class="radio-custom-label" for="FreeAssessMaybe">Maybe Later</label>
        </div>
    </div> -->
</div>