body
{
	background: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;
	line-height: 1.45;
}
table.pagetable
{
	width: 100%;
	padding: 0;
	border-collapse: collapse;
	margin: 0;
	border: 0px #ffffff none;
	text-align: center;
}
div.de_ctrl
{
	width: 100%;
}
div.de_ctrl > table
{
	border-style: none;
	width: 100%;
}