pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.table-container {
    margin-top: 10px;
    max-height: 500px;
    overflow: auto;
  }

th{
    position:sticky;
    top:0px;
}
::ng-deep .green-snackbar{
    background: green !important;
}