<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="info" internalLogFile="c:\temp\nlog-internal.log" internalLogToConsole="false">

  <targets>
    <target xsi:type="Database"
            name="db"
            dbProvider="Microsoft.Data.SqlClient"
            connectionString="${configsetting:item=ConnectionStrings.CSET_DB}"
            commandText="INSERT INTO Nlogs ([Date], [Level], [Logger], [Message]) VALUES (@date, @lvl, @logger, @msg)">

      <parameter name="@date" layout="${date}" dbType="SqlDbType.DateTime" />
      <parameter name="@lvl" layout="${level}" dbType="SqlDbType.VarChar" size="10" />
      <parameter name="@logger" layout="${logger}" dbType="SqlDbType.VarChar" size="255" />
      <parameter name="@msg" layout="${message}" dbType="SqlDbType.VarChar" size="4000" />
    </target>

    <target xsi:type="File" name="file-dbmanager" 
            fileName="${specialfolder:folder=LocalApplicationData}\DHS\CSET\CSET.log"></target>
        
  </targets>

  <rules>
    <!-- only write logs that CSET generates -->
    <logger name="CSETWebCore.*" minlevel="Info" writeTo="db" />
	<logger name="DuplicateAssessments.*" minlevel="Info" writeTo="db" />
	  <!-- DBManager writes to his own file -->
    <logger name="DBManager" minlevel="Info" writeTo="file-dbmanager" />
  </rules>
</nlog>