/* 

  Copyright 2024 Battelle Energy Alliance, LLC  

Permission is hereby granted, free of charge, to any person obtaining a copy 
of this software and associated documentation files (the "Software"), to deal 
in the Software without restriction, including without limitation the rights 
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
copies of the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions: 

The above copyright notice and this permission notice shall be included in all 
copies or substantial portions of the Software. 

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
SOFTWARE. 

*/

:host {
  --arrow-width: 21em;
  --half-arrow-width: calc(var(--arrow-width) / 2);
  --arrow-top-height: 3em;
  --arrow-bottom-height: 2em;
  --pyramid-row-height: 2em;
  --arrow-base-width-ratio: .9;
  --row-growth-rate: .15;
  --background-color-mask: rgba(250, 250, 250, 1);
  --arrow-font-size: 1em;
  --center-seperator-width: 2px;
  --row-spacing: .75em;
  --blue-gradient: linear-gradient(5deg, rgba(31, 82, 132, 1) 0%, rgba(58, 128, 194, 1) 100%);
  --blue-gradient-light: linear-gradient(5deg, rgba(31, 82, 132, .1) 0%, rgba(58, 128, 194, .1) 100%);
  --green-gradient: linear-gradient(5deg, rgba(98, 154, 109, 1) 0%, rgba(31, 77, 67, 1) 100%);
  --blue-text: rgba(41, 100, 162, 1);
  --green-text: rgba(60, 110, 85, 1);
  --corner-size: 0px;
  --bar-height: 20em;
  --bar-spacing: 1em;
  --bottom-seperator-extra-width: 1em;
  --header-label-height: 100px;
  --header-spacing-from-bar: .9;
  /* 1 = on the bar, .5 = high off the bar*/
  --blue-text: rgba(31, 82, 132, 1);
  --white-text: rgba(255, 255, 255, 1);

  --grid-background-highlight: rgba(0, 0, 0, .08)
}

$cmmc-blue-1: #1f5284;


.w-500px {
  width: 500px !important;
}

.piechart {
  background-image: conic-gradient(gray 360deg)
}

.piechartBackground {
  border-radius: 50%;
  background-color: #006000;
}

.piechartitem {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
}

.pieChartcontainer {
  padding: 1em;
  width: 200px; //Cant figure out how to get the auto width to apply to an absolutley position contents
}

body,
.piechart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieChartRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  position: relative;
}

.flex-row-item {
  display: flex;
}

.flex {
  display: flex;
}

.level-indicator-container {
  background: linear-gradient(5deg, #1f5284 0%, rgba(58, 128, 194, 1) 100%);
  color: white;
  border-radius: 5%;
  width: 8em;
  height: 12em;
  // flex-basis: 15%;
  margin-right: 5em;

  align-items: center;
  display: flex;
  justify-content: center;
}

.level-indicator-container .rbTitle {
  margin-top: 0.4em;
  line-height: 1.2em;
  font-size: 2em;
  text-align: center;
}

.level-indicator-container .rbLevel {
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px black;
}

.level-indicator-container-hp {
  display: none !important;
  background-color: $cmmc-blue-1;
  border-radius: .25rem;
  padding: .3rem;
  color: #fff;
}


.domain-row td {
  background-color: #fff;
  font-weight: bold;
  padding-top: 2rem;
  border-bottom: 1px solid #000;
  vertical-align: bottom;
}

.level-indicator-container-hp .rbLevel {

}


.domain-row td {
  background-color: #fff;
  font-weight: bold;
  padding-top: 2rem;
  border-bottom: 1px solid #000;
  vertical-align: bottom;
}

.pieChartLabelContainer {
  display: flex;
  flex-direction: column;
  margin: 1em 0em;
}

.pieChartLabel {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 20px;
  font-weight: 600;
  font-family: system-ui;
}

.pieChartRowTitle {
  font-size: 1.2em;
  font-weight: bold;
  // letter-spacing: .06em;
  margin-bottom: 1em;
}

.barChartRowContainer {
  // background:red;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
}

.barChartContainer {
  flex-direction: column;
  flex: 1;
}

.barChartRow {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  // border: solid 1px black;
}

.barChartBar {
  display: flex;
  height: 3em;
  // background: green;
  width: 100%;
  padding: .3em;
}

.barChartLabel {
  display: flex;
  // background: blue;
  width: 4em;
  justify-content: center;
  align-items: center;
}

.barContainer {
  // background:green;
  flex-direction: column;
}

.barAnswered {
  border-radius: 0 6px 6px 0%;
  box-shadow: 2px 2px rgba(0, 0, 0, .2) // background: linear-gradient(193deg, rgba(2,0,36,1), rgba(0,212,255,1) 100%)
}

.barChartLabels {
  display: flex;
  flex-direction: row;
  margin-left: 4em;
  margin-right: 2rem;
}

.barChartHorizontalLabel {
  display: flex;
  margin-right: calc(calc(100% - 4em) * .25);
  text-align: center;
  align-content: flex-end;
}

.parentContainer {
  margin: 5em;
}

.gridGraphContainer {
  /* background: rgba(150,0,0,.5); */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.graphDataRow {
  height: 26px;
  position: relative;
  font-size: 13px;
  align-content: flex-end;
}

.gridGraphLabels {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}

.gridGraphLabel {
  display: flex;
  align-self: flex-end;
  margin-right: 1em;
  align-items: center;
}

.gridGraphLabelHp {
  align-self: unset;
  line-height: 1;
}

.gridGraphDataContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gridGraphData {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.gridGraphBackground {
  /* display: flex;
      flex-grow: 1 */
  display: flex;
  position: absolute;
  //   z-index: -4;
  flex-direction: row;
}

.gridGraphBackground div {
  // display: flex;
  // flex-grow: 1;
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
  border-width: 1px 0px 0px 1px;
  /* height: 1em; */
}

.gridGraphBackground div:last-child {
  border-width: 1px 1px 0px 1px;
}

.gridGraphData:nth-last-child(2) div {
  border-bottom-width: 1px;
}

.gridGraphBar {
  margin: .2em 0;
  height: 60%;
  display: flex;
  background: rgba(0, 0, 150, .2);
}

.gridGraphBackgroundLabels {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.gridGraphBackgroundLabels div {
  display: flex;
  flex-grow: 1;
}

.gridColumn {
  width: 10%;
}

.targetAndAchievedLevels {
  display: flex;
  justify-content: center;
}

.targetAndAchievedLevels div {}


.level-indicator-container {
  background: linear-gradient(5deg, rgba(31, 82, 132, 1) 0%, rgba(58, 128, 194, 1) 100%);
  color: white;
  border-radius: 5%;
  width: 8em;
  height: 12em;
  // flex-basis: 15%;
  margin: 0 2em;
}

.level-indicator-container .rbTitle {
  margin-top: 0.4em;
  line-height: 1.2em;
  font-size: 2em;
  text-align: center;
}

.level-indicator-container .rbLevel {
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px black;
}

.pyramidGraphLevelIndicator {
  color: var(--green-text);
  background: var(--background-color-mask);

}

.pyramidGraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arrowContainer {
  background: var(--blue-gradient);
  width: var(--arrow-width);
  height: calc(var(--arrow-top-height) + var(--arrow-bottom-height));
  display: flex;
  flex-direction: column;
  align-self: center;
}

.arrowMask {
  display: flex;
  flex-direction: column;
}

.topHalfArrowMask {
  display: flex;
  flex-direction: row;
  height: var(--arrow-top-height)
}

.bottomHalfArrowMask {
  height: var(--arrow-bottom-height)
}

.triangle-topright {
  height: 0;
  border-top: var(--arrow-top-height) solid var(--background-color-mask);
  border-right: var(--half-arrow-width) solid transparent;
}

.triangle-topleft {
  height: 0;
  border-top: var(--arrow-top-height) solid var(--background-color-mask);
  border-left: var(--half-arrow-width) solid transparent;
}

.bottomHalfArrowMask {
  display: flex;
  flex-direction: row;
}

.bottomHalfArrowMask .div {
  display: flex;
}

.arrowBaseMask {
  background: var(--background-color-mask);
  flex-grow: 1;
  display: flex;
}

.arrowBaseCenter {
  display: flex;
  flex-basis: calc(var(--arrow-base-width-ratio) * var(--arrow-width));
  flex-direction: row;
}

.pyramidRowItem {
  justify-content: center;
  flex-basis: 50%;
}

.arrowBaseCenter div,
.pyramidLevel div {
  display: flex;
  flex-basis: 50%;
  /* justify-content: center; */
  align-items: center;
}


.arrowBaseCenter div {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  justify-content: center;
  font-size: var(--arrow-font-size);
}

.pyramidLevel div {
  font-family: sans-serif;
  font-weight: bold;
  font-size: calc(var(--arrow-font-size) * .8);
}

.arrowBaseCenter div:first-child,
.pyramidLevel div:first-child {
  border-style: solid;
  border-width: 0 var(--center-seperator-width) 0 0;
  border-color: var(--background-color-mask);
}

.corners {
  display: flex;
  flex-grow: 1;
}

.pyramidLevel {
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--blue-gradient-light);
  height: var(--pyramid-row-height);
  margin: var(--row-spacing) 0 0 0;
  align-self: center;
}

.pyramidLevelInTarget {
  background: var(--blue-gradient);
  color: white;
}

.pyramidLevelTarget {
  background: var(--green-gradient);
  color: white;
}

.levelOne {
  /* width: calc(var(--arrow-width) * calc( 1 + calc(var(--row-growth-rate) * 
    0))); */
  width: calc(var(--arrow-width) * var(--arrow-base-width-ratio))
}

.levelTwo {
  width: calc(calc(var(--arrow-width) * var(--arrow-base-width-ratio)) * calc(1 + calc(var(--row-growth-rate) * 1)));
}

.levelThree {
  width: calc(calc(var(--arrow-width) * var(--arrow-base-width-ratio)) * calc(1 + calc(var(--row-growth-rate)* 2)));
}

.levelFour {
  width: calc(calc(var(--arrow-width) * var(--arrow-base-width-ratio)) * calc(1 + calc(var(--row-growth-rate)* 3)));
}

.levelFive {
  width: calc(calc(var(--arrow-width) * var(--arrow-base-width-ratio)) * calc(1 + calc(var(--row-growth-rate)* 4)));
}

.pyramidLevel span {
  background: red;
}

.pyramidRowLabel {
  flex-basis: 0;
  display: inline-block;
  position: absolute;
  color: var(--blue-text);
  margin-left: 1em;
  font-size: 1em;
}


.stackedBarChart {
  width: 600px;
  margin-left: var(--bar-spacing);
}

.stackBarChartUpperLeftLabels {
  font-weight: bold;

}

.stackBarChartUpperLeftLabels div:not(:first-child) {
  color: var(--blue-text);
  font-style: italic;
}

.stackedBarChartBody {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 var(--bottom-seperator-extra-width);
}

.stackedBarChartColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 20%;
  height: var(--bar-height);
  margin: 0 var(--bar-spacing);
}

.barSection {
  border-style: solid;
  border-color: #747474;
  border-width: 1px 1px 0 1px;
  color: var(--white-text);
  margin-bottom: calc(-1 *var(--corner-size));
  z-index: 1;
  font-size: 1em;
  font-weight: bold;
}

.barSectionInnerLabel {
  display: flex;
  justify-content: center;
}

.notAnswered {
  // background: rgb(255, 222, 33);
  background: #990000;
  color: var(--blue-text);
}

.barHeader {
  position: relative;
  bottom: var(--header-label-height);
  margin-bottom: calc((calc(var(--header-label-height) * var(--header-spacing-from-bar))) * -1);
  display: flex;
  flex-direction: column;
}

.barHeader div,
.stackedBarChartBottomLabel div {
  align-self: center;
  text-align: center;
}

.mainHeader,
.bottomLabel {
  font-size: 1em;
}

.bottomLabel {
  flex-direction: column;
  display: flex;
  color: var(--blue-text);
  font-size: 1em;
  font-weight: bold;
}

.bottomLabelNumbers {
  flex-direction: row;
  display: flex;

}

.secondaryHeader {
  font-size: .75em;
}

.stackedBarChartBase {
  background-color: rgba(31, 82, 132, 1);
  height: var(--corner-size);
  border-radius: var(--corner-size);
  position: relative;
  z-index: 1;
}

.stackedBarChartBottomLabels {
  display: flex;
  flex-direction: row;
  margin: 0 var(--bottom-seperator-extra-width)
}

.stackedBarChartBottomLabel {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  width: 1em;
  height: 1em;
  flex-direction: column;
}

.stackedBarChartBottomTitle {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  font-size: 1.2em;
}

.questionsByDomainTableRow {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
}

.questionsByDomainTableHeader {
  background: var(--blue-gradient);
  color: white;
}

.questionsByDomainTableHeader {
  font-size: .6em;
}

.DomainTableRow div:nth-child(1) {
  width: 60% // background:cyan;
}

.DomainTableRow.question div:nth-child(1) {
  // flex-basis: calc(80% - 1em);
  // background:cyan;
  font-size: .75em;
  padding-left: 1.5em;
}

.DomainTableRow.domain div:nth-child(1) {
  // flex-basis: calc(80% - 1em);
  // background:cyan;
  padding-left: .5em
}

.DomainTableRow div:not(:first-child) {
  text-align: center;
}

.DomainTableRow div:nth-child(2) {
  flex-basis: 10%;
  border-left: solid 1px rgba(0, 0, 0, .2);
  // background: magenta
}

.DomainTableRow div:nth-child(3) {
  flex-basis: 10%;
  border-left: solid 1px rgba(0, 0, 0, .2);
  // background:yellow
}

.DomainTableRow div:nth-child(4) {
  flex-basis: 10%;
  border-left: solid 1px rgba(0, 0, 0, .2);
  // background:yellow
}

.DomainTableRow div:nth-child(5) {
  flex-basis: 10%;
  border-left: solid 1px rgba(0, 0, 0, .2);
  // background:yellow
}


.DomainTableRow.domain {
  font-weight: bold;
  background-color: white;
  border-bottom: solid black 1px;
}

.DomainTableRow.question {
  color: var(--blue-text);
}


.questionsByDomainTableDomainSection .questionsByDomainTableRow:nth-child(even) {
  background-color: var(--grid-background-highlight);
}