@charset "UTF-8";

@font-face {
  font-family: "cset2-icons";
  src:url("fonts/cset2-icons.eot");
  src:url("fonts/cset2-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/cset2-icons.woff") format("woff"),
    url("fonts/cset2-icons.ttf") format("truetype"),
    url("fonts/cset2-icons.svg#cset2-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="cset2-icons-"]:before,
[class*=" cset2-icons-"]:before {
  font-family: "cset2-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.cset2-icons-acet-logo:before {
  content: "\61";
}
.cset2-icons-acet-shield:before {
  content: "\62";
}
.cset2-icons-compare:before {
  content: "\63";
}
.cset2-icons-q:before {
  content: "\64";
}
.cset2-icons-merge1:before {
  content: "\65";
}
.cset2-icons-trend:before {
  content: "\66";
}
.cset2-icons-merge2:before {
  content: "\67";
}
