<!---------------------- 

   Copyright 2019 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<form name="form" (change)="send()" #UserInfoForm="ngForm">

  <div class="form-group" [ngClass]="{ 'has-error': submitted && !firstName.valid }">
    <label required for="firstName">First Name</label>
    <input type="text" maxlength="150" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.FirstName" #firstName="ngModel"
      required />
    <div *ngIf="submitted && !firstName.valid" class="alert alert-danger">First Name is required</div>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': submitted && !lastName.valid }">
    <label required for="lastName">Last Name</label>
    <input type="text" maxlength="150" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.LastName" #lastName="ngModel"
      required />
    <div *ngIf="submitted && !lastName.valid" class="alert alert-danger">Last Name is required</div>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': submitted && (email?.errors?.notValidEmail || email?.errors?.required) }">
    <label required for="email">Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="model.PrimaryEmail" #email="ngModel" required
      appEmailValidator />
    <div class="alert alert-danger" *ngIf="submitted">
      <div *ngIf="email?.errors?.required">Email is required</div>
      <div *ngIf="email?.errors?.notValidEmail">Not a valid email</div>
    </div>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': submitted && (confirmEmail?.errors?.required || confirmEmail?.errors?.notValidEmail || confirmEmail?.errors?.notValidEmail) }">
    <label required for="confirmEmail">Confirm Email</label>
    <input type="email" class="form-control" name="confirmEmail" [(ngModel)]="model.ConfirmEmail" required
      #confirmEmail="ngModel" appConfirmEqualValidator="email" appEmailValidator />
    <div class="alert alert-danger" *ngIf="submitted">
      <div *ngIf="confirmEmail?.errors?.required">Email is required</div>
      <div *ngIf="confirmEmail?.errors?.notValidEmail">Not a valid email</div>
      <div *ngIf="confirmEmail?.errors?.notEqual">Emails do not match</div>
    </div>
  </div>

  <div class="mt-4">
    <h4>Security Questions</h4>
    <div class="fs-base mb-3">Providing security questions is optional but allows you to recover your password should
      you forget it.
    </div>

    <form #f="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="mb-1 fw-600" for="securityQuestion1">Security Question 1</label>
          <select class="form-control" id="securityQuestion1" name="securityQuestion1" [(ngModel)]="model.SecurityQuestion1">
            <option *ngFor="let question of SecurityQuestions" [attr.selected]="question.SecurityQuestion === model.SecurityQuestion1">{{question.SecurityQuestion}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label class="mb-1 fw-600" for="SecurityAnswer1">Security Answer 1</label>
          <input type="text" maxlength="250" class="form-control" id="SecurityAnswer1" name="SecurityAnswer1" [(ngModel)]="model.SecurityAnswer1"
            placeholder="Answer">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="mb-1 fw-600" for="SecurityQuestion2">Security Question 2</label>
          <input type="text" maxlength="250" class="form-control" id="SecurityQuestion2" placeholder="Your own custom security question"
            name="SecurityQuestion2" [(ngModel)]="model.SecurityQuestion2">
        </div>
        <div class="form-group col-md-6">
          <label class="mb-1 fw-600" for="SecurityAnswer2">Security Answer 2</label>
          <input type="text" maxlength="250" class="form-control" id="SecurityAnswer2" placeholder="Answer" name="SecurityAnswer2"
            [(ngModel)]="model.SecurityAnswer2">
        </div>
      </div>
    </form>


    <!-- <table class="paddingBetweenCols">
        <th>Security Question</th>
        <th>Security Answer</th>
        <tr>
          <td>
            <select class="form-control" id="securityQuestion1" name="securityQuestion1" [(ngModel)]="model.SecurityQuestion1">
              <option *ngFor="let question of SecurityQuestions" [attr.selected]="question.SecurityQuestion === model.SecurityQuestion1">{{question.SecurityQuestion}}</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" id="SecurityAnswer1" name="SecurityAnswer1" [(ngModel)]="model.SecurityAnswer1"
              placeholder="Answer">
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" id="SecurityQuestion2" placeholder="Your own custom security question"
              name="SecurityQuestion2" [(ngModel)]="model.SecurityQuestion2">
          </td>
          <td>
            <input type="text" class="form-control" id="SecurityAnswer2" placeholder="Answer" name="SecurityAnswer2"
              [(ngModel)]="model.SecurityAnswer2">
          </td>
        </tr>
      </table> -->
  </div>
</form>