<!-- --------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="rl d-flex flex-column flex-11a" *transloco="let t">

  <!-- Tabs -->
  <ul #tabs class="nav nav-tabs d-flex flex-00a">
    <li style="margin-left: 45px;" [class.active]="selectedPane === 'search'" (click)="selectedPane = 'search'"
      class="d-flex align-items-center flex-00a">
      <button class="btn bgc-trans d-flex align-items-center flex-11a" matTooltip="Search the resource library">
        <span class="mr-2 fs-base-6 cset-icons-magnify-glass"></span>
        <span class="nav-tab-text ml-1">Search</span>
      </button>
    </li>
    <li [class.active]="selectedPane === 'browse'" (click)="selectedPane = 'browse'"
      class="d-flex align-items-center flex-00a">
      <button class="btn bgc-trans d-flex align-items-center flex-11a" matTooltip="Browse the resource library">
        <span class="mr-2 fs-base-6 cset-icons-browse"></span>
        <span class="nav-tab-text ml-1">Browse</span>
      </button>
    </li>
  </ul>

  <div class="bgc-gray-50 d-flex flex-11a w-100">

    <!-- Tree (Browse) -->
    <div class="d-flex flex-column justify-content-start flex-11a w-100 p-4 pr-5" *ngIf="selectedPane === 'browse'">
      <span class="c-gray-900 rl-title d-flex justify-content-start align-items-baseline flex-00a">
        <h3>Resource Library</h3>
      </span>
      <p>
        The contents of the Resource Library are listed below, categorized in several ways.
        Text entered in the field will filter the results.
      </p>

      <div class="tree-page-header mb-4">
        <div class="col-12 col-lg-6 d-flex flex-row p-0">
          <div class="w-100">
            <input type="text" class="form-control mr-2" placeholder="Filter" name="filterTerm" id="filterTerm"
              [(ngModel)]="filter" (ngModelChange)="setFilterDebounced.next($event)" autocomplete="off">
            <button class="btn btn-filter-clear" mat-icon-button *ngIf="!!filter" aria-label="Clear"
              (click)="this.setFilter('')">
              <mat-icon>close</mat-icon>
            </button>
          </div>

          <button class="btn btn-primary ml-1" (click)="navTreeSvc.tocControl.collapseAll()"
            matTooltip="{{t('buttons.collapse all')}}" aria-label="{{t('buttons.collapse all')}}">
            <i class="fas fa-compress-alt"></i></button>
          <button class="btn btn-primary ml-1" (click)="navTreeSvc?.tocControl.expandAll()"
            matTooltip="{{t('buttons.expand all')}}" aria-label="{{t('buttons.expand all')}}"><i
              class="fas fa-expand-alt"></i></button>
        </div>
      </div>

      <div *ngIf="isLoading">
        <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
          <div class="spinner-size-50"></div>
        </div>
      </div>

      <div class="row flex-column" *ngIf="!isLoading">
        <mat-tree #tree class="ml-4 oy-auto bgc-trans example-tree" style="margin-bottom:1rem;"
          [dataSource]="navTreeSvc?.dataSource" [treeControl]="navTreeSvc?.tocControl">
          <mat-tree-node *matTreeNodeDef="let node; when: !navTreeSvc?.hasNestedChild"
            [style.display]="(node.visible == null ? true : node.visible) ? 'flex' : 'none!important'"
            class="flex-column align-items-start mb-3">

            <a *ngIf="!isProcurementOrCatalog(node)" class="mt-2 p-0" href="{{node?.value ? docUrl + node.docId : ''}}" 
              target="_blank" rel="noopener noreferrer">
              <h5><span class="btn-link mb-3">
                  {{node?.label}}
                </span>
              </h5>
            </a>

            <div *ngIf="isProcurementOrCatalog(node)" class="btn btn-link mt-2 p-0" (click)="displayDocumentContent(node?.docId)">
              <h5><span class="btn-link mb-3">
                  {{node?.label}}
                </span>
              </h5>
            </div>

            <p class="mb-3" style="font-size: 1rem;">{{node?.headingText}}</p>
          </mat-tree-node>

          <mat-nested-tree-node *matTreeNodeDef="let node; when: navTreeSvc?.hasNestedChild"
            [style.display]="(node.visible == null ? true : node.visible) ? 'block' : 'none!important'">
            <div class="d-flex justify-content-start flex-00a nestedsection mb-2">
              <button class="fs-smaller btn btn-link mr-2 p-0 b-none" matIconButton matTreeNodeToggle
                *ngIf="!navTreeSvc?.disableCollapse">
                <span class="cset-icons-chevron-down" *ngIf="navTreeSvc?.tocControl?.isExpanded(node)"></span>
                <span class="cset-icons-chevron-right" *ngIf="!navTreeSvc?.tocControl?.isExpanded(node)"></span>
              </button>
              <a href="{{node?.value ? docUrl + node.docId : ''}}" target="_blank" rel="noopener noreferrer"
                *ngIf="node?.docId">
                <span class="fs-base-2 ">
                  {{node?.label}}
                </span>
              </a>
              <button class="fs-base-2 btn btn-link p-0 mt-2 categTitle" *ngIf="!node?.value" matIconButton
                matTreeNodeToggle>{{node?.label}}</button>
            </div>
            <ul *ngIf="navTreeSvc?.tocControl?.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </mat-nested-tree-node>
        </mat-tree>
      </div>
    </div>

    <!-- Search -->
    <div class="d-flex flex-column justify-content-start flex-11a w-100 p-4 pr-5" *ngIf="selectedPane === 'search'">
      <span class="c-gray-900 rl-title d-flex justify-content-start align-items-baseline flex-00a">
        <h3>Resource Library</h3>
      </span>

      <div>
        <form class="d-flex justify-content-stretch align-items-center flex-11a">
          <input type="text" class="form-control" placeholder="Search the Resource Library" name="searchTerm"
            id="searchTerm" [(ngModel)]="searchTerm">

          <button type="submit"
            class="btn btn-primary search-btn ml-2 d-flex justify-content-start align-items-center flex-00a"
            matTooltip="Search the resource library" (click)="search(searchTerm)">
            <span class="mr-2 fs-base-2 cset-icons-magnify-glass"></span>
            <span>Search</span>
          </button>

          <button class="btn btn-search-clear" mat-icon-button *ngIf="!!searchTerm" aria-label="Clear"
            (click)="searchTerm=''">
            <mat-icon>close</mat-icon>
          </button>
        </form>
      </div>

      <div class="ml-4 mt-4 pr-2 oy-auto h-0 d-flex flex-column flex-11a">
        <h4 *ngIf="results" class="mb-0">Search Results</h4>
        <p *ngIf="results && !(results.length > 0)">There are no documents in the resource library that match your
          search. Please adjust your search keywords and try again.</p>
        <div *ngFor="let result of results" class="pr-4">
          <hr />

          <div class="mb-2" *ngIf="isProcurementOrCatalog(result)">
            <span *ngIf="result.headingTitle" class="btn-link fs-base-2 cursor-pointer"
              (click)="displayDocumentContent(result.pathDoc)">{{result.headingTitle}}</span>
          </div>

          <a *ngIf="!isProcurementOrCatalog(result)" target="_blank" rel="noopener noreferrer"
            href="{{docUrl}}{{result.id}}" class="mt-2 p-0">
            <h5><span class="btn-link mb-3">
                {{result.headingTitle}}
              </span>
            </h5>
          </a>

          <h6 *ngIf="result.headingTitle2" class="font-weight-bold">{{result.headingTitle2}}</h6>
          <p *ngIf="result.datePublished">{{result.datePublished}}</p>
          <p *ngIf="result.headingText">{{result.headingText}}</p>
          <p class="mt-2 font-italic">{{result.fileName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>