/* VARIABLES  */
:root {
    --page-width: 792px;
    --table-margin: 0px;
    --table-width: calc(var(--page-width) - calc(var(--table-margin)*2));
    --table-name-width: 160px;
    --table-row-height: 50px;
    --axis-label-row-height: 80px;
    --mil-1-ratio: .5;
    --mil-1-width: calc( calc( var(--table-width) - var(--table-name-width) ) * var(--mil-1-ratio) );
    --mil-upper-width: calc( calc( var(--table-width) - var(--table-name-width) ) * calc(1 - var(--mil-1-ratio)) );
    --mil-upper-width-individual: calc(var(--mil-upper-width) / 4);
    --bar-height: 16px;
}
/* END VARIABLES */



.crrResultsTable {
    width: var(--table-width);
    
    font-size: 0;
}
.parent {
    width: var(--page-width);
}

.parent * {
    font-family: Arial;
}

.crrResultsTableRow {
    width: calc(var(--table-width));
    height: var(--table-row-height);
    box-sizing: border-box;
    border-top: solid 1px black;
    border-right: solid 1px black;
    font-size: 0; /*Done to prevent funky margins*/
}

.crrResultsDomainCell {
    height: var(--table-row-height);
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
    border-right: solid 1px black;
    display: inline-block;
}

.crrResultsTableDomainName {
    width: var(--table-name-width);
}

.crrResultsProgressBar {
    height: var(--bar-height);
    background: rgb(199,121,44);
    display: inline-block;
    position: relative;
    margin-left: var(--table-name-width);
    top: calc( -1 * calc( calc( var(--table-row-height) /2 ) + calc(var(--bar-height) / 2) ) );
    box-sizing: border-box;
    border-left: solid 1px black;
}


.mil-1-grid {
    padding-right: 2px;
    display: inline-block;
    height: var(--table-row-height);
    width: calc(var(--mil-1-width) / 4);
    box-sizing: border-box;
}
.mil-1-override {
    box-sizing: border-box;
    border-right: solid 1px gray !important;
}

.mil-upper-grid {
    display: inline-block;
    height: var(--table-row-height);
    width: calc(var(--mil-upper-width) / 4);
    box-sizing: border-box;
}

.rb-l {
    box-sizing: border-box;
    border-right: solid 1px lightgray;
}

.rb-d {
    box-sizing: border-box;
    border-right: solid 1px gray;
}

.mil-number-labels {
    font-size: 12px;
    padding-right: 5px;
}

/* CAN THE CLASS NAMES GET ANY LONGER?!?! */
.crrResultsTableAxisLabelRow {
    height: var(--axis-label-row-height);
    font-size: 14px;
    vertical-align: top;
    font-weight: 600;
    box-sizing: border-box;
    border-right: solid 1px black;
    display: inline-block;
}

.crrResultsTableLabelRow {
    width: calc(var(--table-width));
    height: 80px;
    box-sizing: border-box;
    border-top: white solid 0px;
    border-right: solid 1px black;
}

.crrResultsLabelCell {
    width: var(--table-name-width);
    height: var(--table-row-height);
    font-size: 14px;
    vertical-align: top;
    font-weight: 200;
    box-sizing: border-box;
    border-right: solid 1px black;
    display: inline-block;
    text-align: right;
}

.crrTableLabel {
    text-align: right;
    vertical-align: top;
}

.upper-mil-label-desc, .upper-mil-label-bold {
    font-size: 8px;
    text-align: right;
    padding-left: 10px;
    padding-right: 5px;
}

.upper-mil-label-bold {
    font-size: 8px;
    font-weight: 800;
    white-space: nowrap;
    padding-left: 5px;
}

.ccrLastLabel {
    width: var(--mil-upper-width-individual);
    margin-left: -9px;
    font-size: 18px;
    /* Minus 9, one for each of the borders included in the row*/
}

.crrLastResultsTableRow {
    margin-left: 1px;
}

@media print {

    .crrLastResultsTableRow {
        margin-left: 1px !important;
    }

    .mil-upper-grid {
        padding-right: 0 !important;
        display: inline-block;
        height: var(--table-row-height);
        width: calc(var(--mil-upper-width) / 4);
    }

    .mil-upper-grid {
        padding-right: 0 !important;
        display: inline-block;
        height: var(--table-row-height);
        width: calc(var(--mil-upper-width) / 4);
    }
}
