﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Reports styles
-------------------------------------------------- */

.report-body-crr {
    font-family: Arial !important;
    font-size: 12pt !important;
    margin: auto;
    margin-left: 20vw;
    max-width: 80vw;
}

h1 {
    font-size: 48pt;
    color: #005288;
}

h2 {
    font-size: 34pt;
    color: #005288;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 14pt;
    color: #005288;
}

p {
    font-family: Arial;
    font-size: 12pt;
}

.page-break {
    page-break-before: always;
    clear: both;
}

@media only screen {
    .page-break {
        margin: 40px 0;
        border-top: 2px solid #769bb5;
    }
}

/*
    Cover Sheet
*/
.coversheet-text * {
    padding: 0 5rem;
    font-family: 'Franklin Gothic', Arial;
    font-weight: bolder;
}

/*
    CISA Self Assessment Page
*/
.cisa * {
    color: black;
    justify-content: center;
    text-align: center;
}

/*
    CRR About/Intro
*/
.about-intro p {
    margin-bottom: 16px;
    font-size: 12pt;
    font-family: Arial;
}

.about-intro li {
    font-size: 12pt;
    font-family: Arial;
}

/*
    Depictions
*/
.depiction-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
    margin: 0;
}

/*
    Miscellaneous
*/
.crr-logo {
    width: 20%;
    height: auto;
}

/* 
    Domain Detail
*/
table {
    margin: 0;
    padding: 0;
}

.domain-detail p {
    font-size: 12pt;
    font-family: Arial;
}



.side-toc {
    background-color: #fff;
    box-sizing: border-box;
    border-right: solid 1px #E5E4E2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    padding: 0.75rem;
    overflow-y: auto;
    width: 15vw;
    min-width: 250px;
}

    .side-toc a {
        font-size: 12px;
        word-break: break-word;
        text-decoration: none;
    }

    .side-toc div {
        margin: 10px;
    }

@media print {
    .mat-section {
        break-inside: avoid;
    }
}

.report-notification {
    background-color: #D3D3D3;
    padding: 1rem;
    border: solid 2px black;
    width: 70%;
    margin: 5% auto;
}

    .report-notification h1 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

.col-mod {
    padding-left: 2px;
    padding-right: 0;
    font-size: small;
    text-align: center;
}

.col-mod-group {
    padding-left: 0;
    padding-right: 0;
}

.col-mod-header {
    margin-bottom: 3px;
    padding: 8px 10px;
    border-radius: 3px;
}

.col-mod-score {
    padding: 4px 4px !important;
    border-radius: 3px;
    color: #fff;
}

.red-score {
    background-color: #DC3545;
    border: 1px solid #DC3545;
    color: #fff;
}

.yellow-score {
    background-color: #FFC107;
    border: 1px solid #FFC107;
    color: #000;
}

.green-score {
    background-color: #28A745;
    border: 1px solid #28A745;
    color: #fff;
}

.light-gray-score {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    color: #000;
}

.default-score {
    background-color: #6C757D;
    border: 1px solid #6C757D;
    color: #fff;
}

*/
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.report-section-title {
    color: #1274d2;
    font-size: 22px;
}

.marked-flag {
    width: 15px;
    height: auto;
}

.page-line {
    width: 100%;
    background-color: #000;
}

.report-domain-header {
    color: #1274d2;
    font-size: 18px;
    text-align: left;
}

.max-w-75in {
    max-width: 7.5in;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    */ /* Vertically center the text there */
}


/* ---- Table styles ---- */

table.cset-table, table.cset-table-4 {
    width: calc(100% - 2em);
    margin: 0 auto 2em auto;
    border-collapse: collapse;
}

    table.cset-table th, table.cset-table-4 th {
        background-color: #336699;
        color: #fff;
        font-weight: bold;
        break-inside: avoid;
    }

    table.cset-table th, table.cset-table td, table.cset-table-4 th, table.cset-table-4 td {
        padding: 10px;
        border: 1px solid #999;
        vertical-align: top;
        break-inside: avoid;
    }

table.cset-table-2 {
    width: calc(100% - 2em);
    margin: 0 auto 2em auto;
    border-collapse: collapse;
}

    table.cset-table-2 th, table.cset-table-2 td {
        border: 1px solid #000;
        border: 1px solid #999;
        padding: 5px;
        break-inside: avoid;
    }

    table.cset-table-2 tr.pale-green {
        background-color: #EAF1DD;
        background-color: #ecf6f9;
    }

table.cset-table-3 {
    width: calc(100% - 2em);
    margin: 0 auto 1em auto;
    border-collapse: collapse;
}

    table.cset-table-3 th, table.cset-table-3 td {
        border: 1px solid #999;
        padding: 5px;
        break-inside: avoid;
    }

    table.cset-table-3 th {
        text-align: left;
        font-weight: normal;
        background-color: #d9e6ed;
    }

table.cset-table.alt-shade tr:nth-child(even) {
    background: #f2f2f2;
}

table.cset-table.alt-shade tr:nth-child(odd) {
    background: #fafafa;
}

table.no-borders tr, table.no-borders td {
    border: none;
}

.font-weight-bold {
    font-weight: 700 !important;
}

div.widget {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

    div.widget svg {
        vertical-align: top !important;
    }

/*# sourceMappingURL=bootstrap-grid.css.map */

.page-margin-top {
    page-break-before: always;
    margin-top: 40px;
    border-top: 2px solid #769bb5;
    padding-top: 40px;
}
