<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel">
  <h2>Applying CIE within the Utility</h2>
  <p>
    Utility operations and engineering projects are always ongoing. 
    Because of this, the utility decided to identify how CIE would be 
    applied from the beginning for engineering projects. This resulted 
    in the following conclusions:
  </p>
  <ul>
    <li>Throughout the CIE process flow, organizational culture consistently includes cybersecurity in alignment with full implementation of CIE.</li>
    <li>CIE begins with Consequence-Focused Design. This is the first step in identifying critical functions and catastrophic consequences. Once the critical functions, supporting systems, assets, and staff are described and understood, potential consequences are identified, and engineered controls are identified and implemented to eliminate or mitigate the highest consequences.</li>
    <li>Once the highest consequences are addressed, the focus then shifts to securing the information architecture (Secure Information Architecture) to ensure the confidentiality, availably, and integrity of data. As these principles are applied throughout the engineering lifecycle, Design simplification helps reduce the potential for vulnerabilities and associated risks that could potentially outweigh the benefits they bring to the system and organization.</li>
    <li>Even with the protections and mitigations from the prior principles, the utility establishes layered defenses. This helps prevent cascading failures if one element of the digital system becomes compromised. When assuming highly capable and well-resourced adversaries, active defense becomes critical for the operations staff to monitor the resilience of their systems. This principle supports operation when a threat is detected, and isolation or removal of the threat without compromising critical operations.</li>
    <li>Conducting an interdependency evaluation within the design process and regular updates through operations, maintenance, and retirement is necessary to maintain an up-to-date understanding of risk. The next step involves establishing digital asset awareness through compiling a complete and accurate digital asset inventory, enabling the evaluation and elimination of potential consequences arising from new vulnerabilities. This helps operations and supporting staff to address system or devicespecific vulnerabilities as they are discovered, and better understand the full scope of capabilities (enabled or not) of the digital devices in the system.</li>
    <li>Planned resilience begins in the early engineering phases and is maintained and updated through the entire engineering lifecycle. Assuming that any digital component or system may be compromised and planning for continued operation during and after a cyber-attack that degrades digital controls throughout the system is essential to the utility’s maturing cybersecurity culture.</li>
    <li>Engineering information control protects sensitive engineering records that may facilitate a successful cyber-attack. Preventing information from unauthorized release increases the difficulty for an attacker to successfully carry out their mission against the utility. Engineering information control and establishing cyber-secure supply chains help maintain secure and resilient operations. These must also be applied contractually and in practice for a</li>
  </ul>

  <h2>CIE Control and Mitigation Examples</h2>
  <p>
    This narrative provides a summary of the concerns and associated 
    controls and/ or mitigations each CIE principle helps the utility 
    identify. Each example is focused on one specific CIE principle but 
    frequently uses other principles in CIE to achieve a more secure 
    and robust design. The matrices in the CIE Analysis Matrix below 
    can be used to quickly identify which CIE principles are relevant 
    to each CIE control and mitigation example. For each CIE control 
    and mitigation example, a select concept question from the 
    Implementation Guide is included to illustrate how the question 
    helped shape the utility’s approach to CIE.
  </p>

  <app-nav-back-next [page]="'applying-cie'"></app-nav-back-next>
</div>

