.c-tsa-primary {
    color: #005387;
}

.bgc-tsa-primary {
    background-color: #005387;
}

.fill-tsa-primary {
    fill: #005387;
}

.btn-link-dark {
    color:white !important;
}
.btn-link-dark:hover {
    color:#c8c8c8 !important;
    text-decoration: underline !important;
}

.btn-white {
    background-color: #ffffff;
    color: #005387;
}