<!----------------------

   Copyright 2023 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div id="tsa-login-page" class="oy-auto ox-hidden p-0 d-flex flex-column justify-content-start flex-11a"
    [ngClass]="{'login-background':mode == 'LOGIN'}">

    <div class="row">
        <div class="col-1">
        </div>

        <div class="col-6">
            <div *ngIf="!configSvc.isRunningAnonymous" class="ws-no-wrap mt-5 mb-4">
                <app-logo-tsa mode="white" logoHeight="100"></app-logo-tsa>               
            </div>
            <div *ngIf="configSvc.isRunningAnonymous" class="d-flex flex-row align-items-center mt-5 mb-4">
                <app-logo-tsa mode="white" logoHeight="60"></app-logo-tsa>          
                <span class="align-middle ml-3 font-italic" style="font-size: 28px; margin-top: 8px; color: #666">Online</span>     
            </div>
            

            <div class="c-tsa-primary">
                <p>
                    The CSET TSA tool has been developed for the Transportation Security Agency (TSA).
                    It provides a systematic and repeatable process for transportation infrastructure owners
                    to assess and improve the cybersecurity posture of their industrial control systems and
                    information networks. CSET TSA has a simplfied workflow customized to the needs of
                    transportation infrastructure owners.
                </p>
                <div>
                    CSET will help you to determine your vulnerabilities and rank your priorities, so that you
                    can make the necessary changes. The self assessment will help you to:
                    <ul>
                        <li>
                            Quickly collate everything you know about your cybersecurity defense
                        </li>
                        <li>
                            Learn what you don't know
                        </li>
                        <li>
                            Introduce you to cybersecurity topics you need to know
                        </li>
                        <li>
                            Identify and mitigate the gaps
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="mode === 'SIGNUP'" class="d-flex flex-column flex-00a">
                <app-register (modeChanged)="setMode($event)" class="d-flex flex-column flex-00a"></app-register>
            </div>

            <img src="assets/images/TSA/login_hexes.png" alt="TSA industry icons" class="mt-4 w-100"
                style="max-width: 600px !important">
        </div>

        <div class="col-3">
            <div class="d-none d-xl-block">
                <div class="bgc-tsa-primary p-3">
                    <form *ngIf="mode === 'LOGIN' && !isRunningInElectron" name="form"
                        (ngSubmit)="email.valid && f.form.valid && login()" #f="ngForm" novalidate
                        class="d-flex flex-column justify-content-between flex-00a pt-5 pb-3">
                        <div *ngIf="incorrect">
                            <div class="alert alert-danger">Incorrect Username or Password</div>
                        </div>
                        <label for="email" style="color: #fff">
                            Enter your email address and password to login.
                        </label>
                        <input type="email" class="form-control" name="email" placeholder="Email"
                            [(ngModel)]="model.email" #email="ngModel" required email focusOnInit="true" tabindex="0" />
                        <div *ngIf="f.submitted && !email.valid" class="alert alert-danger mt-1">A valid email address
                            is
                            required</div>
                        <input type="password" tabindex="0" class="form-control mt-2" name="password"
                            placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger mt-1">A valid password is
                            required</div>
                        <div class="mt-2 d-flex justify-content-between flex-00a">
                            <div class="d-flex flex-nowrap flex-00a mt-3">
                                <button type="submit" [disabled]="loading" class="btn btn-secondary"
                                    tabindex="0">Login</button>
                                <div class="spinner-container" *ngIf="loading">
                                    <div style="max-width: 30px; max-height: 30px;"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-00a mt-3">
                                <a class="btn-link-dark" [routerLink]="['/home','reset-pass']" tabindex="0">Forgot
                                    Password</a>
                                <a class="btn-link-dark" (click)="setMode('SIGNUP')" (keyup.enter)="setMode('SIGNUP')"
                                    tabindex="0">New User Account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="mode !== 'SIGNUP'" class="d-xl-none">
                <a class="btn btn-primary" data-toggle="collapse" href="#loginCollapse">Login</a>
                <div class="collapse" id="loginCollapse">
                    <div class="card card-body" style="width: 240px;">
                        <div class="bgc-tsa-primary p-3">
                            <form *ngIf="mode === 'LOGIN' && !isRunningInElectron" name="form"
                                (ngSubmit)="email.valid && f.form.valid && login()" #f="ngForm" novalidate
                                class="d-flex flex-column justify-content-between flex-00a pt-5 pb-3">
                                <div *ngIf="incorrect">
                                    <div class="alert alert-danger">Incorrect Username or Password</div>
                                </div>
                                <label for="email" style="color: #fff">
                                    Enter your email address and password to login.
                                </label>
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    [(ngModel)]="model.email" #email="ngModel" required email focusOnInit="true"
                                    tabindex="0" />
                                <div *ngIf="f.submitted && !email.valid" class="alert alert-danger mt-1">A valid email
                                    address is
                                    required</div>
                                <input type="password" tabindex="0" class="form-control mt-2" name="password"
                                    placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
                                <div *ngIf="f.submitted && !password.valid" class="alert alert-danger mt-1">A valid
                                    password is
                                    required</div>
                                <div class="mt-2 d-flex justify-content-between flex-00a">
                                    <div class="d-flex flex-nowrap flex-00a mt-3">
                                        <button type="submit" [disabled]="loading" class="btn btn-secondary"
                                            tabindex="0">Login</button>
                                        <div class="spinner-container" *ngIf="loading">
                                            <div style="max-width: 30px; max-height: 30px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="btn-link-dark" [routerLink]="['/home','reset-pass']" tabindex="0">Forgot
                                Password</a><br>
                            <a class="btn-link-dark" (click)="setMode('SIGNUP')" (keyup.enter)="setMode('SIGNUP')"
                                tabindex="0">New User</a>
                        </div>
                        <div class="text-center">
                            <img src="assets/images/TSA/tsa_insignia_rgb.jpg" class="mt-5" style="width: 175px;">
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="mode === 'LOGIN' && isRunningInElectron" class="mr-4 ml-4 p-3 c-white bgc-validation">
                An error was encountered while running CSET-TSA.
            </div>

            <!-- If we reach the login page while running in electron, we can assume there was an error getting
            the standalone status from the API; prompt for exiting the application -->
            <div *ngIf="mode === 'LOGIN' && isRunningInElectron">
                <form name="form" (ngSubmit)="exit()" #f="ngForm" class="mr-4 ml-2 p-3" novalidate>
                    <div class="d-flex flex-nowrap">
                        <button type="submit" class="btn btn-primary btn-lg">Exit</button>
                    </div>
                </form>
            </div>

            <div class="text-center d-none d-xl-block">
                <img src="assets/images/TSA/tsa_insignia_rgb.jpg" class="mt-5" style="width: 175px;">
            </div>

        </div>
    </div>


    <!-- Footer -->
    <ngb-accordion #acc="ngbAccordion" type="primary" class="footer row no-gutters"
        *ngIf="layoutSvc.isFooterShown(this.router.url)">
        <ngb-panel id="footerPanel">
            <ng-template ngbPanelTitle>
                <button id="footerExpanderButton" class="cset-footer-expand-button"
                    [ngClass]="{'cset-icons-chevron-down flex-11a': isFooterOpen(), 'cset-icons-chevron-up flex-00a': !isFooterOpen()}"></button>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="footer-section-2 p-2">
                    <div class="d-flex flex-row flex-wrap justify-content-center flex-11a">
                        <a class="mr-2" target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                            href="https://www.us-cert.gov/ics/Frequently-Asked-Questions">FAQ</a>
                        <span class="mr-2 ml-2">|</span>
                        <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                            href="http://www.us-cert.gov/tlp/">Traffic Light Protocol</a>
                        <span class="mr-2 ml-2">|</span>
                        <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                            href="http://www.us-cert.gov/privacy/">Privacy &amp; Use</a>
                        <span class="mr-2 ml-2">|</span>
                        <a target="_blank" rel="noopener noreferrer"
                            href="http://www.us-cert.gov/accessibility/">Accessibility</a>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-center flex-11a">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.cisa.gov/">CISA</a> is
                        <span style="padding: 2px">part of the</span>
                        <a target="_blank" rel="noopener noreferrer" href="http://www.dhs.gov">Department of Homeland
                            Security</a>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>