<!---------------------- 

   Copyright 2022 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->

<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">Version Below Operating System (VBOS)</h3>
  <div>
      <h6>Purpose and Scope</h6>
      <p>This evaluation provides an organization with a view of its cyber risk management program.
           Specifically, it assesses structural, process, knowledge management, resource management, and cultural aspects of a risk management program at the organization or enterprise level (Level 1) described in U.S. National Institute of Standards and Technology Special Publication 800-39,
            “Managing Information Security Risk: Organization, Mission, and Information System View”.</p>




            <app-nav-back-next [page]="'tutorial-vbos'"></app-nav-back-next>