<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
  <h4 class="mb-3">{{t('titles.organization demographics')}}</h4>

  <div class="mb-3">
    <h5 class="mb-3">Assessment Motivation (Select all that apply)</h5>

    <div class="form-group d-flex align-items-center">
      <input type="checkbox" for="motivationCrr" id="motivationCrrCheckbox" name="motivationCrrCheckbox"
        [(ngModel)]="orgDemographic.motivationCrr"
        (change)="motivationCrrDescription.value = ''; orgDemographic.motivationCrrDescription = null; update()">
      <label class="flex-1125" for="motivationCrr">Cyber Resilience Review</label>
      <input type="text" maxlength="150" class="form-control" id="motivationCrr" name="motivationCrr"
        #motivationCrrDescription placeholder="CRR Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationCrrDescription" [disabled]="!orgDemographic.motivationCrr" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationRrapCheckbox" name="motivationRrapCheckbox"
        [(ngModel)]="orgDemographic.motivationRrap"
        (change)="motivationRrapDescription.value = ''; orgDemographic.motivationRrapDescription = null; update()">
      <label class="flex-1125" for="motivationRrap">RRAP</label>
      <input type="text" maxlength="150" class="form-control" id="motivationRrap" name="motivationRrap"
        #motivationRrapDescription placeholder="RRAP Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationRrapDescription" [disabled]="!orgDemographic.motivationRrap" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationOrgRequestCheckbox" name="motivationOrgRequestCheckbox"
        [(ngModel)]="orgDemographic.motivationOrganizationRequest"
        (change)="motivationOrganizationRequestDescription.value = ''; orgDemographic.motivationOrganizationRequestDescription = null; update()">
      <label class="flex-1125" for="motivationOrgRequest">Organization Request</label>
      <input type="text" maxlength="150" class="form-control" id="motivationOrgRequest" name="motivationOrgRequest"
        #motivationOrganizationRequestDescription placeholder="Organization Request Motivation Description"
        (change)="update()" [(ngModel)]="orgDemographic.motivationOrganizationRequestDescription"
        [disabled]="!orgDemographic.motivationOrganizationRequest" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationLawEnforcementRequestCheckbox" name="motivationLawEnforcementRequestCheckbox"
        [(ngModel)]="orgDemographic.motivationLawEnforcementRequest"
        (change)="motivationLawEnforcementRequestDescription.value = ''; orgDemographic.motivationLawEnforcementRequestDescription = null; update()">
      <label class="flex-1125" for="motivationLawEnforcementRequest">Law Enforcement Request</label>
      <input type="text" maxlength="150" class="form-control" id="motivationLawEnforcementRequest"
        name="motivationLawEnforcementRequest" #motivationLawEnforcementRequestDescription
        placeholder="Law Enforcement Request Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationLawEnforcementRequestDescription"
        [disabled]="!orgDemographic.motivationLawEnforcementRequest" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationDirectThreatsCheckbox" name="motivationDirectThreatsCheckbox"
        [(ngModel)]="orgDemographic.motivationDirectThreats"
        (change)="motivationDirectThreatsDescription.value = ''; orgDemographic.motivationDirectThreatsDescription = null; update()">
      <label class="flex-1125" for="motivationDirectThreats">Direct Threats / Suspicious Incidents</label>
      <input type="text" maxlength="150" class="form-control" id="motivationDirectThreats"
        name="motivationDirectThreats" #motivationDirectThreatsDescription
        placeholder="Direct Threats / Suspicious Incidents Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationDirectThreatsDescription"
        [disabled]="!orgDemographic.motivationDirectThreats" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationSpecialEventCheckbox" name="motivationSpecialEventCheckbox"
        [(ngModel)]="orgDemographic.motivationSpecialEvent"
        (change)="motivationSpecialEventDescription.value = ''; orgDemographic.motivationSpecialEventDescription = null; update()">
      <label class="flex-1125" for="motivationSpecialEvent">Direct Threats / Suspicious Incidents</label>
      <input type="text" maxlength="150" class="form-control" id="motivationSpecialEvent" name="motivationSpecialEvent"
        #motivationSpecialEventDescription placeholder="Special Event Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationSpecialEventDescription"
        [disabled]="!orgDemographic.motivationSpecialEvent" tabindex="0">
    </div>
    <div class="form-group d-flex align-items-center">
      <input type="checkbox" id="motivationOtherCheckbox" name="motivationOtherCheckbox"
        [(ngModel)]="orgDemographic.motivationOther"
        (change)="motivationOtherDescription.value = ''; orgDemographic.motivationOtherDescription = null; update()">
      <label class="flex-1125" for="motivationOther">Other</label>
      <input type="text" maxlength="150" class="form-control" id="motivationOther" name="motivationOther"
        #motivationOtherDescription placeholder="Other Motivation Description" (change)="update()"
        [(ngModel)]="orgDemographic.motivationOtherDescription" [disabled]="!orgDemographic.motivationOther"
        tabindex="0">
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label for="visitDate">Visit Date</label>
      <input class="form-control" tabindex="0" type="date" maxlength="75" name="visitDate" id="visitDate"
        [(ngModel)]="orgDemographic.visitDate" placeholder="Visit Date" (change)="update()">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="mb-1" for="parentOrganization">Parent Organization</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="50" name="parentOrganization"
          id="parentOrganization" [(ngModel)]="orgDemographic.parentOrganization" placeholder="Parent Organization"
          (change)="update()">
      </div>
      <div class="form-group col-md-6">
        <label class="mb-1" for="organizationName">Organization Name</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="50" name="organizationName"
          id="organizationName" [(ngModel)]="orgDemographic.organizationName" placeholder="Organization Name"
          (change)="update()">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="mb-1" for="sector">Street Address</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="75" name="streetAddress"
          id="streetAddress" [(ngModel)]="orgDemographic.streetAddress" placeholder="Street Address"
          (change)="update()">
      </div>
      <div class="form-group col-md-6">
        <label class="mb-1" for="industry">Site Name</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="50" name="siteName"
          id="siteName" [(ngModel)]="orgDemographic.siteName" placeholder="Site Name" (change)="update()">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="mb-1" for="cikrSector">CIKR Sector</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="50" name="cikrSector"
          id="cikrSector" [(ngModel)]="orgDemographic.cikrSector" placeholder="CIKR Sector" (change)="update()">
      </div>
      <div class="form-group col-md-6">
        <label class="mb-1" for="subSector">Sub-Sector</label>
        <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="50" name="subSector"
          id="subSector" [(ngModel)]="orgDemographic.subSector" placeholder="Sub-Sector" (change)="update()">
      </div>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="mb-3">The following should be completed specific to the organization (Not the parent organization or
      site)
    </h5>

    <div class="form-row">
      <div class="form-group col-md-4 text-center">
        <label class="mb-1" for="role">SLTT?</label>
        <div class="btn-group btn-group-toggle d-block" id="completedForSltt" data-toggle="buttons" ngbRadioGroup
          name="completedForSltt" [(ngModel)]="orgDemographic.completedForSltt" (ngModelChange)="update()">
          <label ngbButtonLabel class="btn btn-level" [class.active]="orgDemographic.completedForSltt">
            <input ngbButton type="radio" autocomplete="off" name="completedForSltt" [value]="true">
            Yes
          </label>
          <label ngbButtonLabel class="btn btn-level" [class.active]="!orgDemographic.completedForSltt">
            <input ngbButton type="radio" autocomplete="off" name="completedForSltt" [value]="false">
            No
          </label>
        </div>
      </div>
      <div class="form-group col-md-4 text-center">
        <label class="mb-1" for="role">Federal Entity?</label>
        <div class="btn-group btn-group-toggle d-block" id="completedForFederal" data-toggle="buttons" ngbRadioGroup
          name="completedForFederal" [(ngModel)]="orgDemographic.completedForFederal" (ngModelChange)="update()">
          <label ngbButtonLabel class="btn btn-level" [class.active]="orgDemographic.completedForFederal">
            <input ngbButton type="radio" autocomplete="off" name="completedForFederal" [value]="true">
            Yes
          </label>
          <label ngbButtonLabel class="btn btn-level" [class.active]="!orgDemographic.completedForFederal">
            <input ngbButton type="radio" autocomplete="off" name="completedForFederal" [value]="false">
            No
          </label>
        </div>
      </div>
      <div class="form-group col-md-4 text-center">
        <label class="mb-1" for="role">National Special Event?</label>
        <div class="btn-group btn-group-toggle d-block" id="completedForNationalSpecialEvent" data-toggle="buttons"
          ngbRadioGroup name="completedForNationalSpecialEvent"
          [(ngModel)]="orgDemographic.completedForNationalSpecialEvent" (ngModelChange)="update()">
          <label ngbButtonLabel class="btn btn-level" [class.active]="orgDemographic.completedForNationalSpecialEvent">
            <input ngbButton type="radio" autocomplete="off" name="completedForNationalSpecialEvent" [value]="true">
            Yes
          </label>
          <label ngbButtonLabel class="btn btn-level" [class.active]="!orgDemographic.completedForNationalSpecialEvent">
            <input ngbButton type="radio" autocomplete="off" name="completedForNationalSpecialEvent" [value]="false">
            No
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label class="mb-1" for="staffCounts">Total # of IT/ICS management and staff (i.e., technologists):</label>
      <div class="btn-group btn-group-toggle d-block" id="staffCounts" data-toggle="buttons" ngbRadioGroup
        name="staffCounts" [(ngModel)]="orgDemographic.itIcsStaffCount" (ngModelChange)="update()">
        <label ngbButtonLabel class="btn btn-level" *ngFor="let staffCount of staffCountsList"
          [class.active]="staffCount.staff_Count === orgDemographic.itIcsStaffCount">
          <input ngbButton type="radio" autocomplete="off" name="staffCounts" [value]="staffCount.staff_Count">
          {{staffCount.staff_Count}}
        </label>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <label class="mb-1" for="cyberStaffCounts">Total # Cybersecurity of IT/ICS management and staff (i.e.,
        technologists):</label>
      <div class="btn-group btn-group-toggle d-block" id="cyberStaffCounts" data-toggle="buttons" ngbRadioGroup
        name="cyberStaffCounts" [(ngModel)]="orgDemographic.cybersecurityItIcsStaffCount" (ngModelChange)="update()">
        <label ngbButtonLabel class="btn btn-level" *ngFor="let staffCount of cyberStaffCountsList"
          [class.active]="staffCount.staff_Count === orgDemographic.cybersecurityItIcsStaffCount">
          <input ngbButton type="radio" autocomplete="off" name="cyberStaffCounts" [value]="staffCount.staff_Count">
          {{staffCount.staff_Count}}
        </label>
      </div>
    </div>
  </div>
</ng-container>