<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="mb-5">
  <h5>Component Inventory</h5>

  <div *ngIf="componentsExist">
    <div class="d-flex justify-content-between mb-3 mt-4">
      <button class="btn btn-primary" (click)="getExport()">
        <i class="cset-icons-export-excel mr-2"></i>
        Export to Excel</button>

      <button *ngIf="showCsafUploadButton()" class="btn btn-primary" (click)="openFileBrowserForCsafUpload()"
        matTooltip="Select CSAF JSON files to upload.">
        <i class="cset-icons-import mr-2"></i>
        Update Vulnerabilities Database</button>
      <input id="csafUpload" type="file" accept=".json" multiple (change)="fileSelect($event)" class="display-none">
    </div>
    <div class="row stretch mb-3">
      <div class="col-12">
        <mat-tab-group style="overflow: auto" class="mb-3">
          <mat-tab *ngIf="showVulnerabilitiesTab()" label="Vulnerabilities">
            <app-diagram-vulnerabilities (componentsChange)="onChange($event)"></app-diagram-vulnerabilities>
          </mat-tab>
          <mat-tab label="Components">
            <app-diagram-components (componentsChange)="onChange($event)"
              [diagramComponentList]="compListUpdateFromShapesTab"></app-diagram-components>
          </mat-tab>
          <mat-tab label="Zones">
            <zones></zones>
          </mat-tab>
          <mat-tab label="Shapes">
            <shapes (componentsChange)="onShapeChange($event)"></shapes>
          </mat-tab>
          <mat-tab label="Text"><diagram-text></diagram-text></mat-tab>
          <mat-tab label="Links">
            <links></links>
          </mat-tab>
          <mat-tab label="Network Warnings">
            <networkwarnings></networkwarnings>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div *ngIf="!componentsExist" class="pt-3">
    <div class="alert alert-warning">
      There are no network components defined
    </div>
  </div>
</div>