<div class="white-panel oy-auto ox-auto d-flex flex-column flex-11a">
    <div class="container">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-6"><button class="btn btn-primary" (click)="getExport()">Export to Excel</button></div>
            <div class="col-6 pull-right"><button class="btn btn-primary pull-right" (click)="sendToDiagram()" ><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;Return to Diagram</button></div>
            
        </div>
        <div class="row" style="padding-bottom:5px;">
            <div class="col-12">
                <mat-tab-group style="overflow: auto">
                    <mat-tab label="Components"><components></components></mat-tab>
                    <mat-tab label="Zones"><zones></zones></mat-tab>
                    <mat-tab label="Shapes"><shapes></shapes></mat-tab>
                    <mat-tab label="Text"><text></text></mat-tab>
                    <mat-tab label="Links"><links></links></mat-tab>
                    <mat-tab label="Network Warnings"><networkwarnings></networkwarnings></mat-tab>
                </mat-tab-group>

                    
            </div>
        </div>
    </div>
</div>


