
<div *transloco="let t;" class="edit-user-dialog d-flex flex-column justify-content-center flex-11a" style="width: 700px">
    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
        <span class="cset-icons-profile fs-base-6 me-3"></span>
        <span>{{t('user profile.dialog title')}}</span>
    </div>
    <mat-dialog-content class="p-3 oy-auto d-flex flex-column flex-11a">

        <ng-container *ngIf="userRoles == null">
            <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
                <div class="spinner-size-50"></div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="userRoles?.length > 0">

            <!-- table for larger layouts -->
            <table *ngIf="!layoutSvc.hp" role="presentation" aria-label="assessments" matSort
                (matSortChange)="sortData($event)" class="assessment-summary">
                <th aria-label="Email" mat-sort-header="email" style="width: 35%;">Email</th>
                <th aria-label="Last Name" mat-sort-header="lastName" style="width: 25%;">
                    Last Name
                </th>
                <th aria-label="First Name" mat-sort-header="firstName" style="width: 25%;">First Name</th>
                <th aria-label="Role" mat-sort-header="role" style="width:15%;">Role</th>
                
                <tr *ngFor="let userRole of userRoles; let i = index">
                    <td>{{ userRole.primaryEmail }}</td>
                    <td>{{ userRole.lastName }}</td>
                    <td>{{ userRole.firstName }}</td>
                    <td>
                        <!-- <ng-container *ngFor="let roleOfUser of userRole.roles"> -->
                            <ng-container *ngFor="let role of roles">
                                <input type="radio" name="{{ i + '_' + role.roleName.trim() }}" 
                                        id="{{ i + '_' + role.roleName.trim() }}" class="radio-custom"
                                        [checked]="role.roleId == userRole.userRoles.roleId"
                                        (change)="toggleRole(userRole, role, i)">
                                <label for="{{ i + '_' + role.roleName.trim() }}" class="radio-custom-label">
                                    
                                   
                                    {{ role.roleName.trim() }}
                                </label>
                            </ng-container>
                        
                    </td>
                    
                </tr>
            </table>

            <!-- table for handset portrait -->
            <table *ngIf="layoutSvc.hp" role="presentation" aria-label="assessments" matSort
                (matSortChange)="sortData($event)" class="assessment-summary" style="overflow-x:auto">
                <th aria-label="assessment name" mat-sort-header="assessment" style="width: 25%;">{{ t('assessment
                    name') }}
                </th>
                <th aria-label="date" mat-sort-header="date" style="width:15%;">{{ t('last modified') }}</th>
                <th aria-label="Actions" style="width: 5%" *ngIf="layoutSvc.hp"></th>
                <tr *ngFor="let assessment of sortedAssessments;  let i = index">
                    <td>
                        <button tabindex="0"
                            class="btn btn-link btn-link-dark d-flex justify-content-start align-items-start flex-00a wrap-text text-start"
                            (click)="this.navSvc.beginAssessment(assessment.assessmentId)">
                            {{assessment.assessmentName}}
                        </button>
                    </td>
                    <td>{{systemTimeTranslator(assessment.lastModifiedDate, 'med')}}</td>
                    <td class="text-nowrap ps-1">
                        <button tabindex="0" class="icon-link-button-dark btn bgc-trans my-0 mx-1 p-0"
                            (click)="removeAssessment(assessment, i)"
                            matTooltip="{{ t('tooltip.remove assessment') }}">
                            <span class="cset-icons-trash-x fs-base-2"></span>
                        </button>
                        <button tabindex="0" class="icon-link-button-dark btn bgc-trans my-0 mx-1 p-0"
                            (click)="clickDownloadLink(assessment.assessmentId)"
                            matTooltip="{{ t('tooltip.export assessment') }} ({{ exportExtension }}).">
                            <span class="cset-icons-export-up fs-base-2"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </ng-container>
        <mat-dialog-actions class="p-3 pt-0 mb-0">
            <button class="btn btn-secondary" (click)="close(userRoles)">{{t('buttons.ok')}}</button>
        </mat-dialog-actions>
    </mat-dialog-content>
    
</div>