@media print {
    .function-padding {
      margin-right: 2rem;
    }
  }

  .function-padding {
    margin-right: 2rem;
  }

  .appendix-label {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0;
  }

  /* Legends */
  .legend-svg text {
    font-size: .5rem;
  }

  .tinytext {
    font-size: 8px;
  }

  .text-1 {
    font-size: .7rem;
  }