<div class="form-container" *transloco="let t">
     <!-- <p>
          {{t('modules.ssg.1')}}
     </p> -->


     <p>
          A CPG assessment can include Sector-Specific Goals (SSG) depending on
          the assessment's sectors.
     </p>
     <ul>
          <li>
               Chemical Sector (Not Oil and Gas) - <em>organizations involved in the use, production, storage, or
                    distribution of chemicals within one or more components of the Chemical Sector—including
                    agricultural chemicals, basic chemicals, specialty chemicals, and consumer products</em>
          </li>
          <li>
               Information Technology Sector - <em>organizations that develop software for internal, commercial, or open
                    source use</em>
          </li>
     </ul>
     <!-- <div class="mb-3">
          <div *ngFor="let sector of list1" class="mb-3">
               <input type="checkbox" tabindex="0" [id]="'ssg-sector-' + sector.sectorId" [value]="sector.sectorId"
                    name="'ssg-sector-' + sector.sectorId" class="checkbox-custom mt-1"
                    (change)="onSectorChange(sector.sectorId, $event)" [checked]="isSectorChecked(sector.sectorId)" />
               <label [for]="'ssg-sector-' + sector.sectorId" class="checkbox-custom-label">
                    <span>{{ sector.sectorName }} - <em>{{ t('modules.ssg.descriptions.sector-' + sector.sectorId)
                              }}</em></span>
               </label>
          </div> -->

     <p>
          {{t('modules.ssg.2')}}
          <a href="https://www.cisa.gov/cross-sector-cybersecurity-performance-goals"
               target="_blank">https://www.cisa.gov/cross-sector-cybersecurity-performance-goals</a>
     </p>
     <ul style="list-style: initial">
          <li *ngFor="let sectorName of list2">
               {{ sectorName }}
          </li>
     </ul>
</div>