<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a">
  <h3 class="wrap-text">Maturity Models</h3>
  <div class="maturity-model-card mb-5">
    <h4><input type="radio" class="maturity-model-select" name="model-select-family" id="model-select-acet"
      [checked]="assessSvc.usesMaturityModel('ACET')" (change)="changeSelection($event, 'ACET')">
      <label for="model-select-acet">ACET</label></h4>
    <div class="d-flex flex-row">
      <div>
          Called the Automated Cybersecurity Evaluation Toolbox (ACET), it
          provides us with a repeatable, measurable and transparent
          process that improves and standardizes our supervision related
          to cybersecurity in all federally insured credit unions.
      </div>
      <div style="max-width: 50%; min-width: 10rem" class="text-center pl-3">
        <img src="/assets/images/ACET/ACET_shield_only.png" alt="acet" style="width: 100%;">
      </div>
    </div>
  </div>

  <div class="maturity-model-card mb-5">
    <div>
      <h4>
        <input type="radio" class="maturity-model-select" name="model-select-family" id="model-select-cmmc"
          [checked]="assessSvc.usesMaturityModel('CMMC')" (change)="changeSelection($event, 'CMMC')">
        <label for="model-select-cmmc" class="cursor-pointer">CMMC</label>
      </h4>
    </div>
    <div class="d-flex flex-row">
      <div style="max-width: 50%">
        <p>
          The Capability Maturity Model Certification (CMMC) measures
          cybersecurity maturity with five levels and aligns a set of processes and
          practices with the type and sensitivity of information to be protected
          and the associated range of threats. The model consists of maturity
          processes and cybersecurity best practices from multiple
          cybersecurity standards, frameworks and other references,
          as well as inputs from the broader community.
        </p>

        <p>CMMC is broken into five different levels of Processes and Capabilities (which are further broken down into
          Practices).</p>
        <a rel="noopener noreferrer" target="_blank" [href]="tutorialCMMC()">For more information see the CMMC document</a>.
      </div>
      <div style="max-width: 50%" class="text-center pl-3">
        <img src="/assets/images/CMMC/CMMC-practices-per-level.png" alt="cmmc" style="width: 100%;">
      </div>
    </div>

  </div>

  <div class="maturity-model-card mb-5">
    <h4><input type="radio" class="maturity-model-select" tabindex="0" name="model-select-family" id="model-select-edm"
        [checked]="assessSvc.usesMaturityModel('EDM')" (change)="changeSelection($event, 'EDM')">
      <label for="model-select-edm" class="cursor-pointer">EDM</label></h4>
    <div class="d-flex flex-row">
      <div>
        The External Dependency Management Assessment
      </div>
      <div style="max-width: 50%" class="text-center pl-3">
        <img src="/assets/images/EDM/EDM_logo.png" alt="edm" style="width: 100%;">
      </div>
    </div>
  </div>



  <app-nav-back-next [page]="'model-select'"></app-nav-back-next>

</div>