<div class="jumbotron home-page">
    <h1>CSET Web Starting Configuration Page</h1>
    <p class="lead">This page is intended for the application administrator.  If you are seeing this page please reset the default page on your web server to index.html</p>
    <p><a href="index.html" class="btn btn-primary btn-lg">CSET Angular Site</a></p>
    <p><a href="help" class="btn btn-primary btn-lg">CSET API Docs</a></p>
    <p><a href="Documents/htmlHelp/index.htm" class="btn btn-primary btn-lg">CSET Documentation</a></p>
    <img src="~/assets/cset_grid_img.png" class="home-img" />
</div>
