
<!----------------------

   Copyright 2021 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-cset-lock"></span>
    <span>About</span>
  </div>
  <mat-dialog-content class="p-4 pb-0 pr-0 oy-auto d-flex flex-column flex-11a">
    <section class="pr-4 d-flex flex-11a flex-row flex-wrap">
      <article class="mb-4 d-flex flex-column flex-11a w-100">
        <div class="d-flex flex-column justify-content-start flex-00a">

          <span class="mb-1">CYBER SECURITY EVALUATION TOOL</span>
          <span class="mb-1">Version: {{version}}</span>
          <!-- <a class="mb-1" target="_blank" rel="noopener noreferrer"
            href="https://github.com/cisagov/cset">https://github.com/cisagov/cset</a>
          <a *ngIf="helpContactEmail?.trim().length > 0" href="mailto:{{helpContactEmail}}">{{helpContactEmail}}</a>
          {{helpContactPhone}} -->
        </div>
        <div class="d-flex justify-content-center flex-00a mb-2">
          <img src="/assets/images/CYOTE/doe-cser_logo2.jpg" style="height: 60px;" alt="Logo for U.S. Department of Energy Office of Cybersecurity, Energy Security, and Emergency Response">
        </div>
        <h3 class="mt-4">Contact</h3>
        <p class="mb-3 wrap-text">
          To learn more about threat identification specific to OT environments, training, standards, and references, visit the
          <a target="_blank" rel="noopener noreferrer" href="https://inl.gov/cyote/)">CyOTE website</a>
          or contact
          <a class="wrap-text" href="mailto:CyOTE.Program@hq.doe.gov" class="mailto">CyOTE.Program@hq.doe.gov</a>.
        </p>
        <p class="wrap-text">DOE, Office of Cybersecurity, Energy Security and Emergency Response, encourages you to report suspicious cyber activity, incidents, and vulnerabilities affecting critical infrastructure control systems.</p>
      </article>
      <article class="mb-4 d-flex flex-column flex-11a w-100">
        <h3 class="wrap-text">DOE Training Resources</h3>
        <p class="wrap-text">DOE training is available through the following resources:</p>
        <h5 class="fw-600"><a target="_blank" rel="noopener noreferrer"
            href="{{this.configSvc.docUrl}}htmlhelp/index.htm">User Guide</a></h5>
        <br>
        <h5 class="fw-600">Video Tutorials</h5>
        <a class="wrap-text" target="_blank" rel="noopener noreferrer"
          href="https://www.youtube.com/watch?v=FRAX2ZalKNk">VCU Cybersecurity Center Speaker Series</a>
          <a class="wrap-text" target="_blank" rel="noopener noreferrer"
          href="https://www.youtube.com/watch?v=xotZaG7byUQ">Accelerating R&D and Demonstration of Next-Gen Critical Infrastructure</a>

        <h3 class="mt-4 wrap-text">Presentations and Media</h3>
        <a class="wrap-text" target="_blank" rel="noopener noreferrer"
        href="https://inl.gov/cyote/">CyOTE Methodology Application to the Oldsmar Water Facility Breach (INTERACTIVE)</a>
        <a class="wrap-text" target="_blank" rel="noopener noreferrer"
        href="https://www.resilientgrid.com/hpcop-listing/cybersecurity-for-operational-technology-environments-cyote">Human Performance Community of Practice: CyOTE</a>
      </article>
    </section>
  </mat-dialog-content>

