<!---------------------- 

   Copyright 2025 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="flex flex-col justify-center flex-11a" style="width:800px;">
    <div class="mat-dialog-header p-3 flex justify-start items-center flex-00a">
        <span class="me-3 fs-base-6 {{iconClass}}"></span>
        <span>Malcolm Instructions</span>
    </div>

    <mat-dialog-content class="p-3 pb-0 pe-0 oy-auto flex flex-col flex-11a">
        <div class="pe-3">
            Enter the IP address of the Malcolm instance to attempt to pull data from Malcolm directly
            <div class="flex">
                <div class="flex flex-col me-3">
                    <input #ipAddress class="form-control" maxlength="20" type="text"
                        (blur)="validateIP(ipAddress.value)">
                    <span class="alert alert-danger mt-1" *ngIf="iperror">Not a valid IP address</span>
                </div>

                <button class="btn btn-primary inline-flex"
                    (click)="attemptToImportFromMalcolm(ipAddress.value)">Import</button>
            </div>

            <p style="text-align: center;" class="my-2">&mdash;OR&mdash;</p>
            <ol>
                <li>Open the command terminal. Type "cmd" in the Search box on the task bar</li>
                <li>Find your IP address. Type "ipconfig" in a command terminal and use the "IPv4 Address" value
                </li>
                <li>Enter the following command into the command terminal, replacing the marked area with your IP
                    address:
                    <div style="font-family: monospace; font-size: .8rem; background-color: #eee; padding: 1rem;">
                        curl -k -sSL -XPOST -H 'Content-Type: application/json'
                        https://(your_ip_here)/mapi/agg/source.ip,source.device.role,destination.ip,destination.device.role
                        -d '{{ '{' }} "from":"5 years ago","to": "now"{{ '}' }}'
                    </div>
                </li>

                <li>Copy and paste the text output into a .txt file (i.e. “Notepad” on Windows, etc.)</li>
                <li>Rename the file to have a “.json” extension
            </ol>
            <label for="importFile" class="btn btn-primary cset-icons-import">
                Import Malcolm File
            </label>
            <input type="file" class="display-none" id="importFile" multiple accept=".json"
                (change)="uploadMalcolmData($event)">

        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="p-3 pt-3 mb-0 flex ms-auto flex-00a">
        <button class="btn btn-secondary" (click)="dialogRef.close(true)">Close</button>
    </mat-dialog-actions>
</div>