<table mat-table matSort class="assessment-summary" style='overflow:auto'>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="message" style="width:75%;">Message</th>
    
    <tr *ngFor="let warning of warnings; let i = index">
        <td>{{warning.id}}</td>
        <td>{{warning.message}}</td>
    </tr>
</table>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
