<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
      <span class="mr-3 fs-base-6 cset-icons-cset-lock"></span>
      <span>{{ t('about.dialog title') }}</span>
    </div>
    <mat-dialog-content class="p-4 pb-0 pr-0 oy-auto d-flex flex-column flex-11a">
      <section class="pr-4 d-flex flex-11a flex-row flex-wrap">
        <article class="mb-4 d-flex flex-column flex-11a w-100">
          <div class="d-flex flex-column justify-content-start flex-00a">
            <img src="assets/images/CIE/CIE_Logo_Blue_Standard.png" alt="CIE LOGO" class="img-fluid">

            <hr class="hr-logo">
            <span class="mb-1">{{ t('about.version') }}: {{version}}</span>
            <div *ngIf="!!linkerTime">{{ t('about.build date') }}: {{linkerTime}}</div>
            <a *ngIf="helpContactEmail?.trim().length > 0" href="mailto:{{helpContactEmail}}">{{helpContactEmail}}</a>
            {{helpContactPhone}}
          </div>
          <hr>
          <div class="d-flex justify-content-center flex-00a mb-2">
            <img src="./assets/images/CYOTE/cyotelogo.png" alt="cisa" style="height: 7rem;">
          </div>
          <div class="c-primary d-flex flex-column text-center flex-00a">
            <!-- <h6><a target="_blank" rel="noopener noreferrer" href="https://www.cisa.gov/" [innerHTML]="t('about.cisa name')"></a>
            </h6> -->
          </div>
          <h3 class="mt-4">{{t('about.contact')}}</h3>
          <!-- <p class="mb-3 wrap-text" [innerHTML]="t('about.learn more') | safe"> </p> -->
          <p class="mb-3 wrap-text" [innerHTML]="t('about.cie.description')" ></p>
          <!-- <p class="wrap-text" [innerHTML]="t('about.encourage reporting')"></p> -->
          <h3 class="mt-4">{{t('about.cie.ceser title')}}</h3>
          <p class="mb-3 wrap-text" [innerHTML]="t('about.cie.ceser')" ></p>
        </article>
        <article class="mb-4 d-flex flex-column flex-11a w-100">
            <h3 class="wrap-text">{{ t('about.cset training resources') }}</h3>
            <p class="wrap-text">{{ t('about.training available') }}:</p>
            <h5 class="fw-600"><a target="_blank" rel="noopener noreferrer"
                href="{{this.configSvc.docUrl}}htmlhelp/index.htm">{{ t('menu.help.cset user guide') }}</a></h5>

            <h5 class="fw-600">{{ t('about.video tutorials') }}</h5>
            <a class="wrap-text" target="_blank" rel="noopener noreferrer"
              href="https://www.youtube.com/c/CSETCyberSecurityEvaluationTool">https://www.youtube.com/c/CSETCyberSecurityEvaluationTool</a>

            <h3 class="mt-4 wrap-text">{{ t('about.cie.cie tutorial title') }}</h3>
            <p class="wrap-text">
              {{ t('about.cie.cie tutorial') }}
            </p>
             <ul>
             <li><p [innerHTML]="t('about.cie.cie background')"></p></li>
             <li><p [innerHTML]="t('about.cie.cie principles')"></p></li>
             <!-- <li><p [innerHTML]="t('about.cie.cie engineering lifecycle')"></p></li>         -->
              </ul>
        </article>
      </section>
    </mat-dialog-content>
  </ng-container>
