<!-- Question Group Heading / Category-->
<div *ngIf="c.isOverride" class="group-heading" [class.display-none]="!c.visible">
  {{ c.symbol_Name + ' - ' + c.componentName }}
</div>

<!-- Question Group Heading / Category-->
<div *ngIf="!c.symbol_Name" class="group-heading" [id]="buildNavTargetID(c)" [ngClass]="addDomainPad(c.domainName)"
  [class.display-none]="!c.visible">
  {{ c.groupHeadingText }}
  {{ (!c.domainName && !!c.standardShortName) ? ' - ' + c.standardShortName : '' }}
</div>

<!-- Subcategory -->
<div *ngFor="let sg of c.subCategories" [ngClass]="addDomainPad(c.displayText)" style="margin-bottom: 1em;"
  [class.display-none]="!sg.visible">

  <!-- Questions within subcategory -->
  <app-question-block #questionBlock [mySubCategory]="sg" (changeComponents)="updateComponentsOverride()">
  </app-question-block>

</div>