<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->

<div *transloco="let t" class="edit-user-dialog d-flex flex-column justify-content-center flex-11a tw:rounded-xl tw:shadow-xl">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="fa-solid fa-gear fs-base me-2 align-middle"></span>
    <div class="pl-2">
            <span>
                {{t('menu.user.settings')}}
            </span>
    </div>

  </div>
  <mat-dialog-content class="p-4 d-flex flex-column flex-11a">
    <div class="tw:m-1">
      <div class="d-flex align-items-center  pl-3 m-2">
        <span class="fa-solid fa-lock fs-base-4 me-1"></span>
        <span class="fw-300 form-label me-2">{{t('menu.user.encrypt')}}</span>
        <input type="checkbox"
               name="encryption"
               id="encryption"
               [checked]="encryption"
               (change)="updateEncryptPreference()"
               class="tw:toggle">
<!--        <span class="tw:ml-3">{{ encryption ? t('menu.user.on') : t('menu.user.off') }}</span>-->
      </div>
      <div class="pl-3 m-2">
        <form name="form" #userForm="ngForm">

          <div class="d-flex align-items-center">
            <span class="fas fa-language fs-base-4 me-1" ></span>
            <label class="fw-300 form-label " for="selectLang">{{t('user language')}}</label>
          </div>

          <select class="form-select" id="langSelection" name="langSelection" [(ngModel)]="langSelection"
                  (change)="save()">
            <option *ngFor="let o of languageOptions" [value]="o.value">{{o.name}}</option>
          </select>


        </form>
      </div>
      <div *ngIf="showCisaAssessorWorkflowSwitch()" class="pl-3 m-2">
        <div class="d-flex align-items-center">
          <span class="fa fa-globe fs-base-4 me-1" ></span>
          <span class="fw-300 form-label me-2">{{ t('assessor workflow.user is cisa assessor')}}</span>
          <input type="checkbox"
                 name="cisa-workflow"
                 id="cisa-workflow"
                 [checked]="cisaWorkflowEnabled"
                 (change)="toggleCisaAssessorWorkflow()"
                 class="tw:toggle">
        </div>
        <div>
          {{ t('assessor workflow.cisa assessor explanation')}}
        </div>
        <div class="p-2">

<!--          <span class="tw:ml-3">{{ cisaWorkflowEnabled ? t('answer-options.button-labels.yes') : t('answer-options.button-labels.no') }}</span>-->
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-0 mb-0 mt-2">
    <button class="btn btn-secondary" (click)="cancel()">{{ t('buttons.close') }}</button>
  </mat-dialog-actions>
</div>
