<!---------------------- 

   Copyright 2025 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->

<div *transloco="let t" class="edit-user-dialog d-flex flex-column justify-content-center flex-11a">
    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
        <span class="fa-solid fa-gear fs-base me-2 align-middle"></span>
        <div class="pl-2">
            <span>
                {{t('menu.user.settings')}}
            </span>
        </div>

    </div>

    <mat-dialog-content class="p-3 d-flex flex-column flex-11a">
        <div class="p-3">
            <span class="fa-solid fa-lock fs-base-6 me-3"></span>
            <span class="fw-600 form-label pb-2">{{t('menu.user.encrypt')}}</span>
            <!-- Don't show the encryption for ACET/ISE. They don't want it. -->

            <div *ngIf="!this.ncuaSvc.switchStatus">
                <div *ngIf="this.configSvc.installationMode != 'ACET'">
                    <div class="btn-group btn-group-toggle pt-2" data-toggle="buttons">
                        <label class="btn btn-level btn-rounded form-check-label" [class.active]="!encryption"
                            (change)="updateEncryptPreference()">
                            <input class="btn-check" type="radio" autocomplete="off" tabindex="0"
                                [checked]="!encryption" />
                            {{t('menu.user.off')}}
                        </label>
                        <label class="btn btn-level btn-rounded form-check-label" [class.active]="encryption"
                            (change)="updateEncryptPreference()">
                            <input class="btn-check" type="radio" autocomplete="off" tabindex="0"
                                [checked]="encryption" />
                            {{t('menu.user.on')}}
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <form name="form" #userForm="ngForm">
            <div class="p-3">
                <div class="d-flex align-items-center">
                    <span class="fas fa-language fs-base-6 me-3"></span>
                    <label class="fw-600 form-label" for="langSelection">{{t('user language')}}</label>
                </div>

                <select class="form-select" id="langSelection" name="langSelection" [(ngModel)]="langSelection"
                    (change)="save()">
                    <option *ngFor="let o of languageOptions" [value]="o.value">{{o.name}}</option>
                </select>

                <mat-dialog-actions>
                    <button class="m-0 btn btn-primary" (click)="openAdminUserRolesEditor()">{{t('buttons.role editor')}}</button>

                </mat-dialog-actions>
            </div>
        </form>
        <mat-dialog-actions class="pt-3 mb-0 mx-0 px-0 d-flex justify-content-end flex-11a">
            <button class="m-0 btn btn-secondary" (click)="cancel()">{{t('buttons.close')}}</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>