.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 16pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 14pt;color:#004891;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Consolas";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_03F852C15D
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1c1624;
}
span.de_040E78C787
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1f050c;
	font-style:italic;
}
span.de_042037E0D9
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1f0107;
}
span.de_05B6793A56
{
	font-family: "Arial";
	font-size: 12pt;
	color:#312f31;
}
span.de_0BDFE2E1AE
{
	font-family: "Arial";
	font-size: 12pt;
	color:#010103;
}
span.de_13210B4F41
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1f0308;
}
span.de_1376058C6C
{
	font-family: "Arial", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	color:#000000;
}
span.de_1522467437
{
	font-family: "Arial";
	font-size: 12pt;
	color:#2a2634;
}
span.de_1E48C4A0AA
{
	font-family: "Arial";
	font-size: 12pt;
	color:#008aff;
}
span.de_229A7A25DA
{
	font-family: "Arial";
	font-size: 12pt;
	color:#2f2838;
}
span.de_2802DF896D
{
	font-family: "Arial";
	font-size: 12pt;
	color:#031a3f;
}
span.de_28DC4261C2
{
	color:#003366;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_39C5419E79
{
	font-family: "Arial";
	font-size: 12pt;
	color:#030108;
}
span.de_409D64D135
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1a1523;
	font-style:italic;
}
span.de_42CF9151A4
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1a1621;
}
span.de_461F34A8F1
{
	font-family: "Arial";
	font-size: 12pt;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4E4FB5F1B2
{
	font-family: "Arial";
	font-size: 12pt;
	color:#030107;
}
span.de_67BC475A8E
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
}
span.de_6B32FB2C7E
{
	color:#6460ac;
}
span.de_71F5A23342
{
	font-family: "Arial";
	font-size: 12pt;
	color:#6462ac;
}
span.de_7AF1EF6DBC
{
	font-family: "Arial";
	font-size: 16pt;
	color:#003366;
}
span.de_7F61F470EA
{
	font-family: "Arial";
	font-size: 28pt;
	color:#5b56a6;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_87C8AF169F
{
	font-family: "Arial";
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_A9B3EC092A
{
	font-family: "Arial";
	font-size: 12pt;
	color:#3f3d4d;
}
span.de_B261420348
{
	font-size: 14pt;
}
span.de_BB3BCAC3E6
{
	font-family: "Arial";
	font-size: 28pt;
	color:#6460ac;
}
span.de_C40D65A6EB
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_C85E26950A
{
	font-family: "Arial";
	font-size: 12pt;
	color:#3f2321;
}
span.de_CF8D474060
{
	color:#008aff;
}
span.de_D28CA8F694
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000001;
}
span.de_D5FB47BF08
{
	font-family: "Arial";
	font-size: 10pt;
	color:#6460ac;
}
span.de_D8BCB2AC4C
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_DE860B30CF
{
	font-family: "Arial";
	font-size: 12pt;
	color:#2a2634;
	font-style:italic;
}
span.de_E4EEC83117
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1f050c;
}
span.de_EE9A7EA11D
{
	font-family: "Arial";
	font-size: 12pt;
	color:#1a1523;
}
span.de_F5B7A541D4
{
	font-family: "Arial";
	font-size: 12pt;
	color:#2d2836;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
