<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="min-h-screen flex flex-col w-full bg-base-200" *transloco="let t">
  <div class="container max-w-none p-0 flex flex-col justify-start flex-1 w-full" id="cset-app">
    <div class="sticky-navbar">
      <div class="local-install mt-0 pl-0 flex justify-center items-center"
        *ngIf="auth.isLocal && devMode">
        <span class="w-full text-center">{{t('local installation')}}</span>
      </div>

      <!-- Navbar -->
      <nav class="navbar bg-primary text-primary-content px-4"
        *ngIf="layoutSvc.isNavHeaderShown(this.router.url)">
        <!-- *ngIf="auth.userToken() && auth.userToken() !== 'null'">   -->
        <!-- Brand (BASE) -->
        <div class="navbar-start">
          <span
            [ngClass]="{'btn btn-ghost': this.router.url!=='/resource-library', 'navbar-brand-override-bandaid': (this.router.url == '/resource-library' || isModuleBuilder(this.router.url)) }"
            (click)="this.router.url!=='/resource-library' && goHome()">
            <!-- CSET Lock Logo -->
            <div class="flex justify-start items-center">
              <app-logo-cset mode="white" style="max-height: 3rem"></app-logo-cset>
            </div>
          </span>
        </div>

        <!-- Navbar Menu (Mobile) -->
        <div class="navbar-end">
          <div class="dropdown dropdown-end lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <app-top-menus></app-top-menus>
            </ul>
          </div>
          <!-- Desktop Menu -->
          <div class="hidden lg:flex">
            <app-top-menus></app-top-menus>
          </div>
        </div>

        <span *ngIf="showVersionNotification" class="text-warning">
          <span class="float-right notification-link" (click)="showNotifications()">
            <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            <span class="newinstaller">1</span>
          </span>
        </span>
      </nav>
    </div>

    <!-- Body -->
    <div class="flex flex-nowrap justify-between flex-1 w-full">
      <div class="p-0 flex w-full bg-gray-50">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <div class="accordion sticky-footer text-center" id="accordionFooter">

      <h4 class="accordion-header" id="headingOne">
        <button id="footerExpanderButton" class="cset-footer-expand-button" style="font-size: 1rem; align-items: center"
          type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne"
          (click)="toggleFooter()"
          [ngClass]="{'cset-icons-chevron-down': !footerClosed, 'cset-icons-chevron-up': footerClosed}"></button>
      </h4>

      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionFooter">
        <div class="accordion-body footer-section-2 p-0">
          <div class="flex flex-row flex-wrap justify-center flex-1">
            <ng-container *ngIf="isRunningAnonymous()">
              <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer" (click)="showDisclaimer()">INL
                Privacy & Accessibility</a>
              <span class="mx-2">|</span>
              <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
                href=" https://doe.responsibledisclosure.com/hc/en-us">Vulnerability Disclosure Program</a>
              <span class="mx-2">|</span>
            </ng-container>
            <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
              href="https://www.us-cert.gov/ics/Frequently-Asked-Questions">{{t('footer.faq')}}</a>
            <span class="mr-2 ml-2">|</span>
            <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
              href="http://www.us-cert.gov/tlp/">{{t('footer.traffic light protocol')}}</a>
            <span class="mr-2 ml-2">|</span>
            <a target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"
              href="http://www.us-cert.gov/privacy/">{{t('footer.privacy and use')}}</a>
            <span class="mr-2 ml-2">|</span>
            <a target="_blank" rel="noopener noreferrer"
              href="http://www.us-cert.gov/accessibility/">{{t('footer.accessibility')}}</a>
          </div>
          <div class="flex flex-row flex-wrap justify-center items-baseline flex-1"
            [innerHTML]="t('footer.cisa is part of dhs') | safe">
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white" *ngIf="(this.router.url!='/home/login' && this.router.url!='/home/reset-pass')"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content localversionModal">
          <div class="modal-header">
            <h4 class="modal-title">{{t('new version')}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
            <p>{{t('your version')}} {{this.localVersion}}
              <br>{{t('version available')}} {{this.actualVersion}}
            </p>
          </div>

          <div class="modal-footer">
            <a href="https://github.com/cisagov/cset/releases" target="_blank" class="text-dark">{{t('link
              version')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>