<div class="white-panel d-flex justify-content-start flex-column flex-11a">
  <h3 class="wrap-text">Configure Your Assessment</h3>

  <p>
    Select the features for this assessment.  Each feature can be expanded for 
    additional information.
  </p>


  <div *ngFor="let s of features" class="d-flex flex-column justify-content-between flex-00a">
    <div class="standard-item d-flex justify-content-between flex-11a">
      <div>
        <input type="checkbox" id="{{s.code}}" name="{{s.code}}" class="mt-1"
            (change)="submit(s, $event)" [checked]="s.selected">
        <label for="{{s.code}}">
          {{s.label}}
        </label>
      </div>
      <i class="cset-icons-chevron-down expand" [class.expand-flip]="expandedDesc[s.code]" (click)="toggleExpansion(s.code)"></i>
    </div>
    <div class="b-primary-200 br-standard fst-italic" [class.open-desc]="expandedDesc[s.code]" [class.closed-desc]="!expandedDesc[s.code]">
      {{s.description}}
    </div>
  </div>

  <div class="d-flex justify-content-end flex-00a mt-3 mb-2r">
    <button class="btn btn-primary" (click)="navSvc2.navNext('config')">Next</button>
  </div>

</div>