

<div class="mb-5">
  <h3>
    Overall Average Summary
  </h3>
  <canvas id="canvasOverallAverage">{{ chartOverallAverage }}</canvas>
</div>

<div class="mb-5">
  <h3>
    Standards Answers
  </h3>
  <canvas id="canvasStandardsPie">{{ chartStandardsPie }}</canvas>
</div>

<div class="mb-5">
  <h3>
    Components Answers
  </h3>
  <canvas id="canvasComponentsPie">{{ chartComponentsPie }}</canvas>
</div>

<div class="mb-5">
  <h3>
    Category Average for All Assessments
  </h3>
  <canvas id="canvasCategoryAverage">{{ chartCategoryAverage }}</canvas>
</div>