<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>
    <ng-container matColumnDef="subnetName">
      <th mat-header-cell *matHeaderCellDef> Subnet Name(s) </th>
      <td mat-cell *matCellDef="let element"> {{element.subnetName}} </td>
    </ng-container>
    <ng-container matColumnDef="security">
      <th mat-header-cell *matHeaderCellDef> Security </th>
      <td mat-cell *matCellDef="let element"> {{element.security}} </td>
    </ng-container>
    <ng-container matColumnDef="layer">
      <th mat-header-cell *matHeaderCellDef> Layer </th>
      <td mat-cell *matCellDef="let element"> {{element.layer}} </td>
    </ng-container>
    <ng-container matColumnDef="headLineDecorator">
      <th mat-header-cell *matHeaderCellDef> Head Line Decorator </th>
      <td mat-cell *matCellDef="let element"> {{element.headLineDecorator}} </td>
    </ng-container>
    <ng-container matColumnDef="tailLineDecorator">
      <th mat-header-cell *matHeaderCellDef> Tail Line Decorator </th>
      <td mat-cell *matCellDef="let element"> {{element.tailLineDecorator}} </td>
    </ng-container>
    <ng-container matColumnDef="lineType">
      <th mat-header-cell *matHeaderCellDef> Line Type </th>
      <td mat-cell *matCellDef="let element"> {{element.lineType}} </td>
    </ng-container>
    <ng-container matColumnDef="thickness">
      <th mat-header-cell *matHeaderCellDef> Thickness </th>
      <td mat-cell *matCellDef="let element"> {{element.thickness}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
    <ng-container matColumnDef="linkType">
      <th mat-header-cell *matHeaderCellDef> Link Type </th>
      <td mat-cell *matCellDef="let element"> {{element.linkType}} </td>
    </ng-container>
    <ng-container matColumnDef="visible">
      <th mat-header-cell *matHeaderCellDef> Visible </th>
      <td mat-cell *matCellDef="let element"> {{element.visible}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
