.header-sidenav{
  background-color: #F2F2F2;
}
.side-nav{
  border: #F2F2F2 1px solid;
}
.mat-expansion-panel{
background-color: transparent;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
