<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel">
    <h2>Cyber-Informed Engineering (CIE) Analysis Configuration</h2>
    <h4>Naming the Analysis</h4>

    <p>
        To realize the full benefits of this CIE Analysis tool, returning users can import previous answers as well as compare a previously completed Analysis as a baseline.
    </p>
    <p>
        All CIE users must first name and save their Analysis accordingly. Naming the CIE implementation takes place in the CIE Analysis Configuration screen. Naming conventions should be considered when saving for ease of locating a particular Analysis in the future. 
    </p>
    <div class="form-group col-md-6">

        <label class="mb-1" for="name">Analysis Name</label>
        <input type="text" maxlength="100"
            class="form-control" id="name" name="name" required focusOnInit="true"
            [(ngModel)]="assessment.assessmentName" (ngModelChange)="assessment.assessmentName"
            (change)="update($event)" autofocus tabindex="0">
        
    </div>
    <h2>New CIE User</h2>
    <p>
        If you are a new user, the Import and Select Baseline fields below will be blank. Click “next” to begin your CIE Analysis.
    </p>
    <h2>Returning CIE User</h2>
    <p>
        A returning user will have a selection of previous CIE Analyses to return to on their dashboard.
    </p>
    <p>
        After completing an initial CIE Analysis, the user will have the option to later recall the Analysis to:
    </p>
    <ul>
        <li>
            <strong>Increase efficiency</strong> when prepopulating a future Analysis by importing answers from a previous CIE Analysis.
        </li>
        <li>
            <p>
                <strong>Track progress</strong> by choosing a previously completed CIE Analysis to serve as a baseline for comparison against the new Analysis.
            </p>
            <p>
                If you are a returning user, the fields below offer the ability to <strong>Import</strong> a previous Analysis and/or Select a Baseline Analysis from a previously saved CIE Analysis.
            </p>
        </li>
    </ul>

    <h2>Import CIE Answers</h2>
    <p>Import all answers from a previous CIE Analysis. All answers, comments, and artifacts currently in the Analysis will be overwritten.</p>
    <div class="d-flex flex-row">
        <!-- <select class="form-control" (change)="changeBaseline($event)" [(ngModel)]="baselineAssessmentId">
            <option [ngValue]="null">-- No Baseline Assessment --</option>
            <option *ngFor="let c of baselineCandidates" [value]="c.id">
                {{c.assessmentName}} [{{c.assessmentDate | localizeDate}}]
            </option>
        </select> -->

        <select class="form-control mr-1" (change)="changeBaseline($event)" [(ngModel)]="baselineAssessmentId">
            <option [ngValue]="null">-- Select Analysis to Import --</option>
            <option *ngFor="let c of importSourceCandidates" [ngValue]="c.id">
                {{c.assessmentName}} [{{c.assessmentDate | localizeDate}}]
            </option>
        </select>
        <button class="btn btn-primary text-nowrap" [disabled]="baselineAssessmentId == null"
            (click)="confirmImportSurvey()">
            <i class="fs-base cset-icons-import"></i>
            Import</button>
    </div>
    <app-nav-back-next [page]="'assessment-config-cie'"></app-nav-back-next>

</div>