<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CSET_DB" connectionString="data source=nhswebdev1;initial catalog=CSETWebtest;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Destination Path" value="C:\src\repos\cset\cset\Database Scripts"/>
  </appSettings>
</configuration>