<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->

<div mat-dialog-title class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span style="color: white;" class="mr-2 cset-icons-export-excel"></span>
    <span style="color: white;">Excel Export</span>
</div>
<mat-dialog-content>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 m-4">
                    This excel export is for simple data analysis. Excel data cannot be reimported.
                </div>

            </div>
            <div class="row">
                <div class="col-12 ml-4 mb-2">
                    <input type="checkbox" name="doNotShowAgain" class="mt-1" autocomplete="off"
                        (change)="setDoNotShow()" [(ngModel)]="doNotShow" [checked]="doNotShow">
                    <label for="doNotShowAgain">&nbsp;Do not show this message again</label>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="pl-4 p-1" style="margin-bottom:15px;">
    <button class="btn btn-primary" (click)="exportToExcel()">Export</button>
    <button class="btn btn-secondary" (click)="close()">Cancel</button>
</mat-dialog-actions>