<!----------------------

   Copyright 2025 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel flex justify-start flex-col flex-11a tutorial"
    *transloco="let ttcpg; read: 'tutorial.cpg'">
    <h3 class="wrap-text mb-3">{{ttcpg('title')}}</h3>
    <div *transloco="let t">
        <h5>{{t('titles.overview')}}</h5>
        <p>{{ttcpg('1')}}</p>

        <p>{{ttcpg('2')}}</p>

        <h5>{{t('titles.assessment')}}</h5>
        <p>{{ttcpg('3')}}</p>
        <ul>
            <li>{{ttcpg('3a')}}</li>
            <li>{{ttcpg('3b')}}</li>
            <li>{{ttcpg('3c')}}</li>
            <li>{{ttcpg('3d')}}</li>
            <li>{{ttcpg('3e')}}</li>
        </ul>

        <p>{{ttcpg('4')}}</p>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture1.png" style="width: 550px">
        </div>

        <h6>{{t('tutorial.function')}}</h6>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture2.png" style="width: 350px">
        </div>
        <p>{{ttcpg('5')}}</p>

        <h6>{{t('tutorial.practice identifier')}}</h6>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture3.png" style="width: 60px">
        </div>
        <p>{{ttcpg('6')}}</p>

        <h6>{{t('tutorial.security practice')}}</h6>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture4.png" style="width: 60px">
        </div>
        <p>{{ttcpg('7')}}</p>

        <h6>{{t('tutorial.outcome')}}</h6>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture5.png" style="width: 250px">
        </div>
        <p>{{ttcpg('8')}}</p>

        <h6>{{t('titles.cset icons')}}</h6>
        <div class="img-frame">
            <img src="assets/images/icons/cset-icons.png" style="width: 300px">
        </div>

        <p>{{ttcpg('9')}}</p>
        <ul>
            <li>{{ttcpg('9a')}}</li>
            <ul>
                <li>{{ttcpg('9a1')}}</li>
            </ul>
            <li>{{ttcpg('9b')}}</li>
            <ul>
                <li>{{ttcpg('9b1')}}</li>
            </ul>
        </ul>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture6.png" style="width: 400px">
        </div>
        <p>{{ttcpg('10')}}</p>
        <ul>
            <li>{{ttcpg('10a')}}</li>
            <ul>
                <li>{{ttcpg('10a1')}}</li>
            </ul>
            <li>{{ttcpg('10b')}}</li>
            <ul>
                <li>{{ttcpg('10b1')}}</li>
            </ul>
        </ul>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture7.png" style="width: 400px">
        </div>

        <h6>{{t('titles.answer buttons')}}</h6>
        <div class="img-frame">
            <img src="assets/images/CPG/tutorial/Picture8.png" style="width: 300px">
        </div>
        <p>{{ttcpg('11')}}</p>
        <ul>
            <li><b>{{t('answer-options.labels.imp-cpg')}}</b> {{ttcpg('11a')}}</li>
            <li><b>{{t('answer-options.labels.prog-cpg')}}</b> {{ttcpg('11b')}}</li>
            <li><b>{{t('answer-options.labels.scoped-cpg')}}</b> {{ttcpg('11c')}}</li>
            <li><b>{{t('answer-options.labels.not-cpg')}}</b> {{ttcpg('11d')}}</li>
        </ul>
        <h5>{{t('titles.additional resources')}}</h5>
        <p>{{t('tutorial.additional resources')}}</p>
        <p>{{t('tutorial.please visit')}} <a href="https://www.cisa.gov/cpgs"
                target="_blank">https://www.cisa.gov/cpgs</a> {{t('tutorial.for more information')}}</p>
    </div>
    <app-nav-back-next [page]="'tutorial-cpg'"></app-nav-back-next>
</div>