<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <div class="question-group mb-3">

        <div class="subcat-header" [class.flat-bottom]="myGrouping.expanded" (click)="toggleExpansion()"
            (keydown.Spacebar)="toggleExpansion()" (keydown.Enter)="toggleExpansion()"
            [attr.aria-expanded]="myGrouping.expanded">
            <div class="sub-head-1" tabindex="0">
                <div *ngIf="myGrouping.title != ''" class="sub-head-2">
                    {{ myGrouping.title }}
                </div>

                <div class="d-flex justify-content-end align-items-center flex-00a" *ngIf="!layoutSvc.hp">
                    <span [class.display-hidden]="!myGrouping.hasReviewItems"
                        class="d-flex justify-content-center align-items-center flex-00a"
                        matTooltip="{{ t('tooltip.category requires review') }}">
                        <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                        <span class="mb-1 fs-small">{{ t('requires review') }}</span>
                    </span>
                    <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                    <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
                </div>

                <div class="d-flex flex-column justify-content-end align-items-end flex-00a" *ngIf="layoutSvc.hp">
                    <div>
                        <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                        <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
                    </div>
                    <span [class.display-hidden]="!myGrouping.hasReviewItems"
                        class="d-flex justify-content-center align-items-center flex-00a"
                        matTooltip="{{ t('tooltip.category requires review') }}">
                        <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                    </span>
                </div>
            </div>
            <div *ngIf="myGrouping.expanded && !!myGrouping.description && myGrouping.description.length > 0"
                class="mt-1">
                <app-grouping-description #groupingDescription
                    [text]="myGrouping.description"></app-grouping-description>
            </div>
        </div>

        <style>
            .rkw_ * {
                border: 1px solid pink;
            }
        </style>


        <!-- this houses all of the questions -->
        <div class="subcat-question-list px-3 pt-0 pb-3" [class.display-none]="!myGrouping.expanded">

            <ng-template [ngIf]="!layoutSvc.hp">
                <div *ngFor="let q of myGrouping.questions" class="question-row d-flex flex-column"
                    [class.pb-3]="q.isParentQuestion"
                    [class.border-bottom]="!q.isParentQuestion || q.parentQuestionId !==null"
                    [class.display-none]="!q.visible">

                    <div class="w-100 d-flex flex-row">
                        <div class="number-and-text mt-2">
                            <!-- Display level  and name for parent question-->
                            <div [class.ml-5.mb-2]="openEndedQuestion && !!q.parentQuestionId"
                                style="font-weight: bold;margin-top: 0.5rem; margin-right: 2rem; white-space: nowrap;">
                                {{ q.displayNumber }}
                            </div>

                            <div [class.mb-2]="openEndedQuestion && !!q.parentQuestionId" class="m-2"
                                style="width: 100%;">
                                <div *ngIf="!!q.shortName" class="mb-1 font-italic font-weight-bold"
                                    style="color: #666; font-size: .8rem; white-space: normal;">
                                    <p>{{ q.shortName }}</p>
                                </div>

                                <app-question-text [questionText]="q.questionText"></app-question-text>
                                <span *ngIf="showQuestionIds" class="debug-highlight">{{ q.questionId }}</span>
                                <div *ngIf="openEndedQuestion && !!q.parentQuestionId">
                                    <textarea appAutoSize class="form-control" style="width: 100%; min-height: 40px;"
                                        [placeholder]="openendedtext" [(ngModel)]="q.freeResponseAnswer"
                                        (change)="storeFreeText(q)"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Yes or no Answer to  parent question  -->
                        <div *ngIf="showYNQuestions && !q.parentQuestionId">

                            <!-- build the list of answer options -->
                            <div class="btn-group btn-group-toggle answer-group" style="margin-top:0.5rem;"
                                data-toggle="buttons">
                                <label *ngFor="let option of answerOptions" class="btn form-check-label"
                                    [class]="questionsSvc.answerOptionCss(maturityModelName, option)"
                                    [class.answer-selected]="q.answer === option"
                                    [matTooltip]="questionsSvc.answerDisplayLabel(maturityModelName, option)">
                                    <input name="q_{{q.questionId}}" class="form-check-input" type="radio"
                                        autocomplete="off" (click)="storeAnswer(q, option)"
                                        [checked]="q.answer === option">
                                    {{questionsSvc.answerButtonLabel(maturityModelName, option)}}
                                </label>


                                <!-- Mark For Review Flag  -->
                                <label class="mr-0 ml-2 btn form-check-label btn-mfr"
                                    [class.answer-selected]="q.markForReview === true"
                                    matTooltip="This control requires further review.">
                                    <input name="q_{{q.questionId}}_F" type="checkbox" (click)="saveMFR(q);"
                                        tabindex="0" checked="{{q.markForReview === true}}">
                                    <span class="cset-icons-flag-dark fs-base"></span>
                                </label>
                            </div>

                            <div *ngIf="q.answer === 'A'">
                                <textarea appAutoSize class="form-control"
                                    [class.alt-text-required]="isAltTextRequired(q)"
                                    style="width: 100%; min-height: 80px;" 
                                    [placeholder]="t('answer-options.placeholders.' + altTextPlaceholder)"
                                    [(ngModel)]="q.altAnswerText" (change)="storeAltText(q)"></textarea>
                                <div *ngIf="isAltTextRequired(q)" class="alt-text-required-msg">* Description required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [class.pl-5]="openEndedQuestion && !!q.parentQuestionId"
                        class="w-100 d-flex flex-row ml-5 pl-2">
                        <app-question-extras *ngIf="!q.isParentQuestion || q.parentQuestionId !==null" #extrasComponent
                            [myQuestion]="q" class="w-100 mb-3 text-left ml-3 pl-5 text-nowrap"
                            (changeExtras)="refreshReviewIndicator()" (changeComponents)="refreshComponentOverrides()">
                        </app-question-extras>
                    </div>

                </div>
            </ng-template>


            <ng-template [ngIf]="layoutSvc.hp">
                <div *ngFor="let q of myGrouping.questions" class="rkw question-row d-flex flex-column"
                    [class.pb-3]="q.isParentQuestion"
                    [class.border-bottom]="!q.isParentQuestion || q.parentQuestionId !==null"
                    [class.display-none]="!q.visible">

                    <div class="w-100 mt-3">
                        <div>
                            <!-- Display level  and name for parent question-->
                            <div [class.ml-3.mb-2]="openEndedQuestion && !!q.parentQuestionId"
                                class="font-weight-bold text-nowrap div1">
                                {{ q.displayNumber }}
                            </div>

                            <div [class.ml-3.mb-2]="openEndedQuestion && !!q.parentQuestionId" class="w-100 div2">
                                <div *ngIf="!!q.shortName" class="mb-1 font-italic font-weight-bold"
                                    style="color: #666; font-size: .8rem; white-space: normal;">
                                    <p>{{ q.shortName }}</p>
                                </div>

                                <span *ngIf="showQuestionIds" class="debug-highlight">{{ q.questionId }}</span>
                                <app-question-text [questionText]="q.questionText"></app-question-text>
                                <div *ngIf="openEndedQuestion && !!q.parentQuestionId">
                                    <textarea appAutoSize class="form-control" style="width: 100%; min-height: 40px;"
                                        [placeholder]="openendedtext" [(ngModel)]="q.freeResponseAnswer"
                                        (change)="storeFreeText(q)"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Yes or no Answer to  parent question  -->
                        <div *ngIf="showYNQuestions && !q.parentQuestionId">

                            <!-- build the list of answer options -->
                            <div class="btn-group btn-group-toggle answer-group ml-0 mt-2" data-toggle="buttons">
                                <label *ngFor="let option of answerOptions" class="btn form-check-label"
                                    [class]="questionsSvc.answerOptionCss(maturityModelName, option)"
                                    [class.answer-selected]="q.answer === option"
                                    [matTooltip]="questionsSvc.answerDisplayLabel(maturityModelName, option)">
                                    <input name="q_{{q.questionId}}" class="form-check-input" type="radio"
                                        autocomplete="off" (click)="storeAnswer(q, option)"
                                        [checked]="q.answer === option">
                                    {{questionsSvc.answerButtonLabel(maturityModelName, option)}}
                                </label>


                                <!-- Mark For Review Flag  -->
                                <label class="mr-0 ml-2 btn form-check-label btn-mfr"
                                    [class.answer-selected]="q.markForReview === true"
                                    matTooltip="This control requires further review.">
                                    <input name="q_{{q.questionId}}_F" type="checkbox" (click)="saveMFR(q);"
                                        tabindex="0" checked="{{q.markForReview === true}}">
                                    <span class="cset-icons-flag-dark fs-base"></span>
                                </label>
                            </div>

                            <div *ngIf="q.answer === 'A'">
                                <textarea appAutoSize class="form-control"
                                    [class.alt-text-required]="isAltTextRequired(q)"
                                    style="width: 100%; min-height: 80px;" [placeholder]="altTextPlaceholder"
                                    [(ngModel)]="q.altAnswerText" (change)="storeAltText(q)"></textarea>
                                <div *ngIf="isAltTextRequired(q)" class="alt-text-required-msg">* Description required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [class.ml-3]="openEndedQuestion && !!q.parentQuestionId" class="w-100__ d-flex__ flex-row__">
                        <app-question-extras *ngIf="!q.isParentQuestion || q.parentQuestionId !==null" #extrasComponent
                            [myQuestion]="q" class="w-100 mb-3 text-left" (changeExtras)="refreshReviewIndicator()"
                            (changeComponents)="refreshComponentOverrides()">
                        </app-question-extras>
                    </div>

                </div>
            </ng-template>

        </div>
    </div>
</ng-container>