<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="info" internalLogFile="c:\temp\internalLog.txt" internalLogToConsole="false">

  <targets>
    <target xsi:type="Database"
            name="db"
            dbProvider="System.Data.SqlClient"
            connectionString="data source=(localdb)\mssqllocaldb;initial catalog=CSETWeb;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True"
            commandText="INSERT INTO Nlogs ([Date], [Level], [Logger], [Message]) VALUES (@date, @lvl, @logger, @msg)">
            <!--connectionString="${appsettings:name=ConnectionStrings.CSET_DB}"-->

      <parameter name="@date" layout="${date}" dbType="SqlDbType.DateTime" />
      <parameter name="@lvl" layout="${level}" dbType="SqlDbType.VarChar" size="10" />
      <parameter name="@logger" layout="${logger}" dbType="SqlDbType.VarChar" size="255" />
      <parameter name="@msg" layout="${message}" dbType="SqlDbType.VarChar" size="300" />
    </target>
        
  </targets>

  <rules>
    <logger name="CSETWebCore.*" minlevel="Info" writeTo="db" />
  </rules>
</nlog>