<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div *transloco="let t; read: 'tooltip'" class="mb-5">

    <button class="extras-button cursor-pointer ml-3" [class.active]="mode == 'DETAIL'" (click)="toggleExtras('DETAIL')"
        [matTooltip]="t('risk description')" matTooltipPosition="above">
        <svg style="height: 31px; margin-left: 4px; margin-right: 4px" viewBox="0 0 21 28">
            <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.75)"
                d="M28,7.566L28,16.38 28,23.15 28,31.962C28,33.637,26.625,35,24.936,35L7.633,35C6.732,35,5.921,34.611,5.36,33.994L4.678,33.316 4.575,33.316 2.957,31.713 2.314,31.076 2.314,30.969 1.069,29.731C0.951,29.631,0.839,29.52,0.739,29.403L0.727,29.394 0.73,29.394C0.276,28.863,0,28.18,0,27.432L0,18.62 0,11.848 0,3.036C0,1.361,1.372,0,3.062,0L8.052,0 8.052,0.095C6.725,0.427,5.738,1.619,5.738,3.036L5.738,3.201 5.738,4.311 5.738,19.02 7.646,17.401 9.751,19.02 9.751,4.311 9.751,3.201 9.751,3.036C9.751,1.361,11.123,0,12.812,0L20.367,0C22.052,0,23.429,1.361,23.429,3.036L23.429,11.848 23.429,18.62 23.429,27.432C23.429,29.107,22.057,30.47,20.367,30.47L4.913,30.47 6.167,31.713 7.213,32.751 22.668,32.751C24.357,32.751,25.729,31.388,25.729,29.713L25.729,20.901 25.729,15.085 25.729,14.128 25.729,5.317 25.729,4.639C27.033,4.987,28,6.165,28,7.566" />
        </svg>
    </button>

    <button class="extras-button cursor-pointer" [class.active]="mode == 'APPROACH'" (click)="toggleExtras('APPROACH')"
        [matTooltip]="t('validation approach')" matTooltipPosition="above">
        <svg viewBox="0 1 23 22" aria-hidden="true" focusable="false" height="31px"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet">
            <path
                d="M10 17l-4-4l1.41-1.41L10 14.17l6.59-6.59L18 9m-6-6a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1m7 0h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"
                fill="#044" />
        </svg>
    </button>

    <button class="extras-button cursor-pointer" [class.active]="mode == 'CMNT'" (click)="toggleExtras('CMNT')"
        [matTooltip]="has('CMNT')==='inline' ? t('comments with content') : t('comment')" matTooltipPosition="above">
        <svg viewBox="0 0 30 30" style="height: 31px; width: 37px; vertical-align: middle; margin-right: -4px">
            <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.8)"
                d="M5.523,11.864C5.523,10.271 6.6,9.151 8.173,9.151 9.746,9.151 10.869,10.271 10.869,11.864 10.869,13.413 9.79,14.576 8.219,14.576 6.556,14.576 5.523,13.413 5.523,11.864 M14.827,11.864C14.827,10.271 15.905,9.151 17.478,9.151 19.05,9.151 20.174,10.271 20.174,11.864 20.174,13.413 19.094,14.576 17.523,14.576 15.861,14.576 14.827,13.413 14.827,11.864 M24.132,11.864C24.132,10.271 25.209,9.151 26.782,9.151 28.355,9.151 29.478,10.271 29.478,11.864 29.478,13.413 28.399,14.576 26.828,14.576 25.165,14.576 24.132,13.413 24.132,11.864 M0,3.332L0,20.394C0,22.227,1.565,23.726,3.477,23.726L7.42,23.726 7.42,33 15.455,23.726 31.524,23.726C33.436,23.726,35,22.227,35,20.394L35,3.332C35,1.499,33.436,0,31.524,0L3.477,0C1.565,0,0,1.499,0,3.332" />
            <circle cx="27" cy="7" r="6" stroke="#fff" stroke-width="1" fill="#900" [style.display]="has('CMNT')"
                class="test" />
        </svg>
    </button>


    <div class="question-extras" [class.extras-open]="expanded">

        <div *ngIf="mode == 'DETAIL'">
            <div class="mb-4 ml-3" [innerHTML]="assessSvc.formatLinebreaks(irp.descriptionComment)">
            </div>
        </div>

        <div *ngIf="mode == 'APPROACH'">
            <div class="mb-4 ml-3">{{ irp.validation_Approach }}
            </div>
        </div>

        <div *ngIf="mode == 'CMNT'">
            <textarea appAutoSize class="form-control irp-textarea" maxlength="500" [(ngModel)]="irp.comment"
                (blur)="submit(irp.irP_Id, irp.response, irp.comment)"></textarea>
        </div>
    </div>

</div>