div.disclaimer-blurb {
  width: 80%;
  border: 1px solid #000;
  border-radius: 1em;
  padding: 1em;
  background-color: #f2f2f2;
  margin: 0 auto 2em auto;
}

.cve-score {
  padding: 8px;
  font-weight: bold;
}

table {
  table-layout: fixed;
}

td, th {
  word-wrap: break-word;
}
