<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">Ransomware Readiness Tutorial</h3>

    <div class="mb-4">
        <h5>Overview</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare imperdiet tortor, quis commodo felis
            eleifend ut. Morbi ultricies metus id vestibulum viverra. Mauris sem sapien, efficitur nec ante ut,
            hendrerit efficitur urna. Sed vestibulum molestie elit, et sodales nisl porta sed. Quisque dictum arcu
            ornare purus auctor accumsan. Etiam non rhoncus urna, vitae sagittis mi. Cras magna turpis, vestibulum non
            ultricies id, mattis in justo. Donec commodo augue vitae quam porttitor laoreet. Duis sit amet nisl ex.
            Donec tortor mauris, pulvinar id dignissim quis, sodales nec justo. Vivamus eu tellus turpis.
        </p>
    </div>

    <app-nav-back-next [page]="'tutorial-rra'"></app-nav-back-next>
</div>