<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">Ransomware Readiness Tutorial</h3>

    <div class="mb-4">
        <h5>CISA Cyber Essentials</h5>

        <div class="mb-4">
            <p>CISA's Cyber Essentials is a guide for leaders of small businesses as well as leaders of small and local
                government agencies to develop an actionable understanding of where to start implementing organizational
                cybersecurity practices. Download the Cyber Essentials Starter Kit, the basics for building a culture of
                cyber readiness. </p>

            <p>For a deeper look and greater insight, check out the Cyber Essentials Toolkits, a set of modules designed
                to break down the CISA Cyber Essentials into bite-sized actions for IT and C-suite leadership to work
                toward full implementation of each Cyber Essential.</p>

            <p>Consistent with the NIST Cybersecurity Framework and other standards, the Cyber Essentials are the
                starting point to cyber readiness.</p>

            <p>Managing cyber risks requires building a <i>Culture of Cyber Readiness</i>. The <i>Culture of Cyber
                    Readiness</i> has six Essential Elements:</p>
        </div>


        <h5>Yourself</h5>
        <div class="mb-5">
            <p>You, as leader of your organization are an essential element of your organization's <i>Culture of Cyber
                    Readiness</i>. Your task for this element is to drive cybersecurity strategy, investment and
                culture.
            </p>

            <h6>Actions For Leaders </h6>
            <div>
                <ul>
                    <li>Lead investment in basic cybersecurity.</li>
                    <li>Determine how much of your organization's operations are dependent on IT.&nbsp;</li>
                    <li>Build a network of trusted relationships with sector partners and government agencies for access
                        to
                        timely cyber threat information.&nbsp;</li>
                    <li>Approach cyber as a business risk.&nbsp;</li>
                </ul>
            </div>

            <h6>Action to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Lead development of cybersecurity policies.&nbsp;</li>
                    <li>To learn more about how you can drive cybersecurity strategy, investment and culture, explore
                        the
                        Cyber Essentials Toolkit on this element.&nbsp;</li>
                </ul>
            </div>
        </div>


        <h5>Your Staff</h5>
        <div class="mb-5">
            <p>As users of your organization's digital equipment and systems, your staff are essential elements of your
                organization's <i>Culture of Cyber Readiness</i>. Your task for this element is to develop cybersecurity
                awareness
                and vigilance.</p>

            <h6>Actions For Leaders </h6>
            <div>
                <ul>
                    <li>Develop a culture of awareness to encourage employees to make good choices online.&nbsp;</li>
                    <li>Learn about risks like phishing and business email compromise.&nbsp;</li>
                    <li>Maintain awareness of current events related to cybersecurity, using lessons-learned and
                        reported
                        events to remain vigilant against the current threat environment and agile to cybersecurity
                        trends.&nbsp;</li>
                </ul>
            </div>

            <h6>Actions to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Leverage basic cybersecurity training to improve exposure to cybersecurity concepts, terminology
                        and
                        activities associated with implementing cybersecurity best practices.&nbsp;</li>
                    <li>Identify available training resources through professional associations, academic institutions,
                        private sector and government sources.&nbsp;</li>
                </ul>
            </div>
        </div>


        <h5>Your Systems</h5>
        <div class="mb-5">
            <div>As the infrastructure that makes your organization operational, your systems are an essential element
                of
                your organization's <i>Culture of Cyber Readiness</i>. Your task for this element is to protect critical
                assets and applications.&nbsp;</div>

            <h6>Action For Leaders </h6>
            <div>
                <ul>
                    <li>Learn what is on your network. Maintain inventories of hardware and software assets to know what
                        is
                        in play and at-risk from attack.&nbsp;</li>
                </ul>
            </div>

            <h6>Actions to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Leverage automatic updates for all operating systems and third-party software.&nbsp;</li>
                    <li>Implement security configurations for all hardware and software assets.&nbsp;</li>
                    <li>Remove unsupported or unauthorized hardware and software from systems.&nbsp;</li>
                    <li>Leverage email and web browser security settings to protect against spoofed or modified emails
                        and
                        unsecured webpages.&nbsp;</li>
                    <li>Create application integrity and whitelisting policies so that only approved software is allowed
                        to
                        load and operate on their systems.&nbsp;</li>
                </ul>
            </div>
        </div>


        <h5>Your Surroundings</h5>
        <div class="mb-5">
            <div>As your organization's digital workplace, this is an essential element of your organization's
                <i>Culture of
                    Cyber Readiness</i>. Your task for this element is to ensure only those who belong on your digital
                workplace
                have access to it.&nbsp;</div>

            <h6>Actions to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Learn who is on your network. Maintain inventories of network connections (user accounts,
                        vendors,
                        business partners, etc.).</li>
                    <li>Leverage multi-factor authentication for all users, starting with privileged, administrative and
                        remote access users.&nbsp;</li>
                    <li>Grant access and admin permissions based on need-to-know and least privilege.&nbsp;</li>
                    <li>Leverage unique passwords for all user accounts.&nbsp;</li>
                    <li>Develop IT policies and procedures addressing changes in user status (transfers, termination,
                        etc.).
                    </li>
                </ul>
            </div>
        </div>


        <h5>Your Data</h5>
        <div class="mb-5">
            <div>Your data, intellectual property, and other sensitive information is what your organization is built
                on. As
                such, it is an essential element of your organization's <i>Culture of Cyber Readiness</i>. Your task for
                this
                element is to make backups and avoid loss of information critical to operations.&nbsp;</div>

            <h6>Action For Leaders </h6>
            <div>
                <ul>
                    <li>Learn how your data is protected.&nbsp;</li>
                </ul>
            </div>

            <h6>Actions to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Learn what information resides on your network. Maintain inventories of critical or sensitive
                        information.&nbsp;</li>
                    <li>Learn what is happening on your network. manage network and perimeter components, host and
                        device
                        components, data-at-rest and in-transit, and user behavior activities.&nbsp;</li>
                    <li>Domain name system protection.&nbsp;</li>
                    <li>Leverage malware protection capabilities.&nbsp;</li>
                    <li>Establish regular automated backups and redundancies of key systems.&nbsp;</li>
                    <li>Leverage protections for backups, including physical security, encryption and offline
                        copies.&nbsp;
                    </li>
                </ul>
            </div>
        </div>


        <h5>Your Crisis Response</h5>
        <div class="mb-5">
            <div>As your strategy for responding to and recovering from compromise, this is an essential element of your
                organization's <i>Culture of Cyber Readiness</i>. Your task for this element is to limit damage and
                quicken
                restoration of normal operations.&nbsp;</div>

            <h6>Actions For Leaders </h6>
            <div>
                <ul>
                    <li>Lead development of an incident response and disaster recovery plan outlining roles and
                        responsibilities. Test it often.&nbsp;</li>
                    <li>Leverage business impact assessments to prioritize resources and identify which systems must be
                        recovered first.&nbsp;</li>
                    <li>Learn who to call for help (outside partners, vendors, government/industry responders, technical
                        advisors and law enforcement).&nbsp;</li>
                    <li>Lead development of an internal reporting structure to detect, communicate and contain
                        attacks.&nbsp;</li>
                </ul>
            </div>

            <h6>Action to Take in Consultation with IT </h6>
            <div>
                <ul>
                    <li>Leverage in-house containment measures to limit the impact of cyber incidents when they
                        occur.&nbsp;
                    </li>
                </ul>
            </div>
        </div>


        <h5>Booting Up: Things to Do First</h5>
        <div>
            <div>Even before your organization has begun to adopt a <i>Culture of Cyber Readiness,</i> there are things
                you can
                begin doing today to make your organization more prepared against cyber risks.&nbsp;</div>

            <h6>Backup Data </h6>
            <div>Employ a backup solution that automatically and continuously backs up critical data and system
                configurations.</div>

            <h6>Multi-Factor Authentication </h6>
            <div>Require multi-factor authentication (MFA) for accessing your systems whenever possible. MFA should be
                required of all users, but start with privileged, administrative, and remote access users.</div>

            <h6>Patch &amp; Update Management </h6>
            <div>Enable automatic updates whenever possible. Replace unsupported operating systems, applications and
                hardware. Test and deploy patches quickly.</div>
        </div>

    </div>

    <app-nav-back-next [page]="'tutorial-rra'"></app-nav-back-next>
</div>