<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">EDM Tutorial</h3>

    <div class="mb-4">
        <h5>Overview</h5>

        <p>The EDM Assessment focuses on practices to manage risks associated
            with external dependencies, especially risks related to information and
            communications technology (ICT). This type of risk—also commonly called supply
            chain or third-party risk—is of particular concern to many organizations, which
            increasingly have a large number of external dependencies. Organizations face
            inherent uncertainty in managing complex, rapidly changing, arms-length
            relationships involving technology. They also face a threat environment that
            exacerbates these concerns. The EDM Assessment helps by providing an efficient,
            effective way to measure and report on an organization's capability to manage
            this risk. The EDM Assessment also incorporates and expands on the
            cybersecurity concepts included in the National Institute of Standards and
            Technology (NIST) Cybersecurity Framework (CSF). As part of this instrument’s
            capability, the EDM results are also depicted in terms of the NIST CSF. </p>

        <p>External dependencies exist when external entities have defined
            obligations or relationships with assets or services that your organization
            requires to support its business objectives and mission. Examples include third
            parties that provide, operate, control, have access to, own, or have other
            responsibilities over key ICT and related assets.</p>
    </div>

    <div class="mb-4">
        <h5>The EDM Assessment</h5>

        <p>The EDM Assessment consists of a structured interview of key
            personnel which takes about a half-day to complete. Its goal is to measure and
            report on an organization's cybersecurity practices as they relate to managing
            external dependencies and their associated risks.</p>

        <p>The EDM Assessment reflects an organization’s capabilities at a
            single point in time—at the time of the assessment.</p>

        <p>The assessment does not consider:</p>
        <ul>
            <li>activities that are
                planned or are in the process of implementation
            </li>
            <li>practices that have
                not been performed for extended periods of time. For example, if the
                organization has a disaster recovery plan that, in the opinion of the
                participants, is out of date to the point of being unusable, the plan should
                not be considered.
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>External Entity Services </h5>

        <p>Examples of dependencies include external entities that provide:</p>

        <ul>
            <li>
                services that
                explicitly involve the operation, maintenance, or provisioning of ICT for the
                organization. Examples of these services include cloud services, data hosting,
                on-site maintenance services, and the operation of control systems to support
                the organization.
            </li>
            <li>
                services supported by
                ICT, including any type of service that is appreciably supported through the
                use of information and communications technology. In the financial sector,
                examples may include the printing of account statements by the subcontractor to
                a banking institution.
            </li>
            <li>
                governmental services,
                such as fire and police response to protect data centers.
            </li>
            <li>
                infrastructure
                services such as electricity, telecommunications networks, or transportation
                assets.
            </li>
            <li>
                technology products
                and services such as hardware and software that is utilized by the organization
                to provided services to its customers.
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>External Entity Types</h5>

        <p>To comprehensively measure the EDM capability of the organization
            and ensure completeness, several questions are asked about practices performed
            for different types of external entities. The external entity types
            used are:
        </p>

        <ul>
            <li>
                <strong>Supplier</strong> - external entities that provide
                ICT-related goods and services and with which the acquirer has some ability to
                negotiate. These entities may also be called subcontractors or vendors.
                Depending on scoping and the needs of the organization, this category may also
                apply to supporting affiliates or separate business units of the larger
                enterprise. Examples of these suppliers include centrally managed IT or other
                business services. These relationships are sometimes governed by Operational
                Level Agreements.
            </li>
            <li><strong>Governmental services</strong> - services
                provided by a governmental department or agency. These services frequently
                involve security; for example, fire, police, and emergency response.
            </li>
            <li>
                <strong>Infrastructure providers</strong> - supplies
                goods or services to a region, economy, infrastructure sector, or political
                subdivision; however, the acquirer normally has no commercially practical
                ability to negotiate with this type of supplier. Examples of infrastructure
                providers include water, power, or transportation.
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Critical Service Scope</h5>

        <p>The EDM Assessment has a service orientation, meaning that it is
            intended to assess the organization's management of external dependencies
            relative to a specific critical service.</p>

        <p>A critical service must be selected and is defined as:</p>

        <p>A set of activities an organization carries out in the performance
            of a duty or in the production of a product that is so critical to the
            organization's success that its disruption would severely impact continued
            operations or success in meeting the organization's mission.</p>

        <p>Organizations typically have a set of critical services that
            define their mission. The selection of a critical service for assessment—rather
            than assessing the organization as a whole—helps to scope the assessment and
            tie the results to the organization's mission.</p>

        <p>Below are some examples of organizations and their typical
            critical services that might be selected as part of an EDM Assessment:</p>


        <ul>
            <li>banks and other
                financial institutions: clearing and settlement, mortgage application processing</li>

            <li>emergency services
                providers: processing 911 calls, dispatch</li>

            <li>electrical power
                plants: electricity generation, electricity distribution</li>

            <li>hospitals: clinical
                services, prescription management</li>

            <li>government agencies:
                court case management, benefit management</li>

            <li>manufacturing
                companies: machining operations, order processing</li>

            <li>airports: air traffic
                control, fuel management</li>
        </ul>
    </div>


    <div class="mb-5">
        <h5>EDM Assessment
            Architecture and Structure</h5>

        <p>The following table details the domains of the EDM Assessment.
            Each domain represents important capabilities that contribute to managing
            external dependencies across the lifecycle of the relationships with external
            organizations. </p>

        <table class="cset-table">
            <tr>
                <th>EDM Assessment Domain</th>
                <th class="text-right">No. of Goals</th>
                <th class="text-right">No. of Goal Practices</th>
            </tr>
            <tr>
                <td>
                    Relationship Formation
                </td>
                <td class="text-right">6</td>
                <td class="text-right">26</td>
            </tr>
            <tr>
                <td>Relationship Management and Governance</td>
                <td class="text-right">7</td>
                <td class="text-right">30</td>
            </tr>
            <tr>
                <td>Service Protection and Sustainment</td>
                <td class="text-right">3</td>
                <td class="text-right">15</td>
            </tr>
            <tr>
                <td>
                    MIL Practices
                </td>
                <td class="text-right">4</td>
                <td class="text-right">15</td>
            </tr>
        </table>
    </div>

    <div class="mb-4">
        <h5>Practice Questions Structure</h5>

        <p>Each practice question contains a 3-point response scale to
            evaluate the degree to which the organization has implemented each practice. 
            Each question has three possible answers: “Yes”, “Incomplete”, and “No”: </p>

        <img src="assets/images/EDM/tutorial/image001.png" alt="answer options" />

        <ul>
            <li><strong>Yes</strong> – the organization fully performs the
                activity specified in the question.</li>

            <li><strong>Incomplete</strong> – the organization partially performs the
                activity</li>

            <li><strong>No</strong> – the organization does not perform the
                activity at all.</li>
        </ul>



        <p><img src="assets/images/EDM/tutorial/image002.png" alt="Flag Icon" class="image-center"
                style="float: left; vertical-align: top">
            <span class="mt-2">
                <strong>Flag for Review</strong>: To the right of the three-point response
                scale is the Flag icon which can be used to flag a practice for review.
            </span>
        </p>

        <div class="mb-3">
            <img src="assets/images/EDM/tutorial/image003.jpg" class="image-center"
                alt="Figure one shows the practice question layout.">
            <div class="image-caption">Figure 1: Practice Question Layout</div>
        </div>

        <p>
            <img src="assets/images/EDM/tutorial/image004.jpg" alt="Guidance Icon"><strong>Supplemental
                Guidance</strong>: To aid the
            facilitator, each question is supported by guidance.  The guidance should be
            referred to for background, possible examples and artifacts, and for criteria
            that defines the requirements for a “Yes” and an “Incomplete” answer.  The
            guidance is engaged by selecting the Guidance Icon containing the letter “G”
            located below the question.
        </p>

        <p><img src="assets/images/EDM/tutorial/image005.jpg"
                alt="Comments Icon"><strong>Comments</strong>: Selecting this icon will display a text
            box that may be used to make comments regarding the question.  For example, a
            facilitator, for future reference may make a note as to why an answer was marked incomplete vs. no. 
            Note, these comments are not included in the official report and are meant to be private to the
            facilitator.</p>


        <p><img src="assets/images/EDM/tutorial/image006.jpg"
                alt="Artifacts and Documents Icon"><strong>Artifacts/Documents</strong>: Easily associate, track, and
            store
            evidence, artifacts, and other supporting documents throughout the assessment.</p>


        <p><img src="assets/images/EDM/tutorial/image007.jpg"
                alt="References Icon"><strong>References</strong>: Selecting the References Icon will
            display the Options for Consideration associated with the particular question. 
            The Options for Consideration are normally found in the report but are also
            made available to the facilitator while performing the assessment.  These
            options outline general guidelines or activities and the associated sources
            that can be used to improve the external dependencies management and the
            resilience of the critical service assessed.</p>


        <p><img src="assets/images/EDM/tutorial/image008.jpg"
                alt="Observations Icon"><strong>Observations</strong>: Selecting this icon will pop up an
            observation details dialog box used to capture information about an issue
            associated with the particular practice along with its importance, resolution
            date, etc.</p>


        <p><img src="assets/images/EDM/tutorial/image009.jpg"
                alt="Feedback Icon"><strong>Feedback</strong>: Used to provide feedback regarding the
            question to CISA.  For example, a user may comment that the question language
            is too complex and suggest alternate wording.
        </p>
    </div>



    <div class="mb-4">
        <h5>Glossary Definitions</h5>

        <p>A question may contain context-sensitive help for certain terms. 
            This can be accessed by hovering over the term that is underlined with a series
            of dots. </p>

        <div class="mb-3">
            <img src="assets/images/EDM/tutorial/image010.png" class="image-center"
                alt="Image shows glossary definition pop-up embedded in practice question text.">
            <div class="image-caption">
                Figure 2: Glossary Definition
            </div>
        </div>

        <div class="mb-4">
            <p>At the end of each domain a Domain Remarks text box is available
                to the user.  Any text entered in this box is copied verbatim into the report.
                It can be used to capture information such as reasoning or
                organization-specific information.  For example, if an improvement effort is
                already underway to address some of the practices in a particular domain, it
                can be detailed here to make it part of the official report.  <b>Since this
                    text is copied verbatim into the report a user should use discretion in their
                    commentary.</b> 
            </p>

            <div class="mb-3">
                <img src="assets/images/EDM/tutorial/image011.png" class="image-center"
                    alt="Image shows domain remarks text box located at the end of each domain.">
                <div class="image-caption">
                    Figure 3: Domain Remarks Text Box
                </div>
            </div>
        </div>


        <div class="mb-4">
            <h5>Asset Types</h5>

            <p>To support the accuracy and completeness of the assessment, several
                questions involve specific practices for each type of asset. These
                asset types are:</p>

            <ul>
                <li>People - the staff
                    that support data centers or otherwise use information and communications
                    technology to deliver the service</li>

                <li>Information - account information,
                    technology asset configuration files, and personal health information</li>

                <li>Technology -
                    computers, software, and control systems</li>

                <li>Facilities - offices
                    or data centers supporting the delivery of the service</li>
            </ul>

            <p>Some questions require a separate answer for each of the four
                assets while other questions refer to all assets.  See the example directly
                below.</p>


            <div class="mb-4">
                <img src="assets/images/EDM/tutorial/image012.jpg" class="image-center"
                    alt="Image shows the different EDM asset types.">
                <div class="image-caption">Figure 4: Asset Types</div>
            </div>
        </div>


        <div class="mb-4">
            <h5>External Entity Types</h5>

            <p>As described above there are three types of external entities that
                the EDM assessment addresses.  To ensure completeness, several questions ask
                about practices performed for different types of external
                entities.  See the example below.</p>

            <div class="mb-3">
                <img src="assets/images/EDM/tutorial/image013.jpg" class="image-center"
                    alt="external entity question example">
                <div class="image-caption">Figure 5: External Entity Types</div>
            </div>
        </div>


        <div class="mb-4">
            <h5>Maturity Indicator Levels</h5>

            <p>The EDM Assessment utilizes one standard set of Maturity Indicator
                Level (MIL) questions. The MIL questions examine the institutionalization of
                EDM practices within an organization.  Institutionalization means that
                cybersecurity practices become a deeper, more lasting part of the organization
                because they are managed and supported in meaningful ways. When cybersecurity
                practices become more institutionalized—or “embedded”—managers can have more
                confidence in the practices’ predictability and reliability. Institutionalized
                practices are also more likely to be sustained during times of disruption or
                stress to the organization.</p>

            <p>A Maturity Indicator Level (MIL) is assigned to the organization's
                External Dependencies Management capability. It represents a consolidated view
                of performance.  The EDM Assessment uses one maturity scale for all three
                domains because the domains represent different parts of the lifecycle.  </p>

            <p>The MIL scale itself uses six
                maturity levels, each with rigorous, defined components:</p>


            <div class="my-4">
                <h6>MIL0 Incomplete -&gt; MIL1 Performed -&gt; MIL2 Planned -&gt;
                    MIL3 Managed -&gt; MIL4 Measured -&gt; MIL5 Defined</h6>
            </div>


            <h6>MIL0 Incomplete</h6>

            <p>All practices in the domain are not being fully performed as
                measured by responses to the relevant EDM Assessment questions in the domain.</p>


            <h6>MIL1 Performed</h6>

            <p>All practices that support the goals in a domain are being
                performed as measured by responses to the relevant EDM Assessment questions.</p>


            <h6>MIL2 Planned</h6>

            <p>A specific practice in the EDM Assessment domain is not only
                performed but is also supported by planning, policy, stakeholders, and relevant
                standards and guidelines.</p>


            <h6>MIL3 Managed</h6>

            <p>All practices in a domain are performed, planned, and have the
                basic governance infrastructure in place, are appropriately staffed, adequately
                funded and managed for risk.</p>


            <h6>MIL4 Measured</h6>

            <p>All practices in a domain are performed, planned, managed,
                monitored, and controlled. A measured process or practice is periodically
                evaluated for effectiveness, evaluated against its practice description and
                plan and periodically reviewed with higher-level management.</p>


            <h6>MIL5 Defined</h6>

            <p>All practices in a domain are performed, planned, managed,
                measured, and consistent across all constituencies within an organization that
                have a vested interest in the performance of the practice. At MIL5, a process
                or practice is defined by the organization and tailored by individual operating
                units and supported by improvement information that is collected by and shared
                among operating units for the overall benefit of the organization.</p>

            <p>In the above progression, an organization can only attain a given
                MIL if it has attained all lower MILs. In other words, an organization that
                fails to perform all of the cybersecurity practices at MIL1 in a domain would
                also fail to reach MIL2 in that domain, even if it would have satisfied all the
                requirements at MIL2. </p>

        </div>

        <app-nav-back-next [page]="'tutorial-edm'"></app-nav-back-next>
    </div>