<!---------------------- 

   Copyright 2021 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a">
    <h3 class="wrap-text">EDM Tutorial</h3>
    <style>
        <!--
         /* Font Definitions */
         @font-face
            {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
            {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
            {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
            {font-family:"Calibri Light";
            panose-1:2 15 3 2 2 2 4 3 2 4;}
        @font-face
            {font-family:"Franklin Gothic Book";
            panose-1:2 11 5 3 2 1 2 2 2 4;}
         /* Style Definitions */
         p.MsoNormal, li.MsoNormal, div.MsoNormal
            {margin:0in;
            font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        .MsoChpDefault
            {font-size:12.0pt;
            font-family:"Calibri",sans-serif;}
        @page WordSection1
            {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
            {page:WordSection1;}
         /* List Definitions */
         ol
            {margin-bottom:0in;}
        ul
            {margin-bottom:0in;}
        -->
        </style>
        
        
        <div class=WordSection1>
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:16.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Overview</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The EDM Assessment focuses on practices to manage risks associated
        with external dependencies, especially risks related to information and
        communications technology (ICT). This type of risk—also commonly called supply
        chain or third-party risk—is of particular concern to many organizations, which
        increasingly have a large number of external dependencies. Organizations face
        inherent uncertainty in managing complex, rapidly changing, arms-length
        relationships involving technology. They also face a threat environment that
        exacerbates these concerns. The EDM Assessment helps by providing an efficient,
        effective way to measure and report on an organization's capability to manage
        this risk. The EDM Assessment also incorporates and expands on the
        cybersecurity concepts included in the National Institute of Standards and
        Technology (NIST) Cybersecurity Framework (CSF). As part of this instrument’s
        capability, the EDM results are also depicted in terms of the NIST CSF.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>External dependencies exist when external entities have defined
        obligations or relationships with assets or services that your organization
        requires to support its business objectives and mission. Examples include third
        parties that provide, operate, control, have access to, own, or have other
        responsibilities over key ICT and related assets.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:14.0pt;
        color:#0070C0'>The EDM Assessment </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:14.0pt;
        color:#0070C0'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The EDM Assessment consists of a structured interview of key
        personnel which takes about a half day to complete. Its goal is to measure and
        report on an organization's cybersecurity practices as they relate to managing
        external dependencies and their associated risks. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The EDM Assessment reflects an organization’s capabilities at a
        single point in time—at the time of the assessment. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The assessment does not consider:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>activities that are
        planned or are in the process of implementation</span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>practices that have
        not been performed for extended periods of time. For example, if the
        organization has a disaster recovery plan that, in the opinion of the
        participants, is out of date to the point of being unusable, the plan should
        not be considered.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:14.0pt;
        color:#0070C0'>External Entity Services </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:14.0pt;
        color:#0070C0'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>Examples of dependencies include external entities that provide:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>services that
        explicitly involve the operation, maintenance, or provisioning of ICT for the
        organization. Examples of these services include cloud services, data hosting,
        on-site maintenance services, and the operation of control systems to support
        the organization.</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>services supported by
        ICT, including any type of service that is appreciably supported through the
        use of information and communications technology. In the financial sector,
        examples may include the printing of account statements by the subcontractor to
        a banking institution.</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>governmental services,
        such as fire and police response to protect data centers. </span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>infrastructure
        services such as electricity, telecommunications networks, or transportation
        assets.</span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>technology products
        and services such as hardware and software that is utilized by the organization
        to provided services to its customers.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>External Entity Types</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>To comprehensively measure the EDM capability of the organization
        and ensure completeness, several questions are asked about practices performed
        with respect to different types of external entities. The external entity types
        used are:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></b></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>Supplier</span></b><span
        style='font-size:11.0pt;color:black'> - external entities that provide
        ICT-related goods and services and with which the acquirer has some ability to
        negotiate. These entities may also be called subcontractors or vendors.
        Depending on scoping and the needs of the organization, this category may also
        apply to supporting affiliates or separate business units of the larger
        enterprise. Examples of these suppliers include centrally managed IT or other
        business services. These relationships are sometimes governed by Operational
        Level Agreements.</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>Governmental
        services</span></b><span style='font-size:11.0pt;color:black'> - services
        provided by a governmental department or agency. These services frequently
        involve security; for example, fire, police, and emergency response. </span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>Infrastructure
        providers - </span></b><span style='font-size:11.0pt;color:black'>supplies
        goods or services to a region, economy, infrastructure sector, or political
        subdivision; however, the acquirer normally has no commercially practical
        ability to negotiate with this type of supplier. Examples of infrastructure
        providers include water, power, or transportation.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Critical Service Scope</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The EDM Assessment has a service orientation, meaning that it is
        intended to assess the organization's management of external dependencies
        relative to a specific critical service. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>A critical service must be selected, and is defined as: </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>A set of activities an organization carries out in the performance
        of a duty or in the production of a product that is so critical to the
        organization's success that its disruption would severely impact continued
        operations or success in meeting the organization's mission.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>Organizations typically have a set of critical services that
        define their mission. The selection of a critical service for assessment—rather
        than assessing the organization as a whole—helps to scope the assessment and
        tie the results to the organization's mission.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>Below are some examples of organizations and their typical
        critical services that might be selected</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>as part of an EDM Assessment:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>banks and other
        financial institutions: clearing and settlement, mortgage application processing</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>emergency services
        providers: processing 911 calls, dispatch</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>electrical power
        plants: electricity generation, electricity distribution</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>hospitals: clinical
        services, prescription management</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>government agencies:
        court case management, benefit management</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>manufacturing
        companies: machining operations, order processing</span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>airports: air traffic
        control, fuel management</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>EDM Assessment
        Architecture and Structure</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The following table details the domains of the EDM Assessment.
        Each domain represents important capabilities that contribute to managing
        external dependencies across the lifecycle of the relationships with external
        organizations. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
         style='margin-left:-.25pt;border-collapse:collapse;border:none'>
         <tr style='height:13.5pt'>
          <td width=317 valign=top style='width:237.75pt;border:solid black 1.0pt;
          background:#CADFEA;padding:0in 5.4pt 0in 5.4pt;height:13.5pt'>
          <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:
          9.0pt;font-family:"Franklin Gothic Book",sans-serif;color:black'>EDM
          Assessment Domain</span></b></p>
          </td>
          <td width=206 valign=top style='width:154.5pt;border:solid black 1.0pt;
          border-left:none;background:#CADFEA;padding:0in 5.4pt 0in 5.4pt;height:13.5pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><b><span
          style='font-size:9.0pt;font-family:"Franklin Gothic Book",sans-serif;
          color:black'>No. of Goals</span></b></p>
          </td>
          <td width=61 valign=top style='width:45.75pt;border:solid black 1.0pt;
          border-left:none;background:#CADFEA;padding:0in 5.4pt 0in 5.4pt;height:13.5pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><b><span
          style='font-size:9.0pt;font-family:"Franklin Gothic Book",sans-serif;
          color:black'>No. of Goal Practices</span></b></p>
          </td>
         </tr>
         <tr style='height:12.0pt'>
          <td width=317 valign=top style='width:237.75pt;border:solid black 1.0pt;
          border-top:none;padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal style='text-autospace:none'><span style='font-size:9.0pt;
          font-family:"Arial",sans-serif;color:black'>Relationship Formation</span></p>
          </td>
          <td width=206 valign=top style='width:154.5pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>6</span></p>
          </td>
          <td width=61 valign=top style='width:45.75pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>26</span></p>
          </td>
         </tr>
         <tr style='height:12.0pt'>
          <td width=317 valign=top style='width:237.75pt;border:solid black 1.0pt;
          border-top:none;padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal style='text-autospace:none'><span style='font-size:9.0pt;
          font-family:"Arial",sans-serif;color:black'>Relationship Management and
          Governance</span></p>
          </td>
          <td width=206 valign=top style='width:154.5pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>7</span></p>
          </td>
          <td width=61 valign=top style='width:45.75pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>30</span></p>
          </td>
         </tr>
         <tr style='height:12.0pt'>
          <td width=317 valign=top style='width:237.75pt;border:solid black 1.0pt;
          border-top:none;padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal style='text-autospace:none'><span style='font-size:9.0pt;
          font-family:"Arial",sans-serif;color:black'>Service Protection and
          Sustainment</span></p>
          </td>
          <td width=206 valign=top style='width:154.5pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>3</span></p>
          </td>
          <td width=61 valign=top style='width:45.75pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>15</span></p>
          </td>
         </tr>
         <tr style='height:12.0pt'>
          <td width=317 valign=top style='width:237.75pt;border:solid black 1.0pt;
          border-top:none;padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal style='text-autospace:none'><span style='font-size:9.0pt;
          font-family:"Arial",sans-serif;color:black'>MIL Practices</span></p>
          </td>
          <td width=206 valign=top style='width:154.5pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>4</span></p>
          </td>
          <td width=61 valign=top style='width:45.75pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:0in 5.4pt 0in 5.4pt;height:12.0pt'>
          <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
          style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>15</span></p>
          </td>
         </tr>
        </table>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Practice Questions
        Structure</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>Each practice question contains a 3-point response scale to
        evaluate the degree to which the organization has implemented each practice. 
        Each question has three possible answers: “Yes”, “Incomplete”, and “No”: </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=139 height=48 id="Picture 19"
        src="assets/images/EDM/tutorial/image001.png"
        alt=Image></span></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>Yes</span></b><span
        style='font-size:11.0pt;color:black'> – the organization fully performs the
        activity specified in the question.</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>Incomplete </span></b><span
        style='font-size:11.0pt;color:black'>– the organization partially performs the
        activity</span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><b><span style='font-size:11.0pt;color:black'>No</span></b><span
        style='font-size:11.0pt;color:black'> – the organization does not perform the
        activity at all.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=44 height=55 id="Picture 18"
        src="assets/images/EDM/tutorial/image002.png"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'> Flag for Review</span></b><span
        style='font-size:11.0pt;color:black'>: To the right of the of the three-point response
        scale is the Flag icon which can be used to flag a practice for review.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        lang=EN style='font-size:11.0pt'><img width=595 height=189 id="Picture 17"
        src="assets/images/EDM/tutorial/image003.jpg"
        alt=Image></span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=37 height=26 id="Picture 16"
        src="assets/images/EDM/tutorial/image004.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>Supplemental
        Guidance</span></b><span style='font-size:11.0pt;color:black'>: To aid the
        facilitator, each question is supported by guidance.  The guidance should be
        referred to for background, possible examples and artifacts, and for criteria
        that defines the requirements for a “Yes” and an “Incomplete” answer.  The
        guidance is engaged by selecting the Guidance Icon containing the letter “G”
        located below the question.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=45 height=32 id="Picture 14"
        src="assets/images/EDM/tutorial/image005.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>Comments</span></b><span
        style='font-size:11.0pt;color:black'>: Selecting this icon will display a text
        box that may be used to make comments regarding the question.  For example, a
        facilitator, for future reference may make a note as to </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>why an answer was marked incomplete vs. no.  Note, these comments
        are not included in the official report and are meant to be private to the
        facilitator.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=35 height=35 id="Picture 12"
        src="assets/images/EDM/tutorial/image006.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>Artifacts/Documents</span></b><span
        style='font-size:11.0pt;color:black'>: Easily associate, track, and store
        evidence, artifacts, and other supporting documents throughout the assessment.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=41 height=31 id="Picture 10"
        src="assets/images/EDM/tutorial/image007.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>References</span></b><span
        style='font-size:11.0pt;color:black'>: Selecting the References Icon will
        display the Options for Consideration associated with the particular question. 
        The Options for Consideration are normally found in the report but are also
        made available to the facilitator while performing the assessment.  These
        options outline general guidelines or activities and the associated sources
        that can be used to improve the external dependencies management and the
        resilience of the critical service assessed.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=28 height=32 id="Picture 8"
        src="assets/images/EDM/tutorial/image008.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>Observations</span></b><span
        style='font-size:11.0pt;color:black'>: Selecting this icon will pop up an
        observation details dialog box used to capture information about an issue
        associated with the particular practice along with its importance, resolution
        date, etc.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span lang=EN style='font-size:
        11.0pt'><img width=37 height=29 id="Picture 6"
        src="assets/images/EDM/tutorial/image009.jpg"
        alt=Image></span><b><span style='font-size:11.0pt;color:black'>Feedback</span></b><span
        style='font-size:11.0pt;color:black'>: Used to provide feedback regarding the
        question to CISA.  For example, a user may comment that the question language
        is to complex and suggest alternate wording.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Glossary Definitions</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>A question may contain context-sensitive help for certain terms. 
        This can be accessed by hovering over the term that is underlined with a series
        of dots. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        lang=EN style='font-size:11.0pt'><img width=434 height=159 id="Picture 4"
        src="assets/images/EDM/tutorial/image010.png"
        alt=Image></span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'> </span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        style='font-size:11.0pt;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>At the end of each domain a Domain Remarks text box is available
        to the user.  Any text entered in this box is copied verbatim into the report.
        It can be used to capture information such as reasoning or
        organization-specific information.  For example, if an improvement effort is
        already underway to address some of the practices in a particular domain, it
        can be detailed here to make it part of the official report.  <b>Since this
        text is copied verbatim into the report a user should use discretion in their
        commentary.</b>  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        lang=EN style='font-size:11.0pt'><img width=444 height=347 id="Picture 3"
        src="assets/images/EDM/tutorial/image011.png"
        alt=Image></span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Asset Types</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>To support the accuracy and completeness of the assessment, several
        questions involve specific practices with respect to each type of asset. These
        asset types are:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>People - the staff
        that support data centers or otherwise use information and communications
        technology to deliver the service</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>Information - account information,
        technology asset configuration files, and personal health information</span></p>
        
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>Technology -
        computers, software, and control systems</span></p>
        
        <p class=MsoListParagraphCxSpLast style='text-indent:-.25in;text-autospace:
        none'><span style='font-size:11.0pt;font-family:Symbol;color:black'>·<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span style='font-size:11.0pt;color:black'>Facilities - offices
        or data centers supporting the delivery of the service</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>Some questions require a separate answer for each of the four
        assets while other questions refer to all assets.  See the example directly
        below.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        lang=EN style='font-size:11.0pt'><img width=486 height=246 id="Picture 2"
        src="assets/images/EDM/tutorial/image012.jpg"
        alt=Image></span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-family:
        "Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>External Entity Types</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-family:
        "Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>As described above there are three types of external entities that
        the EDM assessment addresses.  To ensure completeness, several questions ask
        about practices performed with respect to different types of external
        entities.  See the example below.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
        lang=EN style='font-size:11.0pt'><img width=494 height=184 id="Picture 1"
        src="assets/images/EDM/tutorial/image013.jpg"
        alt=Image></span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'> </span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:14.0pt;
        font-family:"Calibri Light",sans-serif;color:#0070C0'>Maturity Indicator Levels</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-family:
        "Calibri Light",sans-serif;color:#0070C0'>&nbsp;</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>The EDM Assessment utilizes one standard set of Maturity Indicator
        Level (MIL) questions. The MIL questions examine the institutionalization of
        EDM practices within an organization.  Institutionalization means that
        cybersecurity practices become a deeper, more lasting part of the organization
        because they are managed and supported in meaningful ways. When cybersecurity
        practices become more institutionalized—or “embedded”—managers can have more
        confidence in the practices’ predictability and reliability. Institutionalized
        practices are also more likely to be sustained during times of disruption or
        stress to the organization.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>A Maturity Indicator Level (MIL) is assigned to the organization's
        External Dependencies Management capability. It represents a consolidated view
        of performance.  The EDM Assessment uses one maturity scale for all three
        domains because the domains represent different parts of the lifecycle.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:10.0pt;
        font-family:"Arial",sans-serif;color:black'>The MIL scale itself uses six
        maturity levels, each with rigorous, defined components:</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:10.0pt;
        font-family:"Arial",sans-serif;color:black'> </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL0 Incomplete -&gt; MIL1 Performed -&gt; MIL2 Planned -&gt;
        MIL3 Managed -&gt; MIL4 Measured -&gt; MIL5 Defined  </span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:9.0pt;
        font-family:"Arial",sans-serif;color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL0 Incomplete</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>All practices in the domain are not being fully performed as
        measured by responses to the relevant EDM Assessment questions in the domain.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL1 Performed</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>All practices that support the goals in a domain are being
        performed as measured by responses to the relevant EDM Assessment questions.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL2 Planned</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>A specific practice in the EDM Assessment domain is not only
        performed but is also supported by planning, policy, stakeholders, and relevant
        standards and guidelines.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL3 Managed</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>All practices in a domain are performed, planned, and have the
        basic governance infrastructure in place, are appropriately staffed, adequately
        funded and managed for risk.  </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL4 Measured</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>All practices in a domain are performed, planned, managed,
        monitored, and controlled. A measured process or practice is periodically
        evaluated for effectiveness, evaluated against its practice description and
        plan and periodically reviewed with higher level management.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:11.0pt;
        color:#0070C0'>MIL5 Defined</span></b></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>All practices in a domain are performed, planned, managed,
        measured, and consistent across all constituencies within an organization who
        have a vested interest in the performance of the practice. At MIL5, a process
        or practice is defined by the organization and tailored by individual operating
        units and supported by improvement information that is collected by and shared
        among operating units for the overall benefit of the organization.</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>In the above progression, an organization can only attain a given
        MIL if it has attained all lower MILs. In other words, an organization that
        fails to perform all of the cybersecurity practices at MIL1 in a domain would
        also fail to reach MIL2 in that domain, even if it would have satisfied all the
        requirements at MIL2. </span></p>
        
        <p class=MsoNormal style='text-autospace:none'><span style='font-size:11.0pt;
        color:black'>&nbsp;</span></p>
        
        <p class=MsoNormal>&nbsp;</p>
        
        </div>
        
    

    <app-nav-back-next [page]="'tutorial-edm'"></app-nav-back-next>
</div>