<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="assess-compenent d-flex flex-column justify-content-start flex-11a">
  <div class="white-panel d-flex flex-column justify-content-start flex-11a">
    <ng-template [ngIf]="page == 'cyote-collect'">
      <h3 *ngIf="page == 'cyote-collect'">Collect Observables</h3>
      <h5 *ngIf="page == 'cyote-collect'">
        Build a list of all observables relevant for this assessment
      </h5>

      <br />

      <div *ngIf="loading" class="w-100">
        <div class="spinner-container" style="margin: 2em auto">
          <div style="max-width: 50px; max-height: 50px"></div>
        </div>
      </div>

      <mat-accordion
        class="example-headers-align observable-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <!-- <mat-list>
              <mat-list-item class="category-title">
                Today
              </mat-list-item>
              <mat-list-item  -->

        <!--
                <mat-card
                  class="anomaly"
                  *ngFor="let anomaly of cyoteSvc.anomalies; let anomalyIndex = index; let firstAnomaly = first; let lastAnomaly = last"
                  cdkDrag> -->

        <mat-expansion-panel
          class="anomaly"
          *ngFor="
            let anomaly of cyoteSvc.anomalies;
            let anomalyIndex = index;
            let firstAnomaly = first;
            let lastAnomaly = last;
            trackBy: trackByItems
          "
          cdkDrag
          [expanded]="step === anomalyIndex"
          (opened)="setStep(anomalyIndex)"
          hideToggle
        >
          <mat-expansion-panel-header
            class="example-headers-align"
            cdkDragHandle
          >
            <mat-panel-title>
              {{ anomaly.title }}
            </mat-panel-title>
            <mat-panel-description>
              <span>
                <!-- {{anomaly.categories.physical ? 'ICS (Physical Equipment)' : ''}} -->
                <!-- {{ categories[anomaly.category].label }}
                <mat-icon>{{
                  anomaly.category ? categories[anomaly.category].icon : "quiz"
                }}</mat-icon> -->
              </span>
              <span>
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="
                    !anomaly.categories.physical &&
                    !anomaly.categories.digital &&
                    !anomaly.categories.network
                  "
                  >extension</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.physical"
                  >whatshot</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.digital"
                  >memory</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.network"
                  >wifi</mat-icon
                >
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input
                matInput
                [(ngModel)]="anomaly.title"
                name="title"
                maxlength="128"
                placeholder="Ex. Mouse Movement"
              />
              <mat-hint align="start"
                ><strong
                  >Provide a short (3-5 word) description of what you
                  saw</strong
                >
              </mat-hint>
              <mat-hint align="end">{{ anomaly.title.length }} / 128</mat-hint>
            </mat-form-field>
            <br />
            <br />

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea
                autosize
                [minRows]="3"
                matInput
                [(ngModel)]="anomaly.description"
                name="description"
              ></textarea>
              <mat-hint align="start"
                ><strong>Describe what you saw in more depth</strong>
              </mat-hint>
              <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
            </mat-form-field>
            <br />
            <br />
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <!-- <mat-form-field>
                    <mat-placeholder
                      >When did this observation happen?</mat-placeholder
                    >
                    <input
                      [(ngModel)]="anomaly.whenThisHappened"
                      name="when"
                      [mtxDatetimepicker]="datetimePicker"
                      [formControl]="datetime"
                      matInput
                      required
                    />
                    <mtx-datetimepicker-toggle
                      [for]="datetimePicker"
                      matSuffix
                    ></mtx-datetimepicker-toggle>
                    <mtx-datetimepicker
                      #datetimePicker
                      [type]="datetime"
                      [mode]="auto"
                      [multiYearSelector]="false"
                      [startView]="month"
                      [twelvehour]="true"
                      [timeInterval]="1"
                      [touchUi]="false"
                    ></mtx-datetimepicker>
                  </mat-form-field> -->

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>When did this observation happen?</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [(ngModel)]="anomaly.whenThisHappened"
                      name="when"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Who reported the observation? </mat-label>
                    <input
                      matInput
                      [(ngModel)]="anomaly.reporter"
                      name="reporter"
                      maxlength="256"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <br />

            <div class="example-full-width" appearance="fill">
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="anomaly.isFirstTimeAooHasSeenObservable"
                name="isFirstTimeAooHasSeenObservable"
                >Is this the first time AOO has seen this
                observable?</mat-checkbox
              >
            </div>

            <br />
            <mat-divider></mat-divider>
            <br />
            <!-- Category -->
            <!-- <mat-form-field appearance="fill"> -->
            <mat-label
              >Select which categories this observable is related to:</mat-label
            >
            <br />
            <br />
            <!-- </li> -->
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="anomaly.categories.physical"
              name="physical"
              >ICS (Physical Equipment)</mat-checkbox
            >
            <br />
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="anomaly.categories.digital"
              name="digital"
              >Digital (ICS Process)</mat-checkbox
            >
            <br />
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="anomaly.categories.network"
              name="network"
              >Network</mat-checkbox
            >

            <div
              class="example-full-width"
              appearance="fill"
              *ngIf="
                anomaly.categories.physical ||
                anomaly.categories.digital ||
                anomaly.categories.network
              "
            >
              <br />
              <mat-divider></mat-divider>
              <br />

              <mat-checkbox
                class="example-margin"
                [(ngModel)]="anomaly.questions.affectingOperations"
                name="affectingOperations"
                >Is this affecting operations?</mat-checkbox
              >

              <mat-form-field
                *ngIf="anomaly.questions.affectingOperations"
                class="example-full-width"
                appearance="fill"
              >
                <mat-label>Describe the affected operations</mat-label>
                <textarea
                  autosize
                  [minRows]="3"
                  matInput
                  [(ngModel)]="anomaly.questions.affectingOperationsDescription"
                  name="affectingOperationsDescription"
                ></textarea>
              </mat-form-field>

              <br />
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="anomaly.questions.affectingProcesses"
                name="affectingProcesses"
                >Is this affecting processes? (Safety, Production, Etc.)
                Yes</mat-checkbox
              >
              <mat-form-field
                *ngIf="anomaly.questions.affectingProcesses"
                class="example-full-width"
                appearance="fill"
              >
                <mat-label>Describe the affected processes</mat-label>
                <textarea
                  autosize
                  [minRows]="3"
                  matInput
                  [(ngModel)]="anomaly.questions.affectingProcessesDescription"
                  name="affectingProcessesDescription"
                ></textarea>
              </mat-form-field>
              <br />
            </div>
            <div
              class="example-full-width"
              appearance="fill"
              *ngIf="anomaly.categories.physical || anomaly.categories.digital"
            >
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="anomaly.questions.multipleDevices"
                name="multipleDevices"
                >Were multiple devices involved?
              </mat-checkbox>
              <mat-form-field
                *ngIf="anomaly.questions.multipleDevices"
                class="example-full-width"
                appearance="fill"
              >
                <mat-label>Describe the devices involved</mat-label>
                <textarea
                  autosize
                  [minRows]="3"
                  matInput
                  [(ngModel)]="anomaly.questions.multipleDevicesDescription"
                  name="multipleDevicesDescription"
                ></textarea>
              </mat-form-field>
              <br />
            </div>
            <div
              class="example-full-width"
              appearance="fill"
              *ngIf="anomaly.categories.network"
            >
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="anomaly.questions.multipleNetworkLayers"
                name="multipleNetworkLayers"
                >Did the observable event manifest in multiple network
                layers?</mat-checkbox
              >
              <mat-form-field
                *ngIf="anomaly.questions.multipleNetworkLayers"
                class="example-full-width"
                appearance="fill"
              >
                <mat-label
                  >Describe the affected network layers involved</mat-label
                >
                <textarea
                  autosize
                  [minRows]="3"
                  matInput
                  [(ngModel)]="
                    anomaly.questions.multipleNetworkLayersDescription
                  "
                  name="multipleNetworkLayersDescription"
                ></textarea>
              </mat-form-field>
              <br />
            </div>
            <!-- <ul> -->
            <!-- <li> -->
            <!-- <li>
                    </li>
                    <li>
                    </li> -->
            <!-- </ul> -->

            <!-- <mat-radio-group
                        class="radio-group"
                        [(value)]="anomaly.category"
                        aria-labelledby="category-label">
                        <mat-radio-button class="radio-button" value="ics">ICS (Physical Equipment)</mat-radio-button>
                        <mat-radio-button class="radio-button" value="digital">Digital (ICS Process)</mat-radio-button>
                        <mat-radio-button class="radio-button" value="network">Network</mat-radio-button>
                      </mat-radio-group> -->
            <!-- </p> -->
          </form>

          <mat-action-row>
            <button
              *ngIf="!firstAnomaly"
              mat-button
              color="warn"
              (click)="prevStep()"
            >
              Previous
            </button>
            <button
              *ngIf="!lastAnomaly"
              mat-button
              color="primary"
              (click)="nextStep()"
            >
              {{ !lastAnomaly ? "Next" : "End" }}
            </button>
            <!-- <button mat-button color="primary" (click)="nextStep()">End</button> -->
          </mat-action-row>
        </mat-expansion-panel>
        <!-- </mat-card> -->
      </mat-accordion>
      <!-- the question asking stuff will happen here -->

      <!-- top level -->
      <!-- <div class="w-100">
            <app-cyote-question  *ngFor="let q of questions" [question]="q"></app-cyote-question>
          </div>
        -->
      <br />
      <br />

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <label>Did you observe anything else? </label>

        <button (click)="onAddAnomaly()" mat-raised-button color="accent">
          Add Observable
        </button>
        <!-- matTooltip="Add Observable"
        matTooltipPosition="before" -->

        <!-- <button
            mat-fab
            color="accent"
            class="new-fab"
            (click)="onAddAnomaly()"
            matTooltip="Add Anomaly"
            matTooltipPosition="before"
          >
            <mat-icon>add</mat-icon>
          </button> -->
      </div>
      <br />
    </ng-template>

    <ng-template [ngIf]="page == 'cyote-prioritize'">
      <h3>Observable Sequence</h3>
      <h5>Drag and drop the observables to sort them by sequence of events</h5>

      <br />

      <mat-accordion
        class="example-headers-align observable-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <mat-expansion-panel
          class="anomaly"
          *ngFor="
            let anomaly of cyoteSvc.anomalies;
            let anomalyIndex = index;
            let firstAnomaly = first;
            let lastAnomaly = last;
            trackBy: trackByItems
          "
          cdkDrag
          hideToggle
          [expanded]="false"
        >
          <mat-expansion-panel-header
            class="example-headers-align"
            cdkDragHandle
          >
            <mat-panel-title>
              {{ anomaly.title }}
            </mat-panel-title>
            <mat-panel-description>
              <span>
                <!-- {{anomaly.categories.physical ? 'ICS (Physical Equipment)' : ''}} -->
                <!-- {{ categories[anomaly.category].label }}
                <mat-icon>{{
                  anomaly.category ? categories[anomaly.category].icon : "quiz"
                }}</mat-icon> -->
              </span>
              <span>
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="
                    !anomaly.categories.physical &&
                    !anomaly.categories.digital &&
                    !anomaly.categories.network
                  "
                  >extension</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.physical"
                  >whatshot</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.digital"
                  >memory</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.network"
                  >wifi</mat-icon
                >
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>

    <ng-template [ngIf]="page == 'cyote-deepdive'">
      <h3>Deep Dive</h3>
      <h5>Provide more detail below.</h5>
      <br />

      <mat-accordion
        class="example-headers-align observable-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <mat-expansion-panel
          class="anomaly"
          *ngFor="
            let anomaly of cyoteSvc.anomalies;
            let anomalyIndex = index;
            let firstAnomaly = first;
            let lastAnomaly = last;
            trackBy: trackByItems
          "
          cdkDrag
          [expanded]="step === anomalyIndex"
          (opened)="setStep(anomalyIndex)"
          hideToggle
        >
          <mat-expansion-panel-header
            class="example-headers-align"
            cdkDragHandle
          >
            <mat-panel-title>
              {{ anomaly.title }}
            </mat-panel-title>
            <mat-panel-description>
              <span>
                <!-- {{anomaly.categories.physical ? 'ICS (Physical Equipment)' : ''}} -->
                <!-- {{ categories[anomaly.category].label }}
        <mat-icon>{{
          anomaly.category ? categories[anomaly.category].icon : "quiz"
        }}</mat-icon> -->
              </span>
              <span>
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="
                    !anomaly.categories.physical &&
                    !anomaly.categories.digital &&
                    !anomaly.categories.network
                  "
                  >extension</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.physical"
                  >whatshot</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.digital"
                  >memory</mat-icon
                >
                <mat-icon
                  style="align-self: flex-end"
                  *ngIf="anomaly.categories.network"
                  >wifi</mat-icon
                >
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Observable </mat-panel-title>
              </mat-expansion-panel-header>

              <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Title</mat-label>
                  <input
                    matInput
                    [(ngModel)]="anomaly.title"
                    name="title"
                    maxlength="128"
                    placeholder="Ex. Mouse Movement"
                  />
                  <mat-hint align="start"
                    ><strong
                      >Provide a short (3-5 word) description of what you
                      saw</strong
                    >
                  </mat-hint>
                  <mat-hint align="end"
                    >{{ anomaly.title.length }} / 128</mat-hint
                  >
                </mat-form-field>
                <br />
                <br />

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Description</mat-label>
                  <textarea
                    autosize
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.description"
                    name="description"
                  ></textarea>
                  <mat-hint align="start"
                    ><strong>Describe what you saw in more depth</strong>
                  </mat-hint>
                  <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
                </mat-form-field>
                <br />
                <br />

                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>When did this observation happen?</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          [(ngModel)]="anomaly.whenThisHappened"
                          name="when"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Who reported the observation? </mat-label>
                        <input
                          matInput
                          [(ngModel)]="anomaly.reporter"
                          name="reporter"
                          maxlength="256"
                        />
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

                <br />

                <div class="example-full-width" appearance="fill">
                  <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="anomaly.isFirstTimeAooHasSeenObservable"
                    name="isFirstTimeAooHasSeenObservable"
                    >Is this the first time AOO has seen this
                    observable?</mat-checkbox
                  >
                </div>

                <br />
                <mat-divider></mat-divider>
                <br />
                <!-- Category -->
                <!-- <mat-form-field appearance="fill"> -->
                <mat-label
                  >Select which categories this observable is related
                  to:</mat-label
                >
                <br />
                <br />
                <!-- </li> -->
                <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="anomaly.categories.physical"
                  name="physical"
                  >ICS (Physical Equipment)</mat-checkbox
                >
                <br />
                <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="anomaly.categories.digital"
                  name="digital"
                  >Digital (ICS Process)</mat-checkbox
                >
                <br />
                <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="anomaly.categories.network"
                  name="network"
                  >Network</mat-checkbox
                >

                <div
                  class="example-full-width"
                  appearance="fill"
                  *ngIf="
                    anomaly.categories.physical ||
                    anomaly.categories.digital ||
                    anomaly.categories.network
                  "
                >
                  <br />
                  <mat-divider></mat-divider>
                  <br />

                  <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="anomaly.questions.affectingOperations"
                    name="affectingOperations"
                    >Is this affecting operations?</mat-checkbox
                  >

                  <mat-form-field
                    *ngIf="anomaly.questions.affectingOperations"
                    class="example-full-width"
                    appearance="fill"
                  >
                    <mat-label>Describe the affected operations</mat-label>
                    <textarea
                      autosize
                      [minRows]="3"
                      matInput
                      [(ngModel)]="
                        anomaly.questions.affectingOperationsDescription
                      "
                      name="affectingOperationsDescription"
                    ></textarea>
                  </mat-form-field>

                  <br />
                  <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="anomaly.questions.affectingProcesses"
                    name="affectingProcesses"
                    >Is this affecting processes? (Safety, Production, Etc.)
                    Yes</mat-checkbox
                  >
                  <mat-form-field
                    *ngIf="anomaly.questions.affectingProcesses"
                    class="example-full-width"
                    appearance="fill"
                  >
                    <mat-label>Describe the affected processes</mat-label>
                    <textarea
                      autosize
                      [minRows]="3"
                      matInput
                      [(ngModel)]="
                        anomaly.questions.affectingProcessesDescription
                      "
                      name="affectingProcessesDescription"
                    ></textarea>
                  </mat-form-field>
                  <br />
                </div>
                <div
                  class="example-full-width"
                  appearance="fill"
                  *ngIf="
                    anomaly.categories.physical || anomaly.categories.digital
                  "
                >
                  <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="anomaly.questions.multipleDevices"
                    name="multipleDevices"
                    >Were multiple devices involved?
                  </mat-checkbox>
                  <mat-form-field
                    *ngIf="anomaly.questions.multipleDevices"
                    class="example-full-width"
                    appearance="fill"
                  >
                    <mat-label>Describe the devices involved</mat-label>
                    <textarea
                      autosize
                      [minRows]="3"
                      matInput
                      [(ngModel)]="anomaly.questions.multipleDevicesDescription"
                      name="multipleDevicesDescription"
                    ></textarea>
                  </mat-form-field>
                  <br />
                </div>
                <div
                  class="example-full-width"
                  appearance="fill"
                  *ngIf="anomaly.categories.network"
                >
                  <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="anomaly.questions.multipleNetworkLayers"
                    name="multipleNetworkLayers"
                    >Did the observable event manifest in multiple network
                    layers?</mat-checkbox
                  >
                  <mat-form-field
                    *ngIf="anomaly.questions.multipleNetworkLayers"
                    class="example-full-width"
                    appearance="fill"
                  >
                    <mat-label
                      >Describe the affected network layers involved</mat-label
                    >
                    <textarea
                      autosize
                      [minRows]="3"
                      matInput
                      [(ngModel)]="
                        anomaly.questions.multipleNetworkLayersDescription
                      "
                      name="multipleNetworkLayersDescription"
                    ></textarea>
                  </mat-form-field>
                  <br />
                </div>
                <!-- <ul> -->
                <!-- <li> -->
                <!-- <li>
            </li>
            <li>
            </li> -->
                <!-- </ul> -->

                <!-- <mat-radio-group
                class="radio-group"
                [(value)]="anomaly.category"
                aria-labelledby="category-label">
                <mat-radio-button class="radio-button" value="ics">ICS (Physical Equipment)</mat-radio-button>
                <mat-radio-button class="radio-button" value="digital">Digital (ICS Process)</mat-radio-button>
                <mat-radio-button class="radio-button" value="network">Network</mat-radio-button>
              </mat-radio-group> -->
                <!-- </p> -->
              </form>
            </mat-expansion-panel>
          </mat-accordion>

          <br />
          <br />

          <h5>Additional detail</h5>

          <label> Describe what was anomalous about this observation </label>
          <br />

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <br />
              </td>
              <td>
                <label> ...Was observed </label>
              </td>
              <td>
                <label> ...Was not observed </label>
              </td>
              <td>
                <label> ...Can't tell </label>
              </td>
            </tr>
            <tr>
              <td>
                <label> What else should <br />be observeed? </label>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.observedShouldBeAndWas"
                    name="observedShouldBeAndWas"
                  ></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.observedShouldBeAndWasNot"
                    name="observedShouldBeAndWasNot"
                  ></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    matInput
                    [(ngModel)]="anomaly.observedShouldBeAndCantTell"
                    name="observedShouldBeAndCantTell"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <label> What else should <br />not be observeed? </label>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.observedShoulNotdBeAndWas"
                    name="observedShoulNotBeAndWas"
                  ></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.observedShouldNotBeAndWasNot"
                    name="observedShouldNotBeAndWasNot"
                  ></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label></mat-label>
                  <textarea
                    style="height: 64px"
                    [minRows]="3"
                    matInput
                    [(ngModel)]="anomaly.observedShouldNotBeAndCantTell"
                    name="observedShouldNotBeAndCantTell"
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <br />

          <mat-action-row>
            <button
              *ngIf="!firstAnomaly"
              mat-button
              color="warn"
              (click)="prevStep()"
            >
              Previous
            </button>
            <button
              *ngIf="!lastAnomaly"
              mat-button
              color="primary"
              (click)="nextStep()"
            >
              {{ !lastAnomaly ? "Next" : "End" }}
            </button>
            <!-- <button mat-button color="primary" (click)="nextStep()">End</button> -->
          </mat-action-row>
        </mat-expansion-panel>
        <br />

        <!-- </mat-card> -->
      </mat-accordion>
    </ng-template>

    <ng-template [ngIf]="page == 'cyote-conclusion'">
      <h3>Conclusion</h3>
      <h5>Final assessment questions</h5>
      <br />
      <br />

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td style="vertical-align: top; padding-top: 4px">
            <mat-checkbox
              class="example-margin wrap-checkbox"
              [(ngModel)]="cyoteSvc.meetsCyberEventThreshold"
              name="meetsCyberEventThreshold"
            ></mat-checkbox>
          </td>
          <td
            style="cursor: default; vertical-align: top; padding-left: 8px"
            (click)="
              cyoteSvc.meetsCyberEventThreshold =
                !cyoteSvc.meetsCyberEventThreshold
            "
          >
            <mat-label>
              Do the observables and anomalies meet the predetermined threshold
              for the AOO to determine that a potential cyber event has occurred
              and should be turned over to an incident response team?
            </mat-label>
          </td>
        </tr>
      </table>
      <br />
      <br />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Additional comments</mat-label>
        <textarea
          autosize
          [minRows]="6"
          matInput
          [(ngModel)]="cyoteSvc.additionalComments"
          name="additionalComments"
        ></textarea>
      </mat-form-field>
    </ng-template>

    <app-nav-back-next [page]="this.page"></app-nav-back-next>
  </div>
</div>
