<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->


<!-- TODO: CLEANUP: Resolve technical debt and perform proper refctoring & architecture. -->

<div class="assess-compenent d-flex flex-column justify-content-start flex-11a">
  <div class="white-panel d-flex flex-column justify-content-start flex-11a">

    <app-cyote-collect *ngIf="page == 'cyote-collect'"></app-cyote-collect>

    <app-cyote-categorization *ngIf="page == 'cyote-categorize'"></app-cyote-categorization>

    <app-cyote-deep-dive *ngIf="page == 'cyote-deepdive'"></app-cyote-deep-dive>
    

    <ng-template [ngIf]="page == 'cyote-conclusion'">
      <h3>Conclusion</h3>
      <h5>Final assessment questions</h5>
      <br />
      <br />

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td style="vertical-align: top; padding-top: 4px">
            <mat-checkbox class="example-margin wrap-checkbox" [(ngModel)]="cyoteSvc.meetsCyberEventThreshold"
              name="meetsCyberEventThreshold"></mat-checkbox>
          </td>
          <td style="cursor: default; vertical-align: top; padding-left: 8px" (click)="
              cyoteSvc.meetsCyberEventThreshold =
                !cyoteSvc.meetsCyberEventThreshold
            ">
            <mat-label>
              Do the observables and anomalies meet the predetermined threshold
              for the AOO to determine that a potential cyber event has occurred
              and should be turned over to an incident response team?
            </mat-label>
          </td>
        </tr>
      </table>
      <br />
      <br />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Additional comments</mat-label>
        <textarea autosize [minRows]="6" matInput [(ngModel)]="cyoteSvc.additionalComments"
          name="additionalComments"></textarea>
      </mat-form-field>
    </ng-template>

    <app-nav-back-next [page]="this.page"></app-nav-back-next>
  </div>
</div>