<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel m-0 d-flex flex-column flex-11a oy-auto h-0 w-100">

  <div class="max-1200">
    <app-builder-breadcrumbs></app-builder-breadcrumbs>
    <h3>
      Question Listing
    </h3>
    <div class="card p-3 mb-3">
      <button class="btn btn-link text-left pl-0" style="white-space: normal;" (click)="setBuilderSvc.navSetDetail()">
        <h4>
          {{questionResponse?.setFullName}}
        </h4>
      </button>
      <p class="font-italic">{{questionResponse?.setDescription}}</p>
    </div>

    <button class="btn btn-primary" (click)="setBuilderSvc.navAddQuestion()">
      <span class="cset-icons-plus fs-base mr-2"></span>
      Add Question
    </button>

    <div *ngIf="!initialized">
      <div class="spinner-container" style="margin-left: auto; margin-right: auto;">
        <div style="max-width: 50px; max-height: 50px;"></div>
      </div>
    </div>

    <div *ngIf="!!questionResponse && questionResponse.categories.length === 0" class="alert alert-info mt-3 mb-3">
      No questions defined
    </div>

    <div *ngFor="let cat of questionResponse?.categories">
      <div class="group-heading mt-3">{{cat.categoryName}}</div>

      <div *ngFor="let subcat of cat.subcategories">
        <div class="subcat-header flat-bottom">
          <div class="sub-head-2">
            {{subcat.subcategoryName}}
          </div>
          <div *ngIf="!!subcat.subHeading && subcat.isSubHeadingEditable && headingBeingEdited != subcat">
            <button class="btn bgc-trans fs-small" (click)="startHeadingEdit(subcat)">
              {{subcat.subHeading}} <span class="cset-icons-pencil fs-small"></span>
            </button>
          </div>
          <div *ngIf="!subcat.isSubHeadingEditable" class="fs-small heading-color btn bgc-trans cursor-auto">
            {{subcat.subHeading}}
          </div>
          <div *ngIf="!subcat.subHeading && subcat.isSubHeadingEditable && headingBeingEdited != subcat">
            <button class="btn bgc-trans font-italic fs-small" (click)="startHeadingEdit(subcat)">
              Click to add subcategory question <span class="cset-icons-pencil fs-small"></span>
            </button>
          </div>
          <div *ngIf="headingBeingEdited === subcat" class="w-100">
            <textarea appAutoSize #editH [(ngModel)]="subcat.subHeading" (keydown.esc)="abandonHeadingEdit(subcat)"
              (blur)="endHeadingEdit(subcat)" class="form-control w-100 text-left"></textarea>
          </div>
        </div>

        <div *ngFor="let q of subcat.questions; let i = index" class="question-row d-flex flex-column p-3"
          [class.no-bottom-border]="i == (subcat.questions.length - 1)"
          [class.mb-4]="i == (subcat.questions.length - 1)">
          <div>
            {{ q.title }}
          </div>
          <div class="d-flex flex-row justify-content-between flex-11a w-100 align-items-start">
            <div class="d-flex flex-column mb-3 mr-3 w-100">
              <div *ngIf="questionBeingEdited !== q" class="d-flex flex-row align-items-start">
                <div class="font-weight-bold mr-2">{{q.displayNumber}}</div>
                <div [innerHTML]="setBuilderSvc.formatLinebreaks(q.questionText)"></div>
              </div>
              <div class="alert alert-danger" *ngIf="duplicateTextQuestion === q">
                A question with that text already exists. The edit was canceled.
              </div>
              <div *ngIf="questionBeingEdited === q" class="w-100">
                <div class="alert alert-danger" *ngIf="editedQuestionInUse">
                  This question is in use in other standards/question sets or assessments.
                  Changing the meaning of the question text may have an undesired effect.
                </div>
                <textarea appAutoSize id="Q_{{q.questionID}}" #editQ [(ngModel)]="q.questionText"
                  (keydown.esc)="abandonQuestionEdit(q)" (blur)="endQuestionEdit(q)"
                  class="form-control w-100 text-left" [class.b-validate]="editedQuestionInUse"></textarea>
              </div>
            </div>
            <span class="d-flex align-items-end justify-content-between flex-00a">
              <button *ngIf="q.isCustom" type="button" (click)="startQuestionEdit(q)"
                class="p-0 btn icon-button d-flex flex-column align-items-center flex-00a mr-2">
                <span class="cset-icons-pencil fs-base-2"></span>
                <span class="d-none d-md-flex fs-smaller">Edit</span>
              </button>
              <button class="p-0 btn icon-button d-flex flex-column align-items-center flex-00a" type="button"
                (click)="removeQuestion(q)">
                <span class="cset-icons-trash-can fs-base-2"></span>
                <span class="d-none d-md-flex fs-smaller">Remove</span>
              </button>
            </span>
          </div>
          <div class="w-100">
            <div class="btn-group btn-group-toggle">
              <label class="btn btn-level btn-rounded" [class.active]="hasSAL(q, 'L')">
                <input type="checkbox" id="SAL-L-{{q.questionID}}" name="SAL-L-{{q.questionID}}"
                  [checked]="hasSAL(q, 'L')" (click)="toggleSAL(q, 'L', $event)" data-toggle="toggle" />Low</label>
              <label class="btn btn-level btn-rounded" [class.active]="hasSAL(q, 'M')">
                <input type="checkbox" id="SAL-M-{{q.questionID}}" name="SAL-M-{{q.questionID}}"
                  [checked]="hasSAL(q, 'M')" (click)="toggleSAL(q, 'M', $event)" data-toggle="toggle" />Moderate</label>
              <label class="btn btn-level btn-rounded" [class.active]="hasSAL(q, 'H')">
                <input type="checkbox" id="SAL-H-{{q.questionID}}" name="SAL-H-{{q.questionID}}"
                  [checked]="hasSAL(q, 'H')" (click)="toggleSAL(q, 'H', $event)" data-toggle="toggle" />High</label>
              <label class="btn btn-level btn-rounded" [class.active]="hasSAL(q, 'VH')">
                <input type="checkbox" id="SAL-VH-{{q.questionID}}" name="SAL-VH-{{q.questionID}}"
                  [checked]="hasSAL(q, 'VH')" (click)="toggleSAL(q, 'VH', $event)" data-toggle="toggle" />Very
                High</label>
            </div>
            <div *ngIf="missingSAL(q)" class="alert alert-danger">At least one SAL level is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row mt-3 mb-3">
      <button id="btnBack" class="btn btn-link" (click)="setBuilderSvc.navSetDetail()">&laquo; Back to Module
        Detail</button>
    </div>
  </div>
</div>