<div class="white-panel">
    <div class="row">
        <div class="col-12">
            <h4>Diagram and Network Component Selection</h4>
            <p>
                Building a diagram of your system's network allows CSET to include component specific questions in your final questions set.
                This step is not required but completing a network diagram has several benefits:
            </p>
            <div>
                <ul>
                    <li>Graphically capture a picture of your control system or information technology (IT) network.</li>
                    <li>Identity areas of vulnerability in your network and review recommendations for improvement.</li>
                    <li>Creates a foundation for the question set incorporatedinto the overall assessment and analsis process.</li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary"><i class="fas fa-project-diagram"></i>&nbsp;Create a network diagram</button>
    </div>
    <div class="mt-3 d-flex justify-content-between flex-00a">
        <button class="btn btn-primary" (click)="navSvc2.navBack('diagram')">Back</button>
        <button class="btn btn-primary" (click)="navSvc2.navNext('diagram')">Next</button>
    </div>
</div>