.header {
    padding-left: 16px; 
    padding-top: 16px;
    padding-right: 16px;
}
.btn-alt:hover {
    border-color: #b17300;
    background-color: #b17300;
    color: white;
}
.btn-alt {
    border-color: #c67300;
    background-color: #c67e00;
    color: white;
}
