
.mil-2-5-table td {
    vertical-align: top;
    font-size: .7rem;
    padding: .5rem;
    border: 1px solid #999;
}

.mil1-domain-header, .mil1-section-header, .mil2-5-header {
    font-size: .8rem; 
    font-weight: bold;
}

.mil1-section-header, .mil2-5-header {
    padding: .5rem;
}