<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel">
  <h2>CIE Implementation Guide Quick Facts</h2>

  <!-- <img src="assets/images/CIE/quick_facts.png" alt="Quick Facts" style="width: 1000px; height: 700px"> -->
  <div class="d-flex">
    <div class="col-3 h4 table-header" style="padding: 4px;">
    <strong>PURPOSE</strong>
    </div>
    <div class="col-9" style="padding: 4px;">
      <p>
        Describes the principles of Cyber-Informed Engineering (CIE) and outlines questions that
        engineering teams should consider during each phase of a system’s lifecycle to effectively
        employ these principles.
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-3 h4 table-header" style="padding: 4px;">
      <strong>PRIMARY USER</strong>
    </div>
    <div class="col-9" style="padding: 4px;">
      <p>
        System or design engineers and technicians for critical energy
        infrastructure installations.
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-3 h4 table-header" style="padding: 4px;">
      <strong>WHY TARGET ENGINEERS?</strong>
    </div>
    <div class="col-9" style="padding: 4px;">
      <p>
        CIE extends “secure-by-design” concepts beyond the digital realm to include the
        engineering of cyber-physical systems. CIE introduces cybersecurity considerations at the
        earliest stages of system design, long before the incorporation of software and security
        controls. It calls on engineers to identify engineering controls and design choices that
        could eliminate attack vectors for cyber actors or minimize the damage they could inflict.
      </p>
      <p>
        This approach creates new opportunities for engineering teams—and not just cybersecurity
        teams—to secure the system using the physics and mechanics of engineering controls—not
        just digital monitoring and controls.
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-3 h4 table-header" style="padding: 4px;">
      <strong>NOTE ON THE MATURATION OF CIE</strong>
    </div>
    <div class="col-9" style="padding: 4px;">
      <p>
        Since the term Cyber-Informed Engineering entered the literature in 2017, subsequent
        research and policy publications have progressively refined and solidified CIE principles, in
        service of better answering the question: “What is Cyber-Informed Engineering and what
        does it mean to do CIE?”
      </p>
      <p>
        This Implementation Guide continues down that path by describing the CIE principles in
        significant detail for the first time. The guide represents the thought leadership of more
        than 115 contributors (see Appendix A) from a multi-disciplinary CIE Community of Practice,
        led by researchers at the Idaho National Laboratory (INL) and National Renewable Energy
        Laboratory (NREL).
      </p>
      <p>
        The authors expect and welcome robust feedback from the stakeholder community and
        plan to conduct a revision cycle of this Implementation Guide over the next year. Contact
        CIE@inl.gov to offer input.
      </p>
    </div>
  </div>
</div>
<app-nav-back-next [page]="'quick-facts-cie'"></app-nav-back-next>

