.subcat-header {
  padding: 0.7em;
  border-radius: 5px;
  background-color: #E9E9EA;
  border-bottom: 1px solid #cccccc;
}
.btn-button{
width: 220px !important;
}
@media print{
  .noprint{
    visibility: hidden;
  }
}
