/* 

  Copyright 2019 Battelle Energy Alliance, LLC  

Permission is hereby granted, free of charge, to any person obtaining a copy 
of this software and associated documentation files (the "Software"), to deal 
in the Software without restriction, including without limitation the rights 
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
copies of the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions: 

The above copyright notice and this permission notice shall be included in all 
copies or substantial portions of the Software. 

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
SOFTWARE. 

*/
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* ---- Report styles ---- */

* {
    font-family: Arial, sans-serif;
}

body {
    padding: 3em;
}

.report-body {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

h1 {
    line-height: 115%;
    page-break-after: avoid;
    font-size: 14.0pt;
    color: #0A5278;
    margin: 2em 0 1em 0;
}

h2 {
    line-height: 115%;
    page-break-after: avoid;
    font-size: 13.0pt;
    color: #0A5278;
    margin-top: 1.3em;
    // margin-left: 1em;
}

h3 {
    line-height: 115%;
    page-break-after: avoid;
    font-size: 12.0pt;
    color: #0A5278;
    // margin-left: 2em;
}

h4 {
    font-style: italic;
}

h2, h3, h4 {
    margin-bottom: .5em;
}


ol {
    margin-bottom: 0in;
}

ul {
    margin-bottom: 0in;
}

/* -------------------------------------------------------------------------------------------- */

.align-center {
    text-align: center;
}

.disclaimer-1 {
    font-size:10.0pt;
    line-height:115%;
}

div.disclaimer-blurb {
    width: 80%;
    border: 1px solid #000;
    border-radius: 1em;
    padding: 1em;
    background-color: #f2f2f2;
    margin: 0 auto 2em auto;
}

.page-break {
    page-break-before: always;
    clear: both;
}

@media only screen {
    .page-break {
        border-top: 1px solid #336699;
        margin-top: 3rem;
    }
}

.cover-page-bottom {
    margin: 5em 2em 0 2em;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

/* ---- TOC styles ---- */

.toc-entries a {
    color: inherit;
    display: block;
    line-height: 150%;
}

.toc-entries a:visited {
    color: inherit;
}

.toc-entries a.l2 {
    margin-left: 2em;
}

.toc-entries a.l3 {
    margin-left: 4em;
}


.intro {
    font-style: italic;
    font-size: 10pt;
    line-height: 115%;
}


/* --- atomic styles --- */

.w-20pct {
    width: 20% !important;
}


/* ---- common display container widget ---- */
.cset-container {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 1.5em;
    box-shadow: 5px 5px 5px #0004;
}

.cset-container>div:first-child {
    background-color: #0A5278;
    color: #fff;
    text-align: center;
    padding: 1em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom: 2px solid #000;
}

.cset-container>div:last-child {
    padding: 1em;
}




/* ---- SAL display widget ---- */

.sal-display {
    display: inline-block;
    font-family: Arial;
    padding: 1em;
    border-radius: .5em;
    border: 2px solid #000;
    box-shadow: 5px 5px 5px #0004;
    color: #fff;
    background-color: #51953E;
}

.sal-display .sal-label {
    color: #fff;
}

.sal-display.moderate .sal-label {
    color: #000;
}

.sal-display .sal-value {
    margin-top: .8em;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    color: #000;
}

.sal-display.low {
    background-color: #51953E;
}

.sal-display.moderate {
    background-color: #F9CE15;
}

.sal-display.high {
    background-color: #d67900;
}

.sal-display.very-high {
    background-color: #aa0202;
}


/* ---- Table styles ---- */

table.cset-table {
    width: calc(100% - 2em);
    margin: 0 auto 2em auto;
    border-collapse: collapse;
}

table.cset-table th {
    background-color: #336699;
    color: #fff;
    font-weight: bold;
}

table.cset-table th, table.cset-table td {
    padding: 10px;
    border: 1px solid #999;
}



table.cset-table-2 {
    width: calc(100% - 2em);
    margin: 0 auto 2em auto;
    border-collapse: collapse;
}

table.cset-table-2 th, table.cset-table-2 td {
    border: 1px solid #000;
    border: 1px solid #999;
    padding: 5px;
    page-break-inside: avoid;
}

table.cset-table-2 tr.pale-green {
    background-color: #EAF1DD;
    background-color: #ecf6f9;
}



table.cset-table-3 {
    width: calc(100% - 2em);
    margin: 0 auto 1em auto;
    border-collapse: collapse;
}

table.cset-table-3 th, table.cset-table-3 td {
    border: 1px solid #999;;
    padding: 5px;
    page-break-inside: avoid;
}

table.cset-table-3 th {
    text-align: left;
    font-weight: normal;
    background-color: #d9e6ed;
}



table.related-questions {
    width: 100%; 
    border-collapse: collapse;
    border: none;
}

table.related-questions td {
    border-top: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: none;
}

table.related-questions tr td:last-child {
    border-right: none;
}

table.related-questions tr:last-child td {
    border-bottom: none;
}



table.table-site-info {
    width: 80%;
    margin: 0 2em 2em 2em;
}

table.table-site-info td {
    padding: 5px;
    vertical-align: top;
}

table.table-site-info td:first-child {
    color: #0A5278;
    font-weight: bold;
    max-width: 50%;
}


table.finding-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table.finding-table td {
    border: 1px solid #222;
    padding: 5px;
}

td.tint1 {
    background-color: #d9e6ed;
}

td.tint2 {
    background-color: #f2f7f9;
}


table.label-value td {
    padding: .2rem;
    padding-right: 1rem;
    vertical-align: top;
}


/* ---- signature styles ---- */

.signature-block span {
    float: left;
    margin: 20px 10px 20px 0;
    padding-top: 5px;
    border-top: 1px solid #000;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.signature-block span.signature {
    width: 400px;
}

.signature-block span.date {
    width: 150px;
}

.concern-list {
    margin: 0 0 1em 0;
}

.concern-list tr>td:first-child {
    vertical-align: top;
    font-weight: bold;
    font-size: 130%;
    color: #777676;
    padding-right: .5em;
    font-family: 'Courier New', Courier, monospace;
}

.concern-list tr>td {
    padding-bottom: 1em;
}

// Angular 7 will not compile with this present
// @media print{
//     -webkit-print-color-adjust: exact;
//     print-color-adjust: exact;
// }


/////////////////// ACET REPORT CLASSES ///////////////////

.irp-table th, .irp-table td {
    vertical-align: top;
    padding: .5rem .3rem;
  }
  
.alert-incomplete{
    color: #fff;
    background-color: #909090;
    border-color: #787878;
    padding: 0.5rem 0.75rem !important;
}
.alert-baseline{
    color: #fff;
    background-color: #3498DB;
    border-color: #2E86C1;
    padding: .50rem .75rem !important;
}
.alert-evolving{
    color: #fff;
    background-color: #2E86C1;
    border-color: #2874A6;
    padding: .50rem .75rem !important;
}
.alert-intermediate{
    background-color: #2874A6;
    border-color: #21618C;
    color: #fff !important;
    padding: .50rem .75rem !important;
}
.alert-advanced{
    background-color: #21618C;
    border-color: #1B4F72;
    color: #fff !important;
    padding: .50rem .75rem !important;
}
.alert-innovative{
    background-color: #1B4F72;
    border-color: #154360;
    color: #fff !important;
    padding: .50rem .75rem !important;
}
.alert{
    text-align: center !important;
}

.factor-section {
    margin-bottom: 3rem;
}

.factor-section > .component-section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #bebebe;
}
.factor-section > .component-section:last-child {
    border-bottom: none;
}

.component-pill {
    width: 70px !important;
    margin: 0 auto !important;
    white-space: nowrap !important;
}



/**
 * following 3 for component sections
 */
 .mat-detail-green {
    background-color: rgb(198,239,206);
    color: rgb(0,97,0);
}

.mat-detail-orange {
    background-color: rgb(255,235,156);
    color: rgb(156,101,0);
}

.mat-detail-red {
    background-color: rgb(253,233,217);
    color: rgb(156,0,6);
}