.goalrow {
    padding: 0 0 0 0.25rem;
    height: auto;
    display: flex;
}

.goalrow-text {
    margin: 0;
    font-size: .7rem;
}

.tinytext {
    font-size: 8px;
}

.text-1 {
    font-size: .7rem;
}

p {
    /*margin: 0;*/
    padding: 0;
}

.appendix-label {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0;
}