<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div *transloco="let t" class="question-group mb-3">
    <div class="subcat-header" [class.flat-bottom]="myGrouping.expanded" (click)="toggleExpansion()"
        (keydown.Spacebar)="toggleExpansion()" (keydown.Enter)="toggleExpansion()"
        [attr.aria-expanded]="myGrouping.expanded" id="gg{{myGrouping.groupingID}}">
        <div class="sub-head-1" tabindex="0">
            <div *ngIf="myGrouping.title != ''" class="sub-head-2">
                {{ myGrouping.title }}
            </div>

            <div class="d-flex justify-content-end align-items-center flex-00a" *ngIf="!layoutSvc.hp">
                <span [class.display-hidden]="!myGrouping.hasReviewItems"
                    class="d-flex justify-content-center align-items-center flex-00a"
                    matTooltip="{{ t('tooltip.category requires review') }}">
                    <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                    <span class="mb-1 fs-small">{{ t('requires review') }}</span>
                </span>
                <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
            </div>

            <div class="d-flex flex-column justify-content-end align-items-end flex-00a" *ngIf="layoutSvc.hp">
                <div>
                    <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                    <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
                </div>
                <span [class.display-hidden]="!myGrouping.hasReviewItems"
                    class="d-flex justify-content-center align-items-center flex-00a"
                    matTooltip="{{ t('tooltip.category requires review') }}">
                    <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                </span>
            </div>
        </div>
        <div *ngIf="myGrouping.expanded && !!myGrouping.description && myGrouping.description.length > 0" class="mt-1">
            <app-grouping-description #groupingDescription [text]="myGrouping.description"></app-grouping-description>
        </div>
    </div>

    <!-- this houses all of the questions -->
    <div class="subcat-question-list px-3 pt-0 pb-3" [class.display-none]="!myGrouping.expanded">
        <div *ngFor="let q of myGrouping.questions"  id="mq{{q.questionId}}" class="question-row d-flex flex-column" [class.bonus-ssg-question]="q.isBonusQuestion"
            [class.pb-3]="q.isParentQuestion" [class.display-none]="!q.visible">

            <div class="w-100 mt-3 mb-1 d-flex flex-row" *ngIf="!layoutSvc.hp">
                <div class="number-and-text">
                    <div [class.display-hidden]="!!q.parentQuestionId"
                        style="font-weight: bold; margin-right: 2rem; white-space: nowrap;">
                        {{ q.displayNumber }}
                        <div>
                            <span class="question-mat-level-name" *ngIf="showLevelIndicator(q)">
                                {{ t('level.' + q.maturityLevelName.toLowerCase()) }}
                            </span>
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <div *ngIf="!!q.shortName" class="mb-1 font-italic font-weight-bold"
                            style="color: #666; font-size: .8rem; white-space: normal;">
                            {{ q.shortName }}
                        </div>

                        <ng-container *ngIf="q.questionText?.length > 0">
                            <app-question-text [questionText]="q.questionText"></app-question-text>
                        </ng-container>

                        <!-- CPG style questions -->
                        <ng-container *ngIf="q.securityPractice?.length > 0" >
                            <app-question-text-cpg [question]="q"></app-question-text-cpg>
                        </ng-container>

                        <span *ngIf="showQuestionIds" class="debug-highlight">{{ q.questionId }}</span>

                        <app-option-block *ngIf="q.options?.length > 0" [question]="q"></app-option-block>
                    </div>
                </div>


                <div *ngIf="!q.isParentQuestion">
                    <!-- build the list of answer choice buttons -->
                    <div class="btn-group btn-group-toggle answer-group" data-toggle="buttons">
                        <label *ngFor="let option of answerOptions"
                            class="btn form-check-label d-flex align-items-center" tabindex="0"
                            [class]="questionsSvc.answerOptionCss(maturityModelName, option)"
                            [class.answer-selected]="q.answer === option"
                            [matTooltip]="questionsSvc.answerButtonTooltip(maturityModelName, option)">
                            <input name="q_{{q.questionId}}" class="form-check-input" type="radio" autocomplete="off"
                                (click)="storeAnswer(q, option)" [checked]="q.answer === option"
                                (keydown)="checkAnswerKeyPress($event, q, option)">
                            {{questionsSvc.answerButtonLabel(maturityModelName, option)}}
                        </label>
                        <!-- Mark For Review Flag  -->
                        <label class="mr-0 ml-2 btn form-check-label btn-mfr d-flex align-items-center"
                            [class.answer-selected]="q.markForReview === true" [matTooltip]="t('tooltip.mfr-flag')">
                            <input name="q_{{q.questionId}}_F" type="checkbox" (click)="saveMFR(q);"
                                (keydown)="checkReviewKeyPress($event, q)" tabindex="0"
                                checked="{{q.markForReview === true}}">
                            <span class="cset-icons-flag-dark fs-base"></span>
                        </label>
                    </div>

                    <div *ngIf="q.answer === 'A'">
                        <textarea appAutoSize class="form-control" [class.alt-text-required]="isAltTextRequired(q)"
                            style="width: 100%; min-height: 80px;"
                            [placeholder]="t('answer-options.placeholders.' + altTextPlaceholder)"
                            [(ngModel)]="q.altAnswerText" (change)="storeAltText(q)"></textarea>
                        <div *ngIf="isAltTextRequired(q)" class="alt-text-required-msg" aria-label="description required">{{
                            t('answer-options.warnings.description required') }}</div>
                    </div>
                </div>
            </div>

            <div class="w-100" *ngIf="layoutSvc.hp">
                <!-- handset portrait -->
                <div>
                    <div [class.display-hidden]="!!q.parentQuestionId"
                        class="d-flex align-items-center mt-3 mb-2 text-nowrap">
                        <span class="font-weight-bold">
                            {{ q.displayNumber }}
                        </span>
                        <span class="question-mat-level-name ml-4" *ngIf="showLevelIndicator(q)">
                            {{ 'level.' + q.maturityLevelName.toLowerCase() | transloco }}
                        </span>
                    </div>

                    <div class="w-100 mb-3">
                        <div *ngIf="!!q.shortName" class="mb-1 font-italic font-weight-bold"
                            style="color: #666; font-size: .8rem; white-space: normal;">
                            {{ q.shortName }}
                        </div>

                        <ng-container *ngIf="q.questionText.length > 0">
                            <app-question-text [questionText]="q.questionText"></app-question-text>
                        </ng-container>

                        <!-- CPG style questions -->
                        <ng-container *ngIf="q.securityPractice?.length > 0">
                            <app-question-text-cpg [question]="q"></app-question-text-cpg>
                        </ng-container>

                        <span *ngIf="showQuestionIds" class="debug-highlight">{{ q.questionId }}</span>
                    </div>
                </div>


                <div *ngIf="!q.isParentQuestion">
                    <!-- build the list of answer options -->
                    <div class="btn-group btn-group-toggle answer-group ml-0" data-toggle="buttons">
                        <label *ngFor="let option of answerOptions" class="btn form-check-label"
                            [class]="questionsSvc.answerOptionCss(maturityModelName, option)"
                            [class.answer-selected]="q.answer === option"
                            [matTooltip]="questionsSvc.answerButtonTooltip(maturityModelName, option)">
                            <input name="q_{{q.questionId}}" class="form-check-input" type="radio" autocomplete="off"
                                (click)="storeAnswer(q, option)" [checked]="q.answer === option">
                            {{questionsSvc.answerButtonLabel(maturityModelName, option)}}
                        </label>

                        <!-- Mark For Review Flag  -->
                        <label class="mr-0 ml-2 btn form-check-label btn-mfr"
                            [class.answer-selected]="q.markForReview === true"
                            matTooltip="This control requires further review.">
                            <input name="q_{{q.questionId}}_F" type="checkbox" (click)="saveMFR(q);" tabindex="0"
                                checked="{{q.markForReview === true}}">
                            <span class="cset-icons-flag-dark fs-base"></span>
                        </label>
                    </div>

                    <div *ngIf="q.answer === 'A'">
                        <textarea appAutoSize class="form-control" [class.alt-text-required]="isAltTextRequired(q)"
                            style="width: 100%; min-height: 80px;"
                            [placeholder]="t('answer-options.placeholders.' + altTextPlaceholder)"
                            [(ngModel)]="q.altAnswerText" (change)="storeAltText(q)"></textarea>
                        <div *ngIf="isAltTextRequired(q)" class="alt-text-required-msg" aria-label="description required">{{
                            t('answer-options.warnings.description required') }}</div>
                    </div>
                </div>
            </div>

            <app-question-extras *ngIf="(q.isParentQuestion || !q.parentQuestionId)" #extrasComponent [myQuestion]="q"
                class="w-100 mb-3" (changeExtras)="refreshReviewIndicator()"
                (changeComponents)="refreshComponentOverrides()">
            </app-question-extras>
        </div>
    </div>
</div>