.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 10pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
img.de_D457E58A2E
{
margin-top: 0px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_0BE9FB0A01
{
	font-family: "Wingdings 2";
	font-size: 16pt;
	color:#000000;
}
span.de_111311456D
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_14A751013C
{
	font-family: "Arial";
	font-size: 10pt;
	color:#004891;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_33B18B9214
{
	font-family: "Arial-BoldItalicMT";
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_439BAC1A43
{
	font-family: "Arial";
	font-size: 14pt;
	color:#004891;
}
span.de_477A69E6CE
{
	font-family: "Arial";
	font-size: 10pt;
	color:#ffffff;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_5FB625965B
{
	font-family: "Arial";
	font-size: 9pt;
	color:#000000;
}
span.de_610B9F1368
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#0070c0;
}
span.de_648A514FF0
{
	font-family: "Arial";
	font-size: 8pt;
	color:#000000;
	font-style:italic;
}
span.de_64DACBA413
{
	font-family: "Arial";
	font-size: 7pt;
	color:#000000;
}
span.de_67B4B21911
{
	font-family: "Arial";
	font-size: 8pt;
	color:#000000;
}
span.de_6C2B69BD23
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_80BEB310C8
{
	font-family: "Symbol";
	font-size: 10pt;
	color:#000000;
}
span.de_922EDE2353
{
	font-family: "Arial";
	font-size: 14pt;
	color:#000000;
}
span.de_A6784F7BA8
{
	font-family: "Arial";
	font-size: 10pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_B896A524DF
{
	font-family: "Arial";
	font-size: 10pt;
	color:#005287;
}
span.de_B9F55B79DA
{
	font-family: "Arial";
	font-size: 9pt;
	color:#005287;
}
span.de_BC300238AB
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#44546a;
}
span.de_CC7DAF531E
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
}
span.de_D305498EDE
{
	font-family: "Symbol";
	font-size: 11pt;
	color:#000000;
}
span.de_D9A8D37197
{
	font-family: "Franklin Gothic Medium";
	font-size: 12pt;
	color:#000000;
}
span.de_E527F61F56
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
	text-decoration:underline;
}
span.de_EAC77E742C
{
	font-family: "Arial-BoldItalicMT";
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_EC8B4D5AF2
{
	font-family: "Times New Roman";
	font-size: 10pt;
	color:#000000;
}
span.de_F5921A506B
{
	font-family: "Franklin Gothic Medium";
	font-size: 33pt;
	color:#005286;
}
span.de_F87453780F
{
	font-family: "Franklin Gothic Demi";
	font-size: 46pt;
	color:#005287;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, disc) '\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, decimal) '.\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8 > div > * {
	text-indent: 0px;}
.list-counter-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8, disc) '\00a0';
	counter-increment: list-counter-8;
}
.list-counter-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9 > div > * {
	text-indent: 0px;}
.list-counter-9 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9, disc) '\00a0';
	counter-increment: list-counter-9;
}
.list-counter-9 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-10 > div > * {
	text-indent: 0px;}
.list-counter-10 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-10, disc) '\00a0';
	counter-increment: list-counter-10;
}
.list-counter-10 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11 > div > * {
	text-indent: 0px;}
.list-counter-11 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11, disc) '\00a0';
	counter-increment: list-counter-11;
}
.list-counter-11 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-12 > div > * {
	text-indent: 0px;}
.list-counter-12 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-12, disc) '\00a0';
	counter-increment: list-counter-12;
}
.list-counter-12 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-13 > div > * {
	text-indent: 0px;}
.list-counter-13 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-13, disc) '\00a0';
	counter-increment: list-counter-13;
}
.list-counter-13 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-14 > div > * {
	text-indent: 0px;}
.list-counter-14 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-14, decimal) '.\00a0';
	counter-increment: list-counter-14;
}
.list-counter-14 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-15 > div > * {
	text-indent: 0px;}
.list-counter-15 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-15, decimal) '.\00a0';
	counter-increment: list-counter-15;
}
.list-counter-15 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-16 > div > * {
	text-indent: 0px;}
.list-counter-16 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-16, disc) '\00a0';
	counter-increment: list-counter-16;
}
.list-counter-16 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-17 > div > * {
	text-indent: 0px;}
.list-counter-17 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-17, disc) '\00a0';
	counter-increment: list-counter-17;
}
.list-counter-17 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-18 > div > * {
	text-indent: 0px;}
.list-counter-18 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-18, disc) '\00a0';
	counter-increment: list-counter-18;
}
.list-counter-18 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-19 > div > * {
	text-indent: 0px;}
.list-counter-19 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-19, disc) '\00a0';
	counter-increment: list-counter-19;
}
.list-counter-19 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-20 > div > * {
	text-indent: 0px;}
.list-counter-20 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-20, disc) '\00a0';
	counter-increment: list-counter-20;
}
.list-counter-20 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-21 > div > * {
	text-indent: 0px;}
.list-counter-21 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-21, disc) '\00a0';
	counter-increment: list-counter-21;
}
.list-counter-21 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-22 > div > * {
	text-indent: 0px;}
.list-counter-22 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-22, disc) '\00a0';
	counter-increment: list-counter-22;
}
.list-counter-22 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-23 > div > * {
	text-indent: 0px;}
.list-counter-23 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-23, disc) '\00a0';
	counter-increment: list-counter-23;
}
.list-counter-23 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
