<table mat-table matSort class="assessment-summary" style='overflow:auto'>
    <th mat-sort-header="label">Label</th>
    <th mat-sort-header="color">Color</th>
    <th mat-sort-header="layer">Layer</th>
    <th mat-sort-header="visible">Visible</th>
    
    <tr *ngFor="let shape of shapes; let i = index">
        <td>{{shape.label}}</td>
        <td>{{shape.color}}</td>
        <td>{{shape.layer}}</td>
        <td><input type="checkbox" class="mt-1"
          [checked]="shape.visible" (change)="submit(shape.tag, shape.visible)"></td>
    </tr>
</table>
<!-- 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
    <ng-container matColumnDef="layer">
      <th mat-header-cell *matHeaderCellDef> Layer </th>
      <td mat-cell *matCellDef="let element"> {{element.layer}} </td>
    </ng-container>
    <ng-container matColumnDef="visible">
      <th mat-header-cell *matHeaderCellDef> Visible </th>
      <td mat-cell *matCellDef="let element"> {{element.visible}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
