<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t" class="question-group mb-3">
    <!-- Hides the ISE CORE+ only sub cats unless they need to be shown -->
    <ng-container *ngIf="(myGrouping.groupingID < 2567 || (myGrouping.groupingID >= 2567 && ncuaSvc.getExtraQuestionStatus() === true))">
        <div class="subcat-header" [class.flat-bottom]="myGrouping.expanded" (click)="toggleExpansion()"
            (keydown.Spacebar)="toggleExpansion()" (keydown.Enter)="toggleExpansion()"
            [attr.aria-expanded]="myGrouping.expanded">
            <div class="sub-head-1" tabindex="0">
                <div *ngIf="myGrouping.title != ''" class="sub-head-2">
                    {{ myGrouping.title }}
                </div>

                <!-- layoutSvc.hp === false -->
                <div class="d-flex justify-content-end align-items-center flex-00a" *ngIf="!layoutSvc.hp">
                    <span [class.display-hidden]="!myGrouping.hasReviewItems"
                        class="d-flex justify-content-center align-items-center flex-00a"
                        matTooltip="{{ t('tooltip.category requires review') }}">
                        <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                        <span class="mb-1 fs-small">{{ t('requires review') }}</span>
                    </span>
                    <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                    <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
                </div>

                <!-- layoutSvc.hp === true -->
                <div class="d-flex flex-column justify-content-end align-items-end flex-00a" *ngIf="layoutSvc.hp">
                    <div>
                        <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
                        <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="myGrouping.expanded"></i>
                    </div>
                    <span [class.display-hidden]="!myGrouping.hasReviewItems"
                        class="d-flex justify-content-center align-items-center flex-00a"
                        matTooltip="{{ t('tooltip.category requires review') }}">
                        <span class="mr-1 cset-icons-flag-dark fs-small"></span>
                    </span>
                </div>

            </div>

            <div *ngIf="myGrouping.expanded && !!myGrouping.description && myGrouping.description.length > 0"
                class="mt-1">
                <app-grouping-description #groupingDescription
                    [text]="myGrouping.description"></app-grouping-description>
            </div>

        </div>

        <div *ngIf="this.assessSvc.isISE()" class="subcat-question-list" style="padding: 1em;" [class.display-none]="!myGrouping.expanded">
            <ng-container *ngFor="let q of myGrouping.questions; let last = last">
                <div class="d-flex flex-column" [class.question-row]="q.parentQuestionId === null"
                    [class.pb-3]="q.parentQuestionId === null" [class.display-none]="!shouldIShow(q)">
                    <div class="w-100 d-flex flex-row">
                        <div class="number-and-text"
                            [ngStyle]="{'padding-top': (q.parentQuestionId === null && q.questionId !== 7568) ? '2.5rem' : '0.2rem'}">
                            <div *ngIf="q.parentQuestionId !== null; else parentQuestion">
                                <div class="!!q.parentQuestionId"
                                    style="font-weight: bold; margin-right: 2rem; white-space: nowrap;">
                                    {{ q.displayNumber }}
                                    <div>
                                        <span *ngIf="q.maturityLevelName !== 'CORE+'" class="question-mat-level-name">
                                            {{ q.maturityLevelName }}
                                        </span>
                                        <span *ngIf="q.maturityLevelName === 'CORE+'" class="core-plus-mat-level-name">
                                            {{ q.maturityLevelName }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #parentQuestion>
                                <div [class.display-hidden]="!!q.parentQuestionId"
                                    style="font-size: 1.25rem; font-weight: bold; margin-right: 2rem; white-space: nowrap;">
                                    {{ q.displayNumber }}
                                </div>
                            </ng-template>
                            <div style="width: 100%;">
                                <div *ngIf="!!q.shortName" class="mb-1 font-italic font-weight-bold"
                                    style="color: #666; font-size: .8rem; white-space: normal;">
                                    {{ q.shortName }}
                                </div>

                                <div *ngIf="q.parentQuestionId === null; else childQuestion"
                                    style="font-size: 1.25rem;">
                                    <app-question-text [questionText]="q.questionText"></app-question-text>
                                </div>
                                <ng-template #childQuestion>
                                    <app-question-text [questionText]="q.questionText"></app-question-text>
                                </ng-template>

                                <span *ngIf="showQuestionIds" class="debug-highlight">{{ q.questionId }}</span>
                            </div>
                        </div>

                        <!-- build the list of answer options -->
                        <div *ngIf="q.parentQuestionId !== null">
                            <div class="btn-group btn-group-toggle answer-group" data-toggle="buttons">
                                <label *ngFor="let option of answerOptions">
                                    <label *ngIf="(option !== 'NA' && option !== 'A')" class="btn form-check-label"
                                        tabindex="0" (keydown)="checkKeyPress($event, q, 'answer', option)"
                                        [class]="questionsSvc.answerOptionCss(maturityModelName, option)"
                                        [class.answer-selected]="q.answer === option"
                                        [matTooltip]="this.displayTooltip(maturityModelId, option)"
                                        [disabled]="option === 'N' && autoGenerateInProgress">
                                        <input name="q_{{q.questionId}}" id="radio-button" class="form-check-input"
                                            type="radio" autocomplete="off" (click)="storeAnswer(q, option)"
                                            [checked]="q.answer === option">
                                        {{ questionsSvc.answerButtonLabel(maturityModelName, option) }}
                                    </label>
                                </label>

                                <!-- Comment bubble button -->
                                <label class="btn form-check-label btn-iss"
                                    [matTooltip]="hasComment(q) ? 'Notes with content':'Notes'"
                                    matTooltipPosition="below"
                                    [class.answer-selected]="q.extrasExpanded === true || hasComment(q)">
                                    <input name="q_{{ q.questionId }}_C" id="checkbox_comment" type="checkbox"
                                        (keydown)="checkKeyPress($event, q, 'comment')" (click)="toggleComment(q)">
                                    <span class="cset-icons-comment fs-base"></span>
                                </label>

                                <!-- Mark For Review Flag  -->
                                <label class="mr-0 ml-2 btn form-check-label btn-mfr"
                                    [class.answer-selected]="q.markForReview === true"
                                    matTooltip="This control requires further review.">
                                    <input name="q_{{ q.questionId }}_F" type="checkbox"
                                        (keydown)="checkKeyPress($event, q, 'mfr')" (click)="saveMFR(q);" tabindex="0"
                                        checked="{{ q.markForReview === true }}">
                                    <span class="cset-icons-flag-dark fs-base"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <app-question-extras *ngIf="q.parentQuestionId != null" [myQuestion]="q" [ncuaDisplay]="true"
                        [iconsToDisplay]="['REFS']" (changeExtras)="refreshReviewIndicator()"
                        (changeComponents)="refreshComponentOverrides()">
                    </app-question-extras>

                    <div *ngIf="q.extrasExpanded">
                        <div class="form-group">
                            <textarea appAutoSize [(ngModel)]="q.comment" (change)="storeComment(q)"
                                style="min-height: 120px; width: 100%" class="form-control"
                                [placeholder]="altTextPlaceholder"></textarea>
                        </div>
                    </div>

                    <hr>

                    <!-- This is the Parent Question Icons -->
                    <app-question-extras *ngIf="q.parentQuestionId == null" #extrasComponent [myQuestion]="q"
                        [ncuaDisplay]="true" [iconsToDisplay]="['SUPP']" class="w-100"
                        (changeExtras)="refreshReviewIndicator()" (changeComponents)="refreshComponentOverrides()">
                    </app-question-extras>

                </div>
                <!-- last variable is from the ngFor loop -->
                <div *ngIf="last">
                    <div>
                        <!-- 7852 is currently the start of the CORE+ only questions and doesn't need this button -->
                        <!-- CORE+ Statements 2.9, 14.12, 14.13, 14.4, and 15.3 got added in late and have an id of 10926+ -->
                        <button *ngIf="showCorePlusButton(q.questionId) && (q.questionId < 7852 || q.questionId >= 10926)"
                            class="btn btn-na form-check-label mt-2 mb-4" style="width: 20%"
                            (click)="updateCorePlusStatus()">{{this.showCorePlus === false ? 'Expand CORE+' : 'Hide
                            CORE+'}}
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-na mt-2 mb-4" style="width: 20%" (click)="updateShowIssues()">
                            {{ this.getIssuesButtonText() }}
                        </button>
                    </div>

                    <div *ngIf="showIssues === true" style="margin: 0.75em">
                        <table class="table" *ngIf="extras?.observations.length > 0">
                            <tr>
                                <th>Issue</th>
                                <th>Title</th>
                                <th style="text-align: center;">Auto Generated</th>
                                <th style="width:5%;"></th>
                                <th style="width:5%;"></th>
                            </tr>
                            <tr *ngFor="let obs of extras?.observations; let i = index"
                                style="box-sizing: content-box;height:20px;">
                                <td>
                                    <div>Issue {{ i+1 }}</div>
                                </td>
                                <td style="height:20px">
                                    <div>{{obs.title}}</div>
                                </td>
                                <td style="text-align: center">
                                    <div *ngIf="obs.auto_Generated === 1">Yes</div>
                                    <div *ngIf="obs.auto_Generated === 0"> - </div>
                                </td>
                                <td>
                                    <button class="icon-button fs-base cursor-pointer" aria-label="Edit"
                                        (click)="addEditIssue(q.parentQuestionId, obs.observation_Id)">
                                        <span class="mr-1 cset-icons-pencil"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="icon-button fs-base cursor-pointer" aria-label="Delete"
                                        (click)="deleteIssue(obs.observation_Id, false)">
                                        <span class="mr-1 cset-icons-trash-can"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <button class="btn btn-primary add mt-2 mb-4" (click)="addEditIssue(q.parentQuestionId, 0)">Add
                            an Issue</button>
                    </div>
                    <textarea id="{{ 'summaryComment' + q.parentQuestionId }}" class="form-control mb-2"
                        style="width: 100%; min-height: 40px; max-height: summaryBoxMax + 'px'"
                        [(ngModel)]="this.summaryCommentCopy" [placeholder]="textForSummary"
                        (focus)="autoResize(q.parentQuestionId)" (keydown)="autoResize(q.parentQuestionId)"
                        (change)="storeSummaryComment(q, q.parentQuestionId, $event)" spellcheck="true"></textarea>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>