<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<h4>Organization Details</h4>
<form #f="ngForm">
    <div class="form-row mb-4">
        <div class="form-group col-md-6">
            <label class="mb-1" for="name">Assessment Name</label>
            <input type="text" maxlength="100" class="form-control" id="name" name="name" required focusOnInit="true"
                [(ngModel)]="assessment.assessmentName" (ngModelChange)="assessment.assessmentName"
                (change)="update($event)" autofocus tabindex="0">
        </div>
        <div class="form-group col-md-6">
            <label class="mb-1" for="date">Assessment Date</label>
            <input matInput MatDatepickerInput class="form-control" id="date" name="date"
                [(ngModel)]="assessment.assessmentDate" [matDatepicker]="picker" (focus)="picker.open()"
                (blur)="update($event)" (click)="picker.open()" (ngModelChange)="update($event)" tabindex="0">
            <mat-datepicker #picker></mat-datepicker>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <h5>Organization Location</h5>
            <p class="font-italic">Please enter the Zip Code for the primary address/headquarters of your organization
                (required)</p>
            <input type="text" maxlength="10" class="form-control cf" id="postalCode" name="postalCode"
                [(ngModel)]="assessment.postalCode" (change)="update($event)" tabindex="0" required zipCode>
        </div>
        <div class="form-group col-md-6">
        </div>
    </div>
</form>

<div class="mt-4">
    <h4>Assessment Type</h4>
    <h5>{{ assessment.typeTitle || 'Blank Assessment' }}</h5>
    <p *ngIf="assessment.typeDescription && assessment.typeTitle != assessment.typeDescription"
        [innerHtml]="assessment.typeDescription | safe"></p>
</div>