<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel">
  <div>
    <h2>Cyber-Informed Engineering Principles</h2>
    <p>
      <strong>CIE is an engineering approach that integrates cybersecurity considerations into the conception, design, build, and operation of any physical system that has digital connectivity, sensors, monitoring, or control.</strong>
      Rather than rely exclusively on cybersecurity controls, CIE offers the opportunity to add engineering mitigations to eliminate or mitigate avenues for cyber-attack—starting from the earliest stage of design and continuing throughout the system’s lifecycle.
    </p>
    <p>
      Today, engineers and industrial control system (ICS) technicians build energy systems with specific goals for safety, reliability, and functionality. While systems engineering includes considerable safety and failure mode analysis, cybersecurity risks are often not specifically addressed as potential causes of such failures—particularly the risks of intentional cyber compromise, exploitation, and misuse.
    </p>
    <p>
      Simply put, traditional engineering risk management approaches rarely address the risks of directed, purposeful system manipulation or disruption performed by an intelligent and capable cyber adversary. Instead, cyber risk management is conducted by cybersecurity teams, who are called in only after system components are selected to harden the integration of those components. This process delays the introduction of cybersecurity mitigations until late in the engineering lifecycle, providing inadequate and more costly protection for the nation’s energy infrastructure.
    </p>
    <p>
      CIE aims to shift the way the nation’s engineers, ICS technicians, manufacturers, and operators approach security in energy systems design. 
      <strong>This approach offers new opportunities to “engineer out” cyber risk—that is, to adapt physical design and engineering controls to reduce, mitigate, and even eliminate the consequences of a cyber-attack. </strong>
    </p>
    <p>
      Researchers first began to define a <a href="https://www.osti.gov/servlets/purl/1369373" target="_blank">CIE approach in 2017</a>, identifying a set of principles to consider when solving an engineering problem. In the intervening years, those principles have been refined and revised, and the Implementation Guide offers the most current and granular identification of CIE principles to date. The principles identified here are not exhaustive but do serve as important elements within an ICS engineering risk-management process.
    </p>
    <p>
      <strong>The Implementation Guide provides a deep discussion of each principle, and the questions and considerations an engineering team must address to embody the principle in their resulting system. </strong> Those questions and considerations are presented for each phase in the system lifecycle.
    </p>
    <!-- <img src="assets/images/CIE/01_PrinciplesTable_p9.svg" alt="CIE Principles Table"> -->

    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;"></div>
      <div class="col-5 table-header" style="padding: 4px;"><strong>PRINCIPLE</strong></div>
      <div class="col-6 table-header" style="padding: 4px;"><strong>KEY QUESTION</strong></div>
    </div>
    
    <hr class="page-line">

    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">1</div>
      <div class="col-5" style="padding: 4px;"><strong>Consequence-Focused Design</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I understand what critical functions my system must ensure and the undesired consequences it must prevent?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">2</div>
      <div class="col-5" style="padding: 4px;"><strong>Engineered Controls</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I select and implement controls to reduce avenues for attack or the damage that could result?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">3</div>
      <div class="col-5" style="padding: 4px;"><strong>Secure Information Architecture</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I prevent undesired manipulation of important data?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">4</div>
      <div class="col-5" style="padding: 4px;"><strong>Design Simplification</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I determine what features of my system are not absolutely necessary to achieve the critical functions?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">5</div>
      <div class="col-5" style="padding: 4px;"><strong>Layered Defenses</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I create the best compilation of system defenses?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">6</div>
      <div class="col-5" style="padding: 4px;"><strong>Active Defenses</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I proactively prepare to defend my system from any threat?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">7</div>
      <div class="col-5" style="padding: 4px;"><strong>Interdependency Evaluation</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I understand where my system can impact others or be impacted by others?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">8</div>
      <div class="col-5" style="padding: 4px;"><strong>Digital Asset Awareness</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I understand where digital assets are used, what functions they are capable of, and our assumptions about how they work?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">9</div>
      <div class="col-5" style="padding: 4px;"><strong>Cyber-Secure Supply Chain Controls</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I ensure my providers deliver the security the system needs?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">10</div>
      <div class="col-5" style="padding: 4px;"><strong>Planned Resilience</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I turn “what ifs” into “even ifs”?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">11</div>
      <div class="col-5" style="padding: 4px;"><strong>Engineering Information Control</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I manage knowledge about my system? How do I keep it out of the wrong hands?
        </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-1 table-header" style="padding: 4px;">12</div>
      <div class="col-5" style="padding: 4px;"><strong>Organizational Culture</strong></div>
      <div class="col-6" style="padding: 4px;">
        <p>
          How do I ensure that everyone’s behavior and decisions align with our security goals?
        </p>
      </div>
    </div>
  </div>
  
  <app-nav-back-next [page]="'principles-cie'"></app-nav-back-next>

</div>