.completion{
    background-color: #009900; width: 33%; flex: none; max-width:600px;bottom:0;
}

.completion-row {
    height:8px; background-color:#fff;
}

.no-flex {
    flex: none;
}


.l1{
    background-color:#F3ECEF;
    color: #000; 
}

.l2{
    background-color: #E0DEF0;
    color: #000;
}

.l3{
    background-color: #A6A3CC;
    color: #fff;
}

.l4{
    background-color: #5B57A6;
    color: #fff;
}

.l5{
    background-color: #3A5081;
    color: #fff;
}
