<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="mb-4">
    <h3>Categorization</h3>
    <h5>Add additional information to help categorize what happened</h5>
</div>


<mat-accordion class="example-headers-align observable-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel class="anomaly w-100" *ngFor="
            let anomaly of cyoteSvc.anomalies;
            let anomalyIndex = index;
            let firstAnomaly = first;
            let lastAnomaly = last;
          " cdkDrag hideToggle [expanded]="false">
        <mat-expansion-panel-header class="example-headers-align" cdkDragHandle>
            <mat-panel-title class="w-100"><span class="anomaly-title w-100">
                    {{ anomaly.title }}</span>
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between">
                <span></span>
                <div class="boxCenter">
                    <app-anomaly-icons [o]="anomaly"></app-anomaly-icons>
                    <button style="margin: 0px;padding: 0px; margin-top: -10px;" [id]="'delete-anomaly-' + anomaly.observableId" type="button"
                        matTooltip="delete observable" mat-button (click)="deleteAnomaly(anomaly)"><i
                            style="margin:0px; padding: 0px; font-size: 1.7rem;"
                            class="material-icons">delete</i></button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form>
            <div class="w-100" >
                <input type="checkbox" class="checkbox-custom" [checked]="anomaly.isFirstTimeSeen" [id]="'first-time-' + anomaly.observableId"
                    (change)="onChangeCheckbox(anomaly, 'isFirstTimeSeen', $event)">
                <label [for]="'first-time-' + anomaly.observableId" class="checkbox-custom-label">Is
                    this the first time AOO has seen this
                    observable?</label>
            </div>

            <mat-divider class="my-3"></mat-divider>

            <div class="mb-3">
                <label>Select which categories this observable is related
                    to:</label>
            </div>


            <input type="checkbox" class="checkbox-custom" [checked]="anomaly.physicalCategory" [id]="'phys-equip-' + anomaly.observableId"
                (change)="onChangeCheckbox(anomaly, 'physicalCategory', $event)">
            <label [for]="'phys-equip-' + anomaly.observableId" class="checkbox-custom-label">ICS
                (Physical Equipment)</label>

            <input type="checkbox" class="checkbox-custom" [checked]="anomaly.digitalCategory" [id]="'digital-cat-' + anomaly.observableId"
                (change)="onChangeCheckbox(anomaly, 'digitalCategory', $event)">
            <label [for]="'digital-cat-' + anomaly.observableId" class="checkbox-custom-label">Digital (ICS Process)
            </label>

            <input type="checkbox" class="checkbox-custom" [checked]="anomaly.networkCategory" [id]="'network-cat-' + anomaly.observableId"
                (change)="onChangeCheckbox(anomaly, 'networkCategory', $event)">
            <label [for]="'network-cat-' + anomaly.observableId" class="checkbox-custom-label">Network
            </label>


            <div class="w-100" >

                <mat-divider class="my-3"></mat-divider>

                <input type="checkbox" class="checkbox-custom" [checked]="anomaly.isAffectingOperations" [id]="'affecting-ops-' + anomaly.observableId"
                    (change)="onChangeCheckbox(anomaly, 'isAffectingOperations', $event)">
                <label [for]="'affecting-ops-' + anomaly.observableId" class="checkbox-custom-label">Is this affecting
                    operations?</label>

                <div *ngIf="anomaly.isAffectingOperations" class="form-group mb-4" >
                    <label>Describe the affected operations</label>
                    <textarea class="form-control" autosize [minRows]="3" [ngModel]="anomaly.affectingOperationsText"
                        name="affectingOperationsText"
                        (change)="onChangeText(anomaly, 'affectingOperationsText', $event)"></textarea>
                </div>

                <input type="checkbox" class="checkbox-custom" [checked]="anomaly.isAffectingProcesses" [id]="'affecting-procs-' + anomaly.observableId"
                    (change)="onChangeCheckbox(anomaly, 'isAffectingProcesses', $event)">
                <label [for]="'affecting-procs-' + anomaly.observableId" class="checkbox-custom-label">Is this affecting
                    processes? (Safety, Production, Etc.)
                    Yes</label>
                <div *ngIf="anomaly.isAffectingProcesses" class="w-100 d-block mb-4" >
                    <label>Describe the affected processes</label>
                    <textarea class="form-control" autosize [minRows]="3" [ngModel]="anomaly.affectingProcessesText"
                        name="affectingProcessesText"
                        (change)="onChangeText(anomaly, 'affectingProcessesText', $event)"></textarea>
                </div>
            </div>

            <div class="w-100"  *ngIf="
              anomaly.physicalCategory || anomaly.digitalCategory
            ">
                <input [id]="'is-multiple-' + anomaly.observableId" type="checkbox" class="checkbox-custom" [checked]="anomaly.isMultipleDevices"
                    (change)="onChangeCheckbox(anomaly, 'isMultipleDevices', $event)">
                <label [for]="'is-multiple-' + anomaly.observableId" class="checkbox-custom-label">
                    Were multiple devices involved?
                </label>
                <div *ngIf="anomaly.isMultipleDevices" class="w-100 d-block mb-4" >
                    <label>Describe the devices involved</label>
                    <textarea class="form-control" autosize [minRows]="3" [ngModel]="anomaly.multipleDevicesText"
                        (change)="onChangeText(anomaly, 'multipleDevicesText', $event)"
                        name="multipleDevicesText"></textarea>
                </div>
            </div>
            <div class="w-100" *ngIf="anomaly.networkCategory">
                <input type="checkbox" class="checkbox-custom" [checked]="anomaly.isMultipleNetworkLayers" [id]="'mult-net-layers-' + anomaly.observableId"
                    (change)="onChangeCheckbox(anomaly, 'isMultipleNetworkLayers', $event)"
                    name="multipleNetworkLayers">
                <label [for]="'mult-net-layers-' + anomaly.observableId" class="checkbox-custom-label">Did the observable event manifest
                    in multiple network layers?</label>
                <div *ngIf="anomaly.isMultipleNetworkLayers" class="w-100 d-block mb-4" >
                    <label>Describe the affected network layers involved</label>
                    <textarea class="form-control" autosize [minRows]="3" [ngModel]="anomaly.multipleNetworkLayersText"
                        (change)="onChangeText(anomaly, 'multipleNetworkLayersText', $event)"
                        name="multipleNetworkLayersText"></textarea>
                </div>
            </div>



            <mat-divider class="my-3"></mat-divider>

            <h5>Additional detail</h5>

            <label> Describe this anomaly </label>
            <br />

            <table class="w-100 categorization-table" cellspacing="0">
                <tr>
                    <td>
                        <br />
                    </td>
                    <td>
                        <label> ...Was observed </label>
                    </td>
                    <td>
                        <label> ...Was not observed </label>
                    </td>
                    <td>
                        <label> ...Can't tell </label>
                    </td>
                </tr>
                <tr>
                    <td style="max-width: 20%">
                        <label> What else should normally be observed? </label>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px" [minRows]="3" 
                                [ngModel]="anomaly.observedShouldBeAndWas"
                                (change)="onChangeText(anomaly, 'observedShouldBeAndWas', $event)"
                                name="observedShouldBeAndWas"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px" [minRows]="3" 
                                [ngModel]="anomaly.observedShouldBeAndWasNot"
                                (change)="onChangeText(anomaly, 'observedShouldBeAndWasNot', $event)"
                                name="observedShouldBeAndWasNot"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px"  [ngModel]="anomaly.observedShouldBeAndCantTell"
                                (change)="onChangeText(anomaly, 'observedShouldBeAndCantTell', $event)"
                                name="observedShouldBeAndCantTell"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> What else should not normally be observed? </label>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px" [minRows]="3" 
                                [ngModel]="anomaly.observedShouldNotBeAndWas"
                                (change)="onChangeText(anomaly, 'observedShouldNotBeAndWas', $event)"
                                name="observedShouldNotBeAndWas"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px" [minRows]="3" 
                                [ngModel]="anomaly.observedShouldNotBeAndWasNot"
                                (change)="onChangeText(anomaly, 'observedShouldNotBeAndWasNot', $event)"
                                name="observedShouldNotBeAndWasNot"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="w-100" >
                            <textarea class="form-control" style="height: 64px" [minRows]="3" 
                                [ngModel]="anomaly.observedShouldNotBeAndCantTell"
                                (change)="onChangeText(anomaly, 'observedShouldNotBeAndCantTell', $event)"
                                name="observedShouldNotBeAndCantTell"></textarea>
                        </div>
                    </td>
                </tr>
            </table>

        </form>

    </mat-expansion-panel>
</mat-accordion>