<h3>Categorization</h3>
<h5>Add additional information to help categorize what happened</h5>

<br />

<mat-accordion class="example-headers-align observable-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel class="anomaly" *ngFor="
            let anomaly of cyoteSvc.anomalies;
            let anomalyIndex = index;
            let firstAnomaly = first;
            let lastAnomaly = last;
            trackBy: trackByItems
          " cdkDrag hideToggle [expanded]="false">
        <mat-expansion-panel-header class="example-headers-align" cdkDragHandle>
            <mat-panel-title>
                {{ anomaly.title }}
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between">
                <span></span>
                    <mat-icon *ngIf="
                    !anomaly.categories.physical &&
                    !anomaly.categories.digital &&
                    !anomaly.categories.network
                  ">extension</mat-icon>
                    <mat-icon *ngIf="anomaly.categories.physical">whatshot</mat-icon>
                    <mat-icon *ngIf="anomaly.categories.digital">memory</mat-icon>
                    <mat-icon *ngIf="anomaly.categories.network">wifi</mat-icon>                
            </mat-panel-description>
        </mat-expansion-panel-header>




        <form class="example-form">
            <div class="example-full-width" appearance="fill">
                <mat-checkbox class="example-margin" [(ngModel)]="anomaly.isFirstTimeAooHasSeenObservable"
                    name="isFirstTimeAooHasSeenObservable">Is this the first time AOO has seen this
                    observable?</mat-checkbox>
            </div>

            <mat-divider class="my-3"></mat-divider>

            <div class="mb-3">
                <mat-label>Select which categories this observable is related
                    to:</mat-label>
            </div>


            <mat-checkbox class="example-margin" [(ngModel)]="anomaly.categories.physical" name="physical">ICS
                (Physical Equipment)</mat-checkbox>
            <br />
            <mat-checkbox class="example-margin" [(ngModel)]="anomaly.categories.digital" name="digital">Digital
                (ICS Process)</mat-checkbox>
            <br />
            <mat-checkbox class="example-margin" [(ngModel)]="anomaly.categories.network" name="network">Network
            </mat-checkbox>

            <div class="example-full-width" appearance="fill" *ngIf="
              anomaly.categories.physical ||
              anomaly.categories.digital ||
              anomaly.categories.network
            ">

                <mat-divider class="my-3"></mat-divider>

                <mat-checkbox class="example-margin" [(ngModel)]="anomaly.questions.affectingOperations"
                    name="affectingOperations">Is this affecting operations?</mat-checkbox>

                <mat-form-field *ngIf="anomaly.questions.affectingOperations" class="example-full-width"
                    appearance="fill">
                    <mat-label>Describe the affected operations</mat-label>
                    <textarea autosize [minRows]="3" matInput [(ngModel)]="
                  anomaly.questions.affectingOperationsDescription
                " name="affectingOperationsDescription"></textarea>
                </mat-form-field>

                <br />
                <mat-checkbox class="example-margin" [(ngModel)]="anomaly.questions.affectingProcesses"
                    name="affectingProcesses">Is this affecting processes? (Safety, Production, Etc.)
                    Yes</mat-checkbox>
                <mat-form-field *ngIf="anomaly.questions.affectingProcesses" class="example-full-width"
                    appearance="fill">
                    <mat-label>Describe the affected processes</mat-label>
                    <textarea autosize [minRows]="3" matInput [(ngModel)]="
                  anomaly.questions.affectingProcessesDescription
                " name="affectingProcessesDescription"></textarea>
                </mat-form-field>
                <br />
            </div>
            <div class="example-full-width" appearance="fill" *ngIf="
              anomaly.categories.physical || anomaly.categories.digital
            ">
                <mat-checkbox class="example-margin" [(ngModel)]="anomaly.questions.multipleDevices"
                    name="multipleDevices">Were multiple devices involved?
                </mat-checkbox>
                <mat-form-field *ngIf="anomaly.questions.multipleDevices" class="example-full-width" appearance="fill">
                    <mat-label>Describe the devices involved</mat-label>
                    <textarea autosize [minRows]="3" matInput [(ngModel)]="anomaly.questions.multipleDevicesDescription"
                        name="multipleDevicesDescription"></textarea>
                </mat-form-field>
                <br />
            </div>
            <div class="example-full-width" appearance="fill" *ngIf="anomaly.categories.network">
                <mat-checkbox class="example-margin" [(ngModel)]="anomaly.questions.multipleNetworkLayers"
                    name="multipleNetworkLayers">Did the observable event manifest in multiple network
                    layers?</mat-checkbox>
                <mat-form-field *ngIf="anomaly.questions.multipleNetworkLayers" class="example-full-width"
                    appearance="fill">
                    <mat-label>Describe the affected network layers involved</mat-label>
                    <textarea autosize [minRows]="3" matInput [(ngModel)]="
                  anomaly.questions.multipleNetworkLayersDescription
                " name="multipleNetworkLayersDescription"></textarea>
                </mat-form-field>
                <br />
            </div>

        </form>

        <mat-divider class="my-3"></mat-divider>

        <h5>Additional detail</h5>

        <label> Describe what was anomalous about this observation </label>
        <br />

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <br />
                </td>
                <td>
                    <label> ...Was observed </label>
                </td>
                <td>
                    <label> ...Was not observed </label>
                </td>
                <td>
                    <label> ...Can't tell </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> What else should <br />be observed? </label>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" [minRows]="3" matInput
                            [(ngModel)]="anomaly.observedShouldBeAndWas" name="observedShouldBeAndWas"></textarea>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" [minRows]="3" matInput
                            [(ngModel)]="anomaly.observedShouldBeAndWasNot" name="observedShouldBeAndWasNot"></textarea>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" matInput [(ngModel)]="anomaly.observedShouldBeAndCantTell"
                            name="observedShouldBeAndCantTell"></textarea>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <label> What else should <br />not be observed? </label>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" [minRows]="3" matInput
                            [(ngModel)]="anomaly.observedShoulNotdBeAndWas" name="observedShoulNotBeAndWas"></textarea>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" [minRows]="3" matInput
                            [(ngModel)]="anomaly.observedShouldNotBeAndWasNot"
                            name="observedShouldNotBeAndWasNot"></textarea>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label></mat-label>
                        <textarea style="height: 64px" [minRows]="3" matInput
                            [(ngModel)]="anomaly.observedShouldNotBeAndCantTell"
                            name="observedShouldNotBeAndCantTell"></textarea>
                    </mat-form-field>
                </td>
            </tr>
        </table>


    </mat-expansion-panel>
</mat-accordion>