.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
font-weight:normal;
}

div.p
{
direction: ltr;
text-align: left;
text-indent: 0px;
margin-left: 0px;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 0pt;
}
div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
div.h1
{
direction: ltr;
text-align: center;
text-indent: 0px;
margin-left: 0px;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 0pt;
}
h1
{
font-family:"Arial";
font-size: 20pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h2
{
direction: ltr;
text-align: left;
text-indent: 0px;
margin-left: 0px;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 0pt;
}
h2
{
font-family:"Arial";
font-size: 16pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h3
{
direction: ltr;
text-align: left;
text-indent: 0px;
margin-left: 0px;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 0pt;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.Bullet
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.Caption
{
font-family:"Arial";
font-size: 11pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.Subtitle
{
font-family:"Arial";
font-size: 12pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.T1
{
font-family:"Arial";
font-size: 14pt;color:#003366;
font-style:normal;
text-decoration:underline;
font-weight:normal;
}

@font-face
{
font-family:"Font Awesome 6 Free";
font-style:normal;
font-weight:900;
font-display:block;
src:url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.ttf") format("truetype");
}

table.de-text-block
{
border-collapse:separate;
border-spacing:0px;
}

table.de-text-block > tbody > tr > td.de-tb-icon
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-text
{
vertical-align:top;
width:100%;
}

table.de-text-block > tbody > tr > td.de-tb-icon > span.de-text-block-icon, table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:inline-block;
font-family:"Font Awesome 6 Free";
font-weight:900;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-style:normal;
font-variant:normal;
line-height:1;
text-rendering:auto;
width:1.25em;
text-align:center;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:none;
}

table.de-text-block-info
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#d9edf7;border-left-style:solid;border-left-width:1px;border-left-color:#bce8f1;border-top-style:solid;border-top-width:1px;border-top-color:#bce8f1;border-right-style:solid;border-right-width:1px;border-right-color:#bce8f1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#bce8f1;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#317096;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-info > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-note
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fafafa;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#999999;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-note > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-success
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#dff0d8;border-left-style:solid;border-left-width:1px;border-left-color:#d6e9c6;border-top-style:solid;border-top-width:1px;border-top-color:#d6e9c6;border-right-style:solid;border-right-width:1px;border-right-color:#d6e9c6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d6e9c6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#3c763d;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-success > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-warning
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fcf8e3;border-left-style:solid;border-left-width:1px;border-left-color:#faebcc;border-top-style:solid;border-top-width:1px;border-top-color:#faebcc;border-right-style:solid;border-right-width:1px;border-right-color:#faebcc;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#faebcc;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#f0ad4e;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-error
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2dede;border-left-style:solid;border-left-width:1px;border-left-color:#ebccd1;border-top-style:solid;border-top-width:1px;border-top-color:#ebccd1;border-right-style:solid;border-right-width:1px;border-right-color:#ebccd1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ebccd1;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#d9534f;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-error > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-quote
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2f2f2;border-left-style:solid;border-left-width:3px;border-left-color:#c8c8c8;border-top-style:none;border-top-width:1px;border-top-color:#000000;border-right-style:none;border-right-width:1px;border-right-color:#000000;border-bottom-style:none;border-bottom-width:1px;border-bottom-color:#000000;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}

table.de-text-block-spoiler
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:transparent;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0px;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon
{
padding-left:8px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0px;margin-top:5px;margin-right:8px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler
{
padding-left:0px;padding-top:8px;padding-right:0px;padding-bottom:8px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-text
{
padding-left:0px;padding-top:8px;padding-right:8px;padding-bottom:8px;
}
div.de_026A006CB7
{
text-align:left;}
div.de_0711D341CE
{
text-indent:0px;margin-left:50px;}
div.de_1413BC2305
{
text-indent:0px;margin-left:1px;}
div.de_1A360002F4
{
text-indent:0px;margin-left:100px;margin-top:0pt;margin-bottom:0pt;}
div.de_381126D56C
{
text-indent:0px;margin-left:100px;}
div.de_38B3956165
{
text-align:center;}
div.de_781DDDC29F
{
text-indent:0px;margin-left:200px;margin-top:0pt;margin-bottom:0pt;}
div.de_DED146C894
{
text-indent:0px;margin-left:50px;margin-top:0pt;margin-bottom:0pt;}
div.de_F3658E0520
{
text-indent:0px;margin-left:150px;margin-top:0pt;margin-bottom:0pt;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_01FCC507AB
{
	font-family: "Arial Bold";
	font-size: 13pt;
	color:#004364;
}
span.de_065E82921A
{
	font-family: "Arial";
	font-size: 14pt;
	color:#4951b6;
}
span.de_066BA0965E
{
	font-family: "Arial";
	font-size: 11pt;
	color:#ffa800;
}
span.de_080F4712CD
{
	font-family: "Arial";
	font-size: 12pt;
	color:#213a63;
}
span.de_164D6FD52B
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0b0080;
	text-decoration:underline;
}
span.de_1B34CF3DDC
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0070c0;
}
span.de_1FF6BF54A0
{
	font-family: "Arial";
	font-size: 11pt;
	color:#1f5724;
}
span.de_2257DE664C
{
	font-family: "Arial";
	font-size: 16pt;
	color:#003366;
}
span.de_2385B26FC8
{
	font-family: "Arial";
	font-size: 12pt;
	color:#003366;
}
span.de_23C19DE48C
{
	font-family: "Times New Roman";
	font-size: 11pt;
	color:#000000;
}
span.de_26862E2C77
{
	font-family: "Arial";
	font-size: 11pt;
	color:#a31515;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_2BB7AA1836
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0066b2;
}
span.de_32D08014E9
{
	font-family: "Arial";
	font-size: 11pt;
	color:#003366;
}
span.de_3E0818D7F1
{
	color:#ffa800;
}
span.de_403BE9223A
{
	font-size: 10pt;
}
span.de_45044C421C
{
	font-size: 18pt;
	color:#003366;
}
span.de_45105D3361
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
	text-decoration:underline;
}
span.de_461F34A8F1
{
	font-family: "Calibri";
	font-size: 12pt;
}
span.de_476D3D315E
{
	text-decoration:underline;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_5EC8135B83
{
	font-family: "Arial";
	font-size: 11pt;
	color:#222222;
}
span.de_5EDD1287A9
{
	font-family: "Arial";
	font-size: 14pt;
	color:#003366;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_6C2B69BD23
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_6C8983303A
{
	font-family: "Arial";
	font-size: 16pt;
	color:#213a63;
}
span.de_6F7A601F57
{
	font-size: 28pt;
}
span.de_7DFD18CEFC
{
	font-family: "AppleSystemUIFont";
	font-size: 11pt;
	color:#000000;
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_80AE12ABFF
{
	font-family: "Arial";
	font-size: 16pt;
	color:#0a5278;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_8441C0A894
{
	font-family: "Arial";
	font-size: 11pt;
	color:#ff003c;
}
span.de_8875473D98
{
	color:#ff3600;
}
span.de_8C403700ED
{
	font-family: "Arial";
	font-size: 11pt;
}
span.de_96372F1890
{
	font-family: "Slack-Lato";
	font-size: 11pt;
	color:#0066cc;
}
span.de_98CC41B486
{
	font-family: "Slack-Lato";
	font-size: 11pt;
	color:#1d1c1d;
}
span.de_A6255A6E85
{
	font-family: "Arial";
	font-size: 11pt;
	color:#ff3600;
}
span.de_A94F92E31D
{
	font-family: "Arial";
	font-size: 13pt;
	color:#004364;
}
span.de_AC2A21CFAA
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#0070c0;
}
span.de_B08658AEBF
{
	font-family: "Arial";
	font-size: 20pt;
	color:#0a5278;
}
span.de_BF5C462F22
{
	font-family: "Arial";
	font-size: 11pt;
	color:#1f3864;
}
span.de_C420D46F90
{
	font-family: "Arial";
	font-size: 11pt;
	color:#23527c;
	text-decoration:underline;
}
span.de_CC7DAF531E
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
}
span.de_CED2805213
{
	color:#ff003c;
}
span.de_D13D14CE0A
{
	font-family: "Arial";
	font-size: 11pt;
	color:#213a63;
}
span.de_D8BCB2AC4C
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
}
span.de_E0B81922AE
{
	font-family: "Arial";
	font-size: 11pt;
	color:#23527c;
}
span.de_E0D79DE1AC
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_E71183D815
{
	font-family: "Times New Roman";
	font-size: 13pt;
	color:#000000;
}
span.de_F9ED0DACC8
{
	font-family: "Arial";
	font-size: 11pt;
	color:#a55858;
	text-decoration:underline;
}
span.de_FB0F3F18D6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#3f3f3f;
}
span.de_FE04B87F3C
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_FFB638AC42
{
	font-size: 11pt;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, disc) '\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, disc) '\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8 > div > * {
	text-indent: 0px;}
.list-counter-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8, disc) '\00a0';
	counter-increment: list-counter-8;
}
.list-counter-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9 > div > * {
	text-indent: 0px;}
.list-counter-9 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9, disc) '\00a0';
	counter-increment: list-counter-9;
}
.list-counter-9 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-10 > div > * {
	text-indent: 0px;}
.list-counter-10 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-10, disc) '\00a0';
	counter-increment: list-counter-10;
}
.list-counter-10 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11 > div > * {
	text-indent: 0px;}
.list-counter-11 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11, disc) '\00a0';
	counter-increment: list-counter-11;
}
.list-counter-11 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-12 > div > * {
	text-indent: 0px;}
.list-counter-12 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-12, disc) '\00a0';
	counter-increment: list-counter-12;
}
.list-counter-12 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-13 > div > * {
	text-indent: 0px;}
.list-counter-13 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-13, disc) '\00a0';
	counter-increment: list-counter-13;
}
.list-counter-13 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-14 > div > * {
	text-indent: 0px;}
.list-counter-14 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-14, disc) '\00a0';
	counter-increment: list-counter-14;
}
.list-counter-14 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-15 > div > * {
	text-indent: 0px;}
.list-counter-15 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-15, disc) '\00a0';
	counter-increment: list-counter-15;
}
.list-counter-15 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-16 > div > * {
	text-indent: 0px;}
.list-counter-16 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-16, disc) '\00a0';
	counter-increment: list-counter-16;
}
.list-counter-16 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-17 > div > * {
	text-indent: 0px;}
.list-counter-17 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-17, disc) '\00a0';
	counter-increment: list-counter-17;
}
.list-counter-17 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-18 > div > * {
	text-indent: 0px;}
.list-counter-18 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-18, disc) '\00a0';
	counter-increment: list-counter-18;
}
.list-counter-18 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-19 > div > * {
	text-indent: 0px;}
.list-counter-19 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-19, disc) '\00a0';
	counter-increment: list-counter-19;
}
.list-counter-19 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-20 > div > * {
	text-indent: 0px;}
.list-counter-20 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-20, disc) '\00a0';
	counter-increment: list-counter-20;
}
.list-counter-20 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-21 > div > * {
	text-indent: 0px;}
.list-counter-21 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-21, disc) '\00a0';
	counter-increment: list-counter-21;
}
.list-counter-21 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-22 > div > * {
	text-indent: 0px;}
.list-counter-22 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-22, disc) '\00a0';
	counter-increment: list-counter-22;
}
.list-counter-22 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-23 > div > * {
	text-indent: 0px;}
.list-counter-23 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-23, disc) '\00a0';
	counter-increment: list-counter-23;
}
.list-counter-23 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-24 > div > * {
	text-indent: 0px;}
.list-counter-24 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-24, disc) '\00a0';
	counter-increment: list-counter-24;
}
.list-counter-24 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-25 > div > * {
	text-indent: 0px;}
.list-counter-25 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-25, disc) '\00a0';
	counter-increment: list-counter-25;
}
.list-counter-25 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-26 > div > * {
	text-indent: 0px;}
.list-counter-26 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-26, disc) '\00a0';
	counter-increment: list-counter-26;
}
.list-counter-26 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-27 > div > * {
	text-indent: 0px;}
.list-counter-27 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-27, disc) '\00a0';
	counter-increment: list-counter-27;
}
.list-counter-27 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-28 > div > * {
	text-indent: 0px;}
.list-counter-28 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-28, disc) '\00a0';
	counter-increment: list-counter-28;
}
.list-counter-28 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-29 > div > * {
	text-indent: 0px;}
.list-counter-29 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-29, disc) '\00a0';
	counter-increment: list-counter-29;
}
.list-counter-29 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-30 > div > * {
	text-indent: 0px;}
.list-counter-30 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-30, disc) '\00a0';
	counter-increment: list-counter-30;
}
.list-counter-30 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-31 > div > * {
	text-indent: 0px;}
.list-counter-31 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-31, disc) '\00a0';
	counter-increment: list-counter-31;
}
.list-counter-31 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-32 > div > * {
	text-indent: 0px;}
.list-counter-32 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-32, disc) '\00a0';
	counter-increment: list-counter-32;
}
.list-counter-32 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-33 > div > * {
	text-indent: 0px;}
.list-counter-33 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-33, disc) '\00a0';
	counter-increment: list-counter-33;
}
.list-counter-33 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-34 > div > * {
	text-indent: 0px;}
.list-counter-34 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-34, disc) '\00a0';
	counter-increment: list-counter-34;
}
.list-counter-34 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-35 > div > * {
	text-indent: 0px;}
.list-counter-35 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-35, disc) '\00a0';
	counter-increment: list-counter-35;
}
.list-counter-35 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-36 > div > * {
	text-indent: 0px;}
.list-counter-36 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-36, disc) '\00a0';
	counter-increment: list-counter-36;
}
.list-counter-36 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-37 > div > * {
	text-indent: 0px;}
.list-counter-37 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-37, disc) '\00a0';
	counter-increment: list-counter-37;
}
.list-counter-37 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-38 > div > * {
	text-indent: 0px;}
.list-counter-38 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-38, disc) '\00a0';
	counter-increment: list-counter-38;
}
.list-counter-38 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-39 > div > * {
	text-indent: 0px;}
.list-counter-39 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-39, disc) '\00a0';
	counter-increment: list-counter-39;
}
.list-counter-39 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-40 > div > * {
	text-indent: 0px;}
.list-counter-40 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-40, disc) '\00a0';
	counter-increment: list-counter-40;
}
.list-counter-40 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-41 > div > * {
	text-indent: 0px;}
.list-counter-41 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-41, disc) '\00a0';
	counter-increment: list-counter-41;
}
.list-counter-41 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-42 > div > * {
	text-indent: 0px;}
.list-counter-42 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-42, disc) '\00a0';
	counter-increment: list-counter-42;
}
.list-counter-42 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-43 > div > * {
	text-indent: 0px;}
.list-counter-43 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-43, disc) '\00a0';
	counter-increment: list-counter-43;
}
.list-counter-43 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-44 > div > * {
	text-indent: 0px;}
.list-counter-44 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-44, disc) '\00a0';
	counter-increment: list-counter-44;
}
.list-counter-44 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-45 > div > * {
	text-indent: 0px;}
.list-counter-45 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-45, decimal) '.\00a0';
	counter-increment: list-counter-45;
}
.list-counter-45 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-46 > div > * {
	text-indent: 0px;}
.list-counter-46 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-46, disc) '\00a0';
	counter-increment: list-counter-46;
}
.list-counter-46 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-47 > div > * {
	text-indent: 0px;}
.list-counter-47 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-47, disc) '\00a0';
	counter-increment: list-counter-47;
}
.list-counter-47 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-48 > div > * {
	text-indent: 0px;}
.list-counter-48 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-48, disc) '\00a0';
	counter-increment: list-counter-48;
}
.list-counter-48 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-49 > div > * {
	text-indent: 0px;}
.list-counter-49 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-49, disc) '\00a0';
	counter-increment: list-counter-49;
}
.list-counter-49 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-50 > div > * {
	text-indent: 0px;}
.list-counter-50 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-50, disc) '\00a0';
	counter-increment: list-counter-50;
}
.list-counter-50 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-51 > div > * {
	text-indent: 0px;}
.list-counter-51 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-51, disc) '\00a0';
	counter-increment: list-counter-51;
}
.list-counter-51 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-52 > div > * {
	text-indent: 0px;}
.list-counter-52 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-52, disc) '\00a0';
	counter-increment: list-counter-52;
}
.list-counter-52 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-53 > div > * {
	text-indent: 0px;}
.list-counter-53 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-53, disc) '\00a0';
	counter-increment: list-counter-53;
}
.list-counter-53 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-54 > div > * {
	text-indent: 0px;}
.list-counter-54 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-54, disc) '\00a0';
	counter-increment: list-counter-54;
}
.list-counter-54 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-55 > div > * {
	text-indent: 0px;}
.list-counter-55 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-55, disc) '\00a0';
	counter-increment: list-counter-55;
}
.list-counter-55 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-56 > div > * {
	text-indent: 0px;}
.list-counter-56 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-56, disc) '\00a0';
	counter-increment: list-counter-56;
}
.list-counter-56 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-57 > div > * {
	text-indent: 0px;}
.list-counter-57 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-57, disc) '\00a0';
	counter-increment: list-counter-57;
}
.list-counter-57 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
