<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-books-stack-2"></span>
    <span>Add Requirement</span>
  </div>

  <form class="p-3 pr-0 oy-auto d-flex flex-column flex-11a">
    <mat-dialog-content>
      <p>
        Category and Subcategory are used to group Requirements in CSET. Question Group Heading and Subcategory are
        used to group related questions.
      </p>

      <div class="form-group">
        <label for="category">Category</label>
        <input required #editCat #cat="ngModel" type="text" maxlength="250" class="form-control" id="category"
          name="category" list="catoptions" [(ngModel)]="model.category">
        <datalist id="catoptions">
          <option *ngFor="let category of categories" [attr.data-value]="category.id" [value]="category.text"></option>
        </datalist>
        <div *ngIf="submitted && !cat.valid" class="m-0 mt-2 alert alert-danger">Category is required</div>
      </div>

      <div class="form-group">
        <label for="subcategory">Question Group Heading</label>
        <select required #groupheading="ngModel" id="groupheading" name="groupheading"
          [(ngModel)]="model.questionGroupHeadingID" class="form-control">
          <option *ngFor="let heading of groupHeadings" [value]="heading.id">{{ heading.text }}</option>
        </select>
        <div *ngIf="submitted && !groupheading.valid" class="m-0 mt-2 alert alert-danger">Question Group Heading is
          required</div>
      </div>

      <div class="form-group">
        <label for="subcategory">Subcategory</label>
        <input required #subcat="ngModel" type="text" maxlength="100" id="subcategory" name="subcategory"
          [(ngModel)]="model.subcategory" list="subcatoptions" class="form-control" />
        <datalist id="subcatoptions">
          <option *ngFor="let subcategory of subcategories" [attr.data-value]="subcategory.id"
            [value]="subcategory.text"></option>
        </datalist>
        <div *ngIf="submitted && !subcat.valid" class="m-0 mt-2 alert alert-danger">Subcategory is required</div>
      </div>

      <div class="form-group">
        <label for="title">Title/Identifier</label>
        <input required #title="ngModel" id="title" name="title" [(ngModel)]="model.title" class="form-control">
        <div *ngIf="submitted && !title.valid" class="m-0 mt-2 alert alert-danger">Title is required</div>
      </div>

      <div class="form-group">
        <label for="requirementText">Requirement Text</label>
        <textarea appAutoSize required #requirementText="ngModel" id="requirementText" name="requirementText"
          [(ngModel)]="model.requirementText" class="form-control"></textarea>
        <div *ngIf="submitted && !requirementText.valid" class="m-0 mt-2 alert alert-danger">Requirement Text is
          required</div>
      </div>

    </mat-dialog-content>
  </form>
  <mat-dialog-actions class="p-3 mb-0 d-flex justify-content-between flex-00a">
    <button class="btn btn-primary" (click)="create()">Create</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</div>