<!---------------------- 

   Copyright 2025 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<ng-container *transloco="let t">

  <div>
    <div class="lmhvh-display">
      <div>
        <h4>{{t('titles.sal.confidentiality')}}</h4>
        <div style="margin-bottom: 10px;">
          {{t('titles.sal.confidentiality text')}}
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
            <label [attr.csetid]="'Confidentiality' + level.value" class="btn btn-level btn-rounded form-check-label"
              [class.active]="level.value === this.salsSvc.selectedSAL?.cLevel"
              (click)="salsSvc.saveSalLevels(level.value,'C')">
              <input class="btn-check" type="radio" autocomplete="off" name="sal_confidentiality"
                [checked]="level.value === this.salsSvc.selectedSAL?.cLevel"> {{t('titles.sal.level.' +
              level.value.toLowerCase())}}
            </label>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="lmhvh-display">
      <div>
        <h4>{{t('titles.sal.integrity')}}</h4>
        <div style="margin-bottom: 10px;">
          {{t('titles.sal.integrity text')}}
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
            <label [attr.csetid]="'Integrity' + level.value" class="btn btn-level btn-rounded form-check-label"
              [class.active]="level.value === this.salsSvc.selectedSAL?.iLevel"
              (click)="salsSvc.saveSalLevels(level.value,'I')">
              <input class="btn-check" type="radio" tabindex="0" autocomplete="off" name="sal_integrity"
                [checked]="level.value === this.salsSvc.selectedSAL?.iLevel"> {{t('titles.sal.level.' +
              level.value.toLowerCase())}}
            </label>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="lmhvh-display">
      <div>
        <h4>{{t('titles.sal.availability')}}</h4>
        <div style="margin-bottom: 10px;">
          {{t('titles.sal.availability text')}}
        </div>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
          <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
            <label [attr.csetid]="'Availability' + level.value" class="btn btn-level btn-rounded form-check-label"
              [class.active]="level.value === this.salsSvc.selectedSAL?.aLevel"
              (click)="salsSvc.saveSalLevels(level.value,'A')">
              <input class="btn-check" type="radio" tabindex="0" autocomplete="off" name="sal_availability"
                [checked]="level.value === this.salsSvc.selectedSAL?.aLevel"> {{t('titles.sal.level.' +
              level.value.toLowerCase())}}
            </label>
          </ng-template>
        </div>
      </div>
    </div>


    <div class="fips-instructions mb-3">
      <p>
        {{t('titles.sal.nist.fips guide text')}}
      </p>
      <div class="fips-reference">
        <a href="{{configSvc.docUrl}}ApplicationDocuments/FIPS199Language.html" tabindex="0" rel="noopener noreferrer"
          target="_blank">
          <i class="icon icon-openbookicon vmiddle me-1"></i>FIPS 199 SAL Selection Guidance</a>
      </div>
      <p>{{t('titles.sal.nist.fips other guides')}}</p>
      <div class="fips-reference">
        <a href="{{configSvc.apiUrl}}library/doc/511" tabindex="0" rel="noopener noreferrer" target="_blank">
          <i class="icon icon-openbookicon vmiddle me-1"></i>FIPS 199</a>
        <a href="{{configSvc.apiUrl}}library/doc/2081" tabindex="0" rel="noopener noreferrer" target="_blank">
          <i class="icon icon-openbookicon vmiddle me-1"></i>NIST SP800-60 Vol I</a>
        <a href="{{configSvc.apiUrl}}library/doc/2116" tabindex="0" rel="noopener noreferrer" target="_blank">
          <i class="icon icon-openbookicon vmiddle me-1"></i>NIST SP800-60 Vol II</a>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <h4>{{t('titles.sal.nist.selected information types')}}</h4>
    <div class="mb-3">
      <p>{{t('titles.sal.nist.check applicable')}}</p>
      <table class="nist-sal-info-types" style="table-layout: fixed">
        <tr>
          <th style="width:5%"></th>
          <th style="width: 50%">{{t('type')}}</th>
          <th style="width: 15%" class="text-center">C</th>
          <th style="width: 15%" class="text-center">I</th>
          <th style="width: 15%" class="text-center">A</th>
        </tr>
        <tr *ngFor="let model of topModel?.models; let i = index">
          <td>
            <input type="checkbox" [attr.csetid]="'checkbox' + model.type_Value" [id]="'cb_model' + i" tabindex="0"
              value="{{model.type_Value}}" (change)="checkBoxChanged($event, model)" [checked]="model.selected"
              class="checkbox-custom">
            <label [for]="'cb_model' + i" class="checkbox-custom-label"></label>
          </td>
          <td>
            <label [for]="'cb_model' + i">
              {{model.type_Value}}<ng-container *ngIf="!!model.nisT_Number">: {{model.nisT_Number}}</ng-container></label>
          </td>
          <td class="text-center">
            <a [attr.csetid]="'ConfidentialitySpecialFactorC' + model.type_Value" class="special-factors-link"
              tabindex="0" *ngIf='model.confidentiality_Special_Factor; else basicC'
              matTooltip="{{t('titles.sal.nist.tooltip c')}}" (click)="changeSpecialFactor(model, 'C')">
              {{salsSvc.getDisplayLevel(model.confidentiality_Value)}}
            </a>
            <ng-template #basicC>{{salsSvc.getDisplayLevel(model.confidentiality_Value)}}</ng-template>
          </td>
          <td class="text-center">
            <a [attr.csetid]="'ConfidentialitySpecialFactorI' + model.type_Value" class="special-factors-link"
              tabindex="0" *ngIf='model.integrity_Special_Factor; else basicI'
              matTooltip="{{t('titles.sal.nist.tooltip i')}}" (click)="changeSpecialFactor(model, 'I')">
              {{salsSvc.getDisplayLevel(model.integrity_Value)}}
            </a>
            <ng-template #basicI>{{salsSvc.getDisplayLevel(model.integrity_Value)}}</ng-template>
          </td>
          <td class="text-center">
            <a [attr.csetid]="'ConfidentialitySpecialFactorA' + model.type_Value" class="special-factors-link"
              tabindex="0" *ngIf='model.availability_Special_Factor; else basicA'
              matTooltip="{{t('titles.sal.nist.tooltip a')}}"
              (click)="changeSpecialFactor(model, 'A')">{{salsSvc.getDisplayLevel(model.availability_Value)}}</a>
            <ng-template #basicA>
              {{salsSvc.getDisplayLevel(model.availability_Value)}}
            </ng-template>
          </td>
        </tr>
      </table>
    </div>


    <div class="mb-3">
      <h4>{{t('titles.sal.nist.answer questions')}}</h4>
      <table class="nist-sal-questions table">
        <tr *ngFor="let question of topModel?.questions">
          <td>{{question.question_Text}}</td>
          <td class="yes-no-answers">
            <div class="btn-group btn-group-toggle" style="white-space: nowrap" data-toggle="buttons">
              <label [attr.csetid]="question.question_Text + 'Yes'" class="btn btn-level btn-rounded form-check-label"
                [class.active]="question.question_Answer === 'Yes'" (click)="saveQuestionChanged(question,'Yes')">
                <input class="btn-check" type="radio" autocomplete="off" name="options{{question.question_Number}}"
                  [checked]="question.question_Answer === 'Yes'">{{t('answer-options.labels.yes')}}
              </label>
              <label [attr.csetid]="question.question_Text + 'No'" class="btn btn-level btn-rounded form-check-label"
                [class.active]="question.question_Answer === 'No'" (click)="saveQuestionChanged(question,'No')">
                <input class="btn-check" type="radio" autocomplete="off" name="options{{question.question_Number}}"
                  [checked]="question.question_Answer === 'No'">{{t('answer-options.labels.no')}}
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <div class="mb-3">
      <h4>{{t('titles.sal.nist.determine special factors')}}</h4>
      <div class="form-group special-factors">
        <label for="ConfidentialitySpecialFactor">{{t('titles.sal.nist.confidentiality special factor')}}</label>
        <textarea class="form-control" tabindex="0" id="ConfidentialitySpecialFactor"
          [(ngModel)]="confidentialitySpecialFactor" (change)="specialFactor()"></textarea>
        <label for="IntegritySpecialFactor">{{t('titles.sal.nist.integrity special factor')}}</label>
        <textarea class="form-control" id="IntegritySpecialFactor"
          [(ngModel)]="integritySpecialFactor" (change)="specialFactor()"></textarea>
        <label for="AvailabilitySpecialFactor">{{t('titles.sal.nist.availability special factor')}}</label>
        <textarea class="form-control" tabindex="0" id="AvailabilitySpecialFactor"
          [(ngModel)]="availabilitySpecialFactor" (change)="specialFactor()"></textarea>
      </div>
    </div>
  </div>
</ng-container>