<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->

<ng-container *transloco="let t">
    <h4>{{t('demographics')}}</h4>
    <div class="assess-component d-flex flex-column justify-content-start flex-11a mb-4">
        <div class="button-container">
            <table>
                <th>
                    <button class="icon-link-button-text-dark" tabindex="0" id="demographic-import"
                        class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
                        matTooltip="{{t('buttons.import demographics')}}" (click)="uploader.click()">
                        <span class="mr-2 fs-base cset-icons-import"></span>
                        <input #uploader hidden type="file" tabindex="0" class="hidden-input" id="importFile" multiple
                            accept=".json" (change)="importClick($event)">
                        <span class="icon-link-button-text-dark">{{t('buttons.import')}}</span>
                    </button>
                </th>
                <th>
                    <button tabindex="0" id="demographic-export"
                        class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
                        (click)="exportClick()" matTooltip="{{t('buttons.export demographics')}}">
                        <span class="cset-icons-export-up fs-base-2 mr-2"></span>
                        <span class="icon-link-button-text-dark">{{t('buttons.export')}}</span>
                    </button>
                </th>
            </table>
        </div>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="mb-1" for="sector">{{t('sector')}}</label>
                <select class="form-control" id="sector" name="sector" tabindex="0"
                    (change)="onSelectSector($event.target.value)" [(ngModel)]="demographicData.sectorId">
                    <option [ngValue]="null">-- {{ t('select sector') }} --</option>
                    <option *ngFor="let sector of sectorsList" [value]="sector.sectorId">{{sector.sectorName}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="mb-1" for="industry">{{t('industry')}}</label>
                <select class="form-control" id="industry" name="industry" tabindex="0"
                    [(ngModel)]="demographicData.industryId" (change)="update($event)">
                    <option [ngValue]="null">-- {{ t('select industry') }} --</option>
                    <option *ngFor="let industry of industryList" [value]="industry.industryId">
                        {{industry.industryName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="assetValue">{{t('asset gross value')}}</label>
            <select #assetValueSelect class="form-control" id="assetValue" tabindex="0" name="assetValue"
                (change)="update($event)" [(ngModel)]="demographicData.assetValue">
                <option [ngValue]="null">-- {{t('select gross value')}} --</option>
                <option *ngFor="let asset of assetValues" [value]="asset.demographicsAssetId"
                    [selected]="asset.demographicsAssetId === demographicData.assetValue">{{asset.assetValue}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="size">{{t('expected effort')}}</label>
            <select class="form-control" id="size" tabindex="0" name="size" (change)="update($event)"
                [(ngModel)]="demographicData.size">
                <option [ngValue]="null">-- {{t('select effort')}} --</option>
                <option *ngFor="let s of sizeList" [value]="s.demographicId">{{s.description}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="showOrganizationName()">
            <label for="edmOrganizationName">{{t('org name')}}</label>
            <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="150"
                name="edmOrganizationName" id="edmOrganizationName" [(ngModel)]="demographicData.organizationName"
                #edmOrganizationName="ngModel" placeholder="{{t('org name')}}" (blur)="update($event)">
        </div>
        <div class="form-group" *ngIf="showBusinessAgencyName()">
            <label for="edmAgency">{{t('business unit agency')}}</label>
            <input class="form-control" autocomplete="off" tabindex="0" type="text" maxlength="150" name="edmAgency"
                id="edmAgency" [(ngModel)]="demographicData.agency" #edmAgancy="ngModel"
                placeholder="{{t('business unit agency')}}" (blur)="update($event)">
        </div>
        <div class="form-group">
            <label for="edmOrganizationType">{{t('org type')}}</label>
            <select *ngIf="isSLTT" class="form-control" id="edmOrganizationType" tabindex="0" name="edmOrganizationType"
                (change)="update($event)" [(ngModel)]="demographicData.organizationType">
                <option [ngValue]="null">-- {{t('select type')}} --</option>
                <option *ngFor="let t of orgTypes" [value]="t.organizationTypeId">{{t.organizationType}}</option>
            </select>
            <select *ngIf="!isSLTT" class="form-control" id="edmOrganizationType" tabindex="0"
                name="edmOrganizationType" (change)="update($event)" [(ngModel)]="demographicData.organizationType">
                <option [ngValue]="null">-- {{t('select type')}} --</option>
                <ng-container *ngFor="let t of orgTypes">
                    <option *ngIf="t.organizationTypeId!==3" [value]="t.organizationTypeId">{{t.organizationType}}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="form-group" *ngIf="true">
            <label class="mb-1" for="orgPointOfContact">{{t('org poc')}}</label>
            <select class="form-control" id="orgPointOfContact" tabindex="0" name="orgPointOfContact"
                (change)="update($event)" [(ngModel)]="demographicData.orgPointOfContact">
                <option [ngValue]="null">-- {{t('select contact')}} --</option>
                <option *ngFor="let contact of contacts" [value]="contact.assessmentContactId">{{contact.firstName}}
                    {{contact.lastName}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="showFacilitator()">
            <label class="mb-1" for="edmFacilitator">{{t('contact.facilitator')}}</label>
            <select class="form-control" id="edmFacilitator" tabindex="0" name="edmFacilitator"
                (change)="update($event)" [(ngModel)]="demographicData.facilitator">
                <option [ngValue]="null">-- {{t('select facilitator')}} --</option>
                <option *ngFor="let contact of contacts" [value]="contact.assessmentContactId">{{contact.firstName}}
                    {{contact.lastName}}</option>
            </select>
        </div>
        <div class="form-row" *ngIf="showCriticalService()">
            <div class="form-group col-md-6">
                <label class="mb-1" for="criticalService">{{t('critical service name')}}</label>
                <textarea appAutoSize class="form-control" autocomplete="off" tabindex="0" maxlength="100"
                    name="criticalService" id="criticalService" [(ngModel)]="demographicData.criticalService"
                    placeholder="{{t('critical service name')}}" (blur)="update($event)"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label class="mb-1" for="critSvcPointOfContact">{{t('crit svc poc')}}</label>
                <select class="form-control" id="critSvcPointOfContact" tabindex="0" name="critSvcPointOfContact"
                    (change)="update($event)" [(ngModel)]="demographicData.pointOfContact">
                    <option [ngValue]="null">-- {{t('select contact')}} --</option>
                    <option *ngFor="let contact of contacts" [value]="contact.assessmentContactId">{{contact.firstName}}
                        {{contact.lastName}}</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between flex-00a" *ngIf="showEdmFields()">
            <div class="standard-item d-flex justify-content-between flex-11a">
                <div>
                    <input type="checkbox" id="edmIsScoped" name="edmIsScoped" tabindex="0" class="checkbox-custom mt-1"
                        (change)="update($event)" [(ngModel)]="demographicData.isScoped"
                        [checked]="demographicData.isScoped">
                    <label for="edmIsScoped" class="checkbox-custom-label">
                        Suppliers are scoped to include other enterprise business units
                    </label>
                </div>
            </div>
        </div>
    </form>
</ng-container>