<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>
    <ng-container matColumnDef="layer">
      <th mat-header-cell *matHeaderCellDef>Layer </th>
      <td mat-cell *matCellDef="let element"> {{element.layer}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
