li.active {
    position:relative;
    bottom:6px !important;
    border-radius: 5px 5px 0 0;
    
}
ul.nav-tabs li.active button{
    font-size:1rem !important;
}

ul.nav-tabs li {
    padding-top:2px;
    padding-bottom:2px;
}

li.active button span{
    padding-bottom:0;
}

li button span{
    padding-bottom:6px;
}
.input-bar {
    display: table;
    width: 100%;
}

.input-bar-item {
    display: table-cell;
}

.input-bar-item > button {
    margin-left: 5px;
}