<div class="assess-component d-flex flex-column justify-content-start flex-11a w-100">

    <!-- Tabs -->
    <div class="mt-0 pl-0 d-flex flex-column justify-content-start flex-00a">
      <div class="d-flex justify-content-start flex-11a">
        <ul class="nav nav-tabs d-flex flex-11a questions-tab-border">
          <li  style="margin-left:45px;" class="d-flex align-items-center flex-00a" [class.active]="checkActive('newAssessment')"
            (click)="setTab('newAssessment')">
            <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab"
              tabindex="0">
              <span class="tab-icon mr-2" id="prepareIcon"><i class="fa-solid fa-file-circle-plus"></i></span>
              <span class="nav-tab-text">New Assessment</span>
            </button>
          </li>
          <li class="d-flex align-items-center flex-00a" [class.active]="checkActive('myAssessments')"
            (click)="setTab('myAssessments')">
            <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab"
              tabindex="0">
              <span class="tab-icon mr-2" id="questionsIcon"><i class="fa-solid fa-clipboard-check"></i></span>
              <span class="nav-tab-text">My Assessments</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-0 pl-0 d-flex flex-column justify-content-start flex-00a" *ngIf="checkActive('newAssessment')">
        <app-new-assessment></app-new-assessment>
    </div>
    <div *ngIf="checkActive('myAssessments')">
        <app-my-assessments></app-my-assessments>
    </div>
</div>
