<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *transloco="let t">
    <div class="white-panel">

        <h4>Analysis Details</h4>
        <form #f="ngForm">
            <div class="form-row">
                <p *ngIf="showAssessmentNameDisclaimer()">{{t('no pii in name')}}</p>
                <div class="form-group col-md-6">

                    <label class="mb-1" for="name">Project Name for CIE Analysis</label>
                    <input type="text" maxlength="100"
                        class="form-control" id="name" name="name" required focusOnInit="true"
                        [(ngModel)]="assessment.assessmentName" (ngModelChange)="assessment.assessmentName"
                        (change)="update($event)" autofocus tabindex="0">
                    
                </div>
                <div class="form-group col-md-6">
                    <label class="mb-1" for="date">Date of Analysis</label>
                    <input matInput MatDatepickerInput class="form-control" id="date" name="date"
                        [(ngModel)]="assessment.assessmentDate" [matDatepicker]="picker" (focus)="picker.open()"
                        (blur)="update($event)" (click)="picker.open()" (ngModelChange)="update($event)" tabindex="0">
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="mb-1" for="facility">Organization Name</label>
                <input type="text" maxlength="100" class="form-control" id="facility" name="facility"
                    [(ngModel)]="assessment.facilityName" (change)="update($event)" tabindex="0">
            </div>
            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="mb-1" for="citySite">{{t('city or site name')}}</label>
                        <input type="text" maxlength="100" class="form-control" id="citySite" name="citySite"
                            [(ngModel)]="assessment.cityOrSiteName" (change)="update($event)" tabindex="0">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mb-1" for="stateProvRegion">Project {{t('state province region')}}</label>
                        <input type="text" maxlength="100" class="form-control" id="stateProvRegion" name="stateProvRegion"
                            [(ngModel)]="assessment.stateProvRegion" (change)="update($event)" tabindex="0">
                    </div>
            </div>
            <!-- <div class="form-row"> -->
                <div class="form-group">
                    <label class="mb-1" for="otherDetails">Other Details</label>
                    <textarea id="otherDetailsTextarea" name="otherDetailsTextarea" class="form-control mb-2"
                        [style]="('width: 100%; min-height: 40px; max-height: ' + summaryBoxMax + 'px')"
                        [(ngModel)]="assessment.additionalNotesAndComments"
                        (focus)="autoResize()" (keydown)="autoResize()"
                        (change)="update($event)" spellcheck="true" tabindex="0"></textarea>
                            

                    <!-- <input type="text" maxlength="100" class="form-control" id="otherInfo" name="otherInfo"
                        [(ngModel)]="assessment.additionalNotesAndComments" (change)="update($event)" tabindex="0"> -->
                </div>
            <!-- </div> -->
        </form>
        <div class="mt-4">
            <h4>Analysis Type</h4>
            <h5>{{ assessment.typeTitle || 'Blank Analysis' }}</h5>
            <p>
                This CIE Analysis tool within CSET translates the questions in the CIE Implementation Guide into an interactive tool that allows users to conduct an analysis of their CIE implementation for an individual system, process, project, or organization. Unlike an evaluation or assessment, this analysis does not result in a score. Rather, it offers a tool for users to consider the questions with their teams, record and track responses, and ultimately conduct the level of analysis needed to effective implement CIE. 
            </p>
            <p *ngIf="assessment.typeDescription && assessment.typeTitle != assessment.typeDescription"
                [innerHtml]="assessment.typeDescription | safe"></p>

            <div *ngIf="isAwwa">
                <p>
                    Results from the <a href="https://awwa.org/cyber" target="_blank">AWWA Cybersecurity Assessment Tool</a>
                    can be imported into this assessment.
                </p>
                <button class="btn btn-primary" (click)="showAwwaDialog()">Import AWWA Tool Results</button>
            </div>

        </div>
    </div>

    <app-nav-back-next [page]="'assessment-detail-cie'"></app-nav-back-next>

</ng-container>