.border {
    border: 1px solid rgb(179, 179, 179);
}
.color-block {
    height: 6px; 
    width: 16px; 
    border-radius: 2px; 
    margin: 4px;
}
.color-word {
    font-weight: 500; font-size: 66%; opacity: 0.75;
}