.color1 {
    color: #044;
}

.resource-table {
    width: 50%;
}

.resource-table td {
    vertical-align: top;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

.resource-table td.section-ref {
    white-space: nowrap;
}