<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="ok-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 {{iconClass}}"></span>
    <span>{{dialogTitle}}</span>
  </div>

  <mat-dialog-content class="p-3 pb-0 pr-0 oy-auto d-flex flex-column flex-11a">
    <div *ngIf="isFileMode" class="pr-3">
      <p>It appears one or more errors occured during the Malcolm data upload process.<br></p>

      <div *ngIf="have400errors">
        The following files were returned with errors
        <li *ngFor="let error of errorCode400Files"><i>{{ error.file }}, {{ error.message}}</i></li><br>
        <p>Please ensure all files are valid JSON and have the correct schema.</p><br>
      </div>

      <div *ngIf="have415errors">
        The following files were returned because they are an unsupported file type:
        <li *ngFor="let error of errorCode415Files"><i>{{ error.file }} {{error.message}}</i></li><br>
        <p>The upload process only accepts .JSON files at the current time.</p><br>
      </div>

    </div>
    <div *ngIf="!isFileMode" class="pr-3">
      <p>It appears one or more errors occured during the Malcolm data retrieval and upload process.<br></p>
      <li *ngFor="let error of errors"><i>{{ error.message}}</i></li><br>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-3 mb-0 d-flex ml-auto flex-00a">
    <button class="btn btn-secondary" (click)="dialogRef.close(true)">OK</button>
  </mat-dialog-actions>
</div>