<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<!--
<ng-container *ngIf="this.pageLoading === false">
    <div class="p-0 d-flex flex-column justify-content-start flex-11a">
        <div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">
            <div class="text-right"><input type="button" class="btn btn-primary" value="Merge Options"
                (click)="showMergeOptions()"></div>
        </div>
    </div>
</ng-container>
-->

<div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a">
    <h2 class="mt-0">Merge Analyses</h2>
</div>

<div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">
    <div *ngIf="this.pageLoading === true">
        <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
            <div class="spinner-size-50"></div>
            &nbsp;&nbsp;{{ this.assessmentsProcessed }} / {{ this.cieSvc.assessmentsToMerge.length }} Analyses Processed
        </div>
    </div>
</div>

<div class="p-0 d-flex flex-column justify-content-start flex-11a">
    <div class="bgc-trans mt-2 mx-4 pr-4 d-flex flex-column flex-00a ">
        <ng-container *ngIf="this.mergeConflicts.length > 0 && this.pageLoading === false">

            <button class="btn btn-primary" matTooltip="Cancel merging and return to the assessment screen"
                style="margin-top: -3rem; margin-left: auto; margin-right: 0; margin-bottom: 1.50rem"
                (click)="navToHome()">Cancel Merge
            </button>

            <div style="max-height: 450px; width: 94vw; margin: auto; overflow-y: scroll;">
                <table role="presentation" aria-label="assessments" class="assessment-summary" style="overflow-x:auto">
                    <tr>
                        <th>Statements</th>
                        <ng-container *ngFor="let assessment of this.cieSvc.assessmentsToMerge; let i = index">
                            <th [matTooltip]="(this.assessmentNames[i])" matTooltipPosition="above">
                                <!-- {{ i === 0 ? 'Lead Analysis' : 'Analysis ' + (i+1) }} -->
                                {{ 'Analysis ' + (i+1) }}
                            </th>
                            <th [matTooltip]="(this.assessmentNames[i])" matTooltipPosition="above">
                                <!-- {{ i === 0 ? 'Lead Response' : 'Response ' + (i+1) }} -->
                                {{ 'Response ' + (i+1) }}
                            </th>
                        </ng-container>
                        <!-- <th *ngFor="let assessment of this.cieSvc.assessmentsToMerge; let i = index"
                            [matTooltip]="(this.assessmentNames[i])" matTooltipPosition="above">{{ i === 0 ? 'Lead Exam'
                            : 'Exam ' + (i+1) }}</th> -->
                        <th>Provided Response</th>
                        <th>N/A</th>
                    </tr>
                    <tr *ngFor="let conflict of this.mergeConflicts; let i = index">
                        <td style="text-align: left; padding-left: 0.5rem; width: 30%">{{
                            this.mergeConflicts[i].question_Text }}</td>
                        <td [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text1))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text1)">
                        </td>
                        <td [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer1)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer1)">
                        </td>
                        <td [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text2))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text2)">
                        </td>
                        <td [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer2)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer2)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 3" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text3))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text3)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 3" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer3)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer3)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 4" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text4))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text4)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 4" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer4)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer4)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 5" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text5))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text5)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 5" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer5)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer5)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 6" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text6))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text6)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 6" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer6)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer6)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 7" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text7))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text7)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 7" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer7)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer7)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 8" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text8))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text8)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 8" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer8)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer8)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 9" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text9))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text9)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 9" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer9)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer9)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 10" 
                            [matTooltip]="(this.getDisplayText(this.mergeConflicts[i].answer_Text10))"
                            [innerHtml]="this.getDisplayText(this.mergeConflicts[i].answer_Text10)">
                        </td>
                        <td *ngIf="this.cieSvc.assessmentsToMerge.length >= 10" 
                            [matTooltip]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer10)"
                            [innerHtml]="this.getResponseText(this.mergeConflicts[i].free_Response_Answer10)">
                        </td>
                        <td>
                            <input type="radio" id="u" name="option{{i}}" value="u"
                                (change)="updateAnswers(i, $event.target.value)">
                        </td>
                        <td>
                            <input type="radio" id="na" name="option{{i}}" value="na"
                                (change)="updateAnswers(i, $event.target.value)">
                        </td>
                    </tr>
                </table>
            </div>

            <button class="btn btn-primary" matTooltip="Merge checked analyses"
                style="width: 15%; margin-top: 1.50rem; margin-left: auto; margin-right: 0"
                [disabled]="(this.mergeRadioSelections.length !== this.mergeConflicts.length) || (this.attemptingToMerge === true)"
                (click)="createMergedAssessment()">Merge Analyses</button>
            <ng-container *ngIf="this.attemptingToMerge === true">
                <div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">
                    <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
                        <div class="spinner-size-50"></div>
                        <p style="padding-left: 20px;">Merging in progress, please wait...</p>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="this.mergeConflicts.length === 0">
            <ng-container *ngIf="this.pageLoading === false && this.attemptingToMerge === false">
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-start flex-11a mb-4">
                    <div
                        class="alert-success mt-4 mb-4 p-4 d-flex flex-row justify-content-center align-items-center flex-11a">
                        <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"
                            aria-label="Caution no questions"></span>
                        <span class="fs-base-3 p-2 justify-content-center flex-11a">
                            There are no conflicting answers within the chosen analyses.
                            Either return to the <a class="btn-link cursor-pointer" (click)="navToHome()"
                                tabindex="0">Analysis List</a>
                            screen to select different analyses, or <a class="btn-link cursor-pointer"
                                (click)="createMergedAssessment()" tabindex="0">Click Here</a>
                            to proceed with the merge.
                        </span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="this.attemptingToMerge === true">
                <div class="bgc-trans mt-4 mx-4 pr-4 d-flex flex-column flex-00a ">
                    <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
                        <div class="spinner-size-50"></div>
                        <p style="padding-left: 20px;">Merging in progress, please wait...</p>
                    </div>
                </div>
            </ng-container>
        </ng-container>

    </div>
</div>