.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 20pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 16pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.Bullet
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.Caption
{
font-family:"Arial";
font-size: 11pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.Subtitle
{
font-family:"Arial";
font-size: 12pt;color:#003366;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.T1
{
font-family:"Arial";
font-size: 14pt;color:#003366;
font-style:normal;
text-decoration:underline;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_01FCC507AB
{
	font-family: "Arial Bold";
	font-size: 13pt;
	color:#004364;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_2EC077E67C
{
	font-family: "Arial";
	font-size: 12pt;
	color:#555555;
}
span.de_3651FD78E2
{
	font-family: "Arial";
	font-size: 12pt;
	color:#212529;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_6F7A601F57
{
	font-size: 28pt;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_8C403700ED
{
	font-family: "Arial";
	font-size: 11pt;
}
span.de_B77F06D483
{
	font-family: "Arial";
	font-size: 12pt;
	color:#404040;
}
span.de_C0E7FF3839
{
	font-family: "Arial";
	font-size: 11pt;
	color:#404040;
}
span.de_FB0F3F18D6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#3f3f3f;
}
span.de_FE04B87F3C
{
	font-family: "Arial";
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, disc) '\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
