<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel tutorial">
  <div>
    <h2>Systems Engineering Lifecycle Model for CIE</h2>
    <p>
      As a project progresses from initial concept, through design and ultimately implementation, 
      the design team has different opportunities to identify, implement, and verify cyber protections 
      and mitigations appropriate for the system. The Implementation Guide presents each CIE principle 
      for each phase of the engineering lifecycle. By considering CIE through a systems-engineering perspective, 
      rather than as principles alone, practitioners can understand how the application of CIE changes 
      through a project’s lifecycle. This approach encourages more thorough upfront work for requirements, 
      design, and stakeholder coordination.
    </p>
    <p>
      This guide offers considerations to practically apply CIE principles at each lifecycle phase. 
      The team considered several systems engineering models to use as a basis for the 
      Implementation Guide, but they found that many models were either too granular or too industry- 
      or system-specific to adopt directly.
    </p>
    <p>
      The guide uses an engineering lifecycle model that simplifies the lifecycle into seven core 
      systems engineering phases, with three controlling processes that occur across all phases 
      (project management, risk management, and change/configuration management).
    </p>
    <p>
      <strong>This model offers several benefits:</strong>
    </p>
    <ul>
      <li>Simple enough to identify discrete CIE considerations at each phase</li>
      <li>Focused broadly on systems engineering, rather than specifically on software engineering</li>
      <li>Can be flexibly adapted to a variety of common engineering lifecycle models</li>
    </ul>
    <p>
      Engineers should be able to align each phase in the Implementation Guide with one or more phases 
      in their own preferred systems engineering model and apply the guidance at each relevant phase.
    </p>
  </div>
  <div>
    <img src="assets/images/CIE/02_Lifecycle_p10.svg" alt="CIE Systems Engineering Lifecycle Model">
    <h2>Lifecycle Models Considered</h2>
    <div>
      <p>
        Extensive literature review identified four lifecycle models for initial consideration, including the 
        <a href="https://www.incose.org/docs/default-source/los-angeles/libraryresources/se-jr-handdbook-2015.pdf?sfvrsn=1d3c80c6_2" target="_blank">INCOSE project lifecycle model</a>,
        <a href="https://www.energy.gov/sites/prod/files/cioprod/documents/SEM3_1231.pdf" target="_blank">DOE project lifecycle model</a>,
        <a href="https://doi.org/10.6028/NIST.SP.800-160v1r1" target="_blank">NIST Systems Security Engineering Framework</a>,
        and the <a href="https://www.fhwa.dot.gov/cadiv/segb/files/segbversion3.pdf" target="_blank">U.S. Department of Transportation (DoT) Vee Technical Development</a>. 
        Although each model provided unique benefits and perspectives, the DoT model was selected as the structure for primary 
        mapping because of its significant level of detail around its phases. Further, the DoT model’s terminology 
        aligns most closely with that of industrial/energy infrastructure system design.
      </p>
      <img src="assets/images/CIE/03_DOT-Lifecycle_p138.svg" alt="The U.S. Department of Transportation (DoT) Vee Technical Development Model">
      <p>
        The Implementation Guide development team initially chose this model for use in the Implementation Guide because it 
        offers the following attributes:
      </p>
      <ul>
        <li>Includes a conceptual design phase (concept exploration and concept of operations), which is important for early inclusion and application of CIE principles.</li>
        <li>Includes clear, cross-cutting activities (creation and execution of validation, verification, and test plans) to which CIE principles and decisions/designs/ requirements derived through the application of CIE principles can be included. Cross-cutting activities ensure that CIE-driven system requirements and designs are both included in the final system design and achieve their intended purpose.</li>
        <li>Includes a maintenance and operations lifecycle phase to ensure CIE principles are considered for the entire operational life of the system. This also helps ensure technicians have a role in the application of CIE. </li>
        <li>Includes a changes and upgrades phase so that CIE can be incorporated as designs, requirements, equipment, functions, etc. evolve over time.</li>
        <li>Includes a retirement/replacement/end of life phase.</li>
      </ul>

      <p>
        While the DoT model provided a valuable framework upon which to unpack CIE’s principles against the lifecycle 
        of a project, the development team ultimately determined that the framework was too granular. After conducting 
        an extensive mapping exercise across the entire DoT Vee and CIE’s principles, the team identified core phases 
        that apply synergistically to energy projects and have the flexibility to apply to other infrastructure that 
        includes physical processes with digital control.
      </p>
      <!-- <img src="assets/images/CIE/04_Table-of-Phases-mapped_p139.svg" alt="Map of Implementation Guide Phase to DoT Phases"> -->

      <br/>
      <div>
        <div class="d-flex">
          <div class="col-6 table-header" style="padding: 4px;"><strong>IMPLEMENTATION GUIDE PHASES</strong></div>
          <div class="col-6 table-header" style="padding: 4px;"><strong>DoT Vee MODEL PHASES</strong></div>
        </div>
        
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Concept</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Regional Architecture (may require discussion of internal and external concept)</li>
              <li>Needs Assessment and Concept Exploration</li>
              <li>Concept of Operations</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Requirements</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>System Requirements</li>
              <li>Subsystem Requirements and Project Architecture (Project Architecture straddles into Design)</li>
              <li>Elicitation (cross-cutting)</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Design</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Some of Project Architecture (see above)</li>
              <li>Component Level Design (detailed)</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Development</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Software Coding, Hardware, Fabrication</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Testing, Verification, Validation, and Deployment</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Unit Testing</li>
              <li>Subsystem Integration and Verification</li>
              <li>System Integration and Verification</li>
              <li>System Validation</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Operations & Maintenance</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Operations and Maintenance</li>
              <li>Changes and Upgrades</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Retirement and Replacement</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Retirement and Replacement</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Controlling Processes</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Systems Engineering Management Plan Framework</li>
              <li>Elicitation (some may fit Requirements)</li>
              <li>Decision Support/Trade Studies</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Project Management</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Stakeholder Involvement</li>
              <li>Project Management Practices</li>
              <li>Metrics (some)</li>
              <li>Project Process Improvement</li>
              <li>Traceability (some)</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Risk Management</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Risk Management Practices</li>
              <li>Metrics (some)</li>
              <li>Traceability (some)</li>
            </ul>
          </div>
        </div>
        <hr class="page-line">
    
        <div class="d-flex">
          <div class="col-4" style="padding: 4px;"><strong>Change/Configuration Management</strong></div>
          <div class="col-8" style="padding: 4px;">
            <ul>
              <li>Configuration Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-nav-back-next [page]="'lifecycle-cie'"></app-nav-back-next>

</div>