
<!---------------------- 

   Copyright 2019 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="component-override d-flex flex-column justify-content-center flex-11a">
        <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
          
          <span>Component Question Overrides</span>
        </div>
        <mat-dialog-content class="p-4 pb-0 pr-0 oy-auto d-flex flex-column flex-11a">
          <section class="pr-4 d-flex flex-11a flex-row flex-wrap">
            <article class="mb-4 d-flex flex-column flex-11a w-100">
              <div class="d-flex flex-column justify-content-start flex-00a">
                <div class="container">
                    <div class="row">
                            <div class="col-12" style="padding-bottom:15px;">
                                Change the default answers that will be automatically assigned to the component types
                                listed below.  Setting the default answer from this screen will automatically answer all 
                                component questions associated to the indicated component type.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-12">
                          <span style="font-weight: bold">Component: </span>
                        </div>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                            {{data.componentType.Type}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-12">
                            <span style="font-weight: bold">Question:</span>
                        </div>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                          {{data.myQuestion.QuestionText}}
                        </div>
                    </div>
                    <div class="row">
                        <table mat-table class="assessment-summary" style='overflow:auto'>
                            <th>Component Name</th>
                            <th></th>
                            <tr *ngFor="let q of questions; let i = index">
                                <td>{{q.ComponentName}}</td>
                                <td>
                                    <div class="btn-group btn-group-toggle answer-group" data-toggle="buttons">
                                        <label class="btn btn-yes form-check-label" [class.answer-selected]="q.Answer_Text === 'Y'" (click)="storeAnswer(q, 'Y')">
                                          <input name="q_{{q.Question_Id}}" class="form-check-input" type="radio" autocomplete="off" [checked]="q.Answer_Text === 'Y'">Yes
                                        </label>
                                        <label class="btn btn-no form-check-label" [class.answer-selected]="q.Answer_Text === 'N'" (click)="storeAnswer(q, 'N')">
                                          <input name="q_{{q.Question_Id}}" class="form-check-input" type="radio" autocomplete="off" [checked]="q.Answer_Text === 'N'">No
                                        </label>
                                        <label class="btn btn-na form-check-label" [class.answer-selected]="q.Answer_Text === 'NA'" (click)="storeAnswer(q, 'NA')">
                                          <input name="q_{{q.Question_Id}}" class="form-check-input" type="radio" autocomplete="off" [checked]="q.Answer_Text === 'NA'">NA
                                        </label>
                                      </div>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
              </div>
            </div>
            </article>
          </section>
        </mat-dialog-content>
      
        <mat-dialog-actions class="p-4 mb-0">
          <button class="btn btn-secondary" (click)="close()">OK</button>
        </mat-dialog-actions>
      </div>