<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t" class="assess-component d-flex flex-column justify-content-start flex-11a mb-4">
  <div class="white-panel d-flex flex-column justify-content-start flex-11a">
    <h3 class="mb-3">{{t('titles.assessment configuration')}}</h3>


    <div class="form-row">
      <div class="form-group col-md-6">

        <label class="mb-1" for="name">{{t('assessment name')}}</label>
        <input type="text" maxlength="100" class="form-control" id="name" name="name" required focusOnInit="true"
          disabled="true" [(ngModel)]="assessment.assessmentName" (ngModelChange)="assessment.assessmentName"
          (change)="update($event)" autofocus tabindex="0">
      </div>
      <div class="form-group col-md-6">
        <label class="mb-1" for="date">{{t('assessment date')}}</label>
        <input matInput MatDatepickerInput class="form-control" id="date" name="date"
          [(ngModel)]="assessment.assessmentDate" [matDatepicker]="picker" (focus)="picker.open()"
          (blur)="update($event)" (click)="picker.open()" (ngModelChange)="update($event)" tabindex="0">
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" *ngIf="showCityName()">
        <label class="mb-1" for="citySite">{{t('city or site name')}}</label>
        <input type="text" maxlength="100" class="form-control" id="citySite" name="citySite"
          [(ngModel)]="assessment.cityOrSiteName" (change)="update($event)" tabindex="0">
      </div>
      <div class="form-group col-md-6" *ngIf="showStateName()">
        <label class="mb-1" for="stateProvRegion">{{t('state province region')}}</label>
        <input type="text" maxlength="100" class="form-control" id="stateProvRegion" name="stateProvRegion"
          [(ngModel)]="assessment.stateProvRegion" (change)="update($event)" tabindex="0">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name" class="mb-1">{{t('cisa region')}}</label>
        <select class="form-control" id="cisaRegion" tabindex="0" name="cisaRegion" (change)="updateDemographicsIod()"
          [(ngModel)]="iodDemographics.cisaRegion">
          <option [ngValue]="null">-- Select Region --</option>
          <option *ngFor="let region of iodDemographics.cisaRegions" [ngValue]="region.optionValue">
            {{region.optionText}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name" class="mb-1">{{t('pcii requested')}}</label>
        <div class="btn-group btn-group-toggle col-10" style="padding-left: 0px;" data-toggle="buttons">
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="assessment.is_PCII">
            <input class="form-check-input" name="standardYes" id="standardYes" type="radio" autocomplete="off"
              (change)="changeIsPCII(true)" tabindex="0" [(ngModel)]="assessment.is_PCII" />
            Yes
          </label>
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="!assessment.is_PCII">
            <input class="form-check-input" name="standardNo" id="standardNo" type="radio" autocomplete="off"
              (change)="changeIsPCII(false)" tabindex="0" [(ngModel)]="!assessment.is_PCII" />
            No
          </label>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="IsPCII">
        <label class="mb-1" for="name">{{t('pcii number')}}</label>
        <input type="text" maxlength="100" class="form-control" id="name" name="name" required focusOnInit="true"
          [(ngModel)]="assessment.pciiNumber" (ngModelChange)="assessment.pciiNumber" (change)="update($event)"
          tabindex="0" placeholder="{{t('pcii number')}}">
      </div>
    </div>


    <div class="my-4">
      <h4>{{t('assessment type')}}</h4>
      <h5>{{ assessment.typeTitle || 'Blank Assessment' }}</h5>
      <p *ngIf="assessment.typeDescription && assessment.typeTitle != assessment.typeDescription"
        [innerHtml]="assessment.typeDescription | safe"></p>
    </div>

    <app-assessment-contacts (triggerChange)="refreshContacts()"></app-assessment-contacts>

    <hr class="w-100 hr-sal my-5" />

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="mb-1" for="criticalService">{{t('critical service name')}}</label>
        <textarea [ngClass]="{ 'alert-danger' : !demographics.criticalService }" appAutoSize class="form-control"
          autocomplete="off" tabindex="0" maxlength="100" name="criticalService" id="criticalService"
          [(ngModel)]="demographics.criticalService" placeholder="{{t('critical service name')}}"
          (blur)="updateDemographics()"></textarea>
      </div>

      <div class="form-group col-md-6">
        <label class="mb-1" for="criticalService">Critical Dependency for
          Incident Response Support</label>
        <textarea [ngClass]="{ 'alert-danger' : !iodDemographics.criticalDependencyIncidentResponseSupport }"
          appAutoSize class="form-control" autocomplete="off" tabindex="0" maxlength="100" name="criticalDependency"
          id="criticalDependency" [(ngModel)]="iodDemographics.criticalDependencyIncidentResponseSupport"
          placeholder="Critical Dependency for Incident Response Support" (blur)="updateDemographicsIod()"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="mb-1" for="critSvcPointOfContact">Critical Service Point of
        Contact</label>
      <select class="form-control" id="critSvcPointOfContact" tabindex="0" name="critSvcPointOfContact"
        (change)="updateDemographics()" [(ngModel)]="demographics.pointOfContact">
        <option [ngValue]="null">-- Select Contact --</option>
        <option *ngFor="let contact of contacts" [ngValue]="contact.assessmentContactId">
          {{ contact.firstName }} {{ contact.lastName }}
        </option>
      </select>
    </div>

    <!-- #4 -->
    <div class="form-group mb-4">
      <label for="percentageRevenue">
        Please estimate the percentage of your organization's annual revenue
        that depends on the critical service.
      </label>
      <select [ngClass]="{ 'alert-danger' : !iodDemographics.criticalServiceRevenuePercent }" class="form-control"
        id="percentageRevenue" tabindex="0" name="percentageRevenue"
        [(ngModel)]="iodDemographics.criticalServiceRevenuePercent" (change)="updateDemographicsIod()">
        <option [ngValue]="null">-- Select --</option>
        <option *ngFor="let i of iodDemographics.listRevenuePercentages" [ngValue]="i.optionValue"
          [selected]="i.optionValue === iodDemographics.criticalServiceRevenuePercent">
          {{ i.optionText }}
        </option>
      </select>
    </div>

    <!-- #5 -->
    <div class="form-group mb-4">
      <label for="NumberPeopleServedByCritSvc">
        If possible, please estimate the number of people served annually by the
        critical service. If an estimate is not
        available, please select N/A.
      </label>
      <select [ngClass]="{ 'alert-danger' : !iodDemographics.numberPeopleServedByCritSvc }" class="form-control"
        id="numberPeopleServedByCritSvc" tabindex="0" name="numberPeopleServedByCritSvc"
        [(ngModel)]="iodDemographics.numberPeopleServedByCritSvc" (change)="updateDemographicsIod()">
        <option [ngValue]="null">-- Select --</option>
        <option *ngFor="let i of iodDemographics.listNumberPeopleServed" [ngValue]="i.optionValue"
          [selected]="i.optionValue === iodDemographics.numberPeopleServedByCritSvc">
          {{ i.optionText }}
        </option>
      </select>
    </div>

    <!-- #6 -->
    <div class="form-group mb-5">
      <label for="disruptedSectors">
        Please select in order of criticality, the two critical infrastructure
        sectors which, if they were unavailable
        or disrupted for one week or more, would most affect your ability to
        sustain the critical service.
      </label>

      <div>
        <div>
          Most important:
          <select [ngClass]="{ 'alert-danger' : !iodDemographics.disruptedSector1 }" class="form-control mb-3"
            name="disruptedSector1" tabindex="0" [(ngModel)]="iodDemographics.disruptedSector1"
            (change)="updateDemographicsIod()">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let i of iodDemographics.listSectors" [ngValue]="i.optionValue"
              [selected]="i.optionValue === iodDemographics.disruptedSector1">
              {{ i.optionText }}
            </option>
          </select>
        </div>
        <div>
          Second most important:
          <select [ngClass]="{ 'alert-danger' : !iodDemographics.disruptedSector2 }" class="form-control mb-3"
            name="disruptedSector2" tabindex="0" [(ngModel)]="iodDemographics.disruptedSector2"
            (change)="updateDemographicsIod()">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let i of iodDemographics.listSectors" [ngValue]="i.optionValue"
              [selected]="i.optionValue === iodDemographics.disruptedSector2">
              {{ i.optionText }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <app-nav-back-next [page]="'info-config-iod'"></app-nav-back-next>
  </div>
</div>