@model ReportViewModel

@{
    Layout = "_BasicReportBase";
    ViewData["Title"] = "COMMENTS REVIEW REPORT";
}

@section Summary {
    <div style="padding: 1rem 1rem 0 1rem">
        <p>
            This report lists the practices that have been commented on or have been marked for review.
        </p>
    </div>
}

@section Content {

    <div class="mx-3 form">
        <div class="d-flex flex-row justify-content-between align-items-end">
            <h1 class="report-section-title">Practices with Comments</h1>
            <p style="color: #de761c; text-align: right;">
                Marked for Review - <img src="@TempData["Links"]/images/icons/MarkedFlag.png"
                                         alt="marked for review" class="marked-flag">
            </p>
        </div>
    </div>

    <hr class="page-line m-0" />

    @{
        if (Model.ReportData.Comments?.Count == 0)
        {
            <div class="row">
                <div class="col text-start">
                    <p>There are no practices with comments to display.</p>
                </div>
            </div>
        }
        else
        {
            Model.ReportData.TargetList = "comments";
            await Html.RenderPartialAsync("_MatAnswersList", Model.ReportData);
        }
    }

    <div class="mx-3 mt-3 form">
        <div class="d-flex flex-row justify-content-between align-items-end">
            <h1 class="report-section-title">Practices Marked for Review</h1>
            <p style="color: #de761c; text-align: right;">
                Marked for Review - <img src="@TempData["Links"]/images/icons/MarkedFlag.png"
                                         alt="marked for review" class="marked-flag">
            </p>
        </div>
    </div>

    <hr class="page-line m-0" />

    @{
        if (Model.ReportData.MarkedForReviewList?.Count > 0)
        {
            Model.ReportData.TargetList = "mfr";
            await Html.RenderPartialAsync("_MatAnswersList", Model.ReportData);
        }
        else
        {
            <div class="row">
                <div class="col text-start">
                    <p>There are no practices marked for review.</p>
                </div>
            </div>
        }
    }
}
