@model CrrViewModel

<script src="~/js/chart.js"></script>
<script src="@Url.Content("wwwroot/js/chart.js")"></script>
<style>
    @@media print {
        @@page {
            size: A4 landscape
        }
    }
    .depiction-title {
        font-family: Arial;
        font-weight: bold;
        font-size: 18pt;
        line-height: 90%;
        margin: 0;
    }
</style>
<div>
    <div>
        <h3 class="depiction-title">Percentage of Practices Completed by Domain</h3>
    </div>
    <div id="chartContainer" class="container" style="top: 0; margin-top: 0; padding-top: 0; max-width: 860px;">
        <canvas id="barChart"> </canvas>
    </div>
</div>
<script>
    var aLabels = @(Html.Raw(Json.Serialize(Model.ReportChart.Labels)));
    var aDataSets = @(Html.Raw(Json.Serialize(Model.ReportChart.Values)));
    var ctx = document.getElementById("barChart");
    var myChart = new Chart(ctx,
        {
            type: 'bar',
            autoSkip: false,
            animation: false,
            showDatapoints: true,
            data: {
                labels: aLabels.$values,
                datasets: [
                    {
                        data: aDataSets.$values,
                        backgroundColor: ["rgb(21, 124, 142)"],
                        borderColor: ["rgb(21,124,142)"],
                        borderWidth: 0
                    }
                ]
            }, options: {
                indexAxis: 'y',
                animation: { duration: 0 },
                tooltips: false,
                hover: { mode: null },
                events: [],
                plugins: {
                    legend: {
                        display: false
                    }
                },
                responsive: true,
                scales: {
                    x: {
                        min: 0,
                        max: 100,
                        ticks: {
                            steps: 10,
                            stepSize: 10,
                            beginAtZero: true,
                            callback: function(value, index, values) {
                                return value + '%';
                            }
                        }
                    }
                }
            }
        });
</script>