@using CSETWebCore.Reports.Models
@using CSETWebCore.Model.Edm
@using CSETWebCore.Helpers.ReportWidgets 
@model CrrViewModel

<style>
    .legend-color-box {
        display: inline-block;
        width: 1em;
        height: 1em;
    }

    .tinytext {
        font-size: 0.5em;
    }

    .divided-box {
        border-top: 2px solid black;
    }

    .p-tight {
        margin: 0px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row tinytext gx-0">
                <div class="col-4">
                    <p class="p-stack">Total number of practices performed</p>
                </div>
                <div class="col-4">
                    <p class="p-stack">Total number of practices incompletely performed</p>
                </div>
                <div class="col-4">
                    <p class="p-stack">Total number of practices not performed</p>
                </div>
            </div>
            <div class="row">
                @{
                    // Adding the FullAnswerDistrib is technically less efficient, as we could
                    // gather all variables ahead of time one domain at a time, and just keep a sum
                    // to calculate this. It's much easier for testing purposes though, and is probably
                    // a useful function to keep.
                    var qCounts = Model.CRRScores.FullAnswerDistrib();
                    var barChartInput = new BarChartInput() { Height = 60, Width = 150 };
                    barChartInput.AnswerCounts = new List<int> { qCounts.Green, qCounts.Yellow, qCounts.Red };
                    var barChart = new ScoreBarChart(barChartInput);
                }
                @Html.Raw(barChart.ToString())
            </div>
            <div class="row">
                <h5>CRR Summary</h5>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-5">
                    <h2>CRR Performance</h2>
                </div>
                <div class="col-1">
                    <p class="append">Legend</p>
                </div>
                <div class="col-2 tinytext">
                    <p class="p-tight"><span class="legend-color-box green-score"></span>= Performed</p>
                    <p class="p-tight"><span class="legend-color-box yellow-score"></span>= Incompletely Performed</p>
                    <p class="p-tight"><span class="legend-color-box red-score"></span>= Not Performed</p>
                </div>
                <div class="col-2 tinytext">
                    <p class="p-tight">Q1 = Question Number</p>
                    <p class="p-tight">1P = Question Number, People Asset</p>
                    <p class="p-tight">1I = Question Number, Information Asset</p>
                </div>
                <div class="col-2 tinytext">
                    <p class="p-tight">1T = Question Number, Technology Asset</p>
                    <p class="p-tight">1F = Question Number, Facilities Asset</p>
                </div>
            </div>
            <div class="row tinytext divided-box">
                <div class="col-6">
                    <h6>MIL-1 Performed</h6>
                    <p class="p-stack">Domain practices are being performed.</p>
                </div>
                <div class="col-1" style="width: 12.5%;">
                    <h6>MIL-2 Planned</h6>
                    <p class="p-stack">Domain practices are supported by planning, policy, stakeholders, and standards.</p>
                </div>
                <div class="col-1" style="width: 12.5%;">
                    <h6>MIL-3 Managed</h6>
                    <p class="p-stack">Domain practices are supported by governance and adequate resources.</p>
                </div>
                <div class="col-1" style="width: 12.5%;">
                    <h6>MIL-4 Measured</h6>
                    <p class="p-stack">Domain practices are supported by measurement, monitoring, and executive oversight.</p>
                </div>
                <div class="col-1" style="width: 12.5%;">
                    <h6>MIL-5 Defined</h6>
                    <p class="p-stack">Domain practices are supported by enterprise standardization and analysis of lessons learned.</p>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_XDocDomainSummaries", Model)     
</div>
