<div class="side-toc text-start">
    <div>
        <a href="#toc-top" class="btn btn-link">Top</a>
    </div>
    <div>
        <a href="#toc-intro" class="btn btn-link">Introduction</a>
    </div>
    <div>
        <a href="#toc-mil1-ps" class="btn btn-link">CRR MIL-1 Performance Summary</a>
    </div>
    <div>
        <a href="#toc-crr-ps" class="btn btn-link">CRR Performance Summary</a>
    </div>
    <div>
        <a href="#toc-nist-csf" class="btn btn-link">NIST Cybersecurity Framework Summary</a>
    </div>
    <div>
        <a href="#toc-mil1-performance" class="btn btn-link">CRR MIL-1 Performance</a>
    </div>
    <div>
        <a href="#toc-summary-results" class="btn btn-link">CRR Results Summary [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-percentage-practices" class="btn btn-link">Percentage of Practices Completed by Domain</a>
    </div>
    <div>
        <a href="#toc-resources-referenced" class="btn btn-link">Resource Reference List [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-contact-information" class="btn btn-link">Questions Contact Information [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-additional-views" class="btn btn-link">Additional Data Views [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-appendex-a" class="btn btn-link">Appendix A</a>
    </div>
    <div>
        <a href="#toc-nist-framework-summary" class="btn btn-link">NIST Cybersecurity Framework Category Summary [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-nist-framework-performance" class="btn btn-link">NIST Cybersecurity Framework Category Performance [PLACEHOLDER]</a>
    </div>
</div>