<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />
<section style="width:100%;">
    <img style="padding: 2rem; height: 150px;" src="@(TempData["links"]+"/images/cisalogo.png")" />
    <br />
    <img src="@(TempData["links"]+"/images/CRR/report-header.jpg")" style="height: 400px;" />
    <div>
        <p style="margin: auto; font-weight: bolder; font-family: Verdana; font-size: 55px; color: #0f3c7a;">
            CYBER RESILIENCE <br /> REVIEW (CRR)
        </p>
        <hr style="height: 2px" />
        <p style="margin: auto; font-weight: bold; font-family: Verdana; font-size: 35px; color: #0f3c7a;">Self-Assessment Package</p>
        <br />
        <p style="margin: auto; font-family: Verdana sans-serif; font-size: 20px; color: #0f3c7a;">@DateTime.Now.ToString("MMMM yyyy")</p>
    </div>
</section>