<div class="side-toc text-start">
    <div>
        <a href="#toc-top">Top</a>
    </div>
    <div>
        <a href="#toc-intro">Introduction</a>
    </div>
    <div>
        <a href="#toc-mil1-ps">CRR MIL-1 Performance Summary</a>
    </div>
    <div>
        <a href="#toc-crr-ps">CRR Performance Summary</a>
    </div>
    <div>
        <a href="#toc-nist-csf">NIST Cybersecurity Framework Summary</a>
    </div>
    <div>
        <a href="#toc-mil1-performance">CRR MIL-1 Performance</a>
    </div>
    <div>
        <a href="#toc-summary-results">CRR Results Summary [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-percentage-practices">Percentage of Practices Completed by Domain</a>
    </div>
    <div>
        <a href="#toc-resources-referenced">Resource Reference List [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-contact-information">Questions Contact Information [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-additional-views">Additional Data Views [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-appendex-a">Appendix A</a>
    </div>
    <div>
        <a href="#toc-nist-framework-summary">NIST Cybersecurity Framework Category Summary [PLACEHOLDER]</a>
    </div>
    <div>
        <a href="#toc-nist-framework-performance">NIST Cybersecurity Framework Category Performance [PLACEHOLDER]</a>
    </div>
</div>