@using System.IO; 
@model CrrViewModel

@{
    Layout = "_CrrBasicReportBase";
    ViewData["Title"] = "COMMENTS AND MARKED FOR REVIEW";
}

@section Summary {
    <div style="padding: 5rem 1rem 5rem 1rem">
        <p>
            This report contains two lists of questions.  The first list
            indicates questions that have been commented on.
            The second list indicates questions that have been marked for review.
        </p>
    </div>
}

@section Content {
    @{
        await Html.RenderPartialAsync("_CrrCommentsMarkedContent", Model);
    }
}