@model CrrViewModel

<div style="padding-left: 30px; padding-bottom: 25px;">
    <h2>Percentage of Practices Completed by Domain</h2>
</div>
<div id="chartContainer" class="container" style="float: left; top: 0; margin-top: 0; padding-top: 0;">  
    <canvas id="barChart"> </canvas>  
</div>  
<script>
    var aLabels = @(Html.Raw(Json.Serialize(Model.ReportChart.Labels)));
    var aDataSets = @(Html.Raw(Json.Serialize(Model.ReportChart.Values)));
    var ctx = document.getElementById("barChart").getContext('2d');
    var myChart = new Chart(ctx,
        {
            type: 'bar',
            autoSkip: false,
            responsive: false,
            animation: false,
            showDatapoints: true,
            data: {
                labels: aLabels,
                datasets: [
                    {
                        label: "Your Results",
                        data: aDataSets,
                        backgroundColor: ["rgba(21, 124, 142, 0.7)"],
                        borderColor: ["rgb(21,124,142)"],
                        borderWidth: 2
                    }
                ]
            }, options: {
                indexAxis: 'y',
                animation: { duration: 0 },
                scales: {
                    x: {
                        min: 0,
                        max: 100,
                        ticks: {
                            steps: 10,
                            stepSize: 10,
                            beginAtZero: true, 
                            callback: function(value, index, values) {
                                return value + '%';
                            }
                        }
                    }
                }
            }
        });
</script>

