@using CSETWebCore.Reports.Models
@model CrrViewModel

<div class="row justify-content-center">
    <div class="col text-center" style="font-family: Verdana, sans-serif">
        <img style="width: 650px; margin: 30px 0" src="/images/DHS-CISA-Logo.png" alt="CISA">
        <h2 style="line-height: 200%">CYBER RESILIENCE REVIEW<br />SELF-ASSESSMENT REPORT<br />FOR</h2>
        <h2 style="margin: 50px 0 60px 0">@Model.AssessmentDetails.FacilityName</h2>
        <h2>@DateTime.Now.ToString("MMMMM dd, yyyy")</h2>
    </div>
</div>