<link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="wwwroot/css/site.css" />

<div class="row justify-content-center">
    <div class="col-10 border rounded-3 text-start" style="background-color: #f2f2f2;">
        <div style="padding: 5rem 1rem 5rem 1rem">
            <p>
                This deficiency report lists the statements that are not currently compliant or "No" answers.
            </p>
            <p>
                This is often referred to as the GAP Report. This report intends to list the gaps, assist users of
                the report in identifying gaps, prioritizing work, and beginning to make a plan to address
                the gaps by implementing the controls necessary to come into compliance with the associated statement.
            </p>
            <p>
                The percentage gap in each domain is also listed and will help to determine the priority.
                CRR is a cumulative maturity model meaning lower levels should be completed before
                moving to higher levels. Ideally baseline should be completed before focusing efforts on
                controls in evolving and so forth up the line of maturity levels.
            </p>
        </div>
    </div>
</div>