@using System.IO; 

<link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="wwwroot/css/site.css" />

<section style="width:100%;">
    @{ 
        var headerBinary = File.ReadAllBytes(@Url.Content("wwwroot/images/DHS-CISA-Logo.png"));
        var headerURI = @"data:image/png;base64," + Convert.ToBase64String(headerBinary);
        var headerHtml = String.Format("<img src='{0}' style=\"padding: 2rem; height: 125px; \">", headerURI);

        var bannerBinary = File.ReadAllBytes(@Url.Content("wwwroot/images/CRR/report-header.jpg"));
        var bannerURI = @"data:image/png;base64," + Convert.ToBase64String(bannerBinary);
        var bannerHtml = String.Format("<img src='{0}' style=\"height: 400px; \">", bannerURI);
    }
    @Html.Raw(headerHtml)
    <br />
    @Html.Raw(bannerHtml)
    <div class="coversheet-text">
        <h1>
            CYBER RESILIENCE <br /> REVIEW (CRR)
        </h1>
        <hr style="height: 2px; color: black !important;" />
        <h2>Self-Assessment Package</h2>
        <br />
    </div>
</section>
