@model CrrViewModel

<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD1_AM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD2_CM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD3_CCM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD4_VM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD5_IM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD6_SCM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD7_RM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD8_EDM", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD9_TA", @Model)
</div>
<div class="page-margin-top">
    @await Html.PartialAsync("_CrrDD10_SA", @Model)
</div>