<link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="wwwroot/css/site.css" />


<div class="row justify-content-center">
    <div class="col-10 border rounded-3 text-start" style="background-color: #f2f2f2;">
        <div style="padding: 5rem 1rem 5rem 1rem">
            <p>
                This report contains two lists of questions.  The first list
                indicates questions that have been commented on.
                The second list indicates questions that have been marked for review.
            </p>
        </div>
    </div>
</div>