@using System.IO; 

<link rel="stylesheet" href="wwwroot/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="wwwroot/css/site.css" />

<div style="text-align: center;">
    <div class="row">
        <div class="col">

            @{
                var logoBinary = File.ReadAllBytes(@Url.Content("wwwroot/images/CISA_Logo_1831px.png"));
                var logoURI = @"data:image/png;base64," + Convert.ToBase64String(logoBinary);
                var logoHtml = String.Format("<img src='{0}' style=\"width: 267px; margin: 30px 0\">", logoURI);

                @Html.Raw(logoHtml)
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="font-weight: lighter;">
                CYBER RESILIENCE REVIEW
                <br />
                <br />
                SELF-ASSESSMENT REPORT
                <br />
                <br />
                FOR
            </h3>
            <br />
            <br />
            <h3 style="font-weight: lighter;">@Model.AssessmentDetails.FacilityName</h3>
            <br />
            <br />
            <h3 style="font-weight: lighter;">@DateTime.Now.ToString("MMMMM d, yyyy")</h3>
        </div>
    </div>
</div>