<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/CRRResults.css" />

</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/jquery.min.js" ></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <script src="~/js/site.js" asp-append-version="true" asp-append-version="true"></script>
    <script src="~/js/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
