@using CSETWebCore.Model.Maturity
@model MatRelevantAnswers

<div class="mat-section row m-2 p-3 border-bottom">
    @{
        if (Model.Mat.Parent_Question_Id != null)
        {
            <div class="col-1"></div>
        }
        await Html.RenderPartialAsync("_MatAnswerHead", Model);
    }
</div>