@using CSETWebCore.Model.Maturity
@model MatRelevantAnswers

<div class="row @(ViewData.ContainsKey("head-only") ? "m-2 border-bottom p-3" : "")">
    <div class="col-3 text-start">
        <h3 class="small">Practice @Model.Mat.Question_Title</h3>
    </div>
    <div class="col-7 text-start">
        <p>
            @Model.Mat.Question_Text
        </p>
    </div>
    <div class="col-2 text-end">
        <p>
            @Model.ANSWER.Answer_Text
        </p>
    </div>
</div>  