.col-mod{
    padding-left:2px;
    padding-right:0;
    font-size:small;
    text-align: center;
    
}
.col-mod-group {
    padding-left:0;
    padding-right:0;
}
.row-mod{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.col-mod-header{
    margin-bottom: 3px;
    padding: 8px 10px;
}
.col-mod-score{
    padding:4px 4px !important;
    border-radius: 3px;
    color: #fff;
}
.red-score {
    background-color:#DC3545;
    border: 1px solid #DC3545;
    color: #fff;
}

.yellow-score {
    background-color:#FFC107;
    border: 1px solid #FFC107;
    color: #000;
}
.green-score {
    background-color:#28A745;
    border: 1px solid #28A745;
    color: #fff;
}
.default-score {
    background-color:#6C757D;
    border: 1px solid #6C757D;
    color: #fff;
}

@media print {
*{ color-adjust: exact;  -webkit-print-color-adjust: exact; }
.red-score {
    background-color:#DC3545;
    border: 1px solid #DC3545;
    color: #fff;
}

.yellow-score {
    background-color:#FFC107;
    border: 1px solid #FFC107;
    color: #000;
}
.green-score {
    background-color:#28A745;
    border: 1px solid #28A745;
    color: #fff;
}
.default-score {
    background-color:#6C757D;
    border: 1px solid #6C757D;
    color: #fff;
}}


@media screen {
    .prepare-print-overlay-box {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 3rem;
        transform: translate(-50%, -50%);
        background: #fff;
        border: 1px solid #555;
        border-radius: 1rem;
        z-index: 1000;
        box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, .5); 
    }
}
