.col-mod{
    padding-left: 2px;
    padding-right: 0;
    font-size: small;
    text-align: center;
    margin-right: -10px;
}

.col-mod-group {
    padding-left: 0;
    padding-right: 0;
}

.col-mod-header{
    margin-bottom: 3px;
    padding: 8px 10px;
    border-radius: 3px;
}

.col-mod-score{
    padding: 4px 4px !important;
    border-radius: 3px;
    color: #fff;
}

.font-size-60 {
    font-size: .6rem;
    font-weight: bold;
}