<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel">

  <div>
    <h2>Identifying the Scope of the Analysis</h2>
    <p>
      Identifying the scope of the organization’s analysis is important because answers to the Implementation Guide questions in this CIE Analysis tool must be provided in relation to a specific scope. Users can respond to questions under two different scopes for each Principle: 
    </p>
    <ol>
      <li>Principle scope: Answer high-level questions for each of the 12 Principles only.</li>
      <li>Principle-Phase scope: Answer detailed questions for each principle throughout each phase of the System Engineering Lifecycle Model. Within each of the 12 Principles, a user will respond to questions under 7 lifecycle phases and 1 set of cross-cutting considerations.</li>
    </ol>
  </div>

  <div>
    <br>

    <h4>Starting a CIE Analysis Using the Implementation Guide in CSET</h4>
    <p>
      Before you begin, please familiarize yourself with CSET's question layout and icon tray features.
    </p>
  </div>
  <div>
    <br>

    <h4>The CSET Icon Tray</h4>
    <img src="../../../../../assets/images/CIE/icon_tray.png" alt="Icon Tray">

  </div>
  <div>
    <br>
    <h4>Tools Menu</h4>
    <p>
      The CSET Tools Menu is where the artifacts and evidence from your CIE analysis are stored.
    </p>
    <img src="../../../../../assets/images/CIE/assess_documents.png" alt="CSET CIE Tools Menu">
    
  </div>

  <div>
    <br>
    <h4>CIE Question / Response – Multi-Level Interactive Text</h4>
    <p>
      As you start to answer questions, you will see that there are some question sets with multiple levels of 
      question content and response opportunities. You will notice that some material is grayed out until you 
      respond to the top-level question. This is intentional. The sub-questions will become active 
      (and no longer grayed out) depending upon your response.
    </p>
    <br />
    <p>Thank you for reading the CIE Tutorial Section.</p>
    <p>In the next screen, you will be asked to name your CIE Analysis so that you can refer back to your responses.</p>
    <p>Please click "next" to continue.</p>
    

  </div>

  <app-nav-back-next [page]="'how-to-use-cie'"></app-nav-back-next>

</div>
