<!---------------------- 

   Copyright 2024 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel">

  <div>
    <h2>Identifying the Scope of the Analysis</h2>
    <p>
      Identifying the scope of the organization’s analysis is important because answers to the Implementation Guide questions in this CIE Analysis tool must be provided in relation to a specific scope. Users can respond to questions under two different scopes for each Principle. Each principle is independent, and the user can decide the direction for each principle or choose to do both scopes for every principle. The two scopes are: 
    </p>
    <ol>
      <li>Principle scope: Answer high-level questions for each of the 12 Principles only.</li>
      <li>Principle-Phase scope: Answer detailed questions for each principle throughout each phase of the System Engineering Lifecycle Model. Within each of the 12 Principles, a user will respond to questions under 7 lifecycle phases and 1 set of cross-cutting considerations.</li>
    </ol>
  </div>

  <div>
    <br>

    <h4>Starting a CIE Analysis Using the Implementation Guide</h4>
    <p>
      Before you begin, please familiarize yourself with CIE's question layout and icon tray features.
    </p>
  </div>
  <div>
    <br>

    <h4>The CSET Icon Tray</h4>
    <img src="assets/images/CIE/icon_tray.png" alt="Icon Tray">

    <div class="d-flex d-flex-inline" style="align-items: center;">
      <br>
      <div>
        When an icon has user-entered content inside, a red dot will appear on the icon:
      </div>
      <div>
        <img src="assets/images/CIE/comment_with_content.png" alt="Comments with Content">
      </div>
    </div>
  </div>
  <div>
    <br>
    <h4>Tools Menu</h4>
    <p>
      The Tools Menu is where the artifacts and evidence from your CIE analysis are stored.
    </p>
    <img src="assets/images/CIE/assess_documents.png" alt="CIE Tools Menu">
    <br>
    <br>
    <p>
      The "Resume Questions" tool jumps to the last question modified, so you know exactly where you left off.
    </p>
    <img src="assets/images/CIE/resume_questions.png" alt="CIE Resume Questions" style="width: 470px; height: 590px">
    
  </div>

  <div>
    <br>
    <h4>CIE Question / Response – Multi-Level Interactive Text</h4>
    <p>
      As you start to answer questions, you will see that there are some question sets with multiple levels of 
      question content and response opportunities. You will notice that some material is grayed out until you 
      respond to the top-level question. This is intentional. The sub-questions will become active 
      (and no longer grayed out) depending upon your response.
    </p>
    <br>
    <h4>Questions in Reports</h4>
    After you complete your analysis, you can review questions on the Reports page.
    <div class="d-flex d-flex-inline" style="align-items: center;">
      <div>
        When inside a report, the questions can be filtered with the Filter button: 
      </div>
      <div>
        <img src="assets/images/CIE/cie-report-filter.png" alt="Filter button inside of Reports">
      </div>
    </div>
    <p>
      This filter allows for viewing Answered, Unanswered, and/or Not Applicable questions in any combination.
    </p>
    <img  style="border-style: solid; border-width: 2px;" src="assets/images/CIE/report-filter-dialog.png" alt="Filter dialog inside of Reports">

    <br />
    <br />
    <p>Thank you for reading the CIE Tutorial Section.</p>
    <p>In the next screen, you will be asked to name your CIE Analysis so that you can refer back to your responses.</p>
    <p>Please click "next" to continue.</p>
    

  </div>

  <app-nav-back-next [page]="'instructions-cie'"></app-nav-back-next>

</div>
