<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<ng-container *ngIf="isDomainVisible()">
    <div class="domain-group-heading">
        {{grouping.title}}
    </div>
    <div *ngIf="grouping.description?.length > 0" class="mb-4" [innerHTML]="grouping.description">
    </div>

</ng-container>


<!-- (applies to ACET only) indicates when all maturity filters turned off for this domain -->
<div *ngIf="allDomainMaturityLevelsHidden()"
    class="alert-warning mt-4 mb-4 d-flex flex-row justify-content-center align-items-center flex-11a">
    <span class="p-md-3 p-2 fs-large cset-icons-exclamation-triangle"></span>
    <span class="fs-base-3 p-2 d-flex flex-column justify-content-center flex-11a">
        All maturity filters are deselected for this domain. Select one or more maturity levels to view questions.
    </span>
</div>

<ng-container *ngIf="!allDomainMaturityLevelsHidden()">

    <ng-container
        *ngIf="grouping.visible || (grouping.visible && assessSvc.isISE() && ncuaSvc.showCorePlusOnlySubCats(grouping.groupingID))">

        <div class="capability-group-heading"
            *ngIf="grouping.questions.length == 0 && grouping.groupingType === 'Capability'">
            {{grouping.title}}
        </div>

        <div class="assessment-factor-group-heading"
            *ngIf="grouping.questions.length == 0 && grouping.groupingType === 'Assessment Factor'">
            {{grouping.title}}
        </div>

        <div *ngFor="let sg of grouping.subGroupings">
            <app-grouping-block [grouping]="sg"></app-grouping-block>
        </div>
        <div *ngIf="(grouping.questions.length > 0) && assessSvc.usesMaturityModel('CIE')">
            <app-question-block-cie #questionBlock [myGrouping]="grouping">
            </app-question-block-cie>
        </div>
        <div *ngIf="(grouping.questions.length > 0) && assessSvc.usesMaturityModel('VADR')">
            <app-question-block-vadr #questionBlock [myGrouping]="grouping">
            </app-question-block-vadr>
        </div>
        <div
            *ngIf="(grouping.questions.length > 0) && !assessSvc.usesMaturityModel('VADR') && !assessSvc.usesMaturityModel('ISE') && !assessSvc.usesMaturityModel('CIE')">
            <app-question-block-maturity #questionBlock [myGrouping]="grouping">
            </app-question-block-maturity>
        </div>
        <div *ngIf="(grouping.questions.length > 0) && assessSvc.usesMaturityModel('ISE')">
            <app-question-block-ise #questionBlock [myGrouping]="grouping">
            </app-question-block-ise>
        </div>

        <div *ngIf="isDomain() && (assessSvc.usesMaturityModel('EDM') || assessSvc.usesMaturityModel('CRR'))"
            class="mt-4">
            <h5 for="DomainRemarks">Remarks - {{grouping.title}}</h5>
            <textarea [(ngModel)]="grouping.domainRemark" id="DomainRemarks" name="DomainRemarks" class="form-control"
                appAutoSize (blur)="submitTextComment(grouping)">
            </textarea>
        </div>

    </ng-container>

    <ng-container *ngIf="this.ncuaSvc.getExtraQuestionStatus() === false">
        <button *ngIf="assessSvc.usesMaturityModel('ISE') && grouping.groupingID === 2567"
            class="btn btn-na form-check-label mt-2 mb-4" (click)="this.ncuaSvc.toggleExtraQuestionStatus()">
            Show Extra Statements
        </button>
    </ng-container>
    <ng-container *ngIf="this.ncuaSvc.getExtraQuestionStatus() === true">
        <hr *ngIf="grouping.groupingID === 2566">
        <button *ngIf="assessSvc.usesMaturityModel('ISE') && grouping.groupingID === 2575"
            class="btn btn-na form-check-label mt-2 mb-4" (click)="this.ncuaSvc.toggleExtraQuestionStatus()">
            Hide Extra Statements
        </button>
    </ng-container>


</ng-container>

<div *ngIf="isDomain() && grouping.visible" class="mb-5"></div>