<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="wp-0 d-flex flex-column justify-content-start flex-11a trend-table-width">
  <div class="bgc-trans my-4 mx-4 d-flex flex-column flex-00a trend-table-width">
    <h3>{{ this.aggregationSvc?.modeDisplay(true) }}</h3>

    <ng-container *ngIf="this.aggregationSvc?.mode === 'TREND'">
      <p>
        The Trend feature allows you to visualize data collected over multiple assessments. This is particularly helpful
        for uncovering performance trends of an organization or asset <strong>over time</strong>. By looking at trends, areas of
        improvement or concern can be identified. For best results the assessments should be of the same type, to allow proper comparison.
      </p>
      <p>
        To compare differences across different assessments, use the Compare feature.
      </p>
    </ng-container>

    <ng-container *ngIf="this.aggregationSvc?.mode === 'COMPARE'">
      <p>
        The Compare feature lets you analyze data from different assessments side-by-side. This is particularly useful for
        pinpointing strengths and weaknesses across various areas of your organization or asset. By comparing assessments,
        you can identify where performance excels and where it needs improvement, allowing you to prioritize your focus
        areas.
      </p>
      <p>
        To view changes to the same organization or asset <strong>over time</strong>, use the Trend feature.
      </p>
    </ng-container>

    <div class="mt-4">
      <button *ngIf="this.aggregationSvc?.mode === 'TREND'"
        class="m-0 btn btn-primary d-flex align-items-center flex-00a" (click)="newAggregation()"
        matTooltip="Create a new trend">
        <span class="mr-2 fs-base cset2-icons-trend"></span>
        <span>New Trend</span>
      </button>

      <button *ngIf="this.aggregationSvc?.mode === 'COMPARE'"
        class="m-0 btn btn-primary d-flex align-items-center flex-00a" (click)="newAggregation()"
        matTooltip="Create a new comparison">
        <span class="mr-2 fs-base cset2-icons-compare"></span>
        <span>New Comparison</span>
      </button>

      <div *ngIf="aggregations == null">
        <div class="spinner-container m-0 d-flex justify-content-center align-items-center flex-11a">
          <div class="spinner-size-50"></div>
        </div>
      </div>
      <div class="mt-3 mb-5 alert-warning p-3 font-weight-bold text-center" *ngIf="aggregations?.length === 0">No {{
        this.aggregationSvc?.modeDisplay(true) }} have been saved.
        Click 'New {{ this.aggregationSvc?.modeDisplay(false) }}' to start a new
        {{ this.aggregationSvc?.modeDisplay(false) }}.
      </div>
    </div>
  </div>

  <div class="px-4 mb-4 d-flex flex-column flex-11a oy-auto h-0 trend-table-width" style="width: 100vw;">
    <div *ngIf="aggregations?.length > 0" style="width:100vw;" class="trend-table-width">
      <table matSort (matSortChange)="sortData($event)" class="assessment-summary" style="overflow-x:auto">
        <th mat-sort-header="assessment">{{ this.aggregationSvc?.modeDisplay(false) }} Name</th>
        <th mat-sort-header="date">Date</th>
        <th></th>
        <tr *ngFor="let agg of aggregations; let i = index">
          <td>
            <button
              class="btn btn-link btn-link-dark d-flex justify-content-start align-items-start flex-00a wrap-text text-left"
              (click)="this.aggregationSvc.loadAggregation(agg.aggregationId)">
              {{agg.aggregationName}}
            </button>
          </td>
          <td>{{agg.aggregationDate | localizeDate}}</td>
          <td>
            <button
              class="icon-link-button-dark btn bgc-trans d-flex justify-content-center align-items-center flex-00a"
              (click)="removeAggregation(agg, i)" matTooltip="Permanently remove this trend.">
              <span class="cset-icons-trash-x fs-base-2 mr-2"></span>
              <span class="icon-link-button-text-dark">Remove</span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>