.subheader {
    height: 48px;
    color: white;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
}
.cell {
    border: 1px solid rgb(179, 179, 179);
}
.not-started {
    background: linear-gradient(0deg, rgb(102, 130, 158), rgb(132, 162, 193));
}
.in-progress {
    background: linear-gradient(0deg, rgb(93, 142, 220), rgb(145, 183, 243));
}
.in-review {
    background: linear-gradient(0deg, rgb(8, 152, 92), rgb(145, 183, 243));
}
.complete {
    background: linear-gradient(0deg, rgb(8, 152, 92), rgb(31, 204, 133));
}