.subheader {
    height: 48px;
    color: white;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
}
.cell {
    border: 1px solid rgb(179, 179, 179);
}
.btn-in-review {
    border-color: #c67300;
    background-color: #c67e00;
    color: white;
}
