@using CSETWebCore.Reports.Models
@model CrrViewModel
@{
    ViewData["Title"] = "CRR Report";
}
<script src="@(TempData["links"]+"/js/chart.js")"></script>
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />
<div>

    <div>
        @await Html.PartialAsync("_CrrCoverSheet", @Model)
    </div>
    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrCoverSheet2", @Model)
    </div>

    <div>
        @await Html.PartialAsync("_CrrIntroAbout", @Model)
    </div>
    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrMil1PerformanceSummary", @Model)
    </div>
    <div class="page-break"></div>
    <div class="crr-appendix-a">
        @await Html.PartialAsync("_CrrPerformanceAppendixA", @Model)
    </div>
    <div class="page-break"></div>
    <div class="crr-appendix-a">
        @await Html.PartialAsync("_CrrPercentageOfPractices", @Model)
    </div>

</div>
