@using CSETWebCore.Reports.Models
@model CrrViewModel
@{
    ViewData["Title"] = "CRR Report";
}

<style>
    body {
        padding-top: 40px;
    }
</style>

@await Html.PartialAsync("_PdfDownload", new PdfDownloadModel{Action="CreatePdf", Controller = "Crr", View = "crrReport"})
<div class="report-body-crr">
    <div id="toc-top">
        @await Html.PartialAsync("_CrrCoverSheet", @Model)
    </div>

    <div class="page-margin-top">
        @await Html.PartialAsync("_CrrCoverSheet2", @Model)
    </div>

    <div id="toc-intro" class="page-margin-top">
        @await Html.PartialAsync("_CrrIntroAbout", @Model)
    </div>

    <div id="toc-mil1-ps" class="page-margin-top">
        @await Html.PartialAsync("_CrrMil1PerformanceSummary", @Model)
    </div>

    <div id="toc-crr-ps" class="page-margin-top" style="margin-top: 40px">
        @await Html.PartialAsync("_CrrPerformanceSummary", @Model)
    </div>

    <div id="toc-nist-csf" class="page-margin-top">
        @await Html.PartialAsync("_CrrNistCsfSummary", @Model)
    </div>

    <div id="toc-mil1-performance" class="page-margin-top">
        @await Html.PartialAsync("_CrrMil1Performance", @Model)
    </div>

    <div id="toc-summary-results" class="page-margin-top">
        Summary of CRR Results (brown bar chart) [PLACEHOLDER]
    </div>

    <div id="toc-percentage-practices" class="page-margin-top">
        @await Html.PartialAsync("_CrrPercentageOfPractices", @Model)
    </div>

    @*<div class="page-break"></div>
    <div class="page-margin-top">
        @await Html.PartialAsync("_CrrDomainDetail", @Model)
    </div>*@

    <div id="toc-resources-referenced" class="page-margin-top">
        List of Resources Referenced in this Report [PLACEHOLDER]
    </div>

    <div id="toc-contact-information" class="page-margin-top">
        Contact Information for Questions Related to this Report [PLACEHOLDER]
    </div>

    <div id="toc-additional-views" class="page-margin-top">
        Appendix A: [PLACEHOLDER]<br>
        Additional Data Views
    </div>

    <div id="toc-appendex-a" class="page-margin-top">
        @await Html.PartialAsync("_CrrPerformanceAppendixA", @Model)
    </div>

    <div id="toc-nist-framework-summary" class="page-margin-top">
        NIST Cybersecurity Framework Category Summary [PLACEHOLDER]
    </div>

    <div id="toc-nist-framework-performance" class="page-margin-top">
        NIST Cybersecurity Framework Category Performance [PLACEHOLDER]
    </div>
</div>

@await Html.PartialAsync("_CrrToc") 