@using CSETWebCore.Reports.Models
@model CrrViewModel
@{
    ViewData["Title"] = "CRR Report";
}
<script src="@(TempData["links"]+"/js/chart.js")"></script>
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />
<div>
    <div>
        @await Html.PartialAsync("_CrrCoverSheet", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrCoverSheet2", @Model)
    </div>


    <div>
        @await Html.PartialAsync("_CrrIntroAbout", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrMil1PerformanceSummary", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrPerformanceSummary", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        NIST Cybersecurity Framework Summary [PLACEHOLDER]
    </div>


    <div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrMil1Performance", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        Summary of CRR Results (brown bar chart) [PLACEHOLDER]
    </div>


    <div class="page-break"></div>
    <div class="crr-appendix-a">
        @await Html.PartialAsync("_CrrPercentageOfPractices", @Model)
    </div>


    @*<div class="page-break"></div>
    <div>
        @await Html.PartialAsync("_CrrDomainDetail", @Model)
    </div>*@


    <div class="page-break"></div>
    <div>
        List of Resources Referenced in this Report [PLACEHOLDER]
    </div>


    <div class="page-break"></div>
    <div>
        Contact Information for Questions Related to this Report [PLACEHOLDER]
    </div>


    <div class="page-break"></div>
    <div>
        Appendix A: [PLACEHOLDER]<br>
        Additional Data Views
    </div>


    <div class="page-break"></div>
    <div class="crr-appendix-a">
        @await Html.PartialAsync("_CrrPerformanceAppendixA", @Model)
    </div>


    <div class="page-break"></div>
    <div>
        NIST Cybersecurity Framework Category Summary [PLACEHOLDER]
    </div>


    <div class="page-break"></div>
    <div>
        NIST Cybersecurity Framework Category Performance [PLACEHOLDER]
    </div>
</div>
