<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
        <h3 class="wrap-text mb-3">Cyber Infrastructure Survey (CIS) Tutorial</h3>

        <div class="mb-4">
                <h5>Overview</h5>
                <p>
                        The goal of the Cyber Infrastructure Survey (CIS) is to assess the foundational and essential
                        cybersecurity practices of an organization's critical service and evaluate the effectiveness of
                        security
                        controls, cybersecurity preparedness, and the resilience of an organization's cybersecurity
                        posture. The
                        CIS focuses on a single critical service rather than all organizational operations.
                </p>

                <h5 class="mt-4">Scope</h5>
                <div>
                        Determine the survey scope by considering the following factors:
                </div>
                <ul>
                        <li>
                                <strong>Critical Service:</strong> Which service will be the focus of the survey?
                        </li>
                        <li>
                                <strong>Business Unit/Agency:</strong> Which part(s) of the organization deliver the
                                critical
                                service?
                        </li>
                        <li>
                                <strong>Asset(s):</strong> Which assets (people, technology, information, and
                                facilities) are
                                required for delivery of the service?
                        </li>
                </ul>


                <h5 class="mt-4">Service Types</h5>
                <div>
                        A basic principle to remember throughout the survey is the difference between a critical service
                        and a
                        cyber service.
                </div>
                <ul>
                        <li>
                                <strong>Critical Service (CS):</strong> A set of important activities that the
                                organization
                                carries out, in the production of a product or while providing services to its
                                customers. A
                                service that the loss thereof would result in physical destruction, safety, and health
                                effects
                                (e.g., a chemical release or loss of traffic controls), theft of sensitive information
                                that can
                                be exploited, business interruption (e.g., denial of service), or other economic loss to
                                the
                                organization or its customers/users.
                        </li>
                        <li>
                                <strong>Cyber Service:</strong> Any combination of equipment and devices (hardware);
                                applications and platforms (software), communications, and data that is integrated to
                                provide
                                specific cyber services.
                        </li>
                </ul>


                <h5 class="mt-4">Asset Types</h5>
                <div>
                        The CIS considers four categories of assets: People, Information, Technology, and Facilities.
                        The
                        definition for each asset type is listed below:
                </div>
                <ul>
                        <li>
                                <strong>People:</strong> the staff (both internal and external to the organization) such
                                as
                                people that support data
                                centers or otherwise use information and communications technology to operate, monitor,
                                and
                                support the service.
                        </li>
                        <li>
                                <strong>Information:</strong> account information, technology asset configuration files,
                                operational data, customer
                                information, and other information necessary for the delivery of a service.
                        </li>
                        <li>
                                <strong>Technology:</strong> computers (hardware), software, control systems, or other
                                technology including external
                                information systems used by the organization to deliver the service.
                        </li>
                        <li>
                                <strong>Facilities:</strong> office buildings, data centers, and other physical
                                structures
                                supporting the delivery of the service.
                        </li>
                </ul>


                <h5 class="mt-4">Assessment</h5>
                <div>
                        The CIS assessment consists of 71 questions across 28 sub-domains. Each sub-domain aligns with
                        one of
                        the five following domains:
                </div>
                <ul>
                        <li>Cybersecurity Management</li>
                        <li>Cybersecurity Forces</li>
                        <li>Cybersecurity Controls</li>
                        <li>Incident Response</li>
                        <li>Dependencies</li>
                </ul>

                <p>
                        Each practice includes the following components.
                </p>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture10.png" style="width: 650px">
                </div>
                <h6 class="mt-4">Sub-Domain Score</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture1.png" style="width: 650px">
                </div>

                <p>
                        Each sub-domain page includes a chart that displays a score based on how the associated
                        questions are
                        answered. If a baseline survey was selected on the Critical Service Information page, the
                        corresponding
                        baseline score will also be displayed.
                </p>

                <h6>Sub-Domain</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture2.png" style="width: 650px">
                </div>
                <p>
                        Each sub-domain has one or more associated questions. A brief overview of its purpose and
                        suggested
                        approaches are provided alongside each sub-domain.
                </p>


                <h6>Practice Identifier</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture3.png">
                </div>
                <p>
                        Each question has an assigned practice identifier.
                </p>

                <h6>Question</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture4.png" style="width: 600px;">
                </div>
                <p>
                        Each question is designed to evaluate if the organization has implemented the associated
                        sub-domains.
                </p>


                <h6>Information Icon</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture6.png">
                </div>
                <p>
                        Select the information icon to view the CSET icons.
                </p>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture7.png" style="width: 450px;">
                </div>


                <h6>Answer Buttons</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture8.png" style="width: 650px;">
                </div>
                <p>
                        The survey includes a variety of question types, including single-choice, multiple choice, and
                        free
                        text. Select the applicable answer(s) for each question. Some questions may be multi-level and
                        certain
                        sections may be enabled or removed based on the selected answer.
                </p>

                <h6>Inconsistency Warning</h6>
                <div class="img-frame">
                        <img src="assets/images/CIS/tutorial/Picture9.png" style="width: 450px;">
                </div>
                <p>
                        An inconsistency warning appears when the selected answer contradicts an answer given for a
                        previous
                        question. The warning includes the contradicted question(s).
                </p>

                <h5 class="mt-4">
                        Additional Resources
                </h5>
                <p>
                        Additional information on how to complete a CSET assessment is available in the User Guide.
                        To
                        access the user guide, select the option from the Help dropdown menu in the CSET tool bar.
                </p>

                <p>
                        Please visit <a href="https://www.cisa.gov/resources-tools/services/cyber-infrastructure-survey"
                                target="_blank">
                                https://www.cisa.gov/resources-tools/services/cyber-infrastructure-survey</a> for more
                        information.
                </p>
        </div>


        <app-nav-back-next [page]="'tutorial-cis'"></app-nav-back-next>
</div>