<!----------------------

   Copyright 2022 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-4">Cyber Infrastructure Survey Tutorial</h3>
    <div class="mb-2">
        <p class="mb-4">The Critical Infrastructure Survey (CIS) goal is to assess
                the foundational and essential cybersecurity practices of an organization's critical service to
                identify dependencies, capabilities and emerging effects of the organization's current
                cybersecurity posture. CIS focuses on a service-based-view versus a programmatic-view of cybersecurity.
                Critical services are assessed against more than 80 cybersecurity controls grouped under five top-level
                domains: <strong><span style="color:#174F78;">cybersecurity management, cybersecurity forces,
                        cybersecurity controls, cyber incident response, and cyber dependencies</span></strong>. A CIS
                provides your organization with an effective assessment of cybersecurity controls in-place for critical
                services to support cybersecurity planning, resource allocation, and performance evaluation.</p>
        
        <p class="section-h">
            <span>What is a Critical Service?</span></p>
        
        <p><span><em>Critical Service &ndash; A set of activities that the
                    organization carries out, in the production of a product or while providing services to its
                    customers, that are so important to the success of the organization that disruption to the service
                    would severely impact the organization's operations or business. &nbsp;</em></span></p>
        
        <p><span>A basic principle to remember throughout the survey is the
                difference between a <strong><span style="color:#174F78;">critical service</span></strong> and a
                <strong><span style="color:#174F78;">cyber service</span></strong>.&nbsp;</span></p>
        
        <p><span>A <strong><span style="color:#174F78;">cyber
                        service</span></strong><span style="color: rgb(23, 79, 120);">&nbsp;</span>is any combination of
                equipment and devices (hardware); applications and platforms (software), communications, and data that
                is integrated to provide specific cyber services.&nbsp;</span></p>
        
        <p class="mb-4"><span>A <strong><span style="color:#174F78;">critical
                        service</span></strong><span style="color: rgb(23, 79, 120);">&nbsp;</span>(CS) is a service
                that the loss thereof would result in physical destruction, safety, and health effects (e.g., a chemical
                release or loss of traffic controls), theft of sensitive information that can be exploited, business
                interruption (e.g., denial of service), or other economic loss to the organization or its
                customers/users.</span></p>
        
        <p class="section-h">
            <span>Identifying the Scope of the Assessment</span></p>

        <p><span>Identifying the Scope of the Assessment is important because
                answers to the assessment questions must be provided in relation to a specific service. The scope of the
                assessment is determined by three factors:&nbsp;</span></p>
        
        <ol style="list-style-type: decimal;"  class="mb-4">
            <li ><strong><span style="color: rgb(23, 79, 120);">Critical
                        service scope</span></strong><strong><span>:</span></strong>&nbsp;Which service will
                be the focus of the assessment?&nbsp;</li>
            <li ><strong><span style="color: rgb(23, 79, 120);">Organizational
                        scope</span></strong><strong>:</strong>&nbsp;Which parts of the organization deliver the
                critical service?</li>
            <li ><strong><span style="color: rgb(23, 79, 120);">Asset
                        scope</span></strong><strong>:</strong>&nbsp;Which assets (people, technology, information, and
                facilities) are required for delivery of the service?</li>
        </ol>
        <p class="section-h">
            <span>Starting the CIS Assessment in CSET</span></p>
        
        <p><span>Before you begin, please familiarize yourself with 
                CSET's question layout and icon tray features.&nbsp;</span></p>
        
        <p class="mb-4"><span><img style="width: 75%; height: auto"
                    src="assets/images/CIS/tutorial/img165539125858.png"
                    alt="Image showing CSET information Icon which users click to open the icon tray."></span></p>
        
        
        <p class="section-h">
            <span>The CSET Icon Tray:</span></p>
        
        <p><span><img width="215"
                    src="assets/images/CIS/tutorial/img165539125755.png"
                    alt="Icon
            
            Description automatically generated with medium confidence"></span></p>
        
        
        <p><span><img width="20"
                    src="assets/images/CIS/tutorial/img165539125719.png"
                    alt="A picture containing text, wheel
            
            Description automatically generated"></span><span
                style=" color: rgb(23, 79, 120);">&nbsp;</span><span
                ><strong><span style="color: rgb(23, 79, 120);">Supplemental
                        Guidance</span></strong></span><span
                style="color: rgb(23, 79, 120); ">&nbsp;</span><span
                >icon. Some questions have supplemental guidance to aid the
                user in understanding the content. If a question has guidance associated with it, it will appear
                here.&nbsp;</span></p>

        <p><span><img width="23"
                    src="assets/images/CIS/tutorial/img165539125786.png"
                    alt="Icon
            
            Description automatically generated">&nbsp;<strong><span
                        style="color:#174F78;">Comments&nbsp;</span></strong>icon.
                You may make question-related comments for a post-assessment review here. &nbsp;Comments appear in the
                <strong><span style="color:#174F78;">"Comments and Marked for Review"</span></strong><span
                    style="color: rgb(23, 79, 120);">&nbsp;</span>report at the end of the assessment.&nbsp;</span></p>
        
        <p><span
                ><img width="27"
                    src="assets/images/CIS/tutorial/img1655391257.png"
                    alt="Icon
            
            Description automatically generated"><strong><span
                        style="color: rgb(23, 79, 120);">Documents</span></strong>&nbsp;icon. Attach any artifacts or
                evidence to support your response here. You may access your assessment documents for download at a later
                time by returning to this assessment and locating your attached documents in the tools
                menu.</span></p>

        <p><span
                ><img width="27"
                    src="assets/images/CIS/tutorial/img165539125724.png"
                    alt="Icon
            
            Description automatically generated"><strong><span
                        style="color: rgb(23, 79, 120);">Feedback</span></strong>&nbsp;icon. Feedback is an important to
                us. You may leave feedback as to assessment content, errors, suggestions, and any questions you may
                have. &nbsp;</span></p>

        <p><span
                ><img width="33"
                    src="assets/images/CIS/tutorial/img165539125796.png"
                    alt="Text, icon
            
            Description automatically generated"><strong><span style="color: rgb(23, 79, 120);">Marked for
                        Review</span></strong></span><span
                style=" color: rgb(23, 79, 120);">&nbsp;</span><span
                >icon. Questions marked for review will appear in the
                "Comments and Marked for Review" report at the end of the assessment. The icon highlights
                yellow for each question if selected.&nbsp;</span></p>
        
        
        
        <p class="mb-4"><span><img style="width: 75%; height: auto"
                    src="assets/images/CIS/tutorial/img165539125854.png"
                    alt="Image shows red dot indicator indicating comments or documents added.
            ">&nbsp;</span></p>
        
        
        <p class="section-h">
            <span>Tools Menu</span></p>
        <p><span>The CSET Tools Menu is where your assessment's
                artifacts and evidence are stored.</span></p>
        
        <p class="mb-4"><span><img style="width: 75%; height: auto"
                    src="assets/images/CIS/tutorial/img1655391258.png"
                    alt="Image shows assessment documents storage location in the tools menu."></span></p>
        
        <p class="section-h">
            <span>CIS Question / Response &ndash; Multi-Level Interactive
                Text</span></p>
        
        <p><span>As you start to answer questions, please take note that the
                CIS is an interactive assessment with multiple levels of question content and responses. In an effort to
                show the breadth and depth of each question, you'll notice that some material is grayed out. This
                is intentional. The assessment content will become active (and no longer grayed out) depending upon your
                response.</span></p>
        
        <p><span>Please also note that when you choose a particular response,
                some question content may no longer be available. The assessment is performing as expected. The
                iterative material helps produce a comprehensive and useful scoring mechanism throughout the assessment
                and in the CIS results and reports.</span></p>
        
        <p class="mb-4"><span>For more information on this section and additional CIS
                guidance, and to keep a copy of <strong><span style="color:#174F78;">CIS Help</span></strong> open
                during your assessment, please click <a href="{{configSvc.docUrl}}htmlhelp_cis/index.htm" target="_blank">here</a>.</span></p>
        
        <h6>Thank you for reading the CIS Tutorial.</h6>
        
        <p><span>In the next screen, you will be given the option to import a
                previous assessment or choose a baseline from which to compare the current assessment against.</span>
        </p>
        
        <p><span>Please click "next" to continue.</span></p>
    </div>


    <app-nav-back-next [page]="'tutorial-cis'"></app-nav-back-next>
</div>