<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div *transloco="let t; read: 'about.acet'" class="about d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="cset2-icons-acet-shield fs-base-6 mr-3"></span>
    <span>{{ 'about.dialog title' | transloco }}</span>
  </div>
  <mat-dialog-content class="p-4 pb-0 pr-0 oy-auto d-flex flex-column flex-11a">
    <section class="pr-4 d-flex flex-11a flex-row flex-wrap">
      <article class="mb-6 d-flex flex-column flex-11a w-100">
        <div class="d-flex flex-column justify-content-start flex-00a">
          <img src="assets/images/NCUA/logo_blue.png">
          <hr class="hr-logo">
          <span class="mb-1 font-weight-bold">Automated Cybersecurity Evaluation Toolbox</span>
          <span class="mb-1">{{ 'about.version' | transloco }}: {{version}}</span>
          <a class="mb-1" target="_blank" href="https://www.ncua.gov">https://www.ncua.gov</a>

        </div>
        <hr>
        <div class="d-flex justify-content-start align-items-center flex-00a">
          <img style="width: 60px" src="assets/images/NCUA/ncua_seal_blue.svg" alt="ncua">
          <div class="c-primary ml-3 d-flex flex-column justify-content-start">
            <div class="h4">National Credit Union Administration</div>
          </div>
        </div>
        <hr>
        <div class="c-primary d-flex flex-column justify-content-start flex-00a">
          <div class="wrap-text">
            <div class="mb-2">
              {{ t('we ensure financial stability') }}
            </div>
            <div>
              {{ t('description') }}
            </div>
          </div>
        </div>
      </article>

      <article class="mb-6 d-flex flex-column flex-11a w-100">
        <!-- client wanted the below User Guide link hidden, so commenting out the whole section for now -->

        <!-- <div class="mb-3">
            <h3 class="wrap-text">ACET Training Resources</h3>
            <p class="wrap-text">ACET training is available through the following resource:</p>
            <h5 class="fw-600"><a target="_blank" href="{{this.configSvc.docUrl}}htmlhelp_acet/index.htm">User Guide</a></h5>
          </div> -->

        <div>
          <h3>{{ 'contact.contact' | transloco }}</h3>
          <div class="mb-2">
            <div>
              Office of Examination and Insurance,
              Critical Infrastructure Division
            </div>
            <div>
              CU_Cybersecurity@NCUA.GOV
            </div>
          </div>
        </div>

      </article>
    </section>
  </mat-dialog-content>

</div>
