  .nested-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nested-list div {
    flex: 1 1 20%;
    margin: 5px;
  }

  .section-border {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }