<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<form>
  <h6 class="p-3 mb-4 alert-warning">
    NOTE: Completion of all organization demographic, assessment configuration, and critical service fields are required
    to access reports and assessment exports.
  </h6>

  <div class="form-group mb-4">
    <label for="orgType">Organization Type</label>
    <select [ngClass]="{ 'alert-danger' : !demographicData.organizationType }" class="form-control" id="orgType"
      tabindex="0" name="orgType" (change)="onChangeOrgType($event)" [ngModel]="demographicData.organizationType">
      <option [ngValue]="null">-- Select Type --</option>
      <option *ngFor="let t of demographicData.listOrgTypes" [value]="t.optionValue">
        {{ t.optionText }}
      </option>
    </select>
  </div>

  <div class="form-group mb-4">
    <label for="orgName">Name of Organization</label>
    <input [ngClass]="{ 'alert-danger' : !demographicData.organizationName }" class="form-control" autocomplete="off"
      tabindex="0" type="text" maxlength="150" name="orgName" id="orgName"
      [(ngModel)]="demographicData.organizationName" placeholder="Name of Organization" (blur)="update($event)" />
  </div>

  <div class="form-group">
    <label for="businessUnit">Business Unit</label>
    <input [ngClass]="{ 'alert-danger' : !demographicData.businessUnit }" class="form-control" autocomplete="off"
      tabindex="0" type="text" maxlength="150" name="businessUnit" id="businessUnit"
      [(ngModel)]="demographicData.businessUnit" placeholder="Business Unit/Agency" (blur)="newUpdate('BUSINESS-UNIT', $event, 'string')" />
  </div>

  <div class="d-flex flex-row">
    <div class="form-group mb-4 col-6 pl-0">
      <label for="sector">Sector</label>
      <select [ngClass]="{ 'alert-danger' : !demographicData.sector}" class="form-control" id="sector" tabindex="0"
        name="sector" [(ngModel)]="demographicData.sector" (change)="onChangeSector($event)">
        <option [ngValue]="null">-- Select Sector --</option>
        <option *ngFor="let i of demographicData.listSectors" [value]="i.optionValue"
          [selected]="i.optionValue === demographicData?.sector">
          {{ i.optionText }}
        </option>
      </select>
    </div>

    <div class="form-group mb-4 col-6 pr-0">
      <label for="subsector">Sub-Sector</label>
      <select [ngClass]="{ 'alert-danger' : !demographicData.subsector }" class="form-control" id="subsector"
        tabindex="0" name="subsector" [(ngModel)]="demographicData.subsector" (change)="update($event)">
        <option [ngValue]="null">-- Select --</option>
        <option *ngFor="let i of demographicData.listSubsectors" [value]="i.optionValue"
          [selected]="i.optionValue === demographicData?.subsector">
          {{ i.optionText }}
        </option>
      </select>
    </div>
  </div>

  <!-- #1 -->
  <div class="form-group mb-4">
    <label for="numberEmployeesTotal" *ngIf="demographicData.organizationType == 1">
      Number of employees in the organization?
    </label>
    <label for="numberEmployees" *ngIf="demographicData.organizationType != 1">
      Number of employees in the government agency?
    </label>
    <select [ngClass]="{ 'alert-danger' : !demographicData.numberEmployeesTotal }" class="form-control"
      id="numberEmployeesTotal" tabindex="0" name="numberEmployeesTotal"
      [(ngModel)]="demographicData.numberEmployeesTotal" (change)="newUpdate('NUM-EMP-TOTAL', $event, 'int')">
      <option [ngValue]="null">-- Select --</option>
      <option *ngFor="let i of demographicData.listNumberEmployeeTotal" [value]="i.optionValue">
        {{ i.optionText }}
      </option>
    </select>
  </div>

  <!-- #2 -->
  <div class="form-group mb-4">
    <ng-container *ngIf="demographicData.organizationType == 1">
      <label for="numberEmployeesUnit"> Number of employees in the business unit? </label>
      <div class="font-italic my-2">
        Please select N/A if the business unit and the overall organization are the same.
      </div>
    </ng-container>
    <ng-container *ngIf="demographicData.organizationType != 1">
      <label for="numberEmployeesUnit"> Number of employees in the department? </label>
      <div class="font-italic my-2">Please select N/A if the department and the overall organization are the same.</div>
    </ng-container>
    <select [ngClass]="{ 'alert-danger' : !demographicData.numberEmployeesUnit }" class="form-control"
      id="numberEmployeesUnit" tabindex="0" name="numberEmployeesUnit" [(ngModel)]="demographicData.numberEmployeesUnit"
      (change)="newUpdate('NUM-EMP-UNIT', $event, 'int')">
      <option [ngValue]="null">-- Select --</option>
      <option *ngFor="let i of demographicData.listNumberEmployeeUnit" [value]="i.optionValue"
        [selected]="i.optionValue === demographicData.numberEmployeesUnit">
        {{ i.optionText }}
      </option>
    </select>
  </div>

  <!-- #3 -->
  <div class="form-group mb-4">
    <ng-container *ngIf="demographicData.organizationType == 1">
      <label for="totalAnnualRevenue"> What is the total annual revenue for your organization? </label>
    </ng-container>
    <ng-container *ngIf="demographicData.organizationType != 1">
      <label for="totalAnnualRevenue">
        What is the total annual funding for your governmental organization or agency?
      </label>
    </ng-container>
    <select [ngClass]="{ 'alert-danger' : !demographicData.annualRevenue }" class="form-control" id="totalAnnualRevenue"
      tabindex="0" name="totalAnnualRevenue" [(ngModel)]="demographicData.annualRevenue" (change)="newUpdate('ANN-REVENUE', $event, 'int')">
      <option [ngValue]="null">-- Select --</option>
      <option *ngFor="let i of demographicData.listRevenueAmounts" [value]="i.optionValue"
        [selected]="i.optionValue === demographicData.annualRevenue">
        {{ i.optionText }}
      </option>
    </select>
  </div>

  <!-- #4, #5, and #6 are located on the iod assessment configuration page with the other critical service fields -->
  <!-- #4 -->
  <!-- #5 -->
  <!-- #6 -->

  <!-- #7 -->
  <div class="form-group mb-5">
    <label for="assetValue" class="col-8">Does your organization use a body of practice, industry standard, or similar
      resource to support or inform its
      cybersecurity efforts?
    </label>

    <div class="btn-group btn-group-toggle col-4" data-toggle="buttons">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="demographicData.usesStandard"
        (change)="changeUsesStandard(true)">
        <input class="form-check-input" name="standardYes" id="standardYes" type="radio" autocomplete="off" tabindex="0"
          [checked]="demographicData.usesStandard" />
        Yes
      </label>
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="!demographicData.usesStandard"
        (change)="changeUsesStandard(false)">
        <input class="form-check-input" name="standardNo" id="standardNo" type="radio" autocomplete="off" tabindex="0"
          [checked]="!demographicData.usesStandard" />
        No
      </label>
    </div>

    <div *ngIf="demographicData.usesStandard ?? false" class="ml-5">
      <div class="font-italic my-2">
        Please select the two most important resources or bodies of practice used. If the name of the resource is not
        listed please enter it directly into each box as applicable.
      </div>

      <div>
        <label for="standard1">Most important:</label>
        <input [ngClass]="{ 'alert-danger' : !demographicData.standard1 }" type="text" maxlength="250"
          class="form-control mb-3" id="standard1" name="standard1" list="listStandards"
          [(ngModel)]="demographicData.standard1" (blur)="newUpdate('STANDARD1', $event, 'string')" />
      </div>
      <div>
        <label for="standard2">Second most important:</label>
        <input [ngClass]="{ 'alert-danger' : !demographicData.standard2 }" type="text" maxlength="250"
          class="form-control mb-3" id="standard2" name="standard2" list="listStandards"
          [(ngModel)]="demographicData.standard2" (blur)="newUpdate('STANDARD2', $event, 'string')" />
      </div>
      <datalist id="listStandards">
        <option *ngFor="let standard of demographicData.listStandards" [attr.data-value]="standard.optionValue"
          [value]="standard.optionText"></option>
      </datalist>
    </div>
  </div>

  <!-- #8 -->
  <div class="form-group mb-5">
    <label class="col-8" for="assetValue">Is your organization required to comply with mandatory, cybersecurity-related
      regulation?
    </label>

    <div class="btn-group btn-group-toggle col-4" data-toggle="buttons">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="demographicData.requiredToComply"
        (change)="setRequireComply(true)">
        <input class="form-check-input" name="complyYes" id="complyYes" type="radio" autocomplete="off" tabindex="0"
          [checked]="demographicData.requiredToComply" />
        Yes
      </label>
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="!demographicData.requiredToComply"
        (change)="setRequireComply(false)">
        <input class="form-check-input" name="complyNo" id="complyNo" type="radio" autocomplete="off" tabindex="0"
          [checked]="!demographicData.requiredToComply" />
        No
      </label>
    </div>

    <div *ngIf="demographicData.requiredToComply" class="ml-5">
      <p class="font-italic">
        Please select the two primary regulation types. If known, please enter the name of each regulation in the spaces
        provided.
      </p>

      <div class="mb-4">
        <div class="mb-3">
          <div>Regulation Type 1:</div>
          <ng-container *ngFor="let reg of demographicData.listRegulationTypes">
            <input class="radio-custom" name="regtype1" [id]="'regtype1-' + reg.optionValue" type="radio"
              autocomplete="off" tabindex="0" (click)="changeRegType1(reg, $event)"
              [checked]="demographicData.regulationType1 === reg.optionValue" />
            <label class="radio-custom-label" [for]="'regtype1-' + reg.optionValue">{{ reg.optionText }}</label>
          </ng-container>
        </div>

        Regulation 1:
        <input class="form-control" type="text" name="reg1Other" [(ngModel)]="demographicData.reg1Other"
          (blur)="newUpdate('REG-1-OTHER', $event, 'string')" />
      </div>

      <div class="mb-4">
        <div>Regulation Type 2:</div>
        <div class="mb-3">
          <ng-container *ngFor="let reg of demographicData.listRegulationTypes">
            <input class="radio-custom" name="regtype2" [id]="'regtype2-' + reg.optionValue" type="radio"
              autocomplete="off" tabindex="2" (click)="changeRegType2(reg, $event)"
              [checked]="demographicData.regulationType2 === reg.optionValue" />
            <label class="radio-custom-label" [for]="'regtype2-' + reg.optionValue">{{ reg.optionText }}</label>
          </ng-container>
        </div>

        Regulation 2:
        <input class="form-control" type="text" name="reg2Other" [(ngModel)]="demographicData.reg2Other"
          (blur)="newUpdate('REG-2-OTHER', $event, 'string')" />
      </div>
    </div>
  </div>

  <!-- #9 -->
  <div class="form-group mb-5">
    <label for="assetValue">
      Please indicate the group(s) that your organization shares with or obtains cybersecurity-related information from.
    </label>
    <div class="ml-5">
      <div class="font-italic my-2">Check all that apply.</div>
      <div class="mb-3">
        <ng-container *ngFor="let org of demographicData.listShareOrgs">
          <input type="checkbox" tabindex="0" [id]="'share-org-' + org.optionValue"
            [name]="'share-org-' + org.optionValue" class="checkbox-custom mt-1" (change)="changeShareOrg(org, $event)"
            [checked]="isSharedOrgChecked(org)" />
          <label [for]="'share-org-' + org.optionValue" class="checkbox-custom-label">
            {{ org.optionText }}
          </label>
        </ng-container>
      </div>

      If other, please list:
      <input type="text" class="form-control" maxlength="150" [(ngModel)]="demographicData.shareOther" name="shareOther"
        (blur)="newUpdate('SHARE-OTHER', $event, 'string')" />
      <p class="font-italic">Commas should be used to separate more than one entry.</p>
    </div>
  </div>

  <!-- #10 -->
  <div class="form-group">
    <label for="assetValue">
      Please select the two most significant barriers or concerns limiting your organization's participation in
      cybersecurity information sharing groups or initiatives.
    </label>
    <div class="ml-5">
      <div class="font-italic my-2">
        If the name of the barrier is not listed please enter it directly into each box as applicable.
      </div>
      <label for="barrier1">Most significant:</label>
      <input [ngClass]="{ 'alert-danger' : !demographicData.barrier1 }" type="text" maxlength="250"
        class="form-control mb-3" id="barrier1" name="barrier1" list="listBarriers"
        [(ngModel)]="demographicData.barrier1" (blur)="newUpdate('BARRIER1', $event, 'string')" />
      <label for="barrier2">Second most significant:</label>
      <input [ngClass]="{ 'alert-danger' : !demographicData.barrier2 }" type="text" maxlength="250"
        class="form-control mb-3" id="barrier2" name="barrier2" list="listBarriers"
        [(ngModel)]="demographicData.barrier2" (blur)="newUpdate('BARRIER2', $event, 'string')" />
    </div>
  </div>
  <datalist id="listBarriers">
    <option *ngFor="let barrier of demographicData.listBarriers" [attr.data-value]="barrier.optionValue"
      [value]="barrier.optionText"></option>
  </datalist>
</form>