<!----------------------

   Copyright 2026 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<form *transloco="let t">
  <h6 class="mb-4">
    Completion of all organization demographic, assessment configuration, and critical service fields are required
    to access reports.
  </h6>

  <div class="mb-4">
    <label for="orgType" class="form-label">Organization Type</label>
    <select [ngClass]="{ 'is-invalid' : !demographicData.organizationType }" class="form-select" id="orgType"
      tabindex="0" name="orgType" [(ngModel)]="demographicData.organizationType" (ngModelChange)="update($event)">
      <option [ngValue]="null">-- {{t('select')}} --</option>
      <option *ngFor="let t of demographicData.listOrgTypes" [ngValue]="t.optionValue"
        [selected]="t.optionValue === demographicData.organizationType">
        {{ t.optionText }}
      </option>
    </select>
  </div>

  <div class="mb-4">
    <label for="orgName" class="form-label">Name of Organization</label>
    <input [ngClass]="{ 'is-invalid' : !demographicData.organizationName }" class="form-control" autocomplete="off"
      tabindex="0" type="text" maxlength="150" name="orgName" id="orgName"
      [(ngModel)]="demographicData.organizationName" placeholder="Name of Organization" (blur)="update($event)" />
  </div>

  <div class="mb-4">
    <label for="businessUnit" class="form-label">Business Unit</label>
    <input [ngClass]="{ 'is-invalid' : !demographicData.businessUnit }" class="form-control" autocomplete="off"
      tabindex="0" type="text" maxlength="150" name="businessUnit" id="businessUnit"
      [(ngModel)]="demographicData.businessUnit" placeholder="Business Unit/Agency" (change)="update($event)" />
  </div>

  <div class="row mb-3">
    <app-sector-subsector [demographicData]="demographicData" [multi]="true"></app-sector-subsector>
  </div>


  <!-- show SSG sector selection control for CPG2 assessments -->
  <div class="row mb-4"
    *ngIf="assessSvc.assessment?.maturityModel?.modelId == 21 || assessSvc.assessment?.maturityModel?.modelId == 11">
    <div class="mx-1 fst-italic" [innerHTML]="t('titles.ssg.guidance')">
    </div>
  </div>


  <!-- #1 -->
  <div class="mb-5">
    <label for="numberEmployeesTotal" class="form-label" *ngIf="demographicData.organizationType == 1">
      Number of employees in the organization?
    </label>
    <label for="numberEmployees" class="form-label" *ngIf="demographicData.organizationType != 1">
      Number of employees in the government agency?
    </label>
    <select [ngClass]="{ 'is-invalid' : !demographicData.numberEmployeesTotal }" class="form-select"
      id="numberEmployeesTotal" tabindex="0" name="numberEmployeesTotal"
      [(ngModel)]="demographicData.numberEmployeesTotal" (ngModelChange)="update($event)">
      <option [ngValue]="null">-- {{t('select')}} --</option>
      <option *ngFor="let i of demographicData.listNumberEmployeeTotal" [ngValue]="i.optionValue">
        {{ i.optionText }}
      </option>
    </select>
  </div>



  <!-- #3 -->
  <div class="mb-5">
    <label for="totalAnnualRevenue" *ngIf="demographicData.organizationType == 1" class="form-label">
      What is the total annual revenue for your organization?
    </label>
    <label for="totalAnnualRevenue" *ngIf="demographicData.organizationType != 1" class="form-label">
      What is the total annual funding for your governmental organization or agency?
    </label>

    <select class="form-select" id="totalAnnualRevenue"
      tabindex="0" name="totalAnnualRevenue" [(ngModel)]="demographicData.annualRevenue"
      (ngModelChange)="update($event)">
      <option [ngValue]="null">-- {{t('select')}} --</option>
      <option *ngFor="let i of demographicData.listRevenueAmounts" [ngValue]="i.optionValue"
        [selected]="i.optionValue === demographicData.annualRevenue">
        {{ i.optionText }}
      </option>
    </select>
  </div>



  <!-- #7 -->
  <div class="mb-5">
    <label for="assetValue" class="col-9">Does your organization use a body of practice, industry standard, or similar
      resource to support or inform its cybersecurity efforts?
    </label>
    <input type="checkbox" name="usesStandard" id="usesStandard" [checked]="demographicData.usesStandard"
      (change)="setBool(demographicData, 'usesStandard', !demographicData.usesStandard)" class="tw:toggle">

    <div *ngIf="demographicData.usesStandard ?? false" class="ms-5">
      <div class="fst-italic my-2">
        Please select the two most important resources or bodies of practice used. If the name of the resource is not
        listed please enter it directly into each box as applicable.
      </div>

      <div>
        <label for="standard1" class="form-label">Most important</label>
        <input [ngClass]="{ 'is-invalid' : !demographicData.standard1 }" type="text" maxlength="250"
          class="form-control mb-3" id="standard1" name="standard1" list="listStandards"
          [(ngModel)]="demographicData.standard1" (change)="update($event)" />
      </div>
      <div>
        <label for="standard2" class="form-label">Second most important</label>
        <input [ngClass]="{ 'is-invalid' : !demographicData.standard2 }" type="text" maxlength="250"
          class="form-control mb-3" id="standard2" name="standard2" list="listStandards"
          [(ngModel)]="demographicData.standard2" (change)="update($event)" />
      </div>
      <datalist id="listStandards">
        <option *ngFor="let standard of demographicData.listStandards" [attr.data-value]="standard.optionValue"
          [value]="standard.optionText"></option>
      </datalist>
    </div>
  </div>

  <!-- #8 -->
  <div class="mb-5">
    <label class="col-9" for="assetValue">Is your organization required to comply with mandatory, cybersecurity-related
      regulation?
    </label>
    <input type="checkbox" name="requiredToComply" id="requiredToComply" [checked]="demographicData.requiredToComply"
      (change)="setBool(demographicData, 'requiredToComply', !demographicData.requiredToComply)" class="tw:toggle">

    <div *ngIf="demographicData.requiredToComply" class="ms-5">
      <p class="fst-italic">
        Please select the two primary regulation types. If known, please enter the name of each regulation in the spaces
        provided.
      </p>

      <div>
        <div class="mb-3">
          <label class="form-label">Regulation Type 1</label>
          <ng-container *ngFor="let reg of demographicData.listRegulationTypes">
            <input class="radio-custom" name="regtype1" [id]="'regtype1-' + reg.optionValue" type="radio"
              autocomplete="off" tabindex="0" (click)="changeRegType1(reg, $event)"
              [checked]="demographicData.regulationType1 === reg.optionValue" />
            <label class="radio-custom-label" [for]="'regtype1-' + reg.optionValue">{{ reg.optionText }}</label>
          </ng-container>
        </div>

        <label class="form-label">Regulation 1</label>
        <input class="form-control" type="text" name="reg1Other" [(ngModel)]="demographicData.reg1Other"
          (change)="update($event)" />
      </div>

      <div>
        <label class="form-label">Regulation Type 2</label>
        <div class="mb-3">
          <ng-container *ngFor="let reg of demographicData.listRegulationTypes">
            <input class="radio-custom" name="regtype2" [id]="'regtype2-' + reg.optionValue" type="radio"
              autocomplete="off" tabindex="2" (click)="changeRegType2(reg, $event)"
              [checked]="demographicData.regulationType2 === reg.optionValue" />
            <label class="radio-custom-label" [for]="'regtype2-' + reg.optionValue">{{ reg.optionText }}</label>
          </ng-container>
        </div>

        <label class="form-label">Regulation 2</label>
        <input class="form-control" type="text" name="reg2Other" [(ngModel)]="demographicData.reg2Other"
          (change)="update($event)" />
      </div>
    </div>
  </div>

  
</form>