CSETWeb_Api/.vs/*
CSETWeb_Api/CSETWeb_Api/bin/*
CSETWeb_Api/CSETWeb_Api/obj/*
CSETWeb_Api/packages/*
CSETWeb_Api/DataLayer/bin/*
CSETWeb_Api/DataLayer/obj/*
CSETWeb_Api/CSETWeb_ApiTests/obj/*
CSETWeb_Api/CSETWeb_ApiTests/bin/*
CSETWeb_Api/CSETWeb_ApiTests/bin/Debug/*
CSETWeb_Api/DataAccess/bin/Debug/*
CSETWeb_Api/DataAccess/obj/Debug/*
CSETWeb_Api/WebAPIFileUploadExample/bin/Debug/*
CSETWeb_Api/WebAPIFileUploadExample/obj/Debug/*
CSETWeb_Api/CSETWeb_Api/App_Data/uploads/*
CSETWeb_Api/ExportCSV/bin/*
CSETWeb_Api/ExportCSV/obj/*
*.TMP
*.Tmp
*.tmp
obj
/CSETWeb_Api/CryptoBuffer/bin
/CSETWeb_Api/BusinessLogic/bin/*
/CSETWeb_Api/CSETWeb_Api/CSETWeb_Api.csproj.user
.vs
/CSETWeb_Api/packages
/CSETWeb_Api/TestResults
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.dll
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.dll.config
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.pdb
/CSETWeb_Api/BusinessLogic/bin/Release/DataLayer.dll
/CSETWeb_Api/BusinessLogic/bin/Release/DataLayer.pdb
/CSETWeb_Api/CSETWeb_Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/CSETWeb_Api/BusinessLogic/bin/localdb
/CSETWeb_Api/BusinessLogic/bin/Release

CSETWeb_Api/BusinessLogic/bin/localhost/App_Data/assessmentInviteTemplate\.html

CSETWeb_Api/BusinessLogic/bin/localhost/App_Data/inlineStylesheet\.html

CSETWeb_Api/BusinessLogic/bin/localhost/App_Data/passwordCreationTemplate\.html

CSETWeb_Api/BusinessLogic/bin/localhost/App_Data/passwordResetTemplate\.html

CSETWeb_Api/BusinessLogic/bin/localhost/BusinessLogic\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/BusinessLogic\.dll\.config

CSETWeb_Api/BusinessLogic/bin/localhost/BusinessLogic\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/DataLayer\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/DataLayer\.dll\.config

CSETWeb_Api/BusinessLogic/bin/localhost/DataLayer\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/EntityFramework\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/EntityFramework\.SqlServer\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/EntityFramework\.SqlServer\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/EntityFramework\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Analyzers\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Analyzers\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Analyzers\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Core\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Core\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Core\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.FastVectorHighlighter\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.FastVectorHighlighter\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.FastVectorHighlighter\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Highlighter\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Highlighter\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Highlighter\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Memory\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Memory\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Memory\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Queries\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Queries\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Queries\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Regex\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Regex\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Regex\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SimpleFacetedSearch\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SimpleFacetedSearch\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SimpleFacetedSearch\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Snowball\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Snowball\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.Snowball\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SpellChecker\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SpellChecker\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.Contrib\.SpellChecker\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Lucene\.Net\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.JsonWebTokens\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.JsonWebTokens\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.JsonWebTokens\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Logging\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Logging\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Logging\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Tokens\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Tokens\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/Microsoft\.IdentityModel\.Tokens\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/Newtonsoft\.Json\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/Newtonsoft\.Json\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/System\.IdentityModel\.Tokens\.Jwt\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/System\.IdentityModel\.Tokens\.Jwt\.pdb

CSETWeb_Api/BusinessLogic/bin/localhost/System\.IdentityModel\.Tokens\.Jwt\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Net\.Http\.Formatting\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Net\.Http\.Formatting\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Web\.Http\.Common\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Web\.Http\.Common\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Web\.Http\.dll

CSETWeb_Api/BusinessLogic/bin/localhost/System\.Web\.Http\.xml

CSETWeb_Api/BusinessLogic/bin/localhost/TinyMapper\.dll
/CSETWeb_Api/DatabaseMaintenance/bin
/publish-errors.log
/lucene/packages
/lucene/SearchIndex2/bin
/CSETWeb_Api/CSETWeb_Api/Web.temp.config
/CSETWeb_Api/BusinessLogic/ImportAssessment/Models/AllGeneralJsonModels.cs.bak
