CSETWeb_Api/.vs/*
CSETWeb_Api/CSETWeb_Api/bin/*
CSETWeb_Api/CSETWeb_Api/obj/*
CSETWeb_Api/packages/*
CSETWeb_Api/DataLayer/bin/*
CSETWeb_Api/DataLayer/obj/*
CSETWeb_Api/CSETWeb_ApiTests/obj/*
CSETWeb_Api/CSETWeb_ApiTests/bin/*
CSETWeb_Api/CSETWeb_ApiTests/bin/Debug/*
CSETWeb_Api/DataAccess/bin/Debug/*
CSETWeb_Api/DataAccess/obj/Debug/*
CSETWeb_Api/WebAPIFileUploadExample/bin/Debug/*
CSETWeb_Api/WebAPIFileUploadExample/obj/Debug/*
CSETWeb_Api/CSETWeb_Api/App_Data/uploads/*
CSETWeb_Api/ExportCSV/bin/*
CSETWeb_Api/ExportCSV/obj/*
*.TMP
*.Tmp
*.tmp
obj
/CSETWeb_Api/CryptoBuffer/bin
/CSETWeb_Api/BusinessLogic/bin/*
/CSETWeb_Api/CSETWeb_Api/CSETWeb_Api.csproj.user
.vs
/CSETWeb_Api/packages
/CSETWeb_Api/TestResults
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.dll
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.dll.config
/CSETWeb_Api/BusinessLogic/bin/Release/BusinessLogic.pdb
/CSETWeb_Api/BusinessLogic/bin/Release/DataLayer.dll
/CSETWeb_Api/BusinessLogic/bin/Release/DataLayer.pdb
/CSETWeb_Api/CSETWeb_Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/CSETWeb_Api/BusinessLogic/bin/localdb
/CSETWeb_Api/BusinessLogic/bin/Release
/CSETWeb_Api/CSETWebCore.Reports/Resources/secrets.json
/CSETWeb_Api/DatabaseMaintenance/bin
/publish-errors.log
/lucene/packages
/lucene/SearchIndex2/bin
/CSETWeb_Api/CSETWeb_Api/Web.temp.config
/CSETWeb_Api/BusinessLogic/ImportAssessment/Models/AllGeneralJsonModels.cs.bak
.DS_Store
CSETWeb_Api/.DS_Store
