.admin-banner {
    width: 100%;
    background-color: rgb(245,245,245);
    color: rgb(16,60,123);
    padding: 30px 10px 10px 10px;
    border-bottom: 2px solid rgb(200,200,200);
}

.admin-table {
    width: 100%;
}

.admin-data {
    text-align: center;
}

.admin-label {
    text-align: right;
}

.admin-header-top {
    border-top: 1px solid rgb(200,200,200);
}

.admin-header-bottom {
    border-bottom: 1px solid rgb(200,200,200);
}

.admin-header-top td {
    text-align: center;
}
.admin-header-bottom td {
    text-align: center;
}
