<!----------------------

   Copyright 2024 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div #topScrollAnchor></div>
<div *transloco="let t" class="d-flex align-items-center flex-11a">
  <!-- Display Mode -->
  <ng-template #contact_display [ngIf]="editMode">
    <div *ngIf="!layoutSvc.hp" class="d-flex my-2 pr-2 br-standard align-items-center"
      [ngClass]="!showControls() ? 'bgc-primary-50 c-gray-900 b-primary-200' : 'b-light'"
      style="width: 100%; height: 125px; overflow: hidden;">
      <div class="p-3 d-flex flex-column justify-content-center align-items-start" style="flex: 0 0 25%">
        <span class="m-0 fs-base-1 fw-600">{{contact.firstName}} {{contact.lastName}}</span>
        <span class="fs-small fw-400 fst-italic" *ngIf="contact.assessmentRoleId === 2">
          ({{getRoleName(contact.assessmentRoleId)}})
        </span>
        <span class="fs-small fw-400" *ngIf="contact.title != null && contact.title !== ''">{{contact.title}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.organizationName != null && contact.organizationName !== ''">{{contact.organizationName}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.siteName != null && contact.siteName !== ''">{{contact.siteName}}</span>
      </div>
      <div class="p-3 d-flex flex-column flex-11a">
        <span class="fs-small fw-400">{{contact.primaryEmail}}</span>
        <span class="fs-small fw-400" *ngIf="contact.phone != null && contact.phone !== ''">{{ t('contact.office phone')
          }}:
          {{contact.phone}}</span>
        <span class="fs-small fw-400" *ngIf="contact.cellPhone != null && contact.cellPhone !== ''">{{ t('contact.cell
          phone')
          }}:
          {{contact.cellPhone}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.emergencyCommunicationsProtocol != null && contact.emergencyCommunicationsProtocol !== ''">ECP:
          {{contact.emergencyCommunicationsProtocol}} </span>
      </div>
      <span class="d-flex align-items-center m-3 fw-600" style="text-align: center;"
        *ngIf="contact.isSiteParticipant">Participated<br />in Site Visit</span>
      <span class="d-flex align-items-center m-3 fw-600" style="text-align: center;"
        *ngIf="contact.isPrimaryPoc">Primary<br />Point of Contact</span>

      <span *ngIf="showControls()" class="d-flex align-items-center flex-00a">
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="editContact()" [disabled]="!enableMyControls">
          <span class="cset-icons-pencil fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('buttons.change') }}</span>
        </button>
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="openEmailDialog()" [disabled]="!enableMyControls" *ngIf="!auth.isLocal">
          <span class="cset-icons-envelope fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('contact.email') }}</span>
        </button>
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="removeContact()" [disabled]="!enableMyControls">
          <span class="cset-icons-trash-can fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('buttons.remove') }}</span>
        </button>
      </span>

      <span class="pr-3 fw-600" *ngIf="!showControls()">{{ t('contact.assessment owner') }}</span>
    </div>


    <div *ngIf="layoutSvc.hp" class="rkw d-flex flex-row justify-content-between my-2 p-2 br-standard"
      [ngClass]="!showControls() ? 'bgc-primary-50 c-gray-900 b-primary-200' : 'b-light'"
      style="width: 100%; height: 125px; overflow: hidden;">
      <div class="p-3 d-flex flex-column justify-content-center align-items-start">
        <span class="m-0 fs-base-1 fw-600">{{contact.firstName}} {{contact.lastName}}</span>
        <span class="fs-small fw-400 fst-italic" *ngIf="contact.assessmentRoleId === 2">
          ({{getRoleName(contact.assessmentRoleId)}})
        </span>
        <span class="fs-small fw-400" *ngIf="contact.title != null && contact.title !== ''">{{contact.title}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.organizationName != null && contact.organizationName !== ''">{{contact.organizationName}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.siteName != null && contact.siteName !== ''">{{contact.siteName}}</span>
        <span class="fs-small fw-400">{{contact.primaryEmail}}</span>
        <span class="fs-small fw-400" *ngIf="contact.phone != null && contact.phone !== ''">{{ t('contact.office phone')
          }}:
          {{contact.phone}}</span>
        <span class="fs-small fw-400" *ngIf="contact.cellPhone != null && contact.cellPhone !== ''">{{ t('contact.cell
          phone')
          }}:
          {{contact.cellPhone}}</span>
        <span class="fs-small fw-400"
          *ngIf="contact.emergencyCommunicationsProtocol != null && contact.emergencyCommunicationsProtocol !== ''">ECP:
          {{contact.emergencyCommunicationsProtocol}} </span>
      </div>

      <div *ngIf="showControls()" class="d-flex align-items-center flex-00a">
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="editContact()" [disabled]="!enableMyControls">
          <span class="cset-icons-pencil fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('buttons.change') }}</span>
        </button>
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="openEmailDialog()" [disabled]="!enableMyControls" *ngIf="!auth.isLocal">
          <span class="cset-icons-envelope fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('contact.email') }}</span>
        </button>
        <button type="button" class="p-0 m-2 btn icon-button d-flex flex-column align-items-center flex-00a"
          (click)="removeContact()" [disabled]="!enableMyControls">
          <span class="cset-icons-trash-can fs-base-2"></span>
          <span class="d-none d-md-flex fs-smaller">{{ t('buttons.remove') }}</span>
        </button>
      </div>

    </div>
  </ng-template>


  <!-- Edit Mode -->
  <ng-template #contact_search [ngIf]="!editMode">
    <form #f="ngForm" (ngSubmit)="fName.valid && lName.valid && email.valid && saveContact()" (blur)="search()"
      class="my-2 p-3 b-light br-standard d-flex flex-column flex-11a">
      <div class="d-flex justify-content-start align-items-center flex-11a">
        <div class="d-flex flex-column flex-11a">
          <div class="d-flex flex-wrap flex-11a">

            <div class="form-group mr-0 mr-sm-2 d-flex flex-column flex-11a">
              <label class="mb-1" for="fName">{{ t('contact.first name') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="fName" id="fName"
                [(ngModel)]="contact.firstName" #fName="ngModel" [placeholder]="t('contact.first name')"
                (keydown.esc)="abandonEdit()" matInput required>

              <div *ngIf="f.submitted && !fName.valid" class="m-0 mt-2 alert alert-danger">{{t('user profile.first name required')}}</div>
            </div>

            <div class="form-group d-flex flex-column flex-11a">
              <label class="mb-1" for="lName">{{ t('contact.last name') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="lName" id="lName"
                [(ngModel)]="contact.lastName" #lName="ngModel" [placeholder]="t('contact.last name')"
                (keydown.esc)="abandonEdit()" matInput required>

              <div *ngIf="f.submitted && !lName.valid" class="m-0 mt-2 alert alert-danger">{{t('user profile.last name required')}}</div>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-11a">
            <div class="form-group mr-0 mr-sm-2 d-flex flex-column flex-11a">
              <label class="mb-1" for="title">{{ t('contact.title') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="title" id="title"
                [(ngModel)]="contact.title" #title="ngModel" [placeholder]="t('contact.title')"
                (keydown.esc)="abandonEdit()" matInput>
            </div>

            <div class="form-group d-flex flex-column flex-11a">
              <label class="mb-1" for="title">{{ t('contact.report to') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="reportTo" id="reportTo"
                [(ngModel)]="contact.reportsTo" #reportTo="ngModel" [placeholder]="t('contact.report to')"
                (keydown.esc)="abandonEdit()" matInput>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-11a">
            <div class="form-group mr-0 mr-sm-2 d-flex flex-column flex-11a">
              <label class="mb-1" for="title">{{ t('contact.organization') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="Organization"
                id="organization" [(ngModel)]="contact.organizationName" #organization="ngModel"
                [placeholder]="t('contact.organization')" (keydown.esc)="abandonEdit()" matInput>
            </div>

            <div class="form-group d-flex flex-column flex-11a">
              <label class="mb-1" for="phone">{{ t('contact.site name') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="siteName" id="siteName"
                [(ngModel)]="contact.siteName" #siteName="ngModel" [placeholder]="t('contact.site name')"
                (keydown.esc)="abandonEdit()" matInput>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-11a">
            <div class="form-group mr-0 mr-sm-2 d-flex flex-column flex-11a">
              <label class="mb-1" for="title">{{ t('contact.cell phone') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="cellPhone" id="cellPhone"
                [(ngModel)]="contact.cellPhone" #cellPhone="ngModel" [placeholder]="t('contact.cell phone')"
                (keydown.esc)="abandonEdit()" matInput>
            </div>

            <div class="form-group d-flex flex-column flex-11a">
              <label class="mb-1" for="phone">{{ t('contact.office phone') }}</label>
              <input class="form-control" autocomplete="off" type="text" maxlength="150" name="officePhone"
                id="officePhone" [(ngModel)]="contact.phone" #officePhone="ngModel"
                [placeholder]="t('contact.office phone')" (keydown.esc)="abandonEdit()" matInput>
            </div>
          </div>
          <div class="form-group d-flex flex-column flex-11a">
            <label class="mb-1" for="email">{{ t('contact.email') }}</label>
            <input class="form-control" type="email" autocomplete="off" maxlength="150" name="email" id="email"
              [(ngModel)]="contact.primaryEmail" #email="ngModel" [placeholder]="t('contact.email address')"
              (keydown.esc)="abandonEdit()" matInput email>

            <div *ngIf="f.submitted && !email.valid" class="m-0 mt-2 alert alert-danger">Please enter a valid email
              address.</div>
          </div>
          <div class="form-group d-flex flex-column flex-11a">
            <label class="mb-1" for="email">{{ t('contact.emergency communications protocol') }}</label>
            <input class="form-control" type="text" autocomplete="off" maxlength="150" name="ecp" id="ecp"
              [(ngModel)]="contact.emergencyCommunicationsProtocol" #ecp="ngModel"
              [placeholder]="t('contact.emergency communications protocol')" (keydown.esc)="abandonEdit()" matInput
              email>
          </div>

          <!-- Contact Checkboxes -->
          <div class="d-flex flex-column mb-3">
            <div class="mb-2">
              <input type="checkbox" class="checkbox-custom" id="primaryPoc" name="primaryPoc"
                [(ngModel)]="contact.isPrimaryPoc" [disabled]="shouldDisablePrimaryPoc()">
              <label class="checkbox-custom-label" for="primaryPoc">{{ t('contact.primary point of contact') }}</label>
            </div>
            <div>
              <input type="checkbox" class="checkbox-custom" id="siteParticipant" name="siteParticipant"
                [(ngModel)]="contact.isSiteParticipant">
              <label class="checkbox-custom-label" for="siteParticipant">{{ t('contact.participated in site visit')
                }}</label>
            </div>
          </div>

          <!-- Role Buttons -->
          <div class="form-group d-flex flex-column flex-11a">
            <label class="mb-1" for="role">{{ t('contact.role') }}</label>
            <div class="btn-group btn-group-toggle d-block" id="role" data-toggle="buttons" ngbRadioGroup>
              <label ngbButtonLabel class="btn btn-level btn-rounded form-check-label"
                [class.active]="role.assessmentRoleId === this.contact.assessmentRoleId" *ngFor="let role of roles">
                <input ngbButton type="radio" autocomplete="off" name="contact-role"
                  [(ngModel)]="contact.assessmentRoleId" [value]="role.assessmentRoleId">
                {{ role.assessmentRole }}
              </label>
            </div>
          </div>

          <!-- Buttons -->
          <div class="d-flex justify-content-between align-items-center flex-00a">
            <button type="submit" class="m-0  p-2 btn btn-primary d-flex align-items-center flex-00a"
              (click)="scrollToTop()">
              <!-- <span class="mr-2 cset-icons-floppy-disk fs-base-2"></span> -->
              {{ t('buttons.save') }}
            </button>
            <button type="button" class="m-0 p-2 btn btn-secondary d-flex align-items-center flex-00a"
              (click)="abandonEdit(); scrollToTop();">
              {{ t('buttons.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>